[2021-07-15 14:39] davidebukali commented on #1001
Hi @SimonMurphyDI to feedback on your comment, yes we can update the 'o' of Read online to be lower case. There is a field in the CMS provided to edit most of hero button titles.

On the image losing its alignment, Ben says in this [comment](https://github.com/devinit/DIwebsite-redesign/issues/1001#issuecomment-862433504) would require a large overhaul of the entire template.

@Ben what do you thi

[2021-07-21 11:19] edwinmp opened #1028 "GHA Data Visualisations 2021"
**Resources**

- [Specification Document](https://docs.google.com/document/d/1NzypaXqLqvyBAN4zQwL8PM9X1x8n-21HeHV767CgVDQ/edit)

[2021-07-21 11:34] edwinmp commented on #1028
Hi @alice-mcandrew-development-initatives I've created a [prototype](https://devinit.org/admin/pages/2450/edit/preview/) on which all the other charts are going to be based ... they'll most likely be bar charts (based on the excel examples), but I'm more interested in feedback on the multi-select comparison feature ... I had to draw from widgets used on the spotlights for that...

![image](https:/

[2021-07-22 08:46] SimonMurphyDI commented on #1001
Thanks @davidebukali

To help us make a decision about the images losing their alignment, can you estimate the time it would take to change the code, and any risks associated with that? If you had any suggested workarounds we'd be happy to consider them.

I'll let you know about the downloads suggestion/question

Thanks!
Simon

[2021-07-22 08:56] alice-mcandrew-development-initatives commented on #1028
Thanks, @edwinmp! It's really useful to have a steer on what you're looking for feedback on in particular, as well having the spec upfront in the ticket to refer back to. I'll take a look and come back with comments later today.

So you're aware, I got a preview error when I tried the link provided for the prototype:
![image](https://user-images.githubusercontent.com/55877063/126612319-2bedac1a-64

[2021-07-22 08:57] edwinmp commented on #1001
@benjamincoleman ^^

[2021-07-22 13:30] alice-mcandrew-development-initatives commented on #1028
Just to confirm, you’re working out how the bar charts will work in general (as that's relevant to all three) then once that’s agreed you'll proceed to flesh out the three charts as outlined in the spec?

I’ve focused my feedback on the desktop version initially. Do let me know what is and isn’t helpful in the below (including letting me know anything that’s unclear) so that I make sure I’m gettin

[2021-07-22 14:30] benjamincoleman commented on #1001
@SimonMurphyDI @edwinmp

I think we could update the pattern library JS / CSS to alter the image positioning when the list is opened. Probably 1-2 hours of time to test I would say.

[2021-07-23 09:43] SimonMurphyDI commented on #1001
Thanks - I don't think we need to fix the jumping images for this test run. If we decide to switch over to the new template, then we can spend this time updating the pattern library.

@davidebukali  - it would be good to keep the functionality of "chapter downloads" for each section next to Show chapter contents button, but again, not needed for A/B testing as we don't have individual chapter down

[2021-07-23 09:51] SimonMurphyDI commented on #999
This looks good! Can I check how it's set up?

I'm guessing those users that google tracks as 'returning users' who have seen and clicked off the warning won't see the notice next time they visit the site. But users who appear to be 'new users' will see it?

I also guess that the cookie pop up will appear on whatever page the user first encounters? So if a new visitor were to follow a direct link

[2021-07-23 10:17] edwinmp commented on #999
There's a snippet `Cookie Notices` where the content is created... the rest is ironically handled by cookies.

Yes, it'll appear on any page regardless of the source.

[2021-07-23 11:37] SimonMurphyDI opened #1031 "Search on DI site is quite sentitive"
**Is your feature request related to a problem? Please describe.**

I think the search function on the site brings up any results with the search terms in the content - this means you often get loads and loads of hits for quite general searches.

Could we amend the search so it only returns results that include the search terms in the resource title, or in the meta-description category?

Not urgen

[2021-07-23 12:23] SimonMurphyDI commented on #999
Looks good - thanks!

[2021-07-23 13:04] edwinmp commented on #1028
@alice-mcandrew-development-initatives here's the updated chart for the Funding Channels data viz ... had this ready before I saw this feedback. I'll implement your feedback while you take a look at the updated version ...
https://devinit.org/resources/gha-data-visualisations-2021/

[2021-07-28 13:14] alice-mcandrew-development-initatives commented on #1001
@benjamincoleman @davidebukali, I can review anything while Simon is away next week if needed.
Is the issue of the button having persistent highlights after clicking being resolved for the test run?
And would the misalignment of the boxes be fixed as part of fixing the image jump, which wouldn't be needed until after testing?

[2021-07-29 05:14] davidebukali commented on #1001
Thank you @alice-mcandrew-development-initatives, am not sure if the design team got a green light to work on these tasks, @benjamincoleman ^^

[2021-07-30 12:03] benjamincoleman commented on #1001
@davidebukali

Sorry, I missed your earlier comments.

This is the button maintaining its Focus state, so semantically it's probably appropriate. We could remove it with CSS though. What do you think?

We've fixed this on the `patterns` branch

Is there anything else you needed us to look at?

[2021-08-03 08:13] alice-mcandrew-development-initatives opened #1032 "505 from copying a short publication in data section"
## I'm submitting a ...
[X] Bug

**Describe the issue**
I copied the [real-time aid tracker](https://devinit.org/data/tracking-aid-flows-in-light-of-the-covid-19-crisis/).
![image](https://user-images.githubusercontent.com/55877063/127980368-f81ae637-0086-49f4-8186-a8bbe6f6ad35.png)

But was unable to amend the URL or title when creating the new page (even though I could amend to not publish).
![i

[2021-08-03 08:26] edwinmp commented on #1032
@alice-mcandrew-development-initatives this is caused by the `uuid` that's used to generate short links ... there's a uniqueness conflict ... will make time and look into a fix for it.

[2021-08-03 08:38] alice-mcandrew-development-initatives commented on #1032
Thanks @edwinmp but, as noted on Slack, if you have other important deadlines there's no problem in delaying this job as we can just do the August update without the duplicate if needed :)

[2021-08-03 11:29] alice-mcandrew-development-initatives commented on #1001
@davidebukali, I think you're OK to proceed with setting up the A/B testing? Let me know if there's any support I can offer though

[2021-08-03 11:31] edwinmp commented on #1001
@alice-mcandrew-development-initatives great, will deploy live later today and set up the A/B testing latest tomorrow morning.

[2021-08-03 11:32] #1007 closed

[2021-08-06 15:31] kirstylazer commented on #1028
@edwinmp thank you so much for all your work on these we all agree they are looking really good! I have collated the teams comments and am sharing them below - please let us know if you have any questions or need any clarification.

General Comments
1.	Embolden menu title (it is call to action we want people to respond to)
2.	Change pebbles to same font size as the menu (to indicate they are relat

[2021-08-10 08:32] #1015 closed

[2021-08-11 12:44] SimonMurphyDI commented on #1001
Thanks @edwinmp, you're a star! I've just checked in on this and we've only had 37 sessions in 34 days - this seems quite low. Is there a way to increase the number of users the A/B testing considers?
Cheers
Simon

[2021-08-11 13:28] edwinmp commented on #1001
@SimonMurphyDI so sorry, with so much pulling at me, I forgot to deploy this. Also, the existing optimise session was for testing dev. I'm creating another for live.

[2021-08-11 13:30] SimonMurphyDI commented on #1001
That's ok! Do not worry at all - so much going on at the moment, and everyone is getting pulled in every direction. Thanks again :)

[2021-08-12 10:41] edwinmp commented on #1001
@SimonMurphyDI I've created a new optimize experiment for the live site ... it'll run till November 10th

[2021-08-12 10:50] edwinmp commented on #999
@SimonMurphyDI I've added the cookie notice to the live site ... please check on it when you have a moment.

[2021-08-12 10:50] #999 closed

[2021-08-16 12:31] SimonMurphyDI opened #1036 "Making pages on our site quiker to load (Largest contentful paint load time issue)"
Dear @devinit/di-website-internal

**Is your feature request related to a problem? Please describe.**

At the moment, many of our website pages take over 4 seconds to load. This is probably contributing to poor user experience and increased bounce rates among mobile phone users.

**Describe the solution you'd like**

We'd like users to have the best possible experience of our websites. I've been l

[2021-09-06 09:33] LouiseSummerlring commented on #1013
@ThatcherK Sorry, I missed this! I've tested the 'Share box' functionality and it looks great, thanks so much! I'm happy for it to go ahead. Let me know if you need anything further from me.

[2021-09-15 12:12] davidebukali opened #1038 "Update javascript libraries"
Javascript dependencies with vulnerabilities can be viewed [here](https://github.com/devinit/DIwebsite-redesign/security/dependabot?q=is%3Aopen+sort%3Aseverity+manifest%3Apatterns%2Fpackage-lock.json)

[2021-09-15 12:19] davidebukali opened #1039 "Update vulnerable python dependencies"
Affected packages can be found [here](https://github.com/devinit/DIwebsite-redesign/security/dependabot?q=is%3Aopen+sort%3Aseverity+manifest%3Arequirements.txt)

[2021-09-21 07:53] davidebukali opened #1042 "Missing x-axis label in real time tracker chart"
Changing timeframe to `year to date` causes x-axis label to disappear

https://devinit.org/data/tracking-aid-flows-in-light-of-the-covid-19-crisis/?nav=header

<img width="1060" alt="Screenshot 2021-09-21 at 10 51 03" src="https://user-images.githubusercontent.com/1607276/134132896-42505456-60c8-4f61-850a-eb65709c58d5.png">

[2021-09-22 15:50] bill-anderson opened #1089 "Replace Table A1 on Covid Tracker Page"
https://www.devinit.org/data/tracking-aid-flows-in-light-of-the-covid-19-crisis
Table A1: Key bilateral donors, IFIs and multilateral institutions used in the analysis of IATI disbursements and commitments is currently static text.

This table should be read from a csv in github that is updated by Analysts from the DDW IATI PUBLISHERS table whenever changes are made.

[2021-09-23 16:10] #1038 closed

[2021-09-24 01:10] davidebukali commented on #1031
@SimonMurphyDI this is ready for testing on [staging](https://dev.devinit.org/)

[2021-09-24 07:29] #1042 closed

[2021-09-24 09:05] bill-anderson opened #1060 "New Table A2 on Covid Tracker Page"
Add a new interactive table below Table A1 on the Covid Tracker Page

- Title TBC
- The data for this table will be updated from DDW by analysts on a monthly basis to a CSV in GitHUB at the same time as the data for the main visualisation is updated.
- This CSV contains 6 columns: Reporting Organsation Reference, Name, Organisation Type, Transaction Type, Value $m, YYYYMM
- The row labels in the t

[2021-09-27 05:53] davidebukali opened #1061 "Updating charts using country dropdown"
Cannot update charts by changing countries from the dropdown. See this [page](https://dev.devinit.org/data/explore-donors-and-recipients-international-humanitarian-assistance/)

[2021-09-27 11:35] edwinmp commented on #1032
@wakibi what's the status of this?

[2021-09-27 11:36] edwinmp commented on #1028
@davidebukali if there's nothing else pending on this, please close it.

[2021-09-27 12:03] edwinmp commented on #1039
@davidebukali did your tests on staging yield any concerns?

[2021-09-27 12:05] edwinmp opened #1062 "Update JavaScript dependencies"
Dependabot has suggested a few updates, but just to be on the safe side, we'll make them locally and test before deploying.

[2021-09-27 12:08] #1013 closed

[2021-09-27 12:12] davidebukali commented on #1039
@edwinmp still running these tests, will conclude today

[2021-09-27 13:48] edwinmp opened #1063 "Update elastic search to version 7"
Pull request #1048 needs a little help

[2021-09-27 20:39] wakibi commented on #1032
@edwinmp reproducing this is a bit of a problem. I have failed miserably on my local machine

[2021-09-28 12:52] k8hughes commented on #1060
We will implement this as something simpler than a pivot table, instead just a table with drop downs powered by a CSV uploaded to github.

@akmiller01 has ideas about this

[2021-09-29 15:22] alice-mcandrew-development-initatives commented on #1028
@davidebukali I'm re-opening this as I've noticed some changes that need to be made before we publish.

- [ ] Please can you amend so that for each chart (from x axis upwards) we are using the following order:

1. #eb642b
2. #f6bb9d
3. #f18e5e
4. #d85b31
5. #973915
6. #f4a57c

(The first five are ordered as outlined in the DI brand book but I am suggesting we use Orange 9 for the sixth colour as O

[2021-09-30 08:37] alice-mcandrew-development-initatives commented on #1028
Sorry to add to the list - one more request from Nik R and Dan W:

- [ ] Use same colours for types of organisations in 'Compare how the largest donors channel international humanitarian assistance' (those that appear in the legend) the same as for 'Explore funding to the largest country recipients of international humanitarian assistance, their leading donors and types of recipient organisations'

[2021-10-01 08:17] k8hughes commented on #1028
Ready for review @alice-mcandrew-development-initatives  or Louise....

[2021-10-06 14:22] SimonMurphyDI commented on #1031
Thanks @davidebukali - on the whole this is much better.

Occasionally searches return some results I don't understand - for example, searching 'humanitarian' returns 'Adapting aid to end poverty' - this paper doesn't feature 'humanitarian' in the title, the hero text or the metadescription.

Also, searching for 'data' returns the 2021 GHA report - this paper doesn't feature 'data' in the title, t

[2021-10-07 16:11] edwinmp opened #1064 "Move visualisation page resources to the `di-charts-boilerplate` repository"
Data branches include

- [patch/advanced-chart-resources](https://github.com/devinit/DIwebsite-redesign/tree/patch/advanced-chart-resources)

[2021-10-19 07:14] edwinmp opened #1066 "Error when filtering by reports on the data/datasets page for some filters"
## I'm submitting a ...
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
An error email came through on the [data/datasets](https://devinit.org/data/datasets) page

- [This](https://devinit.org/data/datasets/?report=interviewees&source=brazil-abc&country=) filter results in an 500 error
- I'm not sure

[2021-10-25 09:02] wakibi opened #1068 "Fix Certificate auto-renewal"
Let's Encrypt certificate is not auto-renewing automatically. We need to fix this issue

[2021-11-04 11:49] k8hughes commented on #1060
@edwinmp to speak to Bill and Dean about this and include into the next sprint.

[2021-11-04 11:52] k8hughes commented on #1060
@dean-breed will need to have completed the quality check work first for this.  SO revision to the post above, we can't work on this just yet, @dean-breed to let us know when unblocked

[2021-11-09 12:09] davidebukali commented on #1031
@SimonMurphyDI ^^

[2021-11-29 17:33] SimonMurphyDI opened #1079 "improving bottom right menu in multi chapter publications"
**Is your feature request related to a problem? Please describe.**
At the moment, users reading multi-chapter reports get slightly inconsistent options when browsing between chapters using the bottom right menu on both the DI and GNR websites. Although they can jump left and right between chapters, they can't get to the foreword or the executive summary - the publication appears to start at chapte

[2021-12-04 05:45] #1062 closed

[2021-12-09 15:41] alice-mcandrew-development-initatives commented on #1032
Working perfectly on staging @edwinmp

[2021-12-09 16:08] #1032 closed

[2021-12-11 14:31] #1028 closed

[2021-12-14 14:46] edwinmp commented on #1063
Limit version to one that takes care of this limitation https://xeraa.net/blog/2021_mitigate-log4j2-log4shell-elasticsearch/

[2021-12-25 05:48] #1068 closed

[2021-12-26 08:57] #1066 closed

[2022-01-03 13:17] akmiller01 commented on #1060
Commenting to unstale. This'll require a bit more code than A1, but not much.

[2022-01-04 17:42] SimonMurphyDI opened #1080 "amending the order content appears on 'team member' page"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

On the team member pages, content is currently ordered by format (blog/report,

[2022-01-06 09:50] SimonMurphyDI commented on #1066
Thanks @edwinmp and @davidebukali.

I can see the issue - but the behaviour itself isn't what we'd expect.

When you click on the 'all reports' filter, you should see a drop-down list of all the reports titles that we've published data sets for, but here we're seeing a mixture of report titles (ie Uganda’s loans from international financial institutions (IFIs), 2018–2021) and also page-titles from

[2022-01-06 09:58] SimonMurphyDI commented on #1031
Thanks @akmiller01  and @davidebukali

After speaking to the team about this - we felt that the best option would be to trust the work we do getting key search terms into titles and meta-descriptions. So, our suggestion is to amend the search settings so that:
- only titles, meta-descriptions and heroes are searched (for short publications, and publication pages (including their children))
- 'newe

[2022-01-06 13:03] akmiller01 commented on #1031
Yep sounds good. I'll leave the code changes to you, @davidebukali!

[2022-01-07 12:28] SimonMurphyDI opened #1084 "Making some details on role profiles optional to avoid gaps on the vacancy listing page"
**Is your feature request related to a problem? Please describe.**
We're currently getting a lot of role profiles for the website that don't have
- closing dates
- salary scales
This means we have blank categories on[ the vacancies listing page](https://devinit.org/work-for-us/vacancies/), which doesn't look good.

**Describe the solution you'd like**
It would be great if those two categories were

[2022-01-14 09:32] dean-breed commented on #1089
Thanks for making this unstale @akmiller01 - I suggest once we have these data quality checks automated, we should do this

[2022-01-14 15:50] akmiller01 commented on #1089
@edwinmp is there any way we can add dev.devinit and devinit to the CORS policy of the DDW? Tried pulling in a live CSV and got this:
[code]

[2022-01-14 16:19] akmiller01 commented on #1089
In this case @edwinmp , we were interested in pulling a CSV straight from the CSV export of the DDW so the data could be dynamic. And the CORS policy of the DDW disallowed `https://dev.devinit.org` and `https://devinit.org`

We probably need to explicitly allow CORS from `*.devinit.org` in the NGINX config for the DDW if we want to allow this.

[2022-01-14 16:24] edwinmp commented on #1089
No worries ... will add that to the todo (had gone with what was in the original ticket description) ... it shouldn't affect the implementation.

[2022-01-18 09:14] dean-breed commented on #1089
This table is ready to go for when we can run the query on the DDW to get the data.

[2022-01-19 15:10] edwinmp opened #1093 "[Gates Page] - Create chart for ODA to reproductive health and family planning"
![image](https://user-images.githubusercontent.com/5672438/150157632-cae789f3-1abd-4b80-97af-541de62f7446.png)

[CSV Data Source](https://github.com/devinit/di-website-data/blob/main/2022/RH-and-FP-CRS-Data-2019.csv) - Use Raw - Will likely be imported once and shared via mobx state

[2022-01-20 07:16] edwinmp opened #1094 "[Gates Page] Table for largest recipient by individual donor"
![image](https://user-images.githubusercontent.com/5672438/150289476-1d987054-dae3-428e-abf6-1b6974232a42.png)

**Behaviour**

- This table listens to the `country` state and therefore only renders data for a specified country

**Features**

- [x] Purpose codes dropdown - changes to this update the table
- [x] Data table - shows the top 10 recipients for a range of years
- [x] Table must show rank

[2022-01-20 07:20] edwinmp commented on #1094
@ThatcherK you'll have to branch off `pages/gates` for this, and there's already some code for creating both a dropdown and table but you'll naturally only use it as a reference as this is slightly different. Main bit that you missed yesterday is how we're handling the state with `mobx` ... there's a `state.js` file & an `addListener` function for that. You can examine usages but do let me know if

[2022-01-20 07:25] edwinmp commented on #1093
@davidebukali we don't need `d3` for this (or any of the others), so lets just do what we can with what we know. Since data for this is being fetched in the `tableOne.js` code, feel free to rename & add anything u need to (e.g class for the table's root node) to not have to fetch the data twice. On second thought, let me do that & just pass it on when its ready for the chart ... you'll need to bra

[2022-01-20 11:36] edwinmp commented on #1089
[Here's](https://dev.devinit.org/admin/pages/2455/edit/) a basic implementation of the table. It's wider than the usual version for this page type but that could be preferred sometimes, so I'll add a toggle for the size.
Let me know if there's anything else you need changed or added.

StreamField
![image](https://user-images.githubusercontent.com/5672438/150331479-9c793edc-b4cd-457b-8be9-074698fe2

[2022-01-20 11:50] edwinmp commented on #1060
[Here's](https://dev.devinit.org/admin/pages/2456/edit/) the pivot table, configured through a StreamField (for the most basic features). I'll add a toggle for the size on this one as well.
Let me know if there's anything else you need changed or added.

![image](https://user-images.githubusercontent.com/5672438/150333235-c2abd495-e961-4936-a6a8-36968e77c3f2.png)

![image](https://user-images.gith

[2022-01-20 11:51] dean-breed commented on #1089
@edwinmp - Sorry, I didn't make it clear but we had already started this. It's here! https://dev.devinit.org/data/tracking-aid-flows-in-light-of-the-covid-19-crisis/

[2022-01-20 14:31] edwinmp commented on #1089
That's alright in this case @dean-breed as it's not a single use thing. Close when done to your satisfaction.

[2022-01-20 14:33] dean-breed commented on #1089
Yeah, I really like these features @edwinmp - I will use them in future, for sure!

[2022-01-20 14:33] #1089 closed

[2022-01-20 14:37] dean-breed commented on #1060
@bill-anderson do you think this should be All flows or just ODA?

[2022-01-20 14:44] bill-anderson commented on #1060
Definitely all flows.

[2022-01-20 14:46] dean-breed commented on #1060
@bill-anderson got it!

[2022-01-20 15:07] dean-breed commented on #1060
@bill-anderson One final thing - do we want it by agency (like the example above) or by grouping (like the chart)?

[2022-01-20 15:11] bill-anderson commented on #1060
By agency

[2022-01-20 15:14] dean-breed commented on #1060
Only showing where we think it is legitimate (i.e. exclude BMZ disbursements from display)? Or include everything?

[2022-01-20 15:16] bill-anderson commented on #1060
Must show everything with dodgy numbers highlighted in red. (?)

[2022-01-20 15:19] dean-breed commented on #1060
I think that would be a good course of action!

[2022-01-21 08:53] edwinmp opened #1095 "Update Advanced Interactive Chart block"
**Is your feature request related to a problem? Please describe.**
I'd like to add the following features to the Advanced Interactive Chart block:

- Toggle ability to share visualisation i.e whether the share button is visible or not

![image](https://user-images.githubusercontent.com/5672438/150496446-d49ed0b8-029b-471e-aff6-b0d81b9ebe23.png)

[2022-01-21 10:02] edwinmp opened #1096 "Update Raw Code Snippet page"
**Is your feature request related to a problem? Please describe.**
Add the following features to the Raw Code Snippet:

- [x] Add header_html field i.e. css
- [x] Add footer_html field i.e js
- [x] Show title boolean

[2022-01-21 10:11] edwinmp commented on #1060
This is optional - can opt out.

[2022-01-21 10:24] bill-anderson commented on #1060
So the shading is based on a value not shown in the table ("Use" or "don't use.") but is in table A1

[2022-01-21 10:26] edwinmp commented on #1060
It's based on a configured minimum value below which the cell is highlighted... is there ever a need to highlight large values?

[2022-01-21 10:29] edwinmp commented on #1060
I'm adding a feature to highlight an entire row based on the first column values e.g. World Food Program

[2022-01-21 10:29] bill-anderson commented on #1060
What I meant was shading **_should be_** based on a value not shown in the table ("Use" or "don't use.") but is in table A1.
A low number may be valid and a high number may be invalid.

[2022-01-21 10:31] bill-anderson commented on #1060
Can this be based on a hidden value.  @dean-breed can we add the use/don't use to the table?

[2022-01-21 11:10] dean-breed commented on #1060
This should all be fine. We can use the data that isn't being shown to highlight a row - @edwinmp is working on it

[2022-01-24 14:56] edwinmp commented on #1060
@dean-breed I've deployed an update for this on [dev](https://dev.devinit.org/admin/pages/2458/edit/) ...
@akmiller01 I've allowed `Visualisations Page` to self-parent, that way we can group related visualisations under one parent... should reduce on the chaos.

[2022-01-25 09:55] edwinmp opened #1098 "[Gates Page] Table for ODA by channel of delivery for 2019"
![image](https://user-images.githubusercontent.com/5672438/150953433-77196d42-42ff-4d56-951e-727a4ff8407c.png)

**Behaviour**

- This table listens to the `country` state and therefore only renders data for a specified country

[API Endpoint]( https://staging-ddw.devinit.org/api/dataset/data/1237/)

**Features**

- [x] Purpose codes dropdown - changes to this update the table
- [x] Data table - sh

[2022-01-25 09:59] edwinmp opened #1099 "[Gates Page] Table for ODA by aid type - 2019"
![image](https://user-images.githubusercontent.com/5672438/150954608-a6348033-218a-45d9-bc35-5318015c8e7b.png)

**Behaviour**

- This table listens to the `country` state and therefore only renders data for a specified country

**Features**

- [ ] Purpose codes dropdown - changes to this update the table
- [ ] Data table - shows the aid types and their 2019 values
- [ ] Table must show a column fo

[2022-01-25 10:59] dean-breed commented on #1060
@bill-anderson Please review the Table on [dev](https://dev.devinit.org/admin/pages/2367/edit/preview/). Ignore the Pivot table below the tracker as that was a different piece I worked on and will not be deployed live

[2022-01-26 16:04] dean-breed commented on #1060
I have fixed all the problems discussed in the call:
(a) AfDB
(b) AsDB
(c) missing donors that had 0 commitments/disbursements

Please take a look again @bill-anderson

[2022-01-28 05:58] edwinmp commented on #1060
@ThatcherK The PivotTable's current `Highlight Row` section highlights only a single row ... We need the ability to highlight multiple rows, which means this will require an separate model linked to the original page - in the CMS, an `InlinePanel` (not a StreamField) ...  I can't see how to add multiple configs of this sort to the template, but feel free to explore it if you want to (not for long)

[2022-01-28 10:25] edwinmp commented on #1093
**Feedback**

- [ ] We might benefit from some decimal point rules in the tables, being able to distinguish between a genuine 0 (maybe using a dash) or 0.1/0.01 and so on where the value is not zero. This may make the recipients table a bit clearer for a number of the smaller donors providing less than 1 million to a number of recipients (e.g. Australia).

[2022-01-28 10:27] edwinmp commented on #1094
**Feedback**

We might benefit from some decimal point rules in the tables, being able to distinguish between a genuine 0 (maybe using a dash) or 0.1/0.01 and so on where the value is not zero. This may make the recipients table a bit clearer for a number of the smaller donors providing less than 1 million to a number of recipients (e.g. Australia).

[2022-01-31 05:58] #1096 closed

[2022-01-31 05:58] #1095 closed

[2022-01-31 07:07] edwinmp commented on #1063
@wakibi isn't this done?

[2022-01-31 07:08] edwinmp commented on #1031
@davidebukali please update the status of this ticket

[2022-01-31 07:09] edwinmp commented on #1036
@wakibi how far did we get with cloudflare?

[2022-01-31 07:18] edwinmp commented on #1080
@SimonMurphyDI this is ready for review on [dev](https://dev.devinit.org/who-we-are/our-team/bill-anderson/)

[2022-01-31 07:30] davidebukali commented on #1031
@edwinmp thanks for the flag, @SimonMurphyDI this is ready for testing on [staging](https://dev.devinit.org/resources/)

[2022-01-31 07:33] davidebukali commented on #1031
@edwinmp this still needs some work, at the moment it returns executive summaries before the parent publications.

[2022-01-31 09:15] #1063 closed

[2022-01-31 11:01] #1093 closed

[2022-01-31 11:30] edwinmp commented on #1099
@davidebukali let me add the relevant dependencies to the branch and then pass it on to you.

[2022-01-31 12:18] edwinmp commented on #1099
As usual, branch off `pages/gates` ... I've hard coded the data since the API was complaining about a CORS issue that I didn't want to get into right now ... we'll switch to the API when deploying to staging. There's already a few examples of Tables to base on.

[2022-02-01 06:10] edwinmp opened #1102 "[Gates Page] Chart for ODA by channel of delivery for 2019"
**Query**: https://staging-ddw.devinit.org/queries/build/1237/
**Note**: The column called ‘oecd_aggregated_channel’ is the most aggregated channel type to use, the column called ‘oecd_channel_parent_name’ is the slightly more detailed channel type. This query is based on constructing the recommended channel chart available below, with one year of data available. Some cells in the channel fields w

[2022-02-01 06:16] edwinmp opened #1103 "[Gates Page] Chart for ODA by aid type for 2019"
**Query**: https://staging-ddw.devinit.org/queries/build/1238/
**Note**: The column called 'aid_type_di_name' is the one with the aid type breakdown to use. The query has data from 2015- based on the suggested trends chart available below. Some cells in the aid type field may be blank, these would be shown on the chart as ‘unspecified’. This query joins with the ‘OECD CRS aid type reference file’,

[2022-02-01 11:38] edwinmp commented on #1094
**To Do:**
The aim is to write a script if possible which produced the data for the tables automatically as it is not possible to do in the UI. TO BE DISCUSSED WITH DEAN.

[2022-02-02 04:50] edwinmp commented on #1060
@dean-breed the pivot table now supports multiple conditions to highlight rows ... please review on dev
![image](https://user-images.githubusercontent.com/5672438/152094897-40e162c0-c1c6-4d64-80bf-ea4f36c8c16b.png)

[2022-02-03 15:42] dean-breed commented on #1060
Love this feature - thanks @ThatcherK and @edwinmp

[2022-02-03 15:43] dean-breed commented on #1060
@bill-anderson I will sort colours with Simon but please do [review](https://dev.devinit.org/admin/pages/2458/edit/preview/). If this is suitable, we can remove Table A1

[2022-02-07 08:35] edwinmp commented on #1064
@ThatcherK Move all the files [here](https://github.com/devinit/DIwebsite-redesign/tree/patch/advanced-chart-resources/data) to [this](https://github.com/devinit/di-website-data) repo under a 2021 folder. Then update the data viz pages that use this on live to point to the new location ... links are below

https://devinit.org/admin/pages/2220/edit/
https://devinit.org/admin/pages/2221/edit/
https:

[2022-02-07 10:44] ThatcherK commented on #1064
@edwinmp organisation dashboard page isn't part of the links listed above, yet there's a csv for it, is it to be changed as well?

[2022-02-07 10:46] edwinmp commented on #1064
@ThatcherK Delete that CSV ... not required

[2022-02-08 09:33] #1098 closed

[2022-02-08 10:02] edwinmp commented on #1094
@ThatcherK copied from the feedback document from Matt - please look into it - branch off `page/gates` as usual

There’s occasionally an issue where selecting a certain donor means the bottom table “Largest recipients by individual donor, 2016-2019” initially shows as a blank table (but then if you change that table’s dropdown it generates correctly).  It seems a bit hit and miss as to when this h

[2022-02-08 13:08] edwinmp commented on #1084
@SimonMurphyDI this is fixed on dev - please review

[2022-02-09 07:55] edwinmp opened #1106 "[Gates Page] transfer data handling of RHFP data viz from CSV to DDW APIs"
**Table One & Bar Chart One**
Query: https://staging-ddw.devinit.org/queries/build/1241/
Note: This is aggregated. The data showing on the page for this chart was fine, however, this query could give us the chance to automate the chart if there was a preference working from a query.

You'll naturally need to add this in the data handler and then update the 2 widgets to use the new data.

[2022-02-10 14:35] edwinmp commented on #1060
@dean-breed am I good to close this?

[2022-02-10 14:36] edwinmp commented on #1102
Waiting on Simon's feedback once he gets back from leave

[2022-02-10 15:11] #1106 closed

[2022-02-14 12:37] #1102 closed

[2022-02-14 12:37] #1103 closed

[2022-02-16 13:21] edwinmp opened #1110 "[Gates Page] Dashboard Feedback"
- [x] Calculations seem to use CRS data which has already been rounded to 2dp i.e  each individual line in the CRS is rounded before calculations, instead of rounding the final total. This leads to variation in results in comparison to CRS interface totals. This applies for most countries except the US, where I still get slight differences when using rounded to 2dp CRS data.
- [x] Rounding is slig

[2022-02-17 00:12] akmiller01 commented on #1031
I think there was some misunderstanding here. Search results are contingent on child pages, but the child pages themselves are not meant to show up in the search index. They don't have a _score annotation and therefore throw a 500 err when sorted by relevance.

[2022-02-22 06:05] edwinmp commented on #1110
@SimonMurphyDI I've processed all the cosmetic changes for the OECD dashboard (checked above) - please take a look.

[2022-02-24 11:55] SimonMurphyDI commented on #1110
Hi @edwinmp Is this the correct link to use? https://dev.devinit.org/gates-dashboard/oecd/

I can't see that changes have been made on it recently

![image](https://user-images.githubusercontent.com/22001094/155519275-54b5c0e0-8966-436c-b241-fe1c99b78066.png)

[2022-02-25 10:32] SimonMurphyDI commented on #1110
@edwinmp thanks so much, this is looking even better!

Here is some feedback - the ones marked !! I think it might be worth considering before initial submission. I think a couple are for Duncan's info? (Marked DK) - I'm happy to pass these on to him

**https://devinit.org/rhfp-team-data-dashboard/**
-!! Small text edits needed - can I make these?

**https://devinit.org/rhfp-team-data-dashboard/oe

[2022-02-28 11:14] edwinmp commented on #1110
@SimonMurphyDI yes, you can make any of the text edits yourself. Let me know if you need any help, though I think this should all be familiar.

I think they already do. Let me know if you catch one that doesn't.

I'm going to give it a minimum height that should fix this.

The IATI dashboard is now live - Dean is still working on the last two visualisations (for channels), and we still need to add

[2022-03-01 17:34] Duncan-Knox commented on #1110
Hi both, the Korea here is referring to South Korea.

The points on:

check capitalisation throughout [DK]
-!! remove '?' in think?tank [DK]

Were fixed in the naming of the newly submitted DDW reference files. These don't seem to be available on the UI yet. To get them on the Dashboard we'd need to refresh the relevant queries and put this new data on once the reference files are up. Alternativel

[2022-03-02 10:28] edwinmp commented on #1110
@Duncan-Knox If updating the DDW queries will fix this, please let me know when you've done that and reshare the links ... I'll download and update the CSVs

[2022-03-02 10:44] Duncan-Knox commented on #1110
Noted @edwinmp thanks. We've added the reference files here https://github.com/devinit/ddw-data-update-configs/issues/12 and updated the meta file here: https://github.com/devinit/ddw-data-update-configs/blob/master/manual/CSV/meta.csv. These are not showing on the DDW so cannot be brought into an updated query. I'm not sure if there are any updates here @wakibi, you mentioned you would have a go

[2022-03-03 06:09] edwinmp commented on #1110
Stacked charts a draw bottom to top, with the first item drawn first & the others stacked on top of it in the order they appear. So the chart is showing as it should be.

Let me add these as they've been shared on the feedback doc.

Copy/paste error ... will fix

[2022-03-03 14:56] edwinmp opened #1117 "Handle ValueError resulting from null character injection in resources and dataset search/filter strings"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
On resources and dataset pages, malicious search or filter requests that included percent-encoded Unicode NULLs (%00) raised a ValueEr

[2022-03-04 09:21] edwinmp commented on #1110
@SimonMurphyDI finished with the OECD. Waiting on Dean for the last two IATI visualisation data sources before I can update the IATI dashboard as well.

[2022-03-08 11:19] Duncan-Knox commented on #1110
Hi @edwinmp the change for the label on the channels chart: 'University, College Or Other Teaching Institution, Research Institute Or Think?Tank' could be fixed with: 'University, other teaching institution, research institute or think-tank'.

[2022-03-08 11:19] dean-breed commented on #1110
@edwinmp Change the year limit in IATI aid type chart to 2019 and then change text to be 2019-2021

[2022-03-09 07:23] edwinmp commented on #1110
@dean-breed @Duncan-Knox I've made the above updates ... please review

[2022-03-09 09:08] Duncan-Knox commented on #1110
Thanks @edwinmp the channel name fix looks ok.

[2022-03-09 10:48] dean-breed commented on #1110
Cheers @edwinmp - looks good!

[2022-03-09 11:09] dean-breed commented on #1110
@edwinmp We need to change the "No data" to 0 in the recipients tables, and just in general. Both for IATI and CRS. Me and @Duncan-Knox agree I believe

[2022-03-09 11:11] edwinmp commented on #1110
@Duncan-Knox ?

[2022-03-09 11:49] edwinmp commented on #1110
@dean-breed just to be absolutely sure, you don't want me to leave them blank but instead set them to 0?

[2022-03-09 11:53] dean-breed commented on #1110
@edwinmp It doesn't matter to me really. I would prefer 0 as that is consistent with what we have done elsewhere. It just can't be "No data" because that suggests there is no reporting/data on the code which is not really true. They have made an active decision not to use said code

[2022-03-09 11:59] edwinmp commented on #1110
Does any of this translate to the charts as well? Cos we're showing a `No Data` view for filters without data.

[2022-03-09 12:08] dean-breed commented on #1110
Okay, so as I see it, if the selection has some reporting to something in the table, the others are 0s and not "no data". If there is no reporting at all to this field (such as Canada for IATI aid type), it should all be "no data". What do you think @Duncan-Knox ?

[2022-03-09 12:12] Duncan-Knox commented on #1110
Agree with this point, so fine for the data tables to be changed from 'no data' to '0'.

For the chart spaces in these cases, I don't mind "no data" but "no disbursements" is perhaps a bit clearer @dean-breed?

[2022-03-09 12:16] dean-breed commented on #1110
No disbursements is fine for OECD if that is what it means. Happy to go with you on that @Duncan-Knox

For IATI, they are just not included if there are no disbursements so that wouldn't apply. If there are no rows in a given dataset for a reporter, all cells and charts should be "No data", not 0. Does that make sense @edwinmp?

[2022-03-09 12:46] edwinmp commented on #1110
Updated with the initial 0 instead of `No data` requirement for tables... we'll work out the rest after the presentation - it is supposed to be a prototype :)

[2022-03-09 12:48] dean-breed commented on #1110
Thanks @edwinmp

[2022-03-09 12:49] dean-breed commented on #1110
While I'm thinking, we'll need to add a table like the one for the tracker (but shorter) soon. This will identify which agencies have been used for each aggregation.

[2022-03-14 15:18] SimonMurphyDI commented on #1079
@ThatcherK did you need a bit more info about this? Keen to have it completed in the next two weeks for an upcoming report :)
thanks!
Simon

[2022-03-14 17:16] edwinmp commented on #1079
@SimonMurphyDI With the open delivery date (sometime in 2022), it wasn't considered a priority ... we'll add it to the current sprint.

[2022-03-14 17:24] SimonMurphyDI commented on #1079
Thanks, my bad!

*Our offices are currently open and partially staffed. We continue to work at home wherever possible and you can get in touch here<https://www.devinit.org/contact-us/>*
Development Initiatives, First Floor Centre, The Quorum, Bond Street South, Bristol, BS1 3AE, UK
T: +44 (0) 1179 272 505

DISCLAIMER: This email and any attachments are confidential and intended solely for the use

[2022-03-15 08:52] #1117 closed

[2022-03-15 08:58] #1094 closed

[2022-03-15 08:59] #1084 closed

[2022-03-15 09:00] #1080 closed

[2022-03-15 09:28] SimonMurphyDI commented on #1084
thanks @edwinmp

[2022-03-15 09:28] SimonMurphyDI commented on #1080
thanks @edwinmp

[2022-03-15 12:17] davidebukali commented on #1031
@SimonMurphyDI this is ready for testing on [dev](https://dev.devinit.org/resources/?nav=header)

[2022-03-16 06:40] edwinmp opened #1123 "RichText Anchor button results in a cryptic error"
## I'm submitting a ...
<pre><code>
[*] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
_From Slack_
Hi [@didevs](https://devinitorg.slack.com/admin/user_groups) - just wanted to flag that I've been trying to add an anchor to a Case Study block in a short publication page on the DI site and every time I click the an

[2022-03-16 09:36] edwinmp commented on #1079
@SimonMurphyDI this feature and its entire language is about chapters. If I'm to change that (I'm guessing you'll want me to include appendixes as well), I may need to change the language as well. e.g. The label only shows a count of chapters and it may seem strange when a user has `Chapter 9 of 9` but still has a forward button. This also applies to the foreword & executive summary.
I don't want

[2022-03-21 06:49] edwinmp commented on #1110
I'm closing this - any new feedback item should be added as it's own GitHub ticket.

[2022-03-21 06:49] #1110 closed

[2022-03-22 16:51] SimonMurphyDI opened #1125 "Current broken link checker is broken"
## I'm submitting a ...
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Alex M has mentioned that the current link checker we use for the DI site is not functional.
https://devinitorg.slack.com/archives/CCG8Y0YJG/p1644411796850849?thread_ts=1644337467.066159&cid=CCG8Y0YJG

**To Reproduce**
1. Go to '

[2022-03-29 15:36] SimonMurphyDI opened #1127 "Switching from Google's Universal Analytics to GA4"
@akmiller01

As per our conversation, a space to consider the implications of this shift for the DI and GNR properties.
Known needs:
- update our account
- save our previous data
- tag manager (TBC)

[2022-03-30 12:32] k8hughes opened #1128 "Gates dashboard feedback - add detail to index page"
On the index page, give details of the categoris per dashboard.

The only constructive feedback is that on the index page it would be good to already include the different categories per dashboard i.e. OECD:  [how much donor countries gave](https://devinit.org/rhfp-team-data-dashboard/oecd/#oda); [who are the largest recipients](https://devinit.org/rhfp-team-data-dashboard/oecd/#largest-recipients

[2022-03-30 12:48] edwinmp commented on #1128
If I've understood it correctly, this can be done directly via the CMS & would take a few minutes to implement. Created a [draft](https://devinit.org/admin/pages/2556/edit/) of the changes for OECD - I hope that's what's expected.
<img width="917" alt="image" src="https://user-images.githubusercontent.com/5672438/160837739-6d4102a1-ebcb-4ac6-9093-9466efac3681.png">

[2022-03-31 10:15] k8hughes commented on #1123
@SimonMurphyDI can you check this for us...hopefully it is now working

[2022-03-31 10:29] edwinmp commented on #1123
@SimonMurphyDI While I fixed it, I don't recommend using this button anymore ... Wagtail provides an anchor button that makes this one redundant.

[2022-03-31 10:33] edwinmp commented on #1128
@k8hughes done for both OECD and IATI.

[2022-03-31 13:00] edwinmp opened #1129 "[Gates Dashboard] Add navigation to home on dashboard pages"
@SimonMurphyDI Matt wishes to show navigation links on the Gates pages, specifically one that returns a user to the main dashboard (home) page. We never built (or designed) breadcrumbs into the site, at least not for this. The sub-menu only shows & allows navigation to child pages (see below). What do you think would be the best way to do this (if at all)?
<img width="421" alt="image" src="https:/

[2022-03-31 15:42] SimonMurphyDI commented on #1123
Thanks @edwinmp can you let us know how to use this at some point as I've never really understood - sorry!

[2022-04-01 09:10] k8hughes commented on #1128
LGTM

[2022-04-01 09:10] #1128 closed

[2022-04-04 14:07] edwinmp commented on #1129
It doesn't seem like a vital change on this so I think Mat can be content without it ... I'll close this.

[2022-04-04 14:07] #1129 closed

[2022-04-05 12:30] edwinmp commented on #1127
@SimonMurphyDI how soon do you need this?

[2022-04-05 12:33] akmiller01 commented on #1127
@edwinmp I was thinking that as if we can get GA4 in place by July 2022, then even if the data from UA to GA4 is incomparable, we'll have 1 year of GA4 data for future comparisons by the time UA gets shut off.

[2022-04-06 08:04] SimonMurphyDI commented on #1079
Thanks @edwinmp - I think this would lead to a very long bar (by the time you'd added foreword, executive summary, and any number of appendces)

[2022-04-06 08:08] edwinmp commented on #1079
@SimonMurphyDI yes, that would do nicely & requires less work than my suggestion ... thanks ... @ThatcherK, back to you for implementation.

[2022-04-06 08:14] SimonMurphyDI commented on #1031
Hello @davidebukali just had a look and not seeing any resources at all on Dev....

[2022-04-06 08:17] SimonMurphyDI commented on #1079
@edwinmp @ThatcherK thank you!

There's another change I'd like which I think fits in with this (I thought I'd opened an issue but can't see it). At the moment the following are child page options for publications:

[2022-04-06 08:35] edwinmp commented on #1079
Not directly related - please create a separate ticket for it.
I don't think simply increasing the publication foreword count to 2 would do as there's implications in other areas like the Jump to Section.

[2022-04-07 07:55] SimonMurphyDI opened #1130 "Redirects from a page we used to own have stopped functioning"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[ X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

We used to own and manage the website http://www.globalhumitarianassistance.or

[2022-04-07 09:56] SimonMurphyDI commented on #1130
@edwinmp hold on a moment on this, might be a suggestion from Anna on how we do this

[2022-04-11 15:23] davidebukali commented on #1031
Hi @SimonMurphyDI sorry I just got back today after 1 week on leave; kindly log into the website and try again, appears that private pages are visible to only logged in users.

[2022-04-12 12:02] akmiller01 commented on #1130
We had a quick video call, where he said eventually he wants it to be a redirect to a landing page with some noindex JS embedded in it. So I was testing that here: https://dev.devinit.org/landing/

But that's on hold until he's back. And until then the redirect should just be 302.

[2022-04-18 02:27] #1064 closed

[2022-04-20 12:21] ThatcherK commented on #1079
@SimonMurphyDI this is ready for review on staging !

[2022-04-21 08:54] EmmawDI commented on #1079
Hi @edwinmp @ThatcherK - thank you both for your work on this. It looks really good to me - the only change I'd request is that instead of "The Foreword", "The Executive Summary", we just have "Foreword", "Executive Summary" etc, for consistency with how the pages themselves are titled? Do let me know if this would be an issue. Thanks!

[2022-04-21 09:01] edwinmp commented on #1079
Thanks @EmmawDI it won't be an issue at all.

[2022-04-21 10:05] EmmawDI commented on #1079
@edwinmp thank you - can you also tweak the chapter text so that they use 1, 2, 3 etc rather than "one", "two", "three"?

[2022-04-26 19:09] #1123 closed

[2022-04-28 08:38] EmmawDI commented on #1079
Hi @edwinmp @ThatcherK - I noticed on the GHA 2021 page this morning that this change has been deployed - do you know when you might be able to make the changes discussed above, to remote "the" from "the executive summary"/"the foreword" and change the "one", "two" etc to 1, 2? Thank you

[2022-04-28 09:28] edwinmp commented on #1079
Hi @EmmawDI ... Thatcher is away for an extended leave, so @davidebukali will be taking this on. It's a really easy update so we can deploy it today. Wasn't intentional to get this on live before that - must have snuck in with some other code. Will try to make sure that doesn't happen again.

[2022-05-04 09:26] davidebukali commented on #1079
@EmmawDI this is ready for testing on [staging](https://dev.devinit.org/resources/supporting-longer-term-development-crises-nexus-lessons-bangladesh-2/executive-summary/)

[2022-05-04 09:29] EmmawDI commented on #1079
@davidebukali looks perfect, thank you. Happy for this to be promoted to live.

[2022-05-09 12:06] akmiller01 commented on #1036
Hi @k8hughes , if I'm reading the issue correctly, it will be more than just updating DNS entries? We'd need to setup a Cloudflare account, move our name server, and import all of the DNS records into Cloudflare.

Would you be able to setup a DI Cloudflare account, if we don't already have one? And then I can look into further setup from there?

[2022-05-09 12:10] wakibi commented on #1036
Hi @akmiller01, most of this is already done. Sharing cloudflare details via Slack.

[2022-05-09 16:02] SimonMurphyDI commented on #1130
@akmiller01 this looks great. it would be ideal if you could remove the 'Share' feature (as we don't want people sharing it) but apart from that this is OKed.

Cheers!

[2022-05-09 16:05] SimonMurphyDI commented on #1127
@akmiller01 we might want to plan the transfer around reporting for key outputs like the GHA report (to avoid a chunk of missing analytics at the wrong moment) - or could we run both old and new at the same time?

[2022-05-09 16:06] SimonMurphyDI commented on #1036
thanks so much everyone! Can't wait to see :)

[2022-05-09 16:06] akmiller01 commented on #1130
If you're seeing a share button, we might need to cross-browser test the adhoc JS I inserted into the page, as for me on Chrome it is removing the Share feature:

![image](https://user-images.githubusercontent.com/2836840/167451258-23a1a103-c90a-4683-8301-cc1780dfff88.png)

[2022-05-09 16:13] SimonMurphyDI commented on #1031
Hi @davidebukali - it looks like this has been pushed to the main site and is live there? It seems to be working well :)

[2022-05-09 16:25] SimonMurphyDI commented on #1130
No my bad - I need to leave that interactive chart in (even though you can't see it in the final page)
So all good

[2022-05-09 16:54] akmiller01 commented on #1130
Ah yeah, here's the JS the interactive injects into the page:

[code]

[2022-05-09 16:55] akmiller01 commented on #1130
What would you like the URL of the production page to be @SimonMurphyDI ? I know you wanted something unassuming that people wouldn't stumble upon accidentally. Is `/landing` unassuming enough?

[2022-05-09 17:00] akmiller01 commented on #1127
We should be able to run both old and new simultaneously.

Next steps for this is probably go to ahead and make a GA4 for devinit so you can assess whether it's something you'd like to use in the future, or whether you'd like to consider non-Google trackers.

What I'm trialing for IATI is this self-hosted analytics service called Umami. Good information and a demo available here: https://umami.is/

[2022-05-10 11:19] pauline-n commented on #1127
@akmiller01 this has been done. Kindly. test to see if all is as required. I have also exported and backed up the UA data to google sheets - this can found with the email's google sheet files with the title UA Data Backup DI Website.

Thank you.

[2022-05-10 12:41] akmiller01 commented on #1127
Hi @SimonMurphyDI , Pauline has kindly setup a parallel GA4 property for the DI website. You'll find it on the analytics account under "DI Website - GA4." When your team has a moment, could you take a look and see if it fulfills your analytical needs?

Personally I've found that they changed GA4 pretty drastically from UA, such that it's much more focused on business needs like conversions and les

[2022-05-11 11:33] edwinmp commented on #1125
@davidebukali this is still breaking on live, so I'm moving it to the backlog for the next sprint - error below

[code]

[2022-05-11 11:34] #1031 closed

[2022-05-11 11:34] #1036 closed

[2022-05-11 11:56] SimonMurphyDI commented on #1125
@davidebukali suggest we also look at adding this to the GNR site when it's ready

[2022-05-11 13:17] SimonMurphyDI commented on #1130
Hi Alex, could we have:

/welcome

[2022-05-12 12:57] SimonMurphyDI commented on #1130
Thanks, Alex - I've got the page ready as a draft. Anything you now need to do, or can I just push it live?

[2022-05-12 15:11] SimonMurphyDI commented on #1130
Thanks Alex, we've pushed live. Can you do your bit tomorrow earlier in your day so we can check it works?

[2022-05-18 05:58] edwinmp commented on #1127
Closing this ... @SimonMurphyDI reopen or create a new ticket if there's anything left to do.

[2022-05-18 05:58] #1127 closed

[2022-05-19 11:34] SimonMurphyDI opened #1145 "Spotlight pages aren't working"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

When you visit the spotlight pages and try to use them, they appear to be brok

[2022-05-19 11:40] wakibi opened #1146 "Spotlight analytics not loading properly"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Google analytics does not appear to be loading properly.

**To Reproduce**
Replace the content below with the steps to reproduce the b

[2022-05-19 11:58] edwinmp commented on #1146
@wakibi I've updated the title ... this is a spotlight issue and we'll fix it in the spotlight [repo](https://github.com/devinit/data-hub-spotlights). Ofc we should manage it here as it'll just be forgotten in the spotlight repo :)

[2022-05-23 10:22] EmmawDI opened #1147 "Related content"
**Is your feature request related to a problem? Please describe.**
The Related Content section on our resource/blog pages becomes out of date quickly and needs to be manually updated to direct users to more recent content. As a result, users are unlikely to discover more recent content relevant to their search/interest, instead only being directed to older (and therefore potentially less useful) r

[2022-05-24 08:53] #1079 closed

[2022-05-24 12:33] edwinmp commented on #1079
@EmmawDI this has been deployed live.

[2022-05-24 12:35] EmmawDI commented on #1079
Thank you Edwin!

[2022-05-25 06:57] edwinmp opened #1150 "Indexing Elastic Search keeps timing out on deploying live"
This seems to be a recent issue following the elastic search update ... https://github.com/devinit/DIwebsite-redesign/runs/6573163993?check_suite_focus=true

[2022-06-01 10:52] Tim-Molyneux opened #1151 "Add Twitter conversion tracking"
Hi all - I think it would be good idea to add conversion tracking for twitter to our website, which would help us better track conversion from Twitter ads to visits to your page or other specific actions - Here's a vid explaining it https://business.twitter.com/en/help/campaign-measurement-and-analytics/conversion-tracking-for-websites.html

Please could you help set this up? For now we could try

[2022-06-06 09:09] edwinmp commented on #1151
@Tim-Molyneux this will require access to the DI twitter account - you can go through the Twitter steps and share the code snippet. With that, we'll only need to update Google Tag Manager.

[2022-06-07 09:07] edwinmp commented on #1130
@SimonMurphyDI @akmiller01 any update on this?

[2022-06-07 09:20] edwinmp commented on #1125
@SimonMurphyDI this seems to be fixed on both staging and live ... could you please verify that it functions as expected.

[2022-06-07 12:09] akmiller01 commented on #1130
Yes, I had to move the DNS records for globalhumanitarianassistance.org to the Cloudflare free tier on the di-devs account to set up some page rules. But now the home page and all other pages redirect to /welcome, all old reports redirect to their proper places, like http://www.globalhumanitarianassistance.org/report/gha-report-2015 and all old documents redirect as well like http://www.globalhuma

[2022-06-16 14:46] davidebukali opened #1155 "Improve user interface for podcast player"
**Is your feature request related to a problem? Please describe.**
The player is not intuitive and some users could miss the fact that it can be played
<img width="1186" alt="Screenshot 2022-06-16 at 17 36 06" src="https://user-images.githubusercontent.com/1607276/174094425-87e072db-6510-4048-82e5-0dd73753089c.png">

**Describe alternatives you've considered**
Improve the interface to something si

[2022-06-16 15:07] Tim-Molyneux commented on #1155
Thanks David, I've been thinking about this. We are hosting the podcast on [Buzzsprout](https://www.buzzsprout.com/1997192/episodes), which enables you to embed a player like Soundcloud. My only question is exactly how Buzzsprout counts plays in their metrics. I think they count any play as a 'download,' but I don't know if that means only complete plays, or partial plays, I will check. If it is i

[2022-06-16 15:29] Tim-Molyneux commented on #1155
@davidebukali - update from Buzzsprout:

" In Buzzsprout a Download is registered anytime an audio file is requested from Buzzsprout and listened to for at least 60 seconds. This can happen when a listener hits play on an embedded player, Apple Podcasts, Spotify, or other podcast directories online or from any mobile app out there. It's all shown in Buzzsprout!

 Our stats all follow the IAB Guide

[2022-06-17 09:22] davidebukali commented on #1155
@Tim-Molyneux [this](https://www.analyticsmania.com/post/track-html5-audio-player-with-google-tag-manager/#how-to-track) guide uses Google Tag Manager(GTM). It says we are able to capture every 10% of the audio length; pause, play and finished events are supported. We could test using Buzzsprout and GTM and possibly get richer data from both platforms.

[2022-06-21 21:36] #1145 closed

[2022-06-21 21:46] edwinmp opened #1156 "Change legend behaviour on the GHA charts"
[Reference](https://devinit.org/data/international-humanitarian-assistance-donors-channels-and-recipients/?nav=header)

Selecting (clicking) an active legend item should highlight the clicked item & remove the rest from the chart i.e. the opposite of the current default behaviour

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/5672438/174901914-1dd2a02c-7c22-4525-b7b5

[2022-06-21 21:56] edwinmp opened #1157 "Ability to search/filter donor/recipient drop downs for all GHA data visualisations"
[Reference](https://devinit.org/data/international-humanitarian-assistance-donors-channels-and-recipients/?nav=header)

**Suggestion**
Use [select2](https://select2.org/) to enhance the existing select elements. You'll likely won't need to update the chart code for this as you can add the code directly via the CMS.

[Repo](https://github.com/edwinmp/gha-data-visualisations)

**Criteria for Complet

[2022-06-21 21:58] edwinmp opened #1158 "Add Google Analytics support for the GHA charts"
Should all be done via Tag Manager. This should be done after all the other GHA chart changes are complete.

[2022-06-22 05:25] edwinmp opened #1159 "Enhance or make clearer how the charts should be used"
e.g. It’s not clear enough that a user can select & compare multiple donors

This seems like a UX issue.

[2022-06-22 05:30] edwinmp opened #1160 "Add third drop-down to a GHA chart"
[This](https://devinit.org/e63d85#4a97a764) chart currently has a toggle 'Display data as' with two possible selections. We would like to add a third selection option to this toggle, for which the chart would then change to a line chart (rest of the chart and functionality remains the same). That third option, then displayed as line chart, would still represent a percentage, though a very small on

[2022-06-22 09:27] edwinmp opened #1161 "Investigate the feasibility of creating an interactive map for the GHA"
[Resource](https://devinit.org/6459f3#588d9e33)

Can we create an interactive version of the map image in the resource above?

**Possible Libraries**

- [ ] ECharts (we're using this for charts)

**Alternatives**

- MapBox
- Leaflet

**Outputs**

- Can we do it?
- If so, how long would it take

[2022-06-22 18:43] edwinmp commented on #1151
@davidebukali reopen if there's anything else still pending on this.

[2022-06-22 18:43] #1151 closed

[2022-06-23 08:02] edwinmp opened #1163 "GHA 2022 interactive map default view"
<img width="617" alt="Screenshot 2022-06-23 at 15 06 16" src="https://user-images.githubusercontent.com/32189973/175294915-d57190ce-2008-45eb-9535-34839019f671.png">

[2022-06-23 08:28] edwinmp commented on #1163
**Breakdown**

- Create map default view
- Add map filters
- Add detailed tooltips
- Add dimensions

[2022-06-23 11:54] edwinmp opened #1164 "Update GHA chart colours"
@SimonMurphyDI to share the hex codes

[2022-06-23 11:56] ThatcherK opened #1165 "GHA 2022 interactive map filters"
<img width="632" alt="Screenshot 2022-06-23 at 14 52 15" src="https://user-images.githubusercontent.com/32189973/175292555-061a41a8-31e9-47e6-9c01-2d50d9142bcd.png">

Refer to #1163 for more context.

The filter should be a dropdown select element that filters the data according to the description above

[2022-06-23 12:03] ThatcherK opened #1166 "GHA 2022 interactive map tooltips"
<img width="944" alt="Screenshot 2022-06-23 at 15 01 17" src="https://user-images.githubusercontent.com/32189973/175294191-a2451eb6-346e-46f7-a62b-7d70780b3a23.png">

The tooltips should capture the available data both on mouseOver and onClick of a given country.

[2022-06-27 12:35] ThatcherK commented on #1164
@SimonMurphyDI could we have these color codes provided?

[2022-06-28 15:52] pauline-n commented on #1159
@edwinmp Below are the design suggestions for enhancing the charts;

1. Moving the "How to use this chart" accordion from below the chart to above it, just before the Select Donors dropdown.
2. Change 'Select donors' to 'Select up to 2 donors'.
3. Using a multi-select and autocomplete instead of the dropdown element for the select donors field.

[2022-06-28 16:56] edwinmp opened #1167 "Integrate updated data in the GHA data visualisations"
Data has been shared by Dan on [Slack](https://devinitorg.slack.com/archives/C03LTHN3DRS/p1656067699955609?thread_ts=1656067570.748059&cid=C03LTHN3DRS)

[2022-06-29 08:40] bill-anderson opened #1168 "Broken link"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Broken link

**To Reproduce**

https://devinit.org/post/donors-results-iati-data-revolution/

[2022-06-30 10:01] edwinmp opened #1169 "Configure the position of the 'How to use this chart' accordion"
Can either be top or bottom of the chart. Refer to ticket #1159 on top design

[2022-06-30 11:07] pauline-n commented on #1147
<img width="423" alt="Screenshot 2022-06-30 at 14 05 27" src="https://user-images.githubusercontent.com/71310090/176662385-b060016a-8ecc-404b-ba98-15dd0a15941a.png">
Something like this? @EmmawDI

[2022-06-30 11:24] SimonMurphyDI opened #1170 "Unable to add related content to the end of executive summary page types - regression?"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

When I try to add related content to executive summary pages, I'm not given th

[2022-06-30 14:46] edwinmp commented on #1170
@SimonMurphyDI this is feature request as summary pages have never supported related content ... would you like this done for the GNR as well?

[2022-06-30 14:50] SimonMurphyDI commented on #1170
No thanks - Just DI site please!

[2022-07-01 08:03] edwinmp opened #1172 "Process GHA charts feedback"
https://docs.google.com/document/d/1333hdVVWwdcCyXMn2CaI-g8B4Q1xoGUjtBoC9EX3fjQ/edit

[2022-07-01 08:20] pauline-n commented on #1159
![GHA Charts](https://user-images.githubusercontent.com/71310090/176855106-401f33ca-a97e-4195-8d65-c6673ddb9cb1.png)

[2022-07-04 11:13] SimonMurphyDI opened #1175 "updating some analytics tags"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[ x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

Earlier in the year we updated the name of a page on the website and created a

[2022-07-04 19:20] edwinmp commented on #1170
Hi @SimonMurphyDI this is deployed on dev... please test.

[2022-07-06 09:10] #1168 closed, assigned to nobody

[2022-07-06 12:22] #1157 closed

[2022-07-06 12:23] #1164 closed

[2022-07-06 12:23] #1160 closed

[2022-07-06 12:23] #1167 closed

[2022-07-06 12:23] #1172 closed

[2022-07-06 12:42] #1170 closed

[2022-07-11 15:49] SimonMurphyDI opened #1181 "Adding accordion feature to the DI site"
**Is your feature request related to a problem? Please describe.**
I love the accordion feature on the GNR site - you can see it in action here: https://globalnutritionreport.org/resources/naf/faqs/

**Describe the solution you'd like**
We'd like the capacity to use this on the DI site, on the following page types
- audio and visual media page (priority)
- short publication page
- the child pages

[2022-07-11 16:33] SimonMurphyDI opened #1182 "Issue when adding 'internal participant' to audio visual media pages (child of resources)"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.
You have the option to add internal and external participants to audio visual me

[2022-07-13 08:46] edwinmp opened #1183 "Add customised designs for the GNR accordion for use in multi-coloured publications"
**Is your feature request related to a problem? Please describe.**
I love the accordion feature on the GNR site - you can see it in action here: https://globalnutritionreport.org/resources/naf/faqs/

**Describe the solution you'd like**
Create a design page for the accordion, similar to those on the [NAF Designs Repo](https://github.com/devinit/gnr-naf-designs) i.e. the template can be tested on G

[2022-07-13 08:49] edwinmp commented on #1181
@SimonMurphyDI we've split the design bit into its own ticket #1183

[2022-07-13 16:08] akmiller01 opened #1185 "Hubspot integration returning 400 error codes"
While looking at my Hubspot account, I noticed all API calls to Hubspot are returning 400:

![image](https://user-images.githubusercontent.com/2836840/178780309-2c4984d5-c3a4-4e43-845b-58a58ed97a9d.png)

With the following response body:
[code]

[2022-07-18 07:08] #1183 closed

[2022-07-21 10:59] #1158 closed

[2022-07-21 11:58] edwinmp commented on #1182
Hi @SimonMurphyDI this has been deployed live.

[2022-07-21 11:58] #1182 closed

[2022-07-21 12:06] edwinmp commented on #1163
Demo: https://dev.devinit.org/visualisations/gha-data-viz-with-map/interactive-map/

[2022-07-21 12:06] #1163 closed

[2022-07-21 12:10] #1169 closed

[2022-07-21 12:43] SimonMurphyDI commented on #1181
Thanks Edwin

Happy for you to do whichever is easiest - either using the GNR or DI version.

Whichever you build

[2022-07-21 13:11] edwinmp commented on #1181
@wakibi ^^

[2022-07-22 08:05] SimonMurphyDI opened #1192 "Amending the audio/visual resource pages so we can embed content from buzzsprout player"
@edwinmp

**Is your feature request related to a problem? Please describe.**
We're hosting a new series of podcasts on a site called buzzsprout, and we'd like to embed the podcast on our own site too. But buzzsprout isn't a player supported by Wagtail.

**Describe the solution you'd like**
@akmiller01  has written a bit of code that should function as a workaround and allow us to embed this conten

[2022-07-22 08:46] SimonMurphyDI commented on #1192
One question on how this looks/works - ideally it would allow us to embed content where we'd like it to appear in the text block (a bit like the current embed function). But it's not mission-critical, and I realise didn't make that clear to Alex yesterday!

![image](https://user-images.githubusercontent.com/22001094/180400970-97b3af79-60aa-41ab-83b6-3d61dbb32c45.png)

[2022-07-22 09:06] davidebukali commented on #1192
@SimonMurphyDI @edwinmp Alex's PR works okay. It loads a buzzsprout player after adding a valid url (from 'Embed this one episode' in buzzsprout).

[2022-07-22 09:08] edwinmp commented on #1192
@davidebukali approve, merge to dev and alert Simon for testing when that's done.

[2022-07-22 09:09] edwinmp commented on #1192
@davidebukali take note of @SimonMurphyDI's question above.

[2022-07-22 09:46] davidebukali commented on #1192
@SimonMurphyDI the textblock embed works for sites like youtube that support [oembed](https://oembed.com/). Buzzsprout doesnot hence Alex's PR creating a custom embed.

[2022-07-22 10:15] davidebukali commented on #1192
@SimonMurphyDI Alex's PR is ready for testing on [dev](https://dev.devinit.org)

[2022-07-22 11:02] akmiller01 commented on #1192
It's easier to implement as a section block, rather than a button in the text editor @SimonMurphyDI . So you'd need to split text around it into two different sections, if that's okay.

[2022-07-22 11:07] SimonMurphyDI commented on #1192
absolutely on board with that - thanks!

[2022-07-23 05:38] edwinmp commented on #1192
Deployed!

[2022-07-23 05:38] #1192 closed

[2022-07-25 13:21] Tim-Molyneux opened #1194 "Add 'podcast subscribe (listen on)' buttons to DI web pages for the Good with data podcast"
I would like to add these buttons to the pages for each episode of the Good with data podcast please. This article has instructions: https://www.buzzsprout.com/help/64-podcast-subscribe-buttons. I suggest just adding buttons for Apple, Spotify, Google and Amazon for now. We will be creating pages for new episodes on an ongoing basis, so it would be helpful to have this added as a feature that the

[2022-07-27 12:41] SimonMurphyDI commented on #1181
@wakibi - I also wondered if there is any "cut-off" for the total number of words that can be held in an accordion? (Would be handy to know for DI site and also GNR site
Thanks!

[2022-08-08 09:40] SimonMurphyDI opened #1195 "Hotjar integration for DI site (replacement for Mouseflow)"
@edwinmp - thanks for the slack message on this

**Is your feature request related to a problem? Please describe.**
We have used Mouseflow in the past to check user journeys - this was a cost. We've been told that DI qualifies for free Hotjar usage. We'd like to use this going forward. Not sure if there are dev requirements - here's the site: https://www.hotjar.com/

**Describe the solution you'd

[2022-08-08 10:16] edwinmp commented on #1195
https://www.hotjar.com/integrations/google-tag-manager/

[2022-08-12 01:46] #1146 closed

[2022-08-15 15:26] EmmawDI opened #1199 "Adding link functionality to endnotes"
**Is your feature request related to a problem? Please describe.**
Plain URLs are not ideal in terms of their accessibility, as link text should always be unique and descriptive, so having lists beginning "https://www..." gives a difficult user experience. If we could apply links to text in the endnote box, as in the normal WYSIWYG editor, we could hyperlink the name of the source instead of leavi

[2022-08-19 14:48] SimonMurphyDI commented on #1175
Updated on GTM, checked and published by @davidebukali

[2022-08-19 14:48] #1175 closed

[2022-08-23 09:16] edwinmp opened #1202 "Publications chapter pages not showing content editor"
Not sure what's causing it ... troubleshoot to find the cause.

https://devinit.org/admin/pages/2651/edit/

[2022-08-23 14:56] #1202 closed

[2022-08-23 14:57] edwinmp commented on #1202
It was a Cloudflare caching issue ... See [here](https://devinitorg.slack.com/archives/CCG8Y0YJG/p1661266114319379)

[2022-09-07 14:18] davidebukali opened #1211 "Analytics for GHA map"
We would like to capture the data below for interactive GHA map.

Which filter is clicked at the top?
Which country is clicked on for the popup?

[2022-09-08 08:19] EmmawDI commented on #1147
Hi @davidebukali - thank you - I can't seem to log into the staging site currently, is this something you can help with so I can have a look?

[2022-09-08 08:27] davidebukali commented on #1147
@EmmawDI sure thing, which email do you prefer to use ...

[2022-09-08 08:28] EmmawDI commented on #1147
emmaw@devinit.org please!

[2022-09-08 08:32] davidebukali commented on #1147
Sent you mail with details

[2022-09-09 00:05] #1150 closed

[2022-09-12 06:43] edwinmp opened #1212 "Add canonical tags for alias pages"
https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls

[2022-09-12 07:52] edwinmp opened #1213 "Upgrade to Wagtail 4"
Wagtail has undergone at least 2 major version upgrades in the space of a few months. If we don't catch up, we risk being left far behind. The longer we take to upgrade the more difficult & risky it gets.

[2022-09-13 08:56] edwinmp commented on #1199
@EmmawDI could you please share a link to a page where you want this changed made.

[2022-09-13 13:25] EmmawDI commented on #1199
Any resource page type - so factsheet, report, briefing etc. But this page would be a good test - https://devinit.org/resources/oda-2020-2021-key-trends-before-during-emerging-crises/

[2022-09-14 08:07] ThatcherK commented on #1211
Hi @EmmawDI could you test to see that the analytics for the interactive map [here](https://dev.devinit.org/data/international-humanitarian-assistance-donors-channels-and-recipients/)before we push to live

[2022-09-15 16:16] #1165 closed

[2022-09-15 16:16] #1166 closed

[2022-09-20 10:55] Tim-Molyneux opened #1216 "DI website links not loading images on Twitter"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

When posting links from the DI site on Twitter, Twitter usually loads an image

[2022-09-20 18:10] #1161 closed

[2022-09-20 18:11] #1155 closed

[2022-09-20 18:17] akmiller01 opened #1221 "Common function `get_related_pages` called without a valid queryset causes live page to throw 500 error"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Line 50 of the project page model.py calls `get_related_pages` without a queryset argument: https://github.com/devinit/DIwebsite-redes

[2022-09-20 18:20] edwinmp commented on #1221
Ah, forgot the fix for this is in another PR ... let me merge it in

[2022-09-20 18:20] edwinmp commented on #1221
hmm ... Actually, may not be related ... let me verify

[2022-09-20 18:31] akmiller01 commented on #1221
Okay, I've temporarily added 3 related pages for the 3 project pages that were throwing the 500 errors, so you'll need to temporarily delete them to test.

[2022-09-20 18:50] edwinmp commented on #1221
Yup, not related ... that's two issues tied to this related content change ... I'll take care of both tomorrow.

[2022-09-20 23:47] edwinmp opened #1222 "Deploy website via release tags"
This will allow targeted deployments of specific features. Deployment on updating the develop branch should stay, but it'll be best to only deploy live via release tags. Naturally, beta tags should deploy to develop.

[2022-09-20 23:58] edwinmp opened #1223 "Copying pages is broken"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Another bug originating from the related content feature update in ticket #1147.
Details of the error extract from the email are below

[2022-09-21 07:58] edwinmp commented on #1216
@akmiller01 we've failed to fix this and could use another set of eyes ... could you please take a look when u have a moment.

[2022-09-21 11:12] edwinmp commented on #1221
This is fixed, thanks @davidebukali.

[2022-09-21 12:46] akmiller01 commented on #1216
@edwinmp are you sure this isn't working? Card validators are showing the large preview:

![image](https://user-images.githubusercontent.com/2836840/191507434-f4ca7333-9044-45df-8c41-4021cc6ed7d3.png)

[2022-09-21 12:49] akmiller01 commented on #1216
Okay, seems to be on a page-by-page basis:

![image](https://user-images.githubusercontent.com/2836840/191507976-6de269e8-fb5c-4d54-8158-9b0696bd6cec.png)

[2022-09-21 12:49] edwinmp commented on #1216
Twitter's validator doesn't show previews, but that's cos they recommend that we should use twitter itself to test this. Previews don't work on twitter.

[2022-09-21 12:51] edwinmp commented on #1216
This is better than it was yesterday, which was showing nothing.

[2022-09-21 12:53] akmiller01 commented on #1216
One thing I've noted is that the `summary_large_image` format expects a 2:1 aspect ratio, and we're feeding it 800:450, which is slightly off. Could be one of the things upsetting Twitter...

[code]

That Crisis page is working on my personal twitter now. I think the Twitterbot is just taking a moment to scrape the image, and maybe resizing the aspect ratio takes a while:

![image](https://user-im

[2022-09-21 12:57] edwinmp commented on #1216
I'd adjusted the size to match the GNR which has no trouble showing previews. This was also a change from what was there before, which was using the original images which are rather big in size.

[2022-09-21 12:58] edwinmp commented on #1216
You can adjust it here and see if the expected aspect ratio could do the trick  https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/settings/base.py#L327

[2022-09-21 13:03] akmiller01 commented on #1216
If this is useful, on the cards that are working, Twitter resizes them to 680x383

![image](https://user-images.githubusercontent.com/2836840/191511129-b6d891a4-df35-40cb-b0f7-d2c2444be98f.png)

[2022-09-21 13:04] Tim-Molyneux commented on #1216
This page is now showing a kind of preview but with no image, as opposed to showing no preview at all yesterday https://devinit.org/resources/ukraine-crisis-diverted-aid-what-we-know/
<img width="723" alt="snip" src="https://user-images.githubusercontent.com/93325315/191511228-f9d8fc53-623d-4ca8-aa76-1acabc871dfc.PNG">

[2022-09-21 13:45] Tim-Molyneux commented on #1216
Hmm, Twitter has always done this sometimes, but my understanding was that this was due to image optimisation issues on the relevant page. Interestingly My Twitter isn't behaving in the same way as yours; now, when I add the link to a draft Tweet it does show the preview before tweeting, maybe something they were updating on their end?

<img width="746" alt="Capture 2" src="https://user-images.git

[2022-09-21 14:18] akmiller01 commented on #1216
I think Twitter is just being opportunistic with fetching images. If someone posts and then expands a card (as I did for the content above), then for future cards it will be expanded automatically because Twitter has already fetched it.

[2022-09-21 14:21] edwinmp commented on #1216
Interesting ... that seems to be it since the link above expanded for me ... could we test it with another one just to be sure. https://devinit.org/resources/global-disability-financing-in-the-context-of-covid-19/

[2022-09-21 14:24] akmiller01 commented on #1216
Did you already Tweet that one @edwinmp ? It's auto-expanding for me:

![image](https://user-images.githubusercontent.com/2836840/191530488-136fa798-6551-43db-8aff-dda9cd5d6a38.png)

[2022-09-21 14:25] edwinmp commented on #1216
Yes... I guess that confirms it then ... I hope this helps you @Tim-Molyneux. Guess you'll have to expand the links after posting.

[2022-09-22 08:06] Tim-Molyneux commented on #1216
Thanks guys! Will let you know if the problem happens again.

Tim Molyneux | Senior Communications Officer
Development Initiatives, First Floor Centre, The Quorum, Bond Street South, Bristol, BS1 3AE, UK
T: +44 (0) 1179 272 505
devinit.org<http://www.devinit.org/> | @devinitorg<https://twitter.com/devinitorg>
Sign up<https://us11.list-manage.com/subscribe?u=a829237ca0cf1470615c7f059&id=ce30e2af0f>

[2022-09-22 08:56] #1216 closed

[2022-09-25 09:18] edwinmp commented on #1194
This is already available on the buzzsprout widget. The other buttons are accessible when you click "more"
<img width="1190" alt="image" src="https://user-images.githubusercontent.com/5672438/192136625-8c2bbcaa-89fb-4cd1-a384-e8717c1d77ae.png">

[2022-09-26 08:11] Tim-Molyneux commented on #1194
Unfortunately this isn't obvious to a viewer, so it would be an improvement if we could add the buttons to the page, please could someone do this if you have capacity? It's not a high priority, but would be good. Thanks

[2022-09-26 08:17] edwinmp commented on #1194
Ah, so these can be added separate from the player. That's neat ... yes, we'll move this into rotation.

[2022-09-26 13:09] edwinmp commented on #1199
**Implementation Details**

- Under `di_website/footnotes/forms.py`, import `from wagtail.admin.rich_text import DraftailRichTextArea`
- Replace the widget on the text form field from `forms.TextArea` to `DraftailRichTextArea`
- Edit `di_website/templates/publications/footnotes.html` to handle richtext content
- You'll need to change the parent component from a paragraph to a div or the footnotes

[2022-09-26 13:28] edwinmp commented on #1001
For clarity, @SimonMurphyDI, you want the `Jump to Section` feature to be available for both versions? After which, we run another Google Optimise A/B test ...

[2022-09-26 13:40] SimonMurphyDI commented on #1001
Thanks Edwin - what do you think? Given that the new design doesn't take any features away, but provides new featured, and that the AB testing hasn't given us particularly large sample sizes, would you be comfortable pushing it live and seeing how users respond via the full analytics data?

[2022-09-27 08:37] k8hughes commented on #1211
@EmmawDI or @SimonMurphyDI can someone review so we can deploy?

[2022-09-27 13:29] #1223 closed

[2022-09-29 09:22] edwinmp commented on #1194
Hi @Tim-Molyneux ... here's a screenshot of the result.

<img width="1184" alt="image" src="https://user-images.githubusercontent.com/5672438/192992447-f44227cd-b745-4dfb-9171-7f0d968c302e.png">

The Podcast options can be configured in the CMS under snippets.

<img width="1266" alt="image" src="https://user-images.githubusercontent.com/5672438/192992973-fa4da593-4798-4f6d-9c29-9bdfa6a5aacb.png">

[2022-09-29 09:34] Tim-Molyneux commented on #1194
Thanks Edwin! I can’t see this in Snippets in the CMS, should it be working now?

Tim Molyneux | Senior Communications Officer
Development Initiatives, First Floor Centre, The Quorum, Bond Street South, Bristol, BS1 3AE, UK
T: +44 (0) 1179 272 505
devinit.org<http://www.devinit.org/> | @devinitorg<https://twitter.com/devinitorg>
Sign up<https://us11.list-manage.com/subscribe?u=a829237ca0cf1470615c

[2022-09-29 09:36] edwinmp commented on #1194
The deployment is done, so you should see them now. Here's a draft test page https://dev.devinit.org/admin/pages/2497/view_draft/

[2022-09-29 10:45] Tim-Molyneux commented on #1194
Hi Edwin,

I still couldn’t see it in the cms, so I logged out and tried logging back in, and now I can’t login; the system says my password and email don’t match. I tried setting a new password but I’m still getting the same error. Do you have any idea why that could be?

Tim

Tim Molyneux | Senior Communications Officer
Development Initiatives, First Floor Centre, The Quorum, Bond Street South,

[2022-10-01 09:51] #1185 closed

[2022-10-01 10:51] edwinmp commented on #1181
@wakibi this has been active forever. If there's a branch with some work on it, please push. I'll have someone else complete it so u can focus on IATI.

[2022-10-06 10:07] #1194 closed

[2022-10-06 14:43] SimonMurphyDI commented on #1211
Not sure what we're reviewing - the list from David is correct. Would be good also to know if users are opening the instructions (that's recorded for other charts)
Thanks
Simon

[2022-10-06 14:47] SimonMurphyDI commented on #1211
Also spotted on the current analytics we have events for "Recipient chart" and "Recipients chart"  if they are the same, can we combine? Thanks!

[2022-10-06 15:00] ThatcherK commented on #1211
Am going to push the map analytics, the rest will be handled in a different ticket

[2022-10-06 15:00] SimonMurphyDI commented on #1211
Thanks so much!

[2022-10-06 15:59] ThatcherK commented on #1211
Analytics for the map are now live! @SimonMurphyDI

[2022-10-11 08:09] #1212 closed

[2022-10-11 08:29] SimonMurphyDI commented on #1181
Hello @ThatcherK  - we've been asked for an ETA for this - please can you provide? Thanks!

[2022-10-11 08:30] edwinmp commented on #1181
@SimonMurphyDI this is done and should be available for testing on staging ...

[2022-10-11 08:42] SimonMurphyDI commented on #1181
Great thanks!

[2022-10-11 09:57] edwinmp opened #1239 "Deployments are failing in the CI with an unclear error"
While the deployment seems to actually fail, it succeeds on the server - no idea what's up.

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/5672438/195040949-f87b1917-493c-46e4-97dd-d319f4e588aa.png">

[2022-10-11 13:07] SimonMurphyDI commented on #1181
Hi Edwin - thanks for this. We'd like the WYSIWYG capacity for accordions - sharing the GNR back end, which works really well.
![image](https://user-images.githubusercontent.com/22001094/195090417-1b81e0e4-ac54-41c7-be03-fc061ae5e8ec.png)

[2022-10-11 13:34] edwinmp commented on #1181
@SimonMurphyDI the implementation on dev does have WYSIWYG capacity ... more Wagtail 4 changes on how that works.

<img width="900" alt="image" src="https://user-images.githubusercontent.com/5672438/195104844-d087416a-6369-4244-b1a7-606b63154b13.png">

I don't understand what you mean by note numbers.

[2022-10-11 13:56] SimonMurphyDI commented on #1181
Ah great, looks good then!

By note numbers, I mean these
![Uploading image.png…]()

[2022-10-11 13:56] #1181 closed

[2022-10-12 08:23] #1239 closed

[2022-10-12 08:23] edwinmp commented on #1239
Cleared space and that seemed to solve it.

[2022-10-12 08:49] edwinmp commented on #1199
@EmmawDI this is deployed for testing on [dev](https://dev.devinit.org/admin/). We couldn't add a WYSIWYG editor to it, so the only way to allow richtext features for this is to use Markdown syntax.
So for the links you want to change, e.g. https://google.com - you'll need to rewrite that as `[Google](https://google.com)`.
i.e The text you want to show on the footnotes is in the square brackets wh

[2022-10-12 08:50] #1211 closed

[2022-10-18 17:43] edwinmp opened #1244 "Celery is not running"
While it isn't causing problems yet (besides deployments coming up as failed), it needs to be sorted asap.

[2022-10-18 17:44] #1213 closed

[2022-10-19 11:47] edwinmp opened #1245 "Elastic search deprecation warnings"
Spotted these when reviewing deployment logs - we should get ahead of such things to avoid trouble down the road.

[code]

[2022-10-19 13:28] edwinmp opened #1246 "Switch our images to webp and include caching"
They're smaller for the same quality image.

[Converting Renditions](https://docs.wagtail.org/en/v4.0.4/advanced_topics/images/image_file_formats.html#customising-output-formats)

## [Caching](https://docs.wagtail.org/en/stable/advanced_topics/performance.html#caching-image-renditions)

### Use `memcached`

**Docker**
[code]

**base.py under CACHES**

[code]

**requirements.txt**

`pymemcache>=3.5

[2022-10-19 16:14] SimonMurphyDI opened #1248 "Excluding main office IP addresses from analytics"
**Is your feature request related to a problem? Please describe.**
We currently don't know to what degree we're inflating our analytics, which means we might be making decisions without correct data

**Describe the solution you'd like**
For us to limit our own impact on analytics

**Describe alternatives you've considered**
Not sure there are any

**Additional context**
I'm not sure how easy this

[2022-10-19 16:17] edwinmp commented on #1248
Since a lot of us work from home as a lot, we'll need to exclude those as well. As practice, we'll also make sure to clean any test data for when we make such changes. @SimonMurphyDI in case we forget, feel free to raise it on any analytics tickets before approving.

[2022-10-19 16:20] edwinmp commented on #1248
[Resource](https://www.analyticsmania.com/post/how-to-exclude-internal-traffic-in-google-analytics-4/) - Step 2 seems to fit our use case @davidebukali @ThatcherK

[2022-10-20 08:34] SimonMurphyDI commented on #1001
@edwinmp I guess we should set up a tag for 'show chapter contents', and keen to check that 'request a hard copy' in the banner is optional (as we won't always have one)

![image](https://user-images.githubusercontent.com/22001094/196898682-472f32ed-0031-4073-b93f-c537e6f8f90d.png)

[2022-10-20 10:17] SimonMurphyDI commented on #1001
(and yes, we'd like the 'jump to section' to be included as well) - thanks!

[2022-10-20 15:18] LCowie opened #1249 "Anchor link functionality"
**Is your feature request related to a problem? Please describe.**
The anchor link function on the website isn't currently working but it would be a useful tool in current and future publications. We would usually expect to be able to insert an anchor without needing to select specific text, but rather a point on the page, exactly like the current footnote system.

**Describe the solution you'd li

[2022-10-20 15:56] edwinmp commented on #1249
The anchor link function is working as intended. It links to existing anchors. So I'd say this is an enhancement not a bug i.e. you need a better way to create anchors.

It's possible to inline an anchor within the WYSIWYG editor, but you'll still need to select specific text that a user will click on in order to jump to that anchor, and for this, you'll need the current anchor link feature. This

[2022-10-20 22:49] edwinmp commented on #1001
@SimonMurphyDI one of the differences is the absence of the download button for template B. Do I leave that out here or have it as below?
<img width="934" alt="image" src="https://user-images.githubusercontent.com/5672438/197073546-19e6958a-47be-47a4-856f-4f0ab3666977.png">

You can test the full template [here](https://dev.devinit.org/resources/global-humanitarian-assistance-report-2021/)

[2022-10-21 09:25] SimonMurphyDI commented on #1001
Thanks - let's keep it for now. Once the page launches we can turn hotjar onto this page and see whether it's being used on the heatmaps, and then remove if we want to

[2022-10-21 14:06] edwinmp commented on #1001
@SimonMurphyDI this is now live ... let me see if @davidebukali  can do some magic on the analytics. Could you please write something up in a comment that covers all you need monitored.

[2022-10-21 14:12] edwinmp opened #1251 "Throttle admin error emails"
They can be overwhelming at times, so a throttle would be useful
[Resource](https://stackoverflow.com/questions/2052284/how-to-throttle-django-error-emails)

[2022-10-21 14:16] edwinmp opened #1252 "Log Exceptions to Slack"
[Resource](https://django-slack.readthedocs.io/)

[2022-10-27 16:10] LCowie commented on #1249
Many thanks Edwin, please let me know when those changes have been made.

All best,

Lucy

Lucy Cowie | Content & Publications Officer

I work Mondays, Tuesdays and Thursdays
Development Initiatives, First Floor Centre, The Quorum, Bond Street South, Bristol, BS1 3AE, UK
T: +44 (0) 1179 272 505

At DI we value and respect flexible work arrangements. I choose to work flexibly and sometimes send ema

[2022-10-28 06:36] edwinmp commented on #1249
@LCowie  As I mentioned, this change would be a challenge and it's not disappointed ... been on it all week and it's a proper headache. Since you seem to need it urgently and I'll be on leave next week, I'll deploy what I've managed to get done which is mostly half-baked (but it works). I'll improve it later.

[2022-10-28 07:39] edwinmp commented on #1249
I've deployed the change on [dev](https://dev.devinit.org/admin/). Please note that this cannot work without selecting some text to attach the anchor to. I tried, it just doesn't work even if the anchored element exists.
Anyway, here's how it works.

https://user-images.githubusercontent.com/5672438/198530351-5a4d6006-5d0f-4fa8-8727-db1eedd6acdb.mov

Have a test and let me know if that's satisfact

[2022-10-28 07:44] edwinmp commented on #1249
Point of improvement is that you cannot edit or smoothly remove the anchor as you would with the footnotes. You'd need to delete the text with the anchor and recreate it.

[2022-11-03 19:49] SimonMurphyDI opened #1254 "Amending resources so the hero shows on the resource page itself, not just the listing"
**Is your feature request related to a problem? Please describe.**
At the moment, the hero for a short publication appears on the listing page, [like this](https://devinit.org/resources/?nav=header), but it's not then visible to users who have gone to the page directly - say from a tweet or email link. This is a missed opportunity to give readers an idea of what content there is in our short publi

[2022-11-07 09:34] #1222 closed

[2022-11-07 09:35] #1001 closed

[2022-11-07 09:37] #1244 closed

[2022-11-07 11:04] LCowie commented on #1249
Hi Edwin,

Many thanks for sending this video, the anchor link functionality seems better with this approach. Please can you deploy it on the live site?

All best,

Lucy

Lucy Cowie | Content & Publications Officer

I work Mondays, Tuesdays and Thursdays
Development Initiatives, First Floor Centre, The Quorum, Bond Street South, Bristol, BS1 3AE, UK
T: +44 (0) 1179 272 505

At DI we value and resp

[2022-11-07 14:09] edwinmp commented on #1249
@davidebukali will you let @LCowie know when this is live.

[2022-11-08 06:47] davidebukali commented on #1249
@LCowie this is now [live](https://devinit.org/admin/pages/2445/edit/)

[2022-11-10 09:23] #1249 closed

[2022-11-15 16:55] LCowie opened #1259 "Urgent (needed for Thurs 17th Nov): Please add table content blocks to blog pages"
Please can you add table content blocks as an option on blog pages? At the moment tables can only be uploaded to blogs in the infographic content block and this requires an image to be uploaded as well as the data for the table.

Requested delivery date: by the 17/11/2022

We are in the process of uploading a blog with a table and the intended publication date of the blog is this Thursday 17th Nov

[2022-11-15 18:43] edwinmp commented on #1259
@davidebukali @ThatcherK could one of you look into this.

[2022-11-16 12:55] ThatcherK commented on #1259
Hi @LCowie this is done and ready for testing on staging

[2022-11-17 09:26] LCowie commented on #1259
Brilliant, thank you. Please can you send me a link and a password for the staging site?

All best,

Lucy

Lucy Cowie | Content & Publications Officer

I work Mondays, Tuesdays and Thursdays
Development Initiatives, First Floor Centre, The Quorum, Bond Street South, Bristol, BS1 3AE, UK
T: +44 (0) 1179 272 505

At DI we value and respect flexible work arrangements. I choose to work flexibly and so

[2022-11-17 10:13] LCowie opened #1261 "Reducing space between accordions/anchor links and surrounding text"
In the current page layout, there are large spaces between accordion blocks and surrounding text. This also applies to anchor links - there are large spaces between anchor links and surrounding text too.

Please can you reduce the size of the spacing between accordions/anchor links and the text that precedes or follows them? This will make outputs appear more compact visually.

Requested Delivery

[2022-11-17 14:42] EmmawDI opened #1262 "Relatively high priority - changing width of infographic content block within Case Study block"
Hello -- as you can see from the below screengrabs, there is an issue when using Infographic content blocks within Case Study content blocks, as the former are much wider and therefore disrupt the flow of the box. At 100% there is a lot of blank space, so it doesn't seem that the image is the issue. Would it be possible to limit the width of the Infographic content block **within the Case Study bl

[2022-11-17 15:01] edwinmp commented on #1262
@EmmawDI infographics where always designed to take up more space than their surrounding text. See the original publication page design [here](https://development-initiatives.surge.sh/page-templates/14-1-publication-long-form).
I need to be sure that you want this to be a permanent change for all pages. If not, I suggest a less permanent option which is to add a config on the CMS that gives u cont

[2022-11-17 15:38] EmmawDI commented on #1262
Hi @edwinmp thank you for getting to this so quickly - I'm happy to explore the less permanent option as we don't have infographics in case study blocks very often

[2022-11-17 16:44] EmmawDI commented on #1199
Apologies I had not had a chance to look at this before - I think the principle of this is good, but on the Dev site it doesn't seem to be working for me. I've tested it here https://dev.devinit.org/admin/pages/2245/edit/

[2022-11-17 16:50] edwinmp commented on #1199
@EmmawDI  You left spaces. I've fixed the one you added. Please test again elsewhere and be sure not to have any spaces between the `[]()`. The containing text within the brackets can have spaces, but there can be no spaces between the square brackets and the curved brackets.

[2022-11-17 16:56] EmmawDI commented on #1199
Ah great - thanks so much. I think this is a really useful option to have for endnotes, so it would be great if you could deploy to the live site when you have a chance?

[2022-11-17 17:16] edwinmp commented on #1199
It was closed before, so it should already be live. Please close the ticket once you confirm.

[2022-11-18 08:34] #1199 closed

[2022-11-21 09:29] k8hughes commented on #1262
@EmmawDI sorry we couldn't get to this in time for your report launch today.  @ThatcherK is going to work on it later today and will be in touch.

[2022-11-21 09:31] EmmawDI commented on #1262
@k8hughes that's ok - publication has actually been pushed to tomorrow (not because of this) but it's not a roadblock on publishing either way. Thank you for the update!

[2022-11-24 11:19] ThatcherK commented on #1262
Hi @EmmawDI this is ready for testing on staging [here](https://dev.devinit.org/), there is a field that has been added to the infographic called Full width, it's checked by default, but if you want the infographic width to match the other content you will have to uncheck it.

[2022-11-24 12:02] EmmawDI commented on #1262
Hi @ThatcherK thank you - this looks really helpful and I think it will help this issue, please deploy  when you can :)

[2022-11-30 08:58] SimonMurphyDI commented on #1147
Hello @davidebukali Just used this and it's working well - there's one small change I suggest. At the moment the content is ordered older to newer (left to right) - can we swap this so the newest bit of the content is on the left hand side, so it's the first thing users see?

Thanks!

![image](https://user-images.githubusercontent.com/22001094/204751975-93d9b148-15a0-41d6-857d-4ebc688430ca.png)

[2022-11-30 11:00] davidebukali opened #1269 "Update order of related content"
**Is your feature request related to a problem? Please describe.**
We would like related content to be ordered from newest to oldest. More [here](https://github.com/devinit/DIwebsite-redesign/issues/1147#issuecomment-1331831573)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descript

[2022-11-30 11:01] davidebukali commented on #1147
@SimonMurphyDI I've created an issue [here](https://github.com/devinit/DIwebsite-redesign/issues/1269)