[2019-11-15 14:25] k8hughes opened #399 "Improvements to SEO"
Check the promote tab of the imported content.
* Blogs
* Publications
* Events
* Team

[2019-11-15 14:30] AnnaHope opened #400 "Map default view in what we do, 'where we work' subsection needs to be more zoomed in"
Hey @edwinmp! Sorry to be a pain, but now we are putting countries in, we've noticed that the level of zoom and the area covered as the default in the map in the what we do page under the where we work subsection doesn't look right. Can it be changed from what it is now to reflect the level of zoom and also positioning show in the second image below?:

What it is now:
![image](https://user-images.

[2019-11-15 14:40] akmiller01 commented on #400
This may be something for cross-browser testing @benjamincoleman and @AnnaHope

My default view looks like your desired one
![image](https://user-images.githubusercontent.com/2836840/68951414-faee6f00-078b-11ea-9030-0d2eca0d0cef.png)

[2019-11-15 14:43] edwinmp commented on #400
Mine too... the current configuration is set to automatically adjust the zoom level to show all the available markers without zooming in or out too much... if we hardcode a zoom level, it'll likely break this.

[2019-11-15 14:44] edwinmp commented on #400
I've tested this page on Chrome, Safari and Firefox with identical results.

[2019-11-15 14:46] akmiller01 commented on #400
My bet would be that it's highly dependent on screen resolution at time of load @edwinmp

[2019-11-15 14:48] akmiller01 commented on #400
It's particularly bad when screen height is larger than screen width. Seen here testing in iPad resolution:
![image](https://user-images.githubusercontent.com/2836840/68952017-22920700-078d-11ea-89fd-1bc6e52c1e95.png)

[2019-11-15 14:59] edwinmp commented on #400
Ah, right ... still, I don't think that can be helped... the next zoom level would cut out one of the markers.

[2019-11-15 15:16] jamesharle opened #401 "Change mannequin icon to quote icon"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
On the data page, the quote we've selected appears next to an icon of a mannequin because we don't have an image of the person being q

[2019-11-15 15:17] jamesharle commented on #401
Sorry, should have added the suggested new icon. It's this:
![quotes-01](https://user-images.githubusercontent.com/43270042/68954011-07d68700-07bb-11ea-8685-7ae044b79bfc.png)

[2019-11-15 15:47] akmiller01 commented on #391
So the XLSX spreadsheet drives the Geography metadata section on each page. But the actual dropdown is driven by the CMS only.

[2019-11-15 15:48] akmiller01 commented on #390
@AnnaHope asked me to decouple the Topics from the XLSX spreadsheet, so the Comms team will enter topics in the CMS.

[2019-11-15 15:50] akmiller01 commented on #401
@jamesharle you can upload that image of the quote under this field:

![image](https://user-images.githubusercontent.com/2836840/68956234-a64ff180-0795-11ea-8355-fb3cddfa881c.png)

If you want to hardcode the quote image as a default, we need to ask @benjamincoleman to include it in the pattern library.

[2019-11-15 15:52] jamesharle commented on #401
@akmiller01 Yeah, imo this would be worth doing - it will always be more appropriate to have this pull through for quotes with no image than the mannequin.

[2019-11-15 17:37] akmiller01 commented on #310
https://github.com/devinit/DIwebsite-redesign/pull/403

[2019-11-15 17:38] akmiller01 commented on #311
@AnnaHope and @alice-mcandrew-development-initatives do we have a date by which we're going to stop adding new content to the old devinit.org for the migration?

[2019-11-15 17:41] akmiller01 commented on #147
This PR makes the metadata fields RichText, which wraps them in <p> elements and makes the font-sizes bigger: https://github.com/devinit/DIwebsite-redesign/pull/402

It's on Develop now if you want to test @k8hughes http://178.128.102.213/data/datasets/proportions-of-cash-and-vouchers-in-humanitarian-cash-and-voucher-assistance-20152018/

There's another bug now where related pages have duplicates

[2019-11-15 19:32] akmiller01 commented on #311
https://github.com/devinit/DIwebsite-redesign/pull/405

[2019-11-18 10:40] alice-mcandrew-development-initatives commented on #250
There doesn't appear to be the option to add a photo credit to images in banner blocks:
![Banner block image credit](https://user-images.githubusercontent.com/55877063/69045751-65ebb000-09ef-11ea-8266-19ea5f6b6b2b.JPG)

This is from the cms for this page: http://159.65.56.142/how-we-work/partnerships-and-collaboration/

[2019-11-18 10:43] edwinmp commented on #250
@alice-mcandrew-development-initatives that's done via the `Meta` field on the banner block ...

![image](https://user-images.githubusercontent.com/5672438/69046122-4eb9bc00-0a09-11ea-985b-0e32f2a0cdb3.png)

[2019-11-18 10:43] edwinmp commented on #250
Oh, or is that only for the text ... hmm... let me verify.

[2019-11-18 10:44] edwinmp commented on #250
Yup, only for the text ... alright, will add a credit field for the image... thanks for logging :) @alice-mcandrew-development-initatives

[2019-11-18 10:58] alice-mcandrew-development-initatives commented on #250
Great, thanks @edwinmp

[2019-11-18 11:02] benjamincoleman opened #406 "Test Homepage"
http://159.65.56.142/

PL: http://development-initiatives.surge.sh/page-templates/02-homepage

[2019-11-18 11:03] benjamincoleman opened #407 "Test Media Centre page"
http://159.65.56.142/media-centre/

PL: http://development-initiatives.surge.sh/page-templates/01d-media-center

[2019-11-18 11:45] benjamincoleman opened #409 "Testing Who We Are page"
http://159.65.56.142/who-we-are/

PL: http://development-initiatives.surge.sh/page-templates/03-who-we-are

[2019-11-18 11:47] benjamincoleman opened #410 "Column count for addresses on Who We Are page"
http://159.65.56.142/who-we-are/

We have 3 addresses at the moment, so the parent class `l-4up` should actually be `l-3up`.

Applies to this module:

![Screen Shot 2019-11-18 at 11 47 19](https://user-images.githubusercontent.com/64877/69050094-3772d280-09f9-11ea-95e0-51cbe30cc445.png)

[2019-11-18 11:49] benjamincoleman opened #411 "Testing Our Story page"
http://159.65.56.142/who-we-are/our-story/

PL: http://development-initiatives.surge.sh/page-templates/04-our-story

[2019-11-18 11:50] benjamincoleman opened #412 "Add content to timeline for Our Story and test it"
http://159.65.56.142/who-we-are/our-story/

http://development-initiatives.surge.sh/page-templates/04-our-story

Content has not been added, and so we cannot test this piece of functionality.

[2019-11-18 11:51] benjamincoleman opened #413 "Testing Our Team page"
http://159.65.56.142/who-we-are/our-team/

PL: http://development-initiatives.surge.sh/page-templates/05-our-team

[2019-11-18 11:53] benjamincoleman opened #414 "Testing Team Member page"
http://159.65.56.142/who-we-are/our-team/amy-cox/

http://159.65.56.142/who-we-are/our-team/cecilia-caio/

PL: http://development-initiatives.surge.sh/page-templates/06-team-member

[2019-11-18 11:54] benjamincoleman opened #415 "Title showing when there is no content"
Should be conditional, and if there's no content by that person don't show the title "Content by Amy Cox".

http://159.65.56.142/who-we-are/our-team/amy-cox/

[2019-11-18 11:56] benjamincoleman opened #416 "PDF download content should also be provided in DOC format for accessibility."
http://159.65.56.142/who-we-are/our-finances/

[2019-11-18 11:59] benjamincoleman opened #417 "Testing What We Do page"
http://159.65.56.142/what-we-do/

PL: http://development-initiatives.surge.sh/page-templates/07-what-we-do

[2019-11-18 12:03] benjamincoleman opened #418 "Consultancy module uses wrong title style"
http://159.65.56.142/what-we-do/

![Screen Shot 2019-11-18 at 12 03 05](https://user-images.githubusercontent.com/64877/69051176-74d85f80-09fb-11ea-884e-69e861d2b7bd.png)

It should look like this:

![Screen Shot 2019-11-18 at 12 04 52](https://user-images.githubusercontent.com/64877/69051234-a94c1b80-09fb-11ea-8130-398b5035542c.png)

as seen in the pattern library - http://development-initiatives

[2019-11-18 12:07] benjamincoleman opened #419 "Testing Focus Areas page"
http://159.65.56.142/what-we-do/our-focus-areas/

PL: http://development-initiatives.surge.sh/page-templates/08-focus-areas

[2019-11-18 12:07] SimonMurphyDI commented on #201
@edwinmp
Just spotted that the shortform publication hero text font display is incorrect colour (grey, rather than white) - this is true for all colour variations.
![image](https://user-images.githubusercontent.com/22001094/69051237-acdfa280-09fb-11ea-8a8d-a91df32f5db4.png)
(FYI I'll be moving this example, the ITEP3 page into a legacy publication) - this is fine on some other shortform publicatio

[2019-11-18 12:08] benjamincoleman opened #420 "Testing Project Page"
http://159.65.56.142/what-we-do/our-focus-areas/inspiring-action-malnutrition/

http://159.65.56.142/what-we-do/our-focus-areas/tracking-progress-poorest-people/

PL: http://development-initiatives.surge.sh/page-templates/08-1-project

[2019-11-18 12:09] benjamincoleman opened #421 "Testing Where We Work page"
http://159.65.56.142/what-we-do/where-we-work/

PL: http://development-initiatives.surge.sh/page-templates/08a-where-we-work

[2019-11-18 12:10] benjamincoleman opened #422 "Testing Place Page"
http://159.65.56.142/what-we-do/where-we-work/our-work-kenya/

http://development-initiatives.surge.sh/page-templates/08-1a-place

[2019-11-18 12:12] benjamincoleman opened #423 "Testing Events Page"
http://159.65.56.142/what-we-do/events/

http://development-initiatives.surge.sh/page-templates/11b-events-listing

[2019-11-18 12:13] benjamincoleman opened #424 "Testing Consultancy Services page"
http://159.65.56.142/what-we-do/consultancy-services/

PL: http://development-initiatives.surge.sh/page-templates/09-consultancy-services

[2019-11-18 12:15] benjamincoleman opened #425 "Testing News Listing page"
http://159.65.56.142/what-we-do/news/

PL: http://development-initiatives.surge.sh/page-templates/11a-news-listing

[2019-11-18 12:17] benjamincoleman opened #426 "Testing News Single page"
http://159.65.56.142/what-we-do/news/development-initiatives-response-uk-voluntary-national-review/

PL: http://development-initiatives.surge.sh/page-templates/12a-news-single

[2019-11-18 12:19] benjamincoleman opened #427 "Testing Event Single page"
http://159.65.56.142/what-we-do/events/financing-crisis-webinar/

http://159.65.56.142/what-we-do/events/bristol-sdgs-bridging-local-global/

PL: http://development-initiatives.surge.sh/page-templates/12b-event-single

[2019-11-18 12:21] benjamincoleman opened #428 "Events listing shows only past events."
http://159.65.56.142/what-we-do/events/

This is odd, we had it as looking at future events, but it seems to have been employed for listing past events.

[2019-11-18 12:23] benjamincoleman opened #429 "Balance of "How We Work" Section"
Ethical and Responsible / Open and transparent don't have their own pages as we'd planned in the IA.

Partnerships does, but it's there on its own.

[2019-11-18 12:35] alice-mcandrew-development-initatives commented on #311
@akmiller01 I've confirmed with Anna and Simon that now is a good time to migrate the content. We have something to publish on 25th but nothing else planned in the near future except potentially a couple of blogs, and we could just create new pages for these when/if needed.

[2019-11-18 14:02] akmiller01 commented on #380
Hey @riahasler-DI what's up with this issue? It looks like someone deleted all of the footer sections from staging? http://178.128.102.213/admin/snippets/home/footersection/

[2019-11-18 14:04] riahasler-DI commented on #380
@akmiller01 I accidentally moved this to done by closing the issue, then moved it back to Comms Review as I wanted to check with Anna that the issue had been fixed.

[2019-11-18 14:13] urlsangel opened #430 "500 error incorrect template"
http://159.65.56.142/admin/password_reset/

Chrome/Mac

#### 500 error incorrect template

Try resetting password from login screen, causes 500 error, template doesn't match pattern library: http://development-initiatives.surge.sh/page-templates/e2-500

[2019-11-18 14:15] urlsangel opened #431 "Admin password action causes 500 error"
http://159.65.56.142/admin/password_reset/

Chrome/Mac

#### Admin password action causes 500 error

No password reset email is sent.

![Screenshot 2019-11-18 at 14 15 11](https://user-images.githubusercontent.com/560463/69059679-e1f4f080-0a0d-11ea-99e0-fcfc03d933fc.png)

[2019-11-18 14:20] urlsangel opened #432 "Favicon not configured correctly"
http://159.65.56.142/

Chrome/Mac

#### Favicon not configured correctly

Chrome displays default favicon.

![Screenshot 2019-11-18 at 14 19 17](https://user-images.githubusercontent.com/560463/69060008-82e3ab80-0a0e-11ea-862e-5fa9513727bd.png)

[2019-11-18 14:20] edwinmp commented on #201
@SimonMurphyDI could you please share the link to that page. I haven't been able to replicate it in other short publication pages

[2019-11-18 14:24] urlsangel opened #433 "Metadata in <head> missing"
http://159.65.56.142/

Chrome/Mac

#### Metadata in `<head>` missing

Missing or incorrect metadata:

- Title/SEO title
- Meta description
- Social graph metadata and image, e.g. Facebook Opengraph/Twitter

[2019-11-18 14:28] urlsangel opened #434 "Single CSS file served, could be progressively enhanced"
http://159.65.56.142/

Chrome/Mac

#### Single CSS file served, could be progressively enhanced

A single `screen.min.css` file is being served - this likely could be split into two, so that a `basic` CSS file serves a reduced but functional design to older browsers, with modern browsers being served the enhanced `screen` style sheet.

See https://globalnutritionreport.org/ for a working example.

[2019-11-18 14:45] urlsangel opened #435 "Static assets not using any hashing algorithm to enable caching"
http://159.65.56.142/

Mac/Chrome

#### Static assets not using any hashing algorithm to enable caching

Static assets such as `/assets/css/screen.min.css` and `/assets/js/app.bundle.js` are not being served with via [ManifestStaticFilesStorage](https://docs.djangoproject.com/en/2.2/ref/contrib/staticfiles/#manifeststaticfilesstorage) or a wrapper such as [WhiteNoise](http://whitenoise.evans.io/en

[2019-11-18 14:49] urlsangel opened #436 "Missing robots.txt file"
http://159.65.56.142/robots.txt

Chrome/Mac

#### Missing robots.txt file

[2019-11-18 14:55] SimonMurphyDI commented on #201
@edwinmp neither can I now - sorry, will keep an eye out and let you know if it occurs again
Best
Simon

[2019-11-18 15:12] alice-mcandrew-development-initatives opened #437 "Adding more than one data download to legacy publication"
## I'm submitting a ...
[X] Bug report

**Describe the Issue**
We cannot add more than once data download to the bottom of this legacy publication page: http://159.65.56.142/admin/pages/986/edit/

**Screenshots/GIF**
![Data downloads](https://user-images.githubusercontent.com/55877063/69064213-b70e9a80-0a15-11ea-9845-c60fbacea0cd.png)

[2019-11-18 15:17] urlsangel opened #438 "Background hero image not responsive"
http://159.65.56.142/

Chrome/Mac

#### Background hero image not responsive

The background image served for the hero has no responsive implementation, meaning that the same image is served whether the user is viewing on a mobile, tablet, or desktop browser.

In the case of the homepage, the image being served is 1600 pixels wide `http://159.65.56.142//media/images/South_Sudan_2014.2e16d0ba.fill-

[2019-11-18 15:31] akmiller01 commented on #437
It's a weird holdover from the GNR website. Fixed here: https://github.com/devinit/DIwebsite-redesign/pull/439

[2019-11-18 15:32] urlsangel opened #440 "Rogue <br> tag in hero title"
http://159.65.56.142/media-centre/

Chrome/Mac

#### Rogue `<br>` tag in hero title

Markup contains a `<br>` tag after the hero title, causing extra height of the hero element.

[code]

[2019-11-18 15:53] urlsangel opened #441 "Images not responsive"
http://159.65.56.142/media-centre/

Chrome/Mac

#### Images not responsive

Related to: #438

Images served with the `img` tag do not utilise `scrset` for multiple image sizes targeted at different screen sizes/pixel densities.

As and example, the "Spokespeople" module serves an image that is 200 pixels wide, e.g. `/media/images/Harpinder-Collacott-e14507967.036e0088.fill-200x200-c100.jpg`.

This

[2019-11-18 15:56] urlsangel opened #442 "Pagination displayed even though there is only one page"
http://159.65.56.142/media-centre/

Chrome/Mac

#### Pagination displayed even though there is only one page

If there is only one page, displaying pagination is not required.

![Screenshot 2019-11-18 at 15 54 56](https://user-images.githubusercontent.com/560463/69068017-f93ada80-0a1b-11ea-984e-5d165bb8de26.png)

[2019-11-18 16:08] urlsangel opened #443 "Different text output format for quotee in call out box"
http://159.65.56.142/who-we-are/

Chrome/Mac

#### Different text output format for quotee in call out box

The [pattern library](http://development-initiatives.surge.sh/page-templates/03-who-we-are) format for the quotee in the call out box is:

![Screenshot 2019-11-18 at 16 05 17](https://user-images.githubusercontent.com/560463/69068928-8894bd80-0a1d-11ea-873b-131611d541fe.png)

The [dev implem

[2019-11-18 16:24] urlsangel opened #444 ""More about" list doesn't contain parent page"
http://159.65.56.142/who-we-are/our-story/

Chrome/Mac

#### "More about" list doesn't contain parent page

The [pattern library](http://development-initiatives.surge.sh/page-templates/04-our-story) shows the parent page "Who we are" in the "More about" list:

![Screenshot 2019-11-18 at 16 21 44](https://user-images.githubusercontent.com/560463/69070268-c266c380-0a1f-11ea-8687-8d26a8bbbd37.png)

T

[2019-11-18 16:39] benjamincoleman opened #445 "Testing Publications Listing"
http://159.65.56.142/publication/

PL: http://development-initiatives.surge.sh/page-templates/13-publications

[2019-11-18 16:39] benjamincoleman opened #446 "Publications has wrong URL - should be 'publications'"
Currently the URL for the publications is http://159.65.56.142/publication/

It should be plural

[2019-11-18 16:42] benjamincoleman opened #447 "Testing long form report summary"
http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/

PL: http://development-initiatives.surge.sh/page-templates/14-publication-summary

[2019-11-18 16:44] benjamincoleman opened #448 "Testing long form report chapter"
- http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/executive-summary/
- http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/
- http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/international-humanitarian-assistance/
- http://159.65.56.142/publication/global-humanitarian-assistance-re

[2019-11-18 16:46] benjamincoleman opened #449 "Testing short form publication"
http://159.65.56.142/publication/innovative-financing-refugee-situations/

http://development-initiatives.surge.sh/page-templates/14-1a-publication-short-form

Looks to have used the wrong template here.

[2019-11-18 16:47] benjamincoleman opened #450 "Test Blog Listing"
http://159.65.56.142/blog/

PL: http://development-initiatives.surge.sh/page-templates/11-blog-listing

[2019-11-18 16:48] benjamincoleman opened #451 "Blog taxonomies have exploded in number"

[2019-11-18 16:51] urlsangel opened #453 "Hero image credit opens in new window using target="blank""
http://159.65.56.142/

Chrome/Mac

#### Hero image credit opens in new window using `target="blank"`

This behaviour would fall under one of the "bad" reasons to do this listed here:

https://css-tricks.com/use-target_blank/

[2019-11-18 16:54] benjamincoleman opened #455 "Test Blog Single"
http://159.65.56.142/blog/priorities-uks-incoming-secretary-state-alok-sharma/

http://159.65.56.142/blog/review-delivery-global-goals-immediate-priorities-uk-government/

http://159.65.56.142/blog/future-humanitarian-transparency-assembling-big-picture/

http://development-initiatives.surge.sh/page-templates/12-blog-single

http://development-initiatives.surge.sh/page-templates/12a-blog-single-gu

[2019-11-18 16:59] urlsangel opened #457 "Team filter default should be something like "All team members""
http://159.65.56.142/who-we-are/our-team/?team-filter=

Chrome/Mac

#### Team filter default should be something like "All team members"

The default/unselected state of the filter is "Filter by department".

If a visitor lands on a filtered page such as `http://159.65.56.142/who-we-are/our-team/?team-filter=board-members` (or has filtered the page themselves), it is not obvious that the top "Filt

[2019-11-18 17:00] benjamincoleman opened #458 "Test Work For Us page"
http://159.65.56.142/work-for-us/

PL: http://development-initiatives.surge.sh/page-templates/16-work-for-us

[2019-11-18 17:01] benjamincoleman opened #459 "Test Vacancies Listing page"
http://159.65.56.142/work-for-us/vacancies/

PL: http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

[2019-11-18 17:01] benjamincoleman opened #460 "Test Vacancies Single"
http://159.65.56.142/work-for-us/vacancies/test-job/

PL: http://development-initiatives.surge.sh/page-templates/19-vacancy-single

[2019-11-18 17:03] urlsangel opened #461 "Inconsistent image quality on team page"
http://159.65.56.142/who-we-are/our-team/

Chrome/Mac

#### Inconsistent image quality on team page

The image quality differs wildly on the team page, with some team member shots appearing very grainy (which is likely down to low resolution source images rather than development implementation).

Would recommend sourcing higher resolution images where possible.

[2019-11-18 17:03] benjamincoleman opened #462 "Test Contact page"
http://159.65.56.142/contact-us/

http://development-initiatives.surge.sh/page-templates/20-contact

Addresses should use `3col` if there's only three of them.

[2019-11-18 17:07] #342 closed

[2019-11-18 17:50] akmiller01 commented on #205
Think this should sort us: https://github.com/devinit/DIwebsite-redesign/pull/456

[2019-11-18 17:51] akmiller01 commented on #205
As long as your Env variables are correct @Napho :P Relying on the CELERY_BROKER_URL to be formatted correctly, but I cannot see what you set it as.

[2019-11-18 18:10] akmiller01 commented on #39
Did this ever make it into a fix/misc @edwinmp ?

[2019-11-18 18:12] akmiller01 commented on #410
How high do the column counts go @benjamincoleman ? Is 4 the maximum? We could write template tag that outputs the class as l-1up through l-4up depending on the length of the number of offices...

[2019-11-18 18:19] akmiller01 commented on #415
https://github.com/devinit/DIwebsite-redesign/pull/463

[2019-11-18 18:22] akmiller01 commented on #418
@alice-mcandrew-development-initatives Could you use the heading box instead of creating a title in the RichText?

![image](https://user-images.githubusercontent.com/2836840/69078732-7d826300-0a06-11ea-8c2d-8e6cdb2862fe.png)

[2019-11-18 18:23] akmiller01 commented on #446
Done. Please note this may affect URLs linked in subsequent bug reports.

[2019-11-18 18:26] akmiller01 commented on #440
https://github.com/devinit/DIwebsite-redesign/pull/464

[2019-11-18 18:55] akmiller01 commented on #441
Generally replaced most instances of `{% image ...` with `{% responsiveimage ...` and a relevant global srcset. Is this what you had in mind @urlsangel ? https://github.com/devinit/DIwebsite-redesign/pull/465

[2019-11-18 19:17] akmiller01 commented on #438
Also fulfilled by https://github.com/devinit/DIwebsite-redesign/pull/465

[2019-11-18 19:36] akmiller01 commented on #436
https://github.com/devinit/DIwebsite-redesign/pull/466

[2019-11-18 19:47] akmiller01 commented on #442
https://github.com/devinit/DIwebsite-redesign/pull/467

[2019-11-18 21:03] akmiller01 commented on #433
https://github.com/devinit/DIwebsite-redesign/pull/468

[2019-11-18 21:14] akmiller01 commented on #433
Here now since Travis was refusing to clone the previous branch: https://github.com/devinit/DIwebsite-redesign/pull/469

[2019-11-19 01:50] akmiller01 commented on #441
Are responsive images a big server processing draw @urlsangel ? This page has maybe 70 images on it and it's timing out now that they've all been implemented as responsive... http://159.65.56.142/who-we-are/our-team/

[2019-11-19 09:06] edwinmp commented on #39
Yes it did @akmiller01

[2019-11-19 09:29] urlsangel commented on #441
In general yes, although `srcset`s will usually work best if they the pattern library template is used to work out the various widths and viewport percentages required.

[2019-11-19 09:30] urlsangel commented on #441
It'll be the number of images x the number of `srcset` sources, so it may well time out on first run.

Once they're created that's it though, so it'll just be on new image additions which should be fine.

[2019-11-19 09:37] urlsangel commented on #436
@akmiller01 @edwinmp

Not sure if you'd be concerned or not, but I think your current implementation would leave non-www servers such as `dev` and `staging` indexable when serving the same `robots.txt` to all sites (although if password protected that shouldn't be an issue).

We serve different files on the GNR site to combat this:

https://github.com/devinit/gnr-website/blob/master/gnr/urls.py#L3

[2019-11-19 09:39] riahasler-DI opened #471 "No search function when selecting a publication download"
## I'm submitting a ...
Bug or issue with the CMS.
**Describe the Issue**
When adding a publication download to a publication page, there is no search filter. This means we have to manually search and click through all the publications we have added on the publication download snippets. This will get more difficult as we add more snippets to the CMS as we will have more to search through.

**Expec

[2019-11-19 09:45] alice-mcandrew-development-initatives commented on #418
Done :)

[2019-11-19 09:45] #418 closed

[2019-11-19 09:46] riahasler-DI opened #472 "Adding publication date to blogs"
## I'm submitting a ...
Bug or issue with the CMS

**Describe the Issue**
On Publication pages you can edit the date that a report was published, however, on blogs pages you can't. The date does appear on blogs but there is no where on the CMS to edit the "published date".  I want to add a blog to the website from 2014 but if I can't edit the publication date I'm worried it would appear as the mos

[2019-11-19 09:55] urlsangel commented on #441
@akmiller01

The Media Centre is a good example of where a generic `srcset` can cause problems - the images are cut off at desktop width:

![159 65 56 142_media-centre_ (1)](https://user-images.githubusercontent.com/560463/69136386-a9f3b900-0ab2-11ea-8684-9d16b769ab05.png)

[2019-11-19 10:00] urlsangel commented on #433
@akmiller01

It looks like this is issue is a work in progress?

In case it's not, I'm still not seeing :

* `<meta name="description" content="...">`
* Facebook OG/Twitter metadata

[2019-11-19 10:10] urlsangel commented on #441
Sorry @akmiller01 - more comments, I'll add them to this issue rather than creating new issues.

The following page templates have the `srcset` attribute on team member images, but no `srcset` content:

* [Our team](http://159.65.56.142/who-we-are/our-team/)
* [Team member](http://159.65.56.142/who-we-are/our-team/cecilia-caio/)

![Screenshot 2019-11-19 at 10 10 31](https://user-images.githubuserc

[2019-11-19 10:33] benjamincoleman opened #474 "Testing Data page"
http://159.65.56.142/data/

PL: http://development-initiatives.surge.sh/page-templates/21-data-section

[2019-11-19 10:34] benjamincoleman opened #475 "Testing Data Listing page"
http://159.65.56.142/data/datasets/

PL: http://development-initiatives.surge.sh/page-templates/21-1-dataset-listing

[2019-11-19 10:36] urlsangel opened #476 "Team member content looks structured but isn't"
http://159.65.56.142/who-we-are/our-team/daniel-coppard/

Chrome/Mac

#### Team member content looks structured but isn't

Team member pages appear to follow a structure with sections such as the following:

* Start date with DI
* Where I am based
* What I do
* Previous experience

These is in actual fact unstructured rich text content, so for consistency and good SEO practice (should be `<h3>`s r

[2019-11-19 10:38] benjamincoleman opened #477 "Testing Data Single page"
http://159.65.56.142/data/datasets/oda-loan-repayments-from-developing-countries-to-top-8-dac-donor-recipients-2016/

http://159.65.56.142/data/datasets/total-international-humanitarian-assistance-for-cash-and-voucher-programmes-2015-2018/#description

PL: http://development-initiatives.surge.sh/page-templates/21-2-dataset-single

[2019-11-19 10:53] urlsangel opened #478 "Project card caption not contained inside <a>"
http://159.65.56.142/what-we-do/our-focus-areas/

Chrome/Mac

#### Project card caption not contained inside <a>

The `project-card__caption` element should be contained in its previous `<a>` sibling element, rendering outside means the captions aren't aligned with the project image:

![Screenshot 2019-11-19 at 10 50 46](https://user-images.githubusercontent.com/560463/69140550-9f3d2200-0aba-11ea-

[2019-11-19 11:09] urlsangel opened #479 "Project page breadcrumb current/last item has # instead of URL"
http://159.65.56.142/what-we-do/our-focus-areas/inspiring-action-malnutrition/

Chrome/Mac

#### Project page breadcrumb current/last item has `#` instead of page URL

[code]

[2019-11-19 11:22] urlsangel opened #480 "Not enough line height on multi-line button-style link"
http://159.65.56.142/what-we-do/where-we-work/our-work-kenya/

Chrome/Mac

#### Not enough line height on multi-line button-style link

![Screenshot 2019-11-19 at 11 20 12](https://user-images.githubusercontent.com/560463/69142519-e2998f80-0abe-11ea-9a13-1f51c6be44b1.png)

[2019-11-19 11:24] urlsangel opened #481 "No margin between buttons"
http://159.65.56.142/what-we-do/where-we-work/our-work-kenya/

Chrome/Mac

#### No margin between buttons

![Screenshot 2019-11-19 at 11 23 17](https://user-images.githubusercontent.com/560463/69142616-183e7880-0abf-11ea-9060-7c61f3db9655.png)

[2019-11-19 11:27] urlsangel opened #482 "Callout box has reverse layout to pattern library"
http://159.65.56.142/what-we-do/where-we-work/our-work-kenya/

Chrome/Mac

#### Callout box has reverse layout to pattern library

The call out box on the [pattern library template](http://development-initiatives.surge.sh/page-templates/08-1a-place) has the media item aligned right:

![Screenshot 2019-11-19 at 11 25 07](https://user-images.githubusercontent.com/560463/69142796-73706b00-0abf-11ea-8

[2019-11-19 11:42] urlsangel opened #483 "Images missing on consultancy modules"
http://159.65.56.142/what-we-do/consultancy-services/

Chrome/Mac

#### Images missing on consultancy modules

"Development finance" and "Domestic resources" modules don't have images:

![Screenshot 2019-11-19 at 11 41 08](https://user-images.githubusercontent.com/560463/69143743-a287dc00-0ac1-11ea-8494-0711fc9e2105.png)

[2019-11-19 11:47] urlsangel opened #484 "Contact details module doesn't use Firstname Lastname pattern"
http://159.65.56.142/what-we-do/consultancy-services/

Chrome/Mac

#### Contact details module doesn't use Firstname Lastname pattern

The [pattern library template](http://development-initiatives.surge.sh/page-templates/09-consultancy-services) shows the contact details module with a bold `Firstname Lastname` above the telephone number:

![Screenshot 2019-11-19 at 11 45 01](https://user-images.gi

[2019-11-19 13:30] akmiller01 commented on #441
Hm, I'm having trouble seeing any problem in our implementation. Any suggestions @urlsangel ?

[code]

with `global.image_srcs` being:
[code]

[2019-11-19 13:42] akmiller01 commented on #436
Good point! https://github.com/devinit/DIwebsite-redesign/pull/487

[2019-11-19 13:43] akmiller01 commented on #433
Yep still in progress. responsiveimages caused a few CI errors so this branch wasn't passing

[2019-11-19 14:08] urlsangel commented on #441
@alex

Yes, for `<img`> tags, just use the `responsiveimage` tag without capture as a variable:

[code]

[2019-11-19 14:22] k8hughes commented on #480
@BenDarby @benjamincoleman is this a pattern library thing?

[2019-11-19 14:22] k8hughes commented on #481
@BenDarby @benjamincoleman is this a pattern library thing?

[2019-11-19 14:25] k8hughes commented on #400
Does this mean we should close this image as soething we can't improve? @edwinmp @akmiller01

[2019-11-19 14:33] akmiller01 commented on #400
If it's improvable, it would be with @benjamincoleman

[2019-11-19 14:42] urlsangel opened #489 "News hero doesn't match pattern library"
http://159.65.56.142/what-we-do/news/development-initiatives-response-uk-voluntary-national-review/

Chrome/Mac

#### News hero doesn't match pattern library

The hero in the dev implementation is different to the pattern library in two respects:

- The metadata (category, date) is higher in the hero than the design
- It contains excerpt text below the title

(The dev implementation example hero i

[2019-11-19 14:44] k8hughes commented on #250
I can see this in the CMS now for the banner block of a general page

[2019-11-19 14:49] k8hughes commented on #36
We don't have detailed enough content on the dev server to test this so just push it straight through to pre-production.

[2019-11-19 14:49] AnnaHope commented on #400
@benjamincoleman can you help? It really doesn't look good with current zoom levels...feels like it must be an easy one to fix?

[2019-11-19 14:50] alice-mcandrew-development-initatives commented on #483
I've added these missing images: http://159.65.56.142/what-we-do/consultancy-services/

@k8hughes Was there a conscious decision to not have credit captions for images below a certain size?
@AnnaHope ^ This would be a potential issue for licensing, right? Although, perhaps we add this information at the bottom of each box or bottom of the page?

[2019-11-19 14:52] k8hughes commented on #147
So the foprmatting of the text now looks correct, but I've noticed another issue, that might be content rather than code, you'll have to tell me which it is.

The URL here isn't appearing as a link, how do we fix this?
![Screenshot 2019-11-19 at 14 51 29](https://user-images.githubusercontent.com/36768381/69156928-1800a600-0adc-11ea-9c1a-4c571002cca6.png)

[2019-11-19 14:54] akmiller01 commented on #479
https://github.com/devinit/DIwebsite-redesign/pull/491

[2019-11-19 14:54] AnnaHope commented on #483
@alice-mcandrew-development-initatives if the license for the image used states we need to credit the image then we do need to find somewhere to put that credit. In this page I think it would need to go at the end of the description for each area.

[2019-11-19 14:55] alice-mcandrew-development-initatives commented on #484
We are able to do this using the rich text editor:
![Capture](https://user-images.githubusercontent.com/55877063/69157197-86456880-0adc-11ea-8d59-104e2a3035b3.JPG)

[2019-11-19 14:56] #484 closed

[2019-11-19 14:58] urlsangel opened #492 "Empty paragraphs in rich text content"
http://159.65.56.142/what-we-do/news/development-initiatives-response-uk-voluntary-national-review/

Chrome/Mac

#### Empty paragraphs in rich text content

The main content has empty paragraphs, including one at the start:

![Screenshot 2019-11-19 at 14 54 22](https://user-images.githubusercontent.com/560463/69157273-a117dd00-0adc-11ea-8b65-903410d2a75c.png)

This means that the content does not

[2019-11-19 14:58] k8hughes commented on #483
If we need to add an image credit then does this require a pattern library change first @benjamincoleman or can the devs just do it direct in dev?

[2019-11-19 15:00] akmiller01 commented on #147
@k8hughes It's because it was pulled through as text from the XLSX spreadsheet. In code, we could autoformat all URLs as hyperlinks, but that could potentially have unintended consequences. If we want, that field is editable as richtext in the CMS, but since it's a citation, I think it's fine that it's not actually a hyperlink.

I imagine the use-case for most suggested citations is copying and pa

[2019-11-19 15:05] urlsangel commented on #147
@akmiller01 @k8hughes

You could add [Django's `urlize` filter](https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#urlize) to make these into clickable links.

[2019-11-19 15:18] akmiller01 commented on #147
Yep, that's an easy fix @urlsangel https://github.com/devinit/DIwebsite-redesign/pull/493

![image](https://user-images.githubusercontent.com/2836840/69159461-f391d300-0ab5-11ea-9572-fbabaad8b830.png)

I was worried that it would try and doubly-anchor already existing anchors, but it doesn't.

[2019-11-19 15:21] urlsangel opened #494 "Event single hero missing class"
http://159.65.56.142/what-we-do/events/financing-crisis-webinar/

Chrome/Mac

#### Event single hero missing class

[Pattern library template](http://development-initiatives.surge.sh/page-templates/12b-event-single):

`<section class="hero hero--minor">`

[Dev implementation](http://159.65.56.142/what-we-do/events/financing-crisis-webinar/):

`<section class="hero ">`

[2019-11-19 15:21] alice-mcandrew-development-initatives commented on #483
@AnnaHope, I've done this:
![Capture](https://user-images.githubusercontent.com/55877063/69159645-2b157500-0ae0-11ea-932b-9466fe9eaf36.JPG)

If that's OK ^ then no action from devs

[2019-11-19 15:29] urlsangel opened #495 "Event time format doesn't match pattern library"
http://159.65.56.142/what-we-do/events/bristol-sdgs-bridging-local-global/

**Note: this was previewed data, so as not to amend existing data**

Chrome/Mac

#### Event time format doesn't match pattern library

Previewed dev implementation:

![Screenshot 2019-11-19 at 15 26 30](https://user-images.githubusercontent.com/560463/69160298-42a12d80-0ae1-11ea-96bb-e83918817c12.png)

[Pattern library tem

[2019-11-19 15:35] alice-mcandrew-development-initatives commented on #482
We have the option to change this in the cms

[2019-11-19 15:35] #482 closed

[2019-11-19 15:36] AnnaHope opened #496 "Hero text is too high"
The hero text - title and subtitle are too high. The original design makes the image gradiated so it is darker at the bottom and allows white text overlay that is still legible and accessible. This is now not the case. Can we drop it down quite a bit?

Current:
![image](https://user-images.githubusercontent.com/16958942/69160957-4c776080-0ae2-11ea-9bd0-424716ca42db.png)

[2019-11-19 15:40] alice-mcandrew-development-initatives commented on #250
@edwinmp I think we need an additional URL line so that the image credit text forms a hyperlink (as elsewhere)
![Capture](https://user-images.githubusercontent.com/55877063/69161271-cf002000-0ae2-11ea-8397-0b2ba4f3b091.JPG)
At the moment I have nowhere to put the URL for the image credit ^

[2019-11-19 15:41] akmiller01 commented on #496
Maybe this is a screen-size issue again @benjamincoleman ? The text height is matching the pattern library on my screen:

![image](https://user-images.githubusercontent.com/2836840/69161417-212c4b80-0ab9-11ea-8f25-b9a0848ba380.png)

[2019-11-19 15:47] urlsangel opened #497 "Publications filters: resetting and query results"
http://159.65.56.142/publications/

Chrome/Mac

#### Publications filters: resetting and query results

##### Resetting filters
The default values of the publications filter selects are labels rather than values, so it's not clear how you would unset a filtered query.

E.g. if the page was filtered as:

http://159.65.56.142/publications/?topic=about-development-initiatives&country=&q=

It would be

[2019-11-19 15:48] alice-mcandrew-development-initatives commented on #360
This was done :)

[2019-11-19 15:48] #360 closed

[2019-11-19 15:50] alice-mcandrew-development-initatives commented on #145
This content have been added @k8hughes

[2019-11-19 15:53] alice-mcandrew-development-initatives commented on #380
@riahasler-DI It looks done to me so I'm going to close

[2019-11-19 15:53] #380 closed

[2019-11-19 16:00] akmiller01 commented on #441
Hopefully some better srcsets here: https://github.com/devinit/DIwebsite-redesign/pull/498

[2019-11-19 16:06] alice-mcandrew-development-initatives commented on #275
@akmiller01

The following headings need to be changed to sentence case: 'Email address', 'Email format', 'Marketing permissions'
This text also needs changing: 'Policy and engagement', 'Direct mail', 'Customised online advertising'

In addition, the font size below 'Marketing permissions' looks oddly small

![Capture](https://user-images.githubusercontent.com/55877063/69163249-c8bf7300-0ae5-11ea-

[2019-11-19 16:08] alice-mcandrew-development-initatives commented on #446
Looks OK to me - we'll flag any future issues relating to this if we see anything...

[2019-11-19 16:08] #446 closed

[2019-11-19 16:12] akmiller01 commented on #275
What about the D in directors "Non-executive Directors" @alice-mcandrew-development-initatives ?

[2019-11-19 16:16] urlsangel opened #499 "Malformed HTML in publication page template"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/executive-summary/

Chrome/Mac

#### Malformed HTML in publication page template

It looks like there are some missing closing tags in the template, causing `<section>`s to render outside the `<main>` element, and also wrapping the `<footer>`:

![Screenshot 2019-11-19 at 16 13 46](https://user-images.githubusercontent.com

[2019-11-19 16:23] alice-mcandrew-development-initatives commented on #275
Yes, that too! Thank you

[2019-11-19 16:31] akmiller01 commented on #275
https://github.com/devinit/DIwebsite-redesign/pull/500

[2019-11-19 16:38] urlsangel opened #501 "Section ids not present"
http://159.65.56.142/50abe0#section-3-1

Chrome/Mac

#### Section ids not present

Deep linking to sections via ids doesn't work when sharing content or using the chapter navigation - it appears that section ids are not present in the markup.

[2019-11-19 16:42] urlsangel opened #502 "Publication hero format doesn't match pattern library"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/

Chrome/Mac

#### Publication hero format doesn't match pattern library

The [pattern library template](http://development-initiatives.surge.sh/page-templates/14-1c-publication-long-form-yellow) hero has this format:

![Screenshot 2019-11-19 at 16 39 18](https://user-images.githubus

[2019-11-19 16:52] urlsangel opened #503 "Publication footnotes: highlighting, sharing and return to source"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/#note-m_6PHa2f2

Chrome/Mac

#### Publication footnotes: highlighting, sharing and return to source

##### Highlighting

There is no highlight class on the footnotes, which helps to focus the user - a working implementation is here: https://globalnutritionreport.org/reports/global-nu

[2019-11-19 17:16] alice-mcandrew-development-initatives commented on #14
@k8hughes, I'm not sure how to select anything other than a publication to feature on the homepage hero:

![Homepage](https://user-images.githubusercontent.com/55877063/69169375-2953ad80-0af0-11ea-86c0-8b12c37448e2.JPG)

@AnnaHope FYI ^

[2019-11-19 19:00] #440 closed

[2019-11-19 19:02] akmiller01 commented on #205
@Napho can you please double-check the format of CELERY_BROKER_URL? This is the err I'm getting now:
[code]

[2019-11-20 09:16] edwinmp commented on #492
@akmiller01 I think this is happening for imported content only.

[2019-11-20 09:59] k8hughes commented on #14
@benjamincoleman should the implementation of the design allow for content other than publications to feature on the homepage?

[2019-11-20 10:01] #437 closed

[2019-11-20 10:07] urlsangel commented on #492
@k8hughes @AnnaHope @akmiller01 @edwinmp

Just to clarify, this issue could be viewed as a content problem, but as empty paragraphs could always be entered by CMS editors in the future, and as they have a detrimental effect on the display (particularly the first paragraph style), you can also treat this as a development issue.

There are a couple of mitigations - either strip the empty paragraphs

[2019-11-20 10:09] alice-mcandrew-development-initatives opened #508 "Data sets pulling through to cms but not appearing on page"
Something odd has happened with the datasets on this page (which has not happened consistently everywhere as far as I can tell, but I will note other examples if I find them): http://159.65.56.142/publications/is-the-201920-uganda-budget-pro-poor/

What the pages looks like:
![image](https://user-images.githubusercontent.com/55877063/69229482-62862f00-0b7d-11ea-8205-dc4cf55526db.png)

What the cms

[2019-11-20 10:15] #415 closed

[2019-11-20 10:18] riahasler-DI opened #509 "Issues with short form legacy publication"
There's a few issues with the GHA 2018 legacy publication page where content is either not pulling through or pulling through weirdly. (http://159.65.56.142/publications/global-humanitarian-assistance-report-2018/)
(FYI @alice-mcandrew-development-initatives)

What the page looks like:

![image](https://user-images.githubusercontent.com/56585598/69230145-a4fc3b80-0b7e-11ea-8982-9e1688f22386.png)

[2019-11-20 10:24] benjamincoleman opened #510 "Date + Excerpt"
Differences here

Development Initiatives Pattern Library: http://development-initiatives.surge.sh/page-templates/14-publication-summary

Development Initiatives: http://devinit.org/publications/global-humanitarian-assistance-report-2019/

[2019-11-20 10:26] urlsangel opened #511 "Empty id attribute on <a> tags"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/

Chrome/Mac

#### Empty id attribute on <a> tags

Chapter-type links have an empty `id` attribute on the `<a>` tags, e.g.:

[code]

[2019-11-20 10:40] urlsangel opened #512 "Incorrect HTML on long form report summary"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/

Chrome/Mac

#### Incorrect HTML on long form report summary

##### Additional class on hero

The class `hero--minor` is present on the hero, this should be removed:
https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/templates/includes/heroes/hero-pubs.html#L3

##### Downloads and share block incorrect

[2019-11-20 10:50] urlsangel opened #513 "Invalid <span> wrapper around <div> element in hero"
http://159.65.56.142/publications/innovative-financing-refugee-situations/ - likely applies to multiple hero implementations

Chrome/Mac

#### Invalid `<span>` wrapper around `<div>` element in hero

[code]

[2019-11-20 10:52] urlsangel opened #514 "Empty <h2> heading"
http://159.65.56.142/publications/innovative-financing-refugee-situations/

Chrome/Mac

#### Empty `<h2>` heading

`<h2 class="chapter-block__heading heading type-xl type-s--trailer"></h2>`

[2019-11-20 10:59] urlsangel opened #515 "Incorrect HTML content structure for short form publication"
http://159.65.56.142/publications/innovative-financing-refugee-situations/

Chrome/Mac

#### Incorrect HTML content structure for short form publication

This is the [pattern library template](http://development-initiatives.surge.sh/page-templates/14-1a-publication-short-form) structure:

[code]

This is the [dev implementation](http://159.65.56.142/publications/innovative-financing-refugee-situat

[2019-11-20 11:01] urlsangel commented on #512
The problem noted above "Downloads and share block incorrect class and tag" also applies to the short form publications template, e.g.:

http://159.65.56.142/publications/innovative-financing-refugee-situations/

[2019-11-20 11:12] alice-mcandrew-development-initatives commented on #443
We prefer this without hyphens so are leaving it as it is :)

[2019-11-20 11:12] #443 closed

[2019-11-20 11:14] #444 closed

[2019-11-20 11:16] urlsangel opened #516 "No "All topics" button on blog listing"
http://159.65.56.142/blog/?topic=development-finance

Chrome/Mac

#### No "All topics" button on blog listing

If a user is on the topic-filtered listing, there is no obvious way to get back to an unfiltered list.

Would suggest adding a link labelled "All topics" at the start of the topic list that clears the filters.

![Screenshot 2019-11-20 at 11 13 43](https://user-images.githubusercontent.com

[2019-11-20 11:19] urlsangel opened #517 "Blog author thumbnail cropped on listing item"
http://159.65.56.142/blog/

Chrome/Mac

#### Blog author thumbnail cropped on listing item

[Pattern library template](http://development-initiatives.surge.sh/page-templates/11-blog-listing):

![Screenshot 2019-11-20 at 11 18 15](https://user-images.githubusercontent.com/560463/69234658-96fee880-0b87-11ea-99df-19c4f81aa82f.png)

[Dev implementation](http://159.65.56.142/blog/):

![Screenshot 2019-

[2019-11-20 11:31] alice-mcandrew-development-initatives commented on #472
All of the blogs have now appeared with the date 20 November (as far back as I can tell):
![image](https://user-images.githubusercontent.com/55877063/69235397-3cff2280-0b89-11ea-9e27-fd8114bc7c9f.png)

[2019-11-20 11:32] urlsangel commented on #517
Also applies to "Related content" module in blog page footer:

http://159.65.56.142/blog/review-delivery-global-goals-immediate-priorities-uk-government/

[2019-11-20 11:34] urlsangel opened #518 "Incorrect HTML on blog page"
http://159.65.56.142/blog/priorities-uks-incoming-secretary-state-alok-sharma/

Chrome/Mac

#### Incorrect HTML on blog page

##### Additional class on hero

The class `hero--minor` is present on the hero, this should be removed:
https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/templates/includes/heroes/hero-post.html#L4

[2019-11-20 11:36] alice-mcandrew-development-initatives commented on #416
I think we talked about the need for users to access some content as word documents (especially around recruitment) but we don't have the DOC format for this...

[2019-11-20 11:36] #416 closed

[2019-11-20 11:36] urlsangel commented on #492
This issue also applies to blog article pages, which means that the initial paragraph is not getting the correct style applied, e.g.:

http://159.65.56.142/blog/priorities-uks-incoming-secretary-state-alok-sharma/

[2019-11-20 11:45] urlsangel opened #519 "No author meta on hero on guest blog article"
http://159.65.56.142/blog/future-humanitarian-transparency-assembling-big-picture/

Chrome/Mac

#### No author meta on hero on guest blog article

The [pattern library template](http://development-initiatives.surge.sh/page-templates/12a-blog-single-guest) has a guest author module in the hero:

![Screenshot 2019-11-20 at 11 38 15](https://user-images.githubusercontent.com/560463/69236318-2ce84280-

[2019-11-20 11:46] alice-mcandrew-development-initatives commented on #492
I've amended in this instance: https://github.com/devinit/DIwebsite-redesign/issues/492
Now, it's just something to keep a note of and action wherever we notice?

[2019-11-20 11:54] urlsangel commented on #492
Hi @alice-mcandrew-development-initatives

You can mitigate this from being an issue at all by using an HTML sanitiser as suggested here: https://github.com/devinit/DIwebsite-redesign/issues/492#issuecomment-555933573

[2019-11-20 12:04] benjamincoleman commented on #14
For the hero:

For the Featured Work module:

[2019-11-20 12:06] urlsangel opened #520 "Apply for job description field"
http://159.65.56.142/work-for-us/vacancies/test-job/
http://159.65.56.142/admin/pages/636/edit/

Chrome/Mac

### Apply for job description field

The content contains an email address that is an empty `#` link:

![Screenshot 2019-11-20 at 11 58 17](https://user-images.githubusercontent.com/560463/69237524-cd3f6680-0b8d-11ea-80c4-91ae1cb14663.png)

Trying to edit this link to ensure email links wor

[2019-11-20 12:31] k8hughes commented on #14
@alice-mcandrew-development-initatives so what the developers have done is correct and it follows the design.  Is the design wrong?  What do you want to feature on the hero of the homepage?

[2019-11-20 13:08] akmiller01 commented on #503
Hey @urlsangel are we sure we actually want a SHARE FOOTNOTE feature? I always found this a bit odd to have sharing instead of returning to source. I don't know if any users would actually use sharing.

Also, if we have both together, how is it supposed to look? I coded in a return to source feature, but commented it out because it had no place in the pattern library.

[2019-11-20 13:18] akmiller01 commented on #503
Maybe like so? Two anchors with a <br/> inbetween?

![image](https://user-images.githubusercontent.com/2836840/69242209-5cd51d00-0b6e-11ea-8bdd-507ecaebf9b3.png)

[2019-11-20 13:25] akmiller01 commented on #501
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:25] akmiller01 commented on #503
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:33] akmiller01 commented on #511
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:38] akmiller01 commented on #512
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:40] akmiller01 commented on #513
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:43] akmiller01 commented on #514
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:50] akmiller01 commented on #515
https://github.com/devinit/DIwebsite-redesign/pull/522

[2019-11-20 13:59] akmiller01 commented on #509
https://github.com/devinit/DIwebsite-redesign/pull/522 fixes the report cover. Don't see the line, though!

[2019-11-20 14:04] akmiller01 commented on #499
Sorry if you were working on this one @davidebukali but it made sense to subsume it into #522

[2019-11-20 14:06] akmiller01 commented on #503
@benjamincoleman how does the snapshot above look design-wise?

[2019-11-20 14:11] akmiller01 commented on #517
I just haven't been able to get the responsive images to work on smaller images, so for the moment thumbnail sized things have been reverted: https://github.com/devinit/DIwebsite-redesign/pull/521

[2019-11-20 14:19] urlsangel commented on #503
@akmiller01 @benjamincoleman

"Share footnote" was used in the first iteration of footnotes when linking back to source text wasn't possible.

Once the inline footnotes were developed, the template was amended to remove the share functionality and replace with the return to source link.

My recommendation would be to do the same for this site.

[2019-11-20 14:20] akmiller01 commented on #518
https://github.com/devinit/DIwebsite-redesign/pull/523

[2019-11-20 14:23] akmiller01 commented on #520
Probably a matter of clearing your cache @urlsangel We just updated to Wagtail 2.7 and they changed a lot in the backend. Worked fine for me:

![image](https://user-images.githubusercontent.com/2836840/69246818-6d3dc580-0b77-11ea-856c-82141562936e.png)

[2019-11-20 14:23] #520 closed

[2019-11-20 14:40] urlsangel opened #524 "Rich text editor has footnotes feature on page template that doesn't support footnotes"
http://159.65.56.142/admin/pages/636/edit/

Chrome/Mac

#### Rich text editor has footnotes feature on page template that doesn't support footnotes

This is on the job vacancy page, but may be on others around the site.

Rich text features can be controlled on a per-instance basis, so it's misleading/confusing to include the functionality on a page template that doesn't support footnotes such as j

[2019-11-20 14:45] akmiller01 commented on #519
In this particular case, there's no author so there's no link.

But in general, I think we need a CSS pull @edwinmp tried matching the markup exactly in https://github.com/devinit/DIwebsite-redesign/pull/523 (substituting an <a> for a <div> because it's reused in datasets), and it floats to the left instead of the right:

Pattern library:
![image](https://user-images.githubusercontent.com/2836840/

[2019-11-20 14:47] urlsangel opened #525 "Vacancies list could do with an empty list message"
http://159.65.56.142/work-for-us/vacancies/

Chrome/Mac

#### Vacancies list could do with an empty list message

(Unpublish the current test vacancy to replicate)

If there are no current vacancies in the list, then an alternative message would be helpful - currently the page has an empty space where the list would be:

![Screenshot 2019-11-20 at 14 43 01](https://user-images.githubusercontent.co

[2019-11-20 14:48] akmiller01 commented on #502
Hmm, just looking at this @edwinmp , I know that Publication downloads button was explicitly requested, so we shouldn't remove that.

[2019-11-20 14:55] akmiller01 commented on #503
Done, removed the sharing link.

[2019-11-20 14:57] riahasler-DI commented on #509
@akmiller01 thanks Alex! I managed to resolve the line issue - the publication that was below the others wasn't marked as English.

[2019-11-20 15:00] urlsangel opened #527 "Vacancy subscribe form"
http://159.65.56.142/work-for-us/vacancies/

Chrome/Mac

#### Vacancy subscribe form

Entering an email but not checking the consent box means the form doesn't submit, but there is no indication why. Suggest adding `required` attribute to the consent checkbox.

After successful completion, the success message is posted above the form - the form should be removed from the page:

![Screenshot 2019-1

[2019-11-20 15:07] akmiller01 commented on #502
#522

[2019-11-20 15:07] urlsangel commented on #492
Also applies to this page: http://159.65.56.142/work-for-us/

[2019-11-20 15:19] urlsangel opened #528 "No images in benefits modules"
http://159.65.56.142/work-for-us/

Chrome/Mac

#### No images in benefits modules

Possibly because they are optional?

[Pattern library template](http://development-initiatives.surge.sh/page-templates/16-work-for-us):

![Screenshot 2019-11-20 at 15 15 58](https://user-images.githubusercontent.com/560463/69251254-0f29d600-0ba9-11ea-9521-11ef35691432.png)

[Dev implementation](http://159.65.56.142/

[2019-11-20 15:29] urlsangel opened #529 "Contact us page hero missing `hero--minor` class"
http://159.65.56.142/contact-us/

Chrome/Mac

#### Contact us page hero missing `hero--minor` class

Should be `<section class="hero hero--minor">`.

See: http://development-initiatives.surge.sh/page-templates/20-contact

[2019-11-20 15:36] urlsangel opened #530 "Contact us form"
http://159.65.56.142/contact-us/

Chrome/Mac

#### Contact us form

When submitting the form without a required field, the page refreshes to the top, but no overall error message is visible, just the field errors which are visible when scrolling down through the form:

![Screenshot 2019-11-20 at 15 31 01](https://user-images.githubusercontent.com/560463/69252502-fde1c900-0baa-11ea-92be-492ec8b7881

[2019-11-20 15:44] urlsangel commented on #529
Also applies to data single page: http://159.65.56.142/data/datasets/oda-loan-repayments-from-developing-countries-to-top-8-dac-donor-recipients-2016/

[2019-11-20 15:48] urlsangel opened #531 "Data contact email link not a valid email link"
http://159.65.56.142/data/datasets/oda-loan-repayments-from-developing-countries-to-top-8-dac-donor-recipients-2016/

Chrome/Mac

#### Data contact email link not a valid email link

![Screenshot 2019-11-20 at 15 47 04](https://user-images.githubusercontent.com/560463/69253822-28348600-0bad-11ea-8209-37251ffc1a77.png)

[2019-11-20 16:19] urlsangel opened #532 "Dataset filters"
http://159.65.56.142/data/datasets/

Chrome/Mac

#### Dataset filters

#### Labels vs values
See also this issue for similar issue with label vs value as first option: #497

The filters initial values are labels rather than values as per the issue above, and are not consistent with that implementation (which uses a "Filter by..." convention).

A better implementation would be for the default value

[2019-11-20 16:23] urlsangel opened #533 "Dataset listing"
http://159.65.56.142/data/datasets/?report=&source=&topic=

Chrome/Mac

#### Dataset listing

The metadata on the listing could do with more line height for when the data is multiple lines:

![Screenshot 2019-11-20 at 16 18 11](https://user-images.githubusercontent.com/560463/69256679-c1fe3200-0bb1-11ea-98ec-87e5f5a1fb22.png)

Also, the dev implementation doesn't match the pattern library date for

[2019-11-20 16:46] alice-mcandrew-development-initatives commented on #14
@AnnaHope was expecting content other than publications to be an option for the hero.
At the moment we can't have news, events, blogs or projects:
![image](https://user-images.githubusercontent.com/55877063/69258852-35557300-0bb5-11ea-8841-f6463bc45c3b.png)

[2019-11-20 16:48] alice-mcandrew-development-initatives commented on #14
For feature content, we have these options which I think is fine:
![image](https://user-images.githubusercontent.com/55877063/69259023-7f3e5900-0bb5-11ea-92a2-d7f986056e25.png)

[2019-11-20 16:50] alice-mcandrew-development-initatives commented on #14
@benjamincoleman I think something must have been lost in communication for the desired functionality of the homepage hero?

[2019-11-20 16:52] alice-mcandrew-development-initatives commented on #483
@AnnaHope I'm closing this...

[2019-11-20 16:52] #483 closed

[2019-11-20 16:57] alice-mcandrew-development-initatives commented on #495
@edwinmp I've added the correct time (18:00 to 19:45) for this event.
@k8hughes While I think we need to get the style right for this going forward (for which this is a good test case), I don't think it will be necessary for us to add the time for all historic events (i.e. it's fine if this is blank).

[2019-11-20 17:26] alice-mcandrew-development-initatives commented on #531
@k8hughes I think this is a devs issue because this isn't editable in the cms as far as I can tell

[2019-11-20 17:39] k8hughes commented on #531
As thi is hard coded we need to fix it in dev, please can someone change this to have info@devinit.org

[2019-11-20 17:44] akmiller01 commented on #531
https://github.com/devinit/DIwebsite-redesign/pull/535

[2019-11-21 08:29] edwinmp commented on #14
@benjamincoleman would anything need to change in the design to support having the other content types on the home page hero?

[2019-11-21 09:40] k8hughes commented on #207
We haven't connected to the DDW in the end.

[2019-11-21 09:40] #207 closed

[2019-11-21 09:41] k8hughes commented on #494
Unsure what visually to be looking for here, but it seems ok.

[2019-11-21 09:41] #494 closed

[2019-11-21 10:14] benjamincoleman opened #539 "Large screen logo background"
Background disappears from behind the logo at large screen sizes

![Screen Shot 2019-11-21 at 10 13 39](https://user-images.githubusercontent.com/64877/69328792-cd03a180-0c47-11ea-9edb-b705b51be987.png)

[2019-11-21 10:18] benjamincoleman commented on #14
@alice-mcandrew-development-initatives I'm pretty sure we agreed we'd have publications there - the 'always feature a publication' line came from me asking the question whether you'd have enough publications to consistently fill that hero space throughout the year.

@edwinmp We would need to have design variants. As things are the implementation is not right - the class 'hero--minor' needs to be r

[2019-11-21 11:02] urlsangel opened #541 "Single line date not vertically centred on story timeline buttons"
http://159.65.56.142/who-we-are/our-story/

Chrome/Mac

#### Single line date not vertically centred on story timeline buttons

![Screenshot 2019-11-21 at 11 00 15](https://user-images.githubusercontent.com/560463/69332329-59b15e00-0c4e-11ea-8a75-4c7b183e2e9c.png)

[2019-11-21 11:10] urlsangel opened #542 "Timeline content shows border of previous or next item"
http://159.65.56.142/who-we-are/our-story/

Galaxy (emulated) screen width 360px

#### Timeline content shows border of previous or next item

#### `April 2015` shows border of previous item to left

![Screenshot 2019-11-21 at 11 04 27](https://user-images.githubusercontent.com/560463/69332844-70a48000-0c4f-11ea-9c4a-28b231f2210f.png)

#### `May 2015` shows border of next item to right

![Screensh

[2019-11-21 11:11] AnnaHope opened #543 "Hero subheading is appearing above the title"
Just going through historic publications and spotted all of them are showing the 'hero text' above rather than below the title. The image below shows this, but I'm seeing it on all of the ones I click on.

![image](https://user-images.githubusercontent.com/16958942/69332952-a5b0d280-0c4f-11ea-863e-3e2a3f8028db.png)

[2019-11-21 11:17] urlsangel opened #544 "Download button link needs more line height when wrapping to multiple lines"
http://159.65.56.142/who-we-are/our-story/

iPhone 6 (emulated)

#### Download button link needs more line height when wrapping to multiple lines

Link text needs more line height: "Progress report 2018 PDF 3.6 MB"

![Screenshot 2019-11-21 at 11 14 27](https://user-images.githubusercontent.com/560463/69333339-5e771180-0c50-11ea-9322-032ddfede6fc.png)

[2019-11-21 11:28] urlsangel opened #545 "Bold text bold in Firefox but not Chrome"
http://159.65.56.142/who-we-are/our-team/amy-cox/

Firefox/Mac & Chrome/Mac

#### Bold text bold in Firefox but not Chrome

Also, these are using `<b>` instead of `<strong>`, not sure if that's correct.

##### Firefox rendered HTML:

![Screenshot 2019-11-21 at 11 23 39](https://user-images.githubusercontent.com/560463/69334093-e27dc900-0c51-11ea-92ae-0ec9a8a8869d.png)

##### Chrome rendered HTML:

[2019-11-21 11:30] akmiller01 commented on #543
This is covered by #522 right @edwinmp ?

[2019-11-21 11:37] #492 closed

[2019-11-21 11:43] edwinmp commented on #543
@akmiller01 @AnnaHope supposedly this is how it's supposed to be ... it's how it is on the pattern library and was raised in issue #502

[2019-11-21 12:03] urlsangel commented on #492
@edwinmp

You might want to add `.replace('<p></p>', '')` (without the empty string) to strip completely empty `p` tags as well:

https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/common/templatetags/string_utils.py#L81

This blog article for instance still has empty `p` tags at the start:
http://159.65.56.142/blog/priorities-uks-incoming-secretary-state-alok-sharma/

A regular

[2019-11-21 12:06] edwinmp commented on #492
Ah, true ... though the current one seems to be doing the trick http://178.128.102.213/blog/priorities-uks-incoming-secretary-state-alok-sharma/

[2019-11-21 12:09] AnnaHope commented on #543
@edwinmp hmmm so this is just saying the chapter name/title. But if we are putting a subheading then it should be the same as any other hero with a subheading e.g.

![image](https://user-images.githubusercontent.com/16958942/69336979-acdbde80-0c57-11ea-9ddc-3dd5c26e97bb.png)

If it was designed differently in the pattern library, then that was a flaw in the design because it looks absolutely terri

[2019-11-21 12:11] AnnaHope commented on #543
@edwinmp just looking at what russell sent, that publication was the long form one where the text is denoting chapters, in which case the text does need to be above. So is it that we are misusing the intended purpose of 'hero text' in the cms? @benjamincoleman can you confirm how this is supposed to work and whether we now need to manually delete all the hero text for publications?

[2019-11-21 12:34] edwinmp commented on #528
Hi @alice-mcandrew-development-initatives ... this one's for you. There's a provision for images on the benefits block.

[2019-11-21 12:48] BenDarby commented on #545
@urlsangel that content is wysiwyg but I've updated the `is-typeset` class to include `b` and `strong` so it will display correctly still

[2019-11-21 12:50] BenDarby commented on #544
Increased line height

[2019-11-21 12:55] BenDarby commented on #542
@urlsangel  I'm not seeing this with the emulated Galaxy (360px) in the inspector, it's using a JS library with the slider though. But I did notice the arrows don't appear in desktop for the staging site

[2019-11-21 13:06] BenDarby commented on #541
@urlsangel updated css for this

[2019-11-21 13:09] BenDarby commented on #533
@urlsangel increased line height

[2019-11-21 13:10] edwinmp commented on #527
@davidebukali there seems to be a lot going on in this template since the mail chimp integration. Could you have a look?

[2019-11-21 13:35] benjamincoleman commented on #543
This has the wrong hero.

http://159.65.56.142/publications/measuring-civil-registration-legal-identity/

This post is a **Short form publication** because it consists of only one page, and so should be using the template for that - http://development-initiatives.surge.sh/page-templates/14-1a-publication-short-form

[2019-11-21 14:00] edwinmp commented on #530
@urlsangel just to clarify, you'd like the field errors to be instead shown in the alert above the form?

[2019-11-21 14:01] urlsangel commented on #492
@edwinmp

Yep, looks good! :-)

[2019-11-21 14:06] edwinmp commented on #543
@benjamincoleman I'll have to go back to the original issues and make adjustments based on the instructions there ... though @alice-mcandrew-development-initatives that means for short publications, they'll lose the `hero text` ...

[2019-11-21 14:08] AnnaHope commented on #543
@benjamincoleman so should the subtitle be below? The pattern library doesn't display it so I can't see how it is supposed to be? Which comes back to my original quesiton of whether I need to go through all our publications removing the hero text or whether it should be below? I think the reason that publication is not in the right template is that Alex created a new template for legacy publicatio

[2019-11-21 14:16] k8hughes opened #548 "Tagging datasets wth topics and countries"
The dataset filers currently don't work beause we haven't tagged the topics and countries that a dataset relates too.  This is a manual CMS user task that needs to be done on each dataset.

[2019-11-21 14:31] urlsangel commented on #167
@BenDarby

Chrome/Mac

This is still an issue on the development site:

![Screenshot 2019-11-21 at 14 28 31](https://user-images.githubusercontent.com/560463/69346816-5b3d4f00-0c6b-11ea-86af-0bb747509a33.png)

It can be solved with a little bit of margin on the `media`, which doesn't affect the placement of the paragraph text below as far as i can tell:

![Screenshot 2019-11-21 at 14 28 24](https:

[2019-11-21 14:48] akmiller01 commented on #401
@benjamincoleman would it be easy to include this in the pattern library? Otherwise we could try and store it in static elsewhere, but keeping the pattern library as the primary source of stock images would be nice.

[2019-11-21 14:56] akmiller01 commented on #495
https://github.com/devinit/DIwebsite-redesign/pull/551

[2019-11-21 15:08] urlsangel commented on #530
@edwinmp

It doesn't need to be the errors themselves (although it can be), but an indication that the form has errors should be displayed as near the top of the page as possible so that the user understands there is a problem - that's currently not obvious unless they scroll down.

An alternative would be to force the browser to scroll to the first field with errors using anchor links or JS, but

[2019-11-21 15:15] AnnaHope commented on #543
@akmiller01 @edwinmp have chatted to Ben and what we've concluded is we just need to hide the 'hero text' in the legacy and short publications so all we see displayed is the title. So it is only the long publication format where this text should be possible.

[2019-11-21 15:34] urlsangel opened #554 "Share section link causes 500 error"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/

Chrome/Mac

#### Share section link causes 500 error

Using this generated link from the top most section of the page causes a 500 error: http://159.65.56.142/505ad6/#section-1-1

![Screenshot 2019-11-21 at 15 33 41](https://user-images.githubusercontent.com/560463/69352160-53ce738

[2019-11-21 15:39] urlsangel opened #555 "Full chapter nav not viewable on small screen"
http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/#note-source-5UzRNMYWF

Galaxy (emulated) 360px wide

#### Full chapter nav not viewable on small screen

![Screenshot 2019-11-21 at 15 37 41](https://user-images.githubusercontent.com/560463/69352540-ff77c380-0c74-11ea-80b6-cde436e4dfee.png)

[2019-11-21 15:42] urlsangel commented on #555
I think this might be due to URLs in footnotes breaking the container:

![Screenshot 2019-11-21 at 15 41 49](https://user-images.githubusercontent.com/560463/69352826-7745ee00-0c75-11ea-976e-446e0a53b438.png)

[2019-11-21 16:11] urlsangel opened #556 "Datasets URL causes 500 error"
http://159.65.56.142/data/datasets/

Chrome/Mac

#### Datasets URL causes 500 error

![Screenshot 2019-11-21 at 16 10 08](https://user-images.githubusercontent.com/560463/69355362-8f1f7100-0c79-11ea-8ac3-462e94a914a7.png)

[2019-11-21 16:32] urlsangel opened #557 "Page scrolls beyond end of footer"
http://159.65.56.142/

(All pages affected)

Safari/iPhone X

#### Page scrolls beyond end of footer

![IMG_A945DAFE8148-1](https://user-images.githubusercontent.com/560463/69357101-71074000-0c7c-11ea-8337-d5ab77347d1b.jpeg)

[2019-11-21 16:44] akmiller01 commented on #527
#552

[2019-11-21 16:57] urlsangel opened #559 "Office modules grid not working"
http://159.65.56.142/who-we-are/

IE11/Win 10

#### Office modules grid not working

![Screenshot 2019-11-21 at 16 56 27](https://user-images.githubusercontent.com/560463/69359166-022be600-0c80-11ea-951d-462bf0acdfdb.png)

[2019-11-21 17:04] urlsangel commented on #172
@BenDarby

This is still an issue on IE11/Win 10.

[2019-11-21 17:10] urlsangel commented on #71
@BenDarby

This is also an issue on IE11/Win 10:

![Screenshot 2019-11-21 at 17 08 39](https://user-images.githubusercontent.com/560463/69360044-be39e080-0c81-11ea-86a1-eae6d38ffe95.png)

[2019-11-21 17:17] urlsangel opened #560 "Hero text title too high"
http://159.65.56.142/what-we-do/events/

Edge/Win 10

#### Hero text title too high

![Screenshot 2019-11-21 at 17 17 18](https://user-images.githubusercontent.com/560463/69360633-ce05f480-0c82-11ea-8f43-acf2a03ace30.png)

[2019-11-21 17:24] urlsangel opened #562 "Data link not in footer nav"
http://159.65.56.142/ (any page)

Chrome/Mac

#### Data link not in footer nav

The "Get around" footer nav appears to mirror the top nav, but it's missing the "Data" page link:

![Screenshot 2019-11-21 at 17 23 40](https://user-images.githubusercontent.com/560463/69361157-cdba2900-0c83-11ea-95d4-5beacb05071b.png)

[2019-11-21 17:25] akmiller01 commented on #543
https://github.com/devinit/DIwebsite-redesign/pull/561

Just to reiterate what was on Slack @AnnaHope was this understanding correct?

- No text on short publications
- No text on legacy publications
- Parent title: Chapter number above chapter title on chapter pages
- Hero text below publication title on publication pages
- Hero text below appendix title on appendix pages
- Hero text below summar

[2019-11-21 17:35] urlsangel opened #563 "No padding on blog notes module"
http://159.65.56.142/blog/accelerating-crvs-and-legal-identity-in-africa-from-problems-and-principles-to-practice/

Chrome/Mac

### No padding on blog notes module

![Screenshot 2019-11-21 at 17 34 23](https://user-images.githubusercontent.com/560463/69361904-52f20d80-0c85-11ea-8ccc-1352e3acb2bb.png)

[2019-11-21 18:09] akmiller01 commented on #529
https://github.com/devinit/DIwebsite-redesign/pull/558

[2019-11-21 18:18] akmiller01 commented on #554
I'm rather confused @urlsangel I was able to recreate this once. And then I restarted the server without changes and now it's no longer causing problems... This leads me to believe it's some sort of race condition, but I'm not sure... Any thoughts?

[2019-11-21 18:19] akmiller01 commented on #530
https://github.com/devinit/DIwebsite-redesign/pull/558

[2019-11-22 09:54] urlsangel commented on #554
Hey @akmiller01

I've just tested that link again, and I received another 500 error.

Disregarding the cause for a second, there's a few things that should be sorted out anyway (and then you'll be able to work out what's going on).

I've seen a couple of the vanilla Django 404 templates while testing - this means it was in `DEBUG=TRUE` mode. Django's pretty good at masking pass keys etc, but it's

[2019-11-22 11:36] BenDarby commented on #563
@urlsangel I've added a notes module which can be seen here http://development-initiatives.surge.sh/page-templates/12-blog-single

[2019-11-22 11:40] urlsangel commented on #563
Cheers @BenDarby

@akmiller01 @edwinmp - one for you to implement into your dev template?

[2019-11-22 11:42] akmiller01 commented on #554
Ah yeah, I temporarily flipped our staging server into debug mode to try and troubleshoot this error. I must have forgotten to flip it back, but it will do so itself on the next deploy.

[2019-11-22 11:49] urlsangel commented on #554
Hey @akmiller01

It looks like it's not on DEBUG anymore, as it should be giving out the Django 500 error template, but your custom 500 template doesn't seem to be being served (it looks like the default Apache one randomly).

[2019-11-22 13:07] akmiller01 commented on #554
Figured it out. Someone coded NGINX to catch every page that begins with 5 as 500: http://159.65.56.142/5/

[2019-11-22 13:54] akmiller01 commented on #554
Well, with regards to the 500 error producing an error, this fixes that one: https://github.com/devinit/DIwebsite-redesign/pull/565

[2019-11-22 14:33] akmiller01 commented on #554
https://github.com/devinit/DIwebsite-redesign/pull/566 Should hopefully sort redirects out.

[2019-11-22 15:25] akmiller01 commented on #563
Implemented proper footnotes in the style above into blogs: https://github.com/devinit/DIwebsite-redesign/pull/567

But I do just want to flag, the element you were styling there was scraped from Wordpress. I think there are likely to be many different scraped elements, and we're not going to be able to style them all. As was the issue with publications, this foreign markup shimmed into the Draftt

[2019-11-22 15:37] BenDarby commented on #560
Amending media query seems to fix this oddly

[2019-11-22 15:43] BenDarby commented on #559
@urlsangel @akmiller01  a 4th location was added so I changed the grid to 4 columns. You just need to change the container class from `l-3up` to `l-4up` and it will work. I also updated the css so 3 columns will still display in a grid.

[2019-11-22 15:46] akmiller01 commented on #559
Oh @BenDarby we made this programmatic so it varies from `l-2up` to `l-5up` depending on the number of offices. We have had offices come and go (e.g. Brazil, Nepal) so I think if we could be flexible here that's our best bet. Are you saying that `l-4up` will work for every scenario now?

[2019-11-22 16:04] akmiller01 commented on #524
https://github.com/devinit/DIwebsite-redesign/pull/567

[2019-11-22 16:23] BenDarby commented on #555
@urlsangel I've added `word-break: break-word;` for links in a wysiwyg so that should fix this

[2019-11-22 18:14] akmiller01 commented on #508
https://github.com/devinit/DIwebsite-redesign/pull/569

[2019-11-22 19:38] akmiller01 commented on #496
I think this is sorted out now @AnnaHope , moved to comms review, can you confirm?

[2019-11-25 08:44] #533 closed

[2019-11-25 08:49] edwinmp commented on #541
@BenDarby still doesn't look centred ... was aligned to the top before, now it's to the bottom.

![image](https://user-images.githubusercontent.com/5672438/69525622-93010b00-0f79-11ea-92ef-b130510d0843.png)

[2019-11-25 08:50] #544 closed

[2019-11-25 08:53] #545 closed

[2019-11-25 08:54] #509 closed

[2019-11-25 09:38] k8hughes commented on #555
@edwinmp can you pull this change through?

[2019-11-25 09:39] k8hughes commented on #557
@benjamincoleman does the fit for this sit on your side?

[2019-11-25 09:39] k8hughes commented on #559
@BenDarby @benjamincoleman ^^^

[2019-11-25 09:40] k8hughes commented on #560
@edwinmp is there a change for you to pul through here?

[2019-11-25 09:41] #197 closed

[2019-11-25 09:58] k8hughes commented on #543
@AnnaHope would it be possible for you to confirm the above is corret and then to check if the implementation was what we wanted.  If it looks ok then please close the issue.

[2019-11-25 09:59] k8hughes commented on #530
LGTM

[2019-11-25 09:59] #530 closed

[2019-11-25 10:01] k8hughes commented on #554
LGTM.

[2019-11-25 10:01] #554 closed

[2019-11-25 10:02] k8hughes commented on #556
LGTM

[2019-11-25 10:02] #556 closed

[2019-11-25 10:03] k8hughes commented on #527
LGTM.

[2019-11-25 10:03] #527 closed

[2019-11-25 10:04] k8hughes commented on #495
LGTM.

[2019-11-25 10:04] #495 closed

[2019-11-25 10:05] k8hughes commented on #39
@alice-mcandrew-development-initatives can you check over this and close if you are happy with the implementation?

[2019-11-25 10:16] k8hughes commented on #431
This is still not sending an email it is instead shows a page saying 'internal server error'

[2019-11-25 10:17] k8hughes commented on #431
@edwinmp will this work once it is live or does it require more fixing?

[2019-11-25 10:40] edwinmp commented on #431
@akmiller01 @Napho weirdly, the `DEFAULT_FROM_EMAIL` came through as blank (I had to manually set it in `.env`) ... any clue why? Also, this `os.getenv()` function doesn't consider the value of the env variable. It doesn't use the default value when the configured value is blank.
So I guess it's better to use `os.getenv('DEFAULT_FROM_EMAIL') or 'devinitautomailer@gmail.com'` instead of `os.getenv(

[2019-11-25 10:40] edwinmp commented on #431
@k8hughes would need to do a restart to fix this, but I think there's plenty of activity on staging at the moment...

[2019-11-25 10:43] riahasler-DI commented on #250
@k8hughes Hi Kate, I think this issue still exists! I can't see where we can add the URL for the image credit
![image](https://user-images.githubusercontent.com/56585598/69530920-df911a00-0f6a-11ea-825f-0922ca136655.png)

[2019-11-25 10:47] edwinmp commented on #250
Ah, sorry @riahasler-DI ... I built it incorrectly... Going to follow the style of the hero, if that's fine... it has a provision for credit text and a URL.

[2019-11-25 10:52] BenDarby commented on #560
@edwinmp I updated the css so you will need to pull from the `pattern_library` branch

[2019-11-25 10:55] BenDarby commented on #559
@akmiller01 yeah `l-4up` will work for any scenario, so if there is more than 4 items they will wrap to a new row etc if that works for you? CSS will need to pulled from the `pattern_library` branch though.

[2019-11-25 10:58] Napho commented on #431
@edwinmp  .env is dropped every time a deployment is made and re-populated from travis

[2019-11-25 11:01] BenDarby commented on #541
@edwinmp the pattern library is displaying like this http://development-initiatives.surge.sh/page-templates/04-our-story is there some difference between to the two?

[2019-11-25 11:02] BenDarby commented on #539
@edwinmp pushed a fix for this, it will need a pull from the `pattern_library` branch for styles to update.

[2019-11-25 11:05] AnnaHope commented on #496
@akmiller01 looks like it has moved down, so yep thanks! Will close.

[2019-11-25 11:05] #496 closed

[2019-11-25 11:05] edwinmp commented on #431
That's the mystery ... `DEFAULT_FROM_EMAIL` had no value after deploy... it was there in the `.env` but without the value set on travis.

[2019-11-25 11:24] #528 closed

[2019-11-25 11:31] alice-mcandrew-development-initatives commented on #495
This has not been fixed everywhere:
![image](https://user-images.githubusercontent.com/55877063/69536994-09503e00-0f77-11ea-8aff-52dcd73222d5.png)
^ It appears in 'Related content' section incorrectly

[2019-11-25 11:38] #39 closed

[2019-11-25 11:59] k8hughes commented on #457
LGTM.

[2019-11-25 11:59] #457 closed

[2019-11-25 12:00] k8hughes commented on #432
LGTM.

[2019-11-25 12:00] #432 closed

[2019-11-25 12:03] k8hughes commented on #441
![Screenshot 2019-11-25 at 12 02 43](https://user-images.githubusercontent.com/36768381/69539005-84b3ee80-0f7b-11ea-8904-6cd4c41eadc8.png)

Now the images are responsive, but the names of people under the images are staying really wide.
Where does this issue sit?  In the pattern library or in dev?

[2019-11-25 12:05] k8hughes commented on #472
@akmiller01 is there a way we can fix the dates via a script or will this need to be changed by a CMS user?

[2019-11-25 12:08] k8hughes commented on #36
@alice-mcandrew-development-initatives can you check this and close if you are happy with it.

[2019-11-25 12:08] k8hughes commented on #310
Can't check this, but I'm assuming it is ok.

[2019-11-25 12:08] #310 closed

[2019-11-25 12:09] k8hughes commented on #453
Now links to the flicker account for the image.

[2019-11-25 12:09] #453 closed

[2019-11-25 12:10] k8hughes commented on #275
LGTM.

[2019-11-25 12:10] #275 closed

[2019-11-25 12:12] k8hughes commented on #489
@edwinmp I can't see that anything has changed here.  What I see on staging still looks the same as the screenshot Russell shared.

[2019-11-25 12:15] k8hughes commented on #512
I'm not sure how to test this one, @akmiller01 can you check staging and close if it is now correct?

[2019-11-25 12:16] k8hughes commented on #311
I am assuming this is fine now.

[2019-11-25 12:16] #311 closed

[2019-11-25 12:16] edwinmp commented on #489
Just a heads-up @alice-mcandrew-development-initatives ... I'm going to remove the hero text for this ... apparently it should be there as per the patterns library.

[2019-11-25 12:17] k8hughes commented on #378
I can see the fields in the CMS now, so I think it is correct.

[2019-11-25 12:17] #378 closed

[2019-11-25 12:18] k8hughes commented on #245
@alice-mcandrew-development-initatives can you check this is correct and close the issue if you are happy?

[2019-11-25 12:21] k8hughes commented on #519
@alice-mcandrew-development-initatives I don't think we have any guest authors added to a blog yet.  Can you add one where it is appropriate to do so and then comment on the issue if there is still a problem or close it if you are happy?

[2019-11-25 12:21] k8hughes commented on #518
LGTM

[2019-11-25 12:21] #518 closed

[2019-11-25 12:22] k8hughes commented on #531
LGTM.

[2019-11-25 12:22] #531 closed

[2019-11-25 12:23] k8hughes commented on #436
@akmiller01 I wouldn't know what is correct here.  Can you check and close if happy?

[2019-11-25 12:24] k8hughes commented on #478
![Screenshot 2019-11-25 at 12 23 55](https://user-images.githubusercontent.com/36768381/69540428-7adfba80-0f7e-11ea-91d4-ed357fad7fcf.png)
Why is the font weight different on the word 'Rachel'?
@davidebukali can you check why this is happening?

[2019-11-25 12:25] k8hughes commented on #479
LGTM.

[2019-11-25 12:25] #479 closed

[2019-11-25 12:26] k8hughes commented on #438
LGTM.

[2019-11-25 12:26] #438 closed

[2019-11-25 12:27] k8hughes commented on #442
LGTM.

[2019-11-25 12:27] #442 closed

[2019-11-25 12:28] k8hughes commented on #503
LGTM.

[2019-11-25 12:28] #503 closed

[2019-11-25 12:29] k8hughes commented on #501
LGTM.

[2019-11-25 12:29] #501 closed

[2019-11-25 12:30] k8hughes commented on #410
LGTM.

[2019-11-25 12:30] #410 closed

[2019-11-25 12:30] #514 closed

[2019-11-25 12:30] #511 closed

[2019-11-25 12:31] #513 closed

[2019-11-25 12:31] davidebukali commented on #497
@akmiller01 for "Query Results" above you mentioned that `AND` returns only results from both selects which is expected behavior; does it make sense to only update the select titles and leave the search as it is now ?

[2019-11-25 12:31] #515 closed

[2019-11-25 12:32] k8hughes commented on #502
LGTM.

[2019-11-25 12:32] #502 closed

[2019-11-25 12:32] k8hughes commented on #517
LGTM.

[2019-11-25 12:32] #517 closed

[2019-11-25 12:33] #499 closed

[2019-11-25 12:34] edwinmp commented on #489
@urlsangel the page on surge doesn't have an excerpt, but the pattern library code appears to have a provision for it... so I'm not sure what to do here.
https://github.com/devinit/DIwebsite-redesign/blob/develop/patterns/includes/heroes/hero-news.html#L21

[2019-11-25 12:34] k8hughes commented on #24
@riahasler-DI please can you check the changes and close this issue if you are happy or add a comment if the problems are still not fixed.

[2019-11-25 12:35] k8hughes commented on #361
@riahasler-DI @AnnaHope can you confirm that you had the invitation?

[2019-11-25 12:36] k8hughes commented on #250
LGTM

[2019-11-25 12:36] k8hughes commented on #250
@riahasler-DI back to you for checking.

[2019-11-25 12:37] #145 closed

[2019-11-25 12:37] #205 closed

[2019-11-25 12:38] edwinmp commented on #250
Will move it once it's deployed to staging ...

[2019-11-25 12:39] #24 closed

[2019-11-25 12:39] k8hughes commented on #147
![Screenshot 2019-11-25 at 12 38 26](https://user-images.githubusercontent.com/36768381/69541224-8af89980-0f80-11ea-8c55-ad194e7fac5d.png)
@akmiller01 notice how the link here sites the old word press address, will this be changed automatically?

[2019-11-25 12:40] edwinmp commented on #441
@k8hughes pattern lib

[2019-11-25 12:48] AnnaHope commented on #543
@akmiller01 that all sounds good to me except for the appendix. On this we want text that appears below the title on the boxes that sit in a summary of a publication, but the hero once you are on an appendix page proper will just have a title and no text displaying. We don't have this in any publications at the mo for me to check against, but below I have put screenshots of the GNR as this is how

[2019-11-25 13:37] akmiller01 commented on #559
@davidebukali I'm afraid we'll need to remove that templatetag you wrote to count the number of offices, and replace it with a static `.l-4up` instead. Can you make a PR for that?

[2019-11-25 13:39] akmiller01 commented on #472
Sure, I'll fix it in shell.

[2019-11-25 13:42] akmiller01 commented on #472
Done.

[2019-11-25 13:44] akmiller01 commented on #512
Yep. Looks good.

[2019-11-25 13:44] #512 closed

[2019-11-25 13:44] akmiller01 commented on #436
Yep, it's just this http://159.65.56.142/robots.txt

[2019-11-25 13:44] #436 closed

[2019-11-25 13:46] akmiller01 commented on #478
This is in the CMS @k8hughes , it's marked as bold and italics:
![image](https://user-images.githubusercontent.com/2836840/69545525-026a0100-0f60-11ea-92b8-7ce78b5f1929.png)

[2019-11-25 13:46] akmiller01 commented on #497
Yep! We're all good.

[2019-11-25 13:48] akmiller01 commented on #147
Yep, you can check to see just by swapping http://devinit.org with http://159.65.56.142

In this case: http://159.65.56.142/wp-content/uploads/2019/09/GHA-report-2019_Chapter-5.pdf

[2019-11-25 14:02] akmiller01 commented on #543
Okay @AnnaHope the chapter pages now have:

"{{ parent_page.title }}: Chapter {{ chapter.number }}" above their titles as per the pattern library.

Do we likewise want:

"{{ parent_page.title }}: Appendix {{ appendix.number }}" above the titles for the appendix pages?

[2019-11-25 14:03] akmiller01 commented on #543
https://github.com/devinit/DIwebsite-redesign/pull/576

[2019-11-25 14:03] #472 closed

[2019-11-25 14:14] urlsangel commented on #433
@akmiller01

There's two `<title>` tags in the `<head>`, the second is likely the Wagtail Meta output.

Try adding `META_USE_TITLE_TAG = False` to `base.py`.

[2019-11-25 14:15] k8hughes commented on #478
@alice-mcandrew-development-initatives is this deliberate?

[2019-11-25 14:17] #202 closed

[2019-11-25 14:18] urlsangel commented on #489
@edwinmp

Ignore my comment about the `excerpt` then - I didn't see that in the pattern library!

[2019-11-25 14:20] k8hughes commented on #147
Ok I think I understand, so /wp-content/ doesn't mean the old site - it means the wp-content folder on the new site.  Sorry for being a total dufus.

[2019-11-25 14:20] #147 closed

[2019-11-25 14:28] akmiller01 commented on #433
Just using wagtail-metadata without the django-meta, so I just had to overwrite their tags template: https://github.com/devinit/DIwebsite-redesign/pull/577

[2019-11-25 15:15] AnnaHope commented on #543
@akmiller01 yes actually that would be great, thank you

[2019-11-25 15:26] #245 closed

[2019-11-25 15:26] alice-mcandrew-development-initatives commented on #36
@k8hughes the footnotes are not superscript (as they should be):
![image](https://user-images.githubusercontent.com/55877063/69553344-f5690400-0f97-11ea-9742-5bc47a275e36.png)

[2019-11-25 15:32] k8hughes commented on #36
@edwinmp @akmiller01 could one of you heck what needs to be done here?

[2019-11-25 15:33] AnnaHope commented on #361
@k8hughes yep we have it in that account. Thanks @edwinmp!

[2019-11-25 15:33] #361 closed

[2019-11-25 15:47] #478 closed

[2019-11-25 15:54] AnnaHope commented on #519
@akmiller01 @k8hughes The implementation on guest blogs is still wrong.

Should be the pattern library - http://development-initiatives.surge.sh/page-templates/12a-blog-single-guest

![image](https://user-images.githubusercontent.com/16958942/69555863-bd63c000-0f9b-11ea-813a-ffabb4ebc6c8.png)

Instead we have: http://159.65.56.142/blog/people-want-building-resilience-stability-conflict-crises/
![i

[2019-11-25 15:59] alice-mcandrew-development-initatives opened #579 "Blog author"
Firstly, some of the blog pages do not match the pattern library in terms of display of author:

E.g. http://159.65.56.142/blog/blog-blended-finance-impact/ (Should be on right not left)
E.g. http://159.65.56.142/blog/accelerating-crvs-and-legal-identity-in-africa-from-problems-and-principles-to-practice/ (Shown in middle instead of left, without image)

This is what it should look like: http://de

[2019-11-25 16:04] akmiller01 commented on #36
These are already <sup> tags. If you want them displayed any differently, we'll need CSS help from @benjamincoleman

![image](https://user-images.githubusercontent.com/2836840/69556743-4e727100-0f73-11ea-8828-6555e83f6232.png)

[2019-11-25 16:10] akmiller01 commented on #519
@AnnaHope is the above comment about the authors or the hero_text? If it's about the hero_text, it's simply a matter of removing the text from the hero_text field and adding it as a paragraph to the body.

If it's a matter about the guest authors, that's how the pattern library displays multiple authors. If you remove one author and leave only a guest author remaining, it should match the pattern

[2019-11-25 16:13] alice-mcandrew-development-initatives commented on #206
I just got an email notification...
![image](https://user-images.githubusercontent.com/55877063/69557279-3c59f800-0f9e-11ea-8138-baa20b74d7ef.png)
....which I was meant to get a while ago. This is what was set up in the cms:
![image](https://user-images.githubusercontent.com/55877063/69557325-4ed43180-0f9e-11ea-831c-9a6500d81720.png)

Is there a reason for this?
@k8hughes  I can set up another tes

[2019-11-25 16:14] k8hughes commented on #206
Yes, please set up another test and see what happens

[2019-11-25 16:15] edwinmp commented on #489
@k8hughes this should be fixed then... only change is the position of the hero content

[2019-11-25 16:16] akmiller01 commented on #519
Scratch that, the mark-up is still exactly the same. @edwinmp any clue on why the CSS for staging is still creating such a small author link?

On staging:
![image](https://user-images.githubusercontent.com/2836840/69557654-fa688c00-0f74-11ea-86c9-7f23fb242d6d.png)

On surge:
![image](https://user-images.githubusercontent.com/2836840/69557696-081e1180-0f75-11ea-9a4a-2c1163abb0cb.png)

[2019-11-25 16:17] akmiller01 commented on #519
Here's a concrete example @edwinmp http://159.65.56.142/blog/blog-blended-finance-impact/

[2019-11-25 16:21] alice-mcandrew-development-initatives commented on #36
It should be the same as the GNR, which is superscript:
![image](https://user-images.githubusercontent.com/55877063/69557945-521bed00-0f9f-11ea-955d-5e631b6f08cf.png)
Is that a problem?

[2019-11-25 16:26] alice-mcandrew-development-initatives commented on #519
Hi @akmiller01 , this isn't a guest blog: http://159.65.56.142/blog/blog-blended-finance-impact/
But, this is: http://159.65.56.142/blog/people-want-building-resilience-stability-conflict-crises/

[2019-11-25 16:34] k8hughes commented on #441
@benjamincoleman can you ask @BenDarby to check this for us please?

[2019-11-25 16:47] akmiller01 commented on #519
Cheers @alice-mcandrew-development-initatives , it shouldn't matter as they're using the same markup.

[2019-11-25 16:50] akmiller01 commented on #36
It is the same as the GNR website @alice-mcandrew-development-initatives , it is already a Superscript. There's just something in the styling that's preventing it from being displayed as such @benjamincoleman

[2019-11-25 16:54] alice-mcandrew-development-initatives commented on #206
Doesn't seem to be working

[2019-11-25 19:37] akmiller01 commented on #516
https://github.com/devinit/DIwebsite-redesign/pull/580

[2019-11-25 20:04] akmiller01 commented on #206
First things first, the cronjob file wasn't even executable!
[code]

That seems to have fixed it. Let me know if you get your email @alice-mcandrew-development-initatives

[2019-11-25 20:12] akmiller01 commented on #431
@edwinmp any update on this? It works flawlessly on dev. And weirdly enough I did get the email on staging, but I got an internal server error page after submitting. Is it possible we've accidentally got a permanent redirect from that bad Debug Toolbar bug?

[2019-11-26 06:03] edwinmp commented on #524
@akmiller01 I think this required more extensive application i.e. I don't think heroes need footnotes, or downloads or banner block text ... hmm, perhaps the better question is which pages support footnotes? I think it's a smaller list.

[2019-11-26 06:11] edwinmp commented on #555
@BenDarby as far as I can tell, this isn't fixed for the screen size above... below is how it appears on iPadPro simulation

![image](https://user-images.githubusercontent.com/5672438/69603788-a7eaa680-102c-11ea-8b62-c1fc2985aa14.png)

[2019-11-26 06:24] edwinmp commented on #516
@akmiller01 I think the `All topics` tag should be selected by default, and remain selected when clicked, even after page reload... like it is with the other tags.

[2019-11-26 09:01] #560 closed

[2019-11-26 09:02] edwinmp commented on #559
@davidebukali ^^

[2019-11-26 09:12] edwinmp commented on #562
@alice-mcandrew-development-initatives @riahasler-DI not sure who created this one. I'm replacing the manual links with a simple check of "Show navigation links"
There seems to be a sorting problem for the sections following the update. I'm fixing that...

![image](https://user-images.githubusercontent.com/5672438/69615326-b7c2b480-1045-11ea-8a26-67db7bf7952e.png)

[2019-11-26 09:19] edwinmp commented on #562
@akmiller01 you set these to be ordered by 'sort_order', but that changes a snippet's position every time a change is made... is that the desired behaviour?

[2019-11-26 09:39] edwinmp commented on #579
@alice-mcandrew-development-initatives for the first link, the author is on the right on my laptop, which makes me believe it's one of those pesky screen size things.
As for the second one, this is the design for when a blog has multiple authors.

Since we're only going to unpublish the pages of past staff, we can check if an author's page is live before we create the hyperlink.

[2019-11-26 09:50] AnnaHope commented on #36
@benjamincoleman are you able to help??

[2019-11-26 09:57] alice-mcandrew-development-initatives commented on #579
@edwinmp
For the first, I think you might be right, as I'm just using laptop screen today (as I'm WFH) and it looks OK now!
For the second, did @AnnaHope sign off on this? I wasn't aware of discussions and there's no template to reference as far as I can tell.

So, if we unpublish a staff profile should the link styling automatically disappear then? (We wouldn't want it to look like a link and the

[2019-11-26 09:59] edwinmp commented on #579
Ah, @alice-mcandrew-development-initatives  I've figured out the difference... the author image appears on the left for blogs without a hero image
![image](https://user-images.githubusercontent.com/5672438/69619045-ffe4d580-104b-11ea-8a55-bcfcae464569.png)

[2019-11-26 10:00] alice-mcandrew-development-initatives commented on #579
@edwinmp That's good to know! We'll get heros for those pages!

[2019-11-26 10:00] edwinmp commented on #579
@akmiller01 ^^

[2019-11-26 10:01] edwinmp commented on #579
@alice-mcandrew-development-initatives I'm currently implementing this ... will let you know when it's deployed.

[2019-11-26 10:02] alice-mcandrew-development-initatives commented on #206
I received a test email last night at the wrong time. And, I set one up a moment ago which hasn't arrived yet.

[2019-11-26 10:11] edwinmp opened #583 "No search option for job titles on team member pages"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
![image](https://user-images.githubusercontent.com/5672438/69620293-33286400-104e-11ea-8d0b-116b347e81ed.png)

[2019-11-26 10:40] akmiller01 commented on #524
@edwinmp already removed footnotes from most editors. Check #567 , I swapped the richtext features all over to the versions without the footnotes. Only publications and blogs have them now.

[2019-11-26 10:42] akmiller01 commented on #562
Sort order should just be however the user ordered the orderable.

[2019-11-26 10:48] edwinmp commented on #524
@akmiller01 yeah, but there's richtext fields that weren't making use of the `RICHTEXT_FEATURES` constant ... those still have the footnotes.

[2019-11-26 10:48] alice-mcandrew-development-initatives commented on #524
This seems to be a problem for legacy pages.
E.g. http://159.65.56.142/publications/preliminary-oda-data-2018-total-falls-for-second-consecutive-year/
This is what the CMS looks like:
![CMS](https://user-images.githubusercontent.com/55877063/69622842-a4a9e780-1039-11ea-9917-d940ae615ac1.JPG)
This is what the live page looks like:
![Live page](https://user-images.githubusercontent.com/55877063/6962

[2019-11-26 10:59] alice-mcandrew-development-initatives commented on #524
The same doesn't apply to short publications so it shouldn't be a problem ^

[2019-11-26 11:31] alice-mcandrew-development-initatives commented on #562
@akmiller01 Yes, I think we agreed that. There shouldn't ever be too may to start from scratch to create  a new order so should be fine.

[2019-11-26 11:31] akmiller01 commented on #579
Yep. This was thoroughly discussed because the designs never contemplated having multiple authors on a blog. So the multiple authors link was taken from the publication design. Remember all the conversations we had regarding the commas between the author names?

[2019-11-26 11:32] akmiller01 commented on #206
Not at the wrong time. It arrived exactly when I fixed it! Now if you haven't received your second test, we can conclude there's something going wrong with cron rather than the script that cron is trying to run.

[2019-11-26 11:35] AnnaHope commented on #579
@akmiller01 cool so you've copied the design we use for publications to have in blogs where there are multiple authors, and then if it is a single author we have the box with image and name as per the original design? If that's the case then that's fine and we can close this issue

[2019-11-26 11:41] akmiller01 commented on #579
Yep. That's precisely it!

[2019-11-26 11:47] AnnaHope commented on #579
Great. Issue closed.

[2019-11-26 11:58] edwinmp commented on #579
Uhm, @AnnaHope we still have a pending fix on this issue that's not related to the multiple authors ... will reopen.

[2019-11-26 12:16] alice-mcandrew-development-initatives commented on #17
@akmiller01 and @AnnaHope I thought there was an issued raised for this but I can't find it if there is... It looks like the bottom-right menu on the short publication still needs to be looked at:
![image](https://user-images.githubusercontent.com/55877063/69631612-feb0aa00-1045-11ea-9e26-b3a68b8e930e.png)
This page: http://159.65.56.142/publications/preliminary-oda-data-2018-total-falls-for-secon

[2019-11-26 12:34] davidebukali commented on #559
@edwinmp @akmiller01 here's the updated PR [#585](https://github.com/devinit/DIwebsite-redesign/pull/585)

[2019-11-26 13:02] AnnaHope commented on #17
@alice-mcandrew-development-initatives what exactly the issue? Is it that is is called 'contents' instead of 'jump to section'?

[2019-11-26 13:03] alice-mcandrew-development-initatives commented on #17
@AnnaHope Yes, and it shouldn't have the numbers above the section names (as this only makes sense for chapters)

[2019-11-26 13:19] akmiller01 commented on #516
https://github.com/devinit/DIwebsite-redesign/pull/587

[2019-11-26 13:29] benjamincoleman commented on #36
@AnnaHope I can if I can see it, does anyone have a link to an example of this so I can check? @alice-mcandrew-development-initatives @akmiller01 ?

[2019-11-26 13:31] akmiller01 commented on #206
Documenting potential issue here. Changed the shell script so we're now referencing the absolute path of docker-compose https://github.com/docker/compose/issues/2293

[2019-11-26 13:59] alice-mcandrew-development-initatives commented on #36
@benjamincoleman
1) http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/
2) http://159.65.56.142/publications/preliminary-oda-data-2018-total-falls-for-second-consecutive-year/

[2019-11-26 14:03] benjamincoleman commented on #36
@BenDarby can you have a look and work out why we've lost styling on the `<sup>` elements used for the footnotes please?

[2019-11-26 14:04] akmiller01 commented on #524
Fixed this in case we want footnotes on legacy pages in the future: https://github.com/devinit/DIwebsite-redesign/pull/590

[2019-11-26 14:06] alice-mcandrew-development-initatives commented on #206
I received a test email at the time I set :) Yay! Thanks @akmiller01

[2019-11-26 14:06] alice-mcandrew-development-initatives commented on #206
Not sure whether to close because of  your comment above ^ @akmiller01

[2019-11-26 14:13] k8hughes commented on #532
LGTM.
The default values are now "all" and the filters for topics have been tagged and are working.

[2019-11-26 14:15] k8hughes commented on #539
Tested on my ma with crome and firefox and was working as intended.

[2019-11-26 14:16] k8hughes commented on #489
LGTM.

[2019-11-26 14:19] AnnaHope commented on #17
Ah ok. @akmiller01 is it possible to hide the numbering as per the template?
![image](https://user-images.githubusercontent.com/16958942/69641272-d0d46100-1057-11ea-9f66-c804efadbddd.png)

[2019-11-26 14:25] akmiller01 commented on #17
Yep! This should make it appear just like the pattern library for short publications: https://github.com/devinit/DIwebsite-redesign/pull/591

[2019-11-26 14:31] akmiller01 commented on #206
Yep, just documenting what the fix was in case we encounter it again and wonder how we solved it :P Feel free to close if this feature is now working for you.

[2019-11-26 16:32] AnnaHope commented on #124
All redirects needing to be manually set up are now done. These are marked up in Ben's spreadsheet to reflect that.

[2019-11-26 16:32] #124 closed

[2019-11-26 17:05] #206 closed

[2019-11-26 20:19] benjamincoleman commented on #128
@BenDarby So with this one it's a real thing on IE11 / Win 7

To fix,

on `.share__item` add `vertical-align: top`

on the img icon add `height: 40px` or whatever the height is supposed to be of that image.

[2019-11-26 20:20] benjamincoleman commented on #129
Not an issue on my Win 7 / IE11 machine

[2019-11-26 20:20] #129 closed

[2019-11-26 20:21] benjamincoleman commented on #125
Not an issue on Win 11 / IE 7 laptop I have

[2019-11-26 20:21] #125 closed

[2019-11-27 10:06] BenDarby commented on #36
@akmiller01 @BenDarby I've added sup styling back into the `is-typeset` class, will need pulling from `pattern_library branch`

[2019-11-27 10:08] benjamincoleman commented on #36
@alice-mcandrew-development-initatives @AnnaHope the supertext style has been added, it'll need the code integrating but there's a solution there for you.

[2019-11-27 11:17] akmiller01 commented on #36
Cheers guys. Can you make a other pattern library PR @edwinmp ?

[2019-11-27 14:37] #431 closed

[2019-11-27 14:38] #559 closed

[2019-11-27 14:38] #433 closed

[2019-11-27 14:39] #524 closed

[2019-11-27 14:39] #430 closed

[2019-11-27 16:43] benjamincoleman commented on #14
@BenDarby

We need homepage hero variations to feature the following types of content:

* news
* blogs
* events
* projects

I'll produce sketch variants and post them here.

[2019-11-27 17:01] benjamincoleman commented on #14
Sketches are here: https://marvelapp.com/3j51290/screen/64145645

[2019-11-28 10:33] AnnaHope commented on #14
@edwinmp @akmiller01 the designs you need to change the homepage hero are here:

Publication: http://development-initiatives.surge.sh/page-templates/02-homepage
News: http://development-initiatives.surge.sh/page-templates/02d-homepage-news
Blog: http://development-initiatives.surge.sh/page-templates/02e-homepage-blog
Event: http://development-initiatives.surge.sh/page-templates/02f-homepage-event

[2019-11-28 10:40] edwinmp commented on #14
Great, @AnnaHope ... let me implement them ... will let you know when they're on staging.

[2019-11-28 14:13] k8hughes commented on #17
Since thi fix has been deployed now those headings are no longer clickable, so we got a regression since removing the numbering.  Example of a page with this problem:  http://159.65.56.142/publications/preliminary-oda-data-2018-total-falls-for-second-consecutive-year/

[2019-11-28 14:17] #563 closed

[2019-11-28 14:25] k8hughes commented on #525
LGTM

[2019-11-28 14:25] #525 closed

[2019-11-28 14:27] k8hughes commented on #497
LGTM.

[2019-11-28 14:27] #497 closed

[2019-11-28 14:28] k8hughes commented on #250
@riahasler-DI back to you for checking...

[2019-11-28 14:31] k8hughes commented on #495
Events are now fine 👍

[2019-11-28 14:34] riahasler-DI commented on #250
@k8hughes think it all looks good! all the issues above have been resolved so am happy to close the issue!

[2019-11-28 14:34] jamesharle opened #600 "Summary child missing from reports"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Adding a summary page as a child page of a report page is no longer possible. Instead, child pages can only be created in the categori

[2019-11-28 14:35] #250 closed

[2019-11-28 14:37] jamesharle commented on #600
Simon discovered this bug, and provides a slightly expanded description in email screengrabbed below:

![image](https://user-images.githubusercontent.com/43270042/69814672-9d770b00-11ec-11ea-9736-146d07616d9d.png)

[2019-11-28 15:28] k8hughes commented on #543
@AnnaHope I think this is now working correctly, but as there are quite a few variations I leave this issue for you to close when you've had a chance to check.

[2019-11-28 15:29] #489 closed

[2019-11-28 15:32] k8hughes commented on #516
LGTM.

[2019-11-28 15:32] #516 closed

[2019-11-28 15:42] AnnaHope commented on #543
@k8hughes it is! Thanks - will close

[2019-11-28 15:42] #543 closed

[2019-11-28 15:43] #539 closed

[2019-11-28 15:44] #532 closed

[2019-11-28 16:56] Duncan-Knox opened #601 "Query on Datasets -> related figures"
The related figures section (which brings in related figures and datasets) seems to have become related datasets only in-certain instances. This can sometimes have the effect of bringing in datasets which are not relevant as opposed to figures which could be relevant.

In this example: http://159.65.56.142/data/datasets/change-in-oda-loans-to-protracted-crisis-response-countries-and-other-developi

[2019-11-28 16:58] Duncan-Knox opened #602 "Data section author/contact query"
The author profile for Cecilia Ciao does not appear in datasets, for example: http://159.65.56.142/data/datasets/jobs-created-with-gender-breakdown/

Unclear why this may be the case?

[2019-11-29 06:37] edwinmp commented on #602
@Duncan-Knox Cecilia was added as an external author without linking to her DI profile ... probably happened during import, not sure why ... @akmiller01 any clue? @Duncan-Knox this could be fixed manually by editing the page.

![image](https://user-images.githubusercontent.com/5672438/69848664-bd114080-128b-11ea-9c27-f9e9d412f213.png)

[2019-11-29 11:07] BenDarby commented on #172
@urlsangel fixed now, @edwinmp pull from `pattern_library to apply css changes

[2019-11-29 11:15] BenDarby commented on #441
@k8hughes @edwinmp This looks like the dimensions of the images is too small, we have a max-width set to responsive images to they don't become oversized and pixelated. If you refer to the pattern library you can see the images spanning the same with as the names http://development-initiatives.surge.sh/page-templates/01d-media-center

The dimensions I used for the PL are 600x600

I hope this is he

[2019-11-29 11:19] BenDarby commented on #480
@k8hughes @edwinmp I increased the line height, a pull from `pattern_library` needed to apply css style

[2019-11-29 11:23] BenDarby commented on #481
@k8hughes @edwinmp I've fix this with css, pull needed to apply styles

[2019-11-29 11:28] BenDarby commented on #555
<img width="1440" alt="Screenshot 2019-11-29 at 11 26 43" src="https://user-images.githubusercontent.com/944594/69866131-2b113400-129b-11ea-99a3-01b659e467f3.png">
@edwinmp it seems to be displaying correctly on the iPad Pro simulation for me. I tested on the devices I have available to me and it's okay.

[2019-11-29 11:31] BenDarby commented on #557
@k8hughes I don't have access to an iPhoneX to test this and in my IphoneX emulation it seems to be okay now

[2019-11-29 14:00] davidebukali commented on #600
@akmiller01 I just tested this on localhost adding same number of chapter and summary publications as `staging` and indeed adding summary page link disappears from the publication page; Still debugging to get the link back;

[2019-11-29 14:42] akmiller01 commented on #600
@jamesharle the GHA 2019 publication already has a summary page http://159.65.56.142/publications/global-humanitarian-assistance-report-2019/executive-summary/ you're allowed one summary per publication.

[2019-11-29 14:53] Duncan-Knox commented on #602
@edwinmp @akmiller01 it's a typo my end. I think it might be best if I change these manually on the wagtail pages.

[2019-11-29 14:54] akmiller01 commented on #602
A manual fix would involve deleting the "external author" with the incorrect name, and selecting the "internal author" page of the right analyst @Duncan-Knox

[2019-11-29 15:03] Duncan-Knox commented on #602
Thanks @akmiller01, is there a preference for publish or submit for moderation?

[2019-11-29 15:09] akmiller01 commented on #602
Yeah publish should be fine. Are you sure you want to fix all of them manually? Are you able to sort through the spreadsheet and find which ones are misspelled? Because otherwise it would be a big task to click through all the datasets and figures.

[2019-11-29 15:25] Duncan-Knox commented on #602
I've found the ones which are wrong (every single one) though it should be fine to fix through manually as I can match the Google doc with the pages on the website.

[2019-11-29 16:37] Duncan-Knox commented on #602
I have fixed this across the data set pages in Wagtail.

[2019-11-29 16:38] akmiller01 commented on #602
Cheers Duncan. I think it also applies to the figure pages. Did you work on both figures and datasets?

[2019-11-29 16:53] Duncan-Knox commented on #602
Edits have been made to 1 Data Set Page and 42 Figure Pages.

[2019-12-01 15:47] jamesharle commented on #600
Thanks @akmiller01 that makes sense, and resolves that part of the issue - but this also applies to a new report Simon is setting up (http://159.65.56.142/publications/multi-year-humanitarian-funding-and-planning-jordan-and-lebanon/)

[2019-12-01 15:55] jamesharle opened #604 "Author names on publications not displaying correctly"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The way the author name is displayed in publications is not as expected. Two screenshots below show the current application, and the t

[2019-12-01 16:33] akmiller01 commented on #600
Huh, you're right @jamesharle . Just looked at the UniquePageMixin and it's checking whether a page exists globally, not just as a child of that particular page.

Funny thing is this is code borrowed directly from the GNR website, which means that they also must have lost the ability to create summary pages after they created the very first one. Might want to fix it on your end too @urlsangel !

I

[2019-12-02 10:10] urlsangel commented on #600
@jamesharle @akmiller01

Good spot!

I've updated GNR with a new mixin, `UniqueForParentPageMixin`:

https://github.com/devinit/gnr-website/commit/5febda7e2927da0fca17b0b5ca24c9c59501c07c

[2019-12-02 10:44] riahasler-DI opened #605 "Changes to the Vacancy page"
Can we add a Second Interview date in  the Dates section
Can we change the format of the Job start date to be just the year and the month (eg: January 2020)

![image](https://user-images.githubusercontent.com/56585598/69953171-9a339600-14f0-11ea-9dd9-70b139eeecbc.png)

**Requested Delivery Date:** 02/12/2019

[2019-12-02 10:56] alice-mcandrew-development-initatives commented on #17
@k8hughes Sorry, I misread this! I thought it was in 'Comms Review' but not working, but I see it was 'In progress'

[2019-12-02 11:57] riahasler-DI opened #606 "Country filter on the Datasets page"
## I'm submitting a ...
Bug

**Describe the Issue**
On the Datasets page the country filter is pulling though weirdly. I think we had this issue with the publications page so hopefully it can be fixed quickly. We want to match the Dataset filter to the Publication page one.

**To Reproduce**
Replace the content below with the steps to reproduce the behaviour.
1. Go to http://159.65.56.142/data/dat

[2019-12-02 12:06] alice-mcandrew-development-initatives commented on #492
@edwinmp I am still seeing empty lines on this: http://178.128.102.213/blog/priorities-uks-incoming-secretary-state-alok-sharma/

[2019-12-02 12:07] alice-mcandrew-development-initatives commented on #3
Something odd is going on with the blog listing again. I'm seeing no images and some older content being brought forward with the wrong date:
![image](https://user-images.githubusercontent.com/55877063/69958252-4b8bf900-14fc-11ea-90da-50ac02ce1445.png)

[2019-12-02 12:25] alice-mcandrew-development-initatives commented on #3
Cleared cache and it's back to working again!

[2019-12-02 12:25] #3 closed

[2019-12-02 13:38] akmiller01 commented on #17
Hi @benjamincoleman I'm afraid despite all my tinkering I cannot get the chapterNav.js to work with the altered chapter nav in Short Publications. Does it need altering on your end? http://development-initiatives.surge.sh/page-templates/14-1a-publication-short-form

[2019-12-02 13:40] akmiller01 commented on #606
https://github.com/devinit/DIwebsite-redesign/pull/608

[2019-12-02 15:16] alice-mcandrew-development-initatives commented on #471
This search function doesn't appear to be working very well.

This snippet has been created:
![Capture_2](https://user-images.githubusercontent.com/55877063/69970616-6f5c3880-1516-11ea-87ee-ccc7429f5699.JPG)
But doesn't appear when you search:
![Capture_1](https://user-images.githubusercontent.com/55877063/69970622-72572900-1516-11ea-8a41-609d7c5e66a0.JPG)

[2019-12-02 15:22] alice-mcandrew-development-initatives opened #609 "Embolden 'Share' on publication pages"
Non-essential and very low priority but it would be great if we could have the word 'Share' in the share section at the bottom of publication pages emboldened:
![image](https://user-images.githubusercontent.com/55877063/69971076-44beaf80-1517-11ea-9d9c-9665dc8ccc47.png)

See this page for example: http://devinit.org/publications/multi-year-humanitarian-funding-planning-jordan-and-lebanon/

[2019-12-02 15:25] akmiller01 commented on #508
As discussed with @AnnaHope , only Dataset Pages linked as Publication Datasets pull through. E.g.
![image](https://user-images.githubusercontent.com/2836840/69971474-f517be00-14ed-11ea-9860-5970aa16f455.png)

Although the example above has lots of Figure Pages linked as Publication Datasets, none of them show because they're all figures.

[2019-12-02 15:52] alice-mcandrew-development-initatives commented on #16
Contrary to the pattern library, we probably don't need to display sample text for the appendixes, as this looks odd when it pulls through if you have tables and/or paragraph breaks in first few lines, which will often be the case for appendixes (as these will likely include references and acronyms):
![image](https://user-images.githubusercontent.com/55877063/69973483-789bd400-151b-11ea-8106-16aef

[2019-12-02 16:07] benjamincoleman commented on #17
Sure, the JS will be in the pattern library. I can ask @urlsangel to have a look.

[2019-12-02 16:40] benjamincoleman opened #610 "Add chapter navigation to the Appendix template"
Want to add the chapter navigation to this template: http://development-initiatives.surge.sh/page-templates/14-2-publication-appendix

[2019-12-02 16:57] akmiller01 commented on #16
https://github.com/devinit/DIwebsite-redesign/pull/611

This way, Appendix will only have text if typed into the hero text field

[2019-12-02 17:09] alice-mcandrew-development-initatives opened #613 "Orange publication appendix hero"
The page title (in the hero) of the orange publication appendix page has a dark orange box around it - can this be removed (so it's just white text on orange background)? We don't want to need to add hero images for appendixes.

Example:
![image](https://user-images.githubusercontent.com/55877063/69979408-2a400280-1526-11ea-88e7-b1688f3bc751.png)

http://devinit.org/publications/multi-year-humanit

[2019-12-02 17:15] akmiller01 commented on #17
Should fix the JS https://github.com/devinit/DIwebsite-redesign/pull/612

[2019-12-02 17:18] akmiller01 commented on #471
Okay, solved this one @alice-mcandrew-development-initatives we just needed to reindex elastic-search http://159.65.56.142/admin/snippets/downloads/publicationdownload/?q=field

[2019-12-02 17:20] alice-mcandrew-development-initatives opened #614 "Internal links search function"
It is difficult to search for and find some internal pages when creating hyperlinks.

Example - Trying to link to this publication appendix page (http://159.65.56.142/publications/multi-year-humanitarian-funding-planning-jordan-and-lebanon/interviewees/) from this appendix page (http://159.65.56.142/publications/multi-year-humanitarian-funding-planning-jordan-and-lebanon/acknowledgements/):
![imag

[2019-12-02 17:21] alice-mcandrew-development-initatives commented on #471
Great!

[2019-12-02 17:28] akmiller01 commented on #614
This one should also be fixed by the crontab updating the search index once per hour @alice-mcandrew-development-initatives if you try searching for it again it should appear now since I just updated the index.

[2019-12-02 17:28] alice-mcandrew-development-initatives commented on #614
Wonderful!

[2019-12-02 17:28] #614 closed

[2019-12-02 17:58] akmiller01 commented on #604
Should be fixed by https://github.com/devinit/DIwebsite-redesign/pull/612 if the above link was a LegacyPublicationPage @jamesharle It's 404ing now.

[2019-12-03 06:23] edwinmp commented on #14
Hi @AnnaHope the home page hero designs are now available on staging.

[2019-12-03 06:25] edwinmp commented on #557
@urlsangel is this fixed for you as well?

[2019-12-03 09:26] #606 closed

[2019-12-03 09:38] urlsangel commented on #557
@edwinmp

Looks good on my iPhone X 👍

[2019-12-03 09:44] BenDarby commented on #610
@BenDarby updated chapter navigation and added it to the above template

[2019-12-03 09:48] #481 closed

[2019-12-03 10:04] #480 closed

[2019-12-03 11:58] riahasler-DI opened #616 "Arrows missing on Our Story page"
## I'm submitting a ...
Bug

**Describe the Issue**
Arrows are missing on the Our Story page timeline.

**To Reproduce**
Replace the content below with the steps to reproduce the behaviour.
1. Go to 'the Our Story template page http://development-initiatives.surge.sh/page-templates/04-our-story' and go to the live page http://159.65.56.142/who-we-are/our-story/
2. Scroll down to 'the timeline'
3.

[2019-12-03 12:14] riahasler-DI commented on #600
@alice-mcandrew-development-initatives and @jamesharle Publication summary has been added to the report child page. Can close this issue now :)

![image](https://user-images.githubusercontent.com/56585598/70050271-75115700-15c6-11ea-94dd-906e6d846c98.png)

[2019-12-03 12:19] #600 closed

[2019-12-03 12:26] #557 closed

[2019-12-03 12:35] alice-mcandrew-development-initatives opened #618 "Option to include infographics in blog post"
If possible, it would be great to have the option to add infographics to blog posts (as we can for publications).

Example: https://devinit.org/blog/how-well-aid-targeting-disability/
At the moment, we can add the charts as images but don't have the option for the title/caption styles.

[2019-12-03 13:08] akmiller01 commented on #616
Hi @riahasler-DI and @edwinmp I think the arrows only appear once the timeline overflows and there are too many circles to display at once.

[2019-12-03 13:49] #541 closed

[2019-12-03 13:50] #583 closed

[2019-12-03 14:00] riahasler-DI commented on #605
I've also noticed that the optional fields still come through despite not adding content.

![image](https://user-images.githubusercontent.com/56585598/70057267-c0326680-15d4-11ea-8d7c-3df1edf19a7d.png)

![image](https://user-images.githubusercontent.com/56585598/70057300-cfb1af80-15d4-11ea-8324-6f0b7c9c0f67.png)

[2019-12-03 14:20] riahasler-DI commented on #605
Can we make the Start Date a free text box so we have the option to put the full day month and year, the month and year and text (eg: Start Date: As soon as possible)

Thanks! :)

[2019-12-03 15:07] #16 closed

[2019-12-03 15:29] jamesharle opened #621 "Chronological ordering for news and events listings screwy"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
On news and event listings, listings appear in chronological order but sometimes loop back to 2019 at the end. The final page of listi

[2019-12-03 16:04] edwinmp commented on #492
@alice-mcandrew-development-initatives this is now fixed. You can verify on the link above ... we'll push to staging soon.

[2019-12-03 16:10] #555 closed

[2019-12-03 21:19] akmiller01 commented on #186
Up on subdomain! Just need to move it across tomorrow: https://staging.devinit.org/

[2019-12-03 21:19] #186 closed

[2019-12-04 10:51] alice-mcandrew-development-initatives commented on #492
Great :) thanks

[2019-12-04 10:55] jamesharle opened #627 "Chapter navigation popup not appearing on exec summary"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The chapter navigation pop-up is not displaying on exec summary pages. Also applies on GNR site.

**To Reproduce**
Replace the content

[2019-12-04 12:05] edwinmp commented on #627
I don't think this feature is available for summary pages ... it's not showing on the patterns library as well... hmm ... http://development-initiatives.surge.sh/page-templates/14-publication-summary ... @BenDarby, is this a regression?

[2019-12-05 15:24] akmiller01 commented on #621
https://github.com/devinit/DIwebsite-redesign/pull/633

[2019-12-05 15:32] jamesharle opened #634 "Dataset copy needs amending"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Currently the text that automatically appears alongside the download button for datasets is incorrect. It reads
'XLS files contain the

[2019-12-05 15:46] jamesharle opened #635 "Search results text doesn't make sense"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The text that displays at the top of search results pages (both data and publications searches) doesn't make sense. For 22 search resu

[2019-12-05 15:50] jamesharle opened #636 "Amending order of 'featured work' on homepage broken"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
When adding ‘featured work’ to the homepage, it’s only possible to alter the order by deleting all featured content and re-adding it i

[2019-12-05 15:52] benjamincoleman commented on #635
Hi @jamesharle just to add my 2p to this.

I would expect the text to read something like:

"Showing 1-9 of 22 results" so the user both knows where they are in the range, and the size of the range.

My fault - this came through via the sketching / designs and should have been picked up before development

[2019-12-05 16:03] jamesharle commented on #635
Sounds good, happy with this formulation!

[2019-12-06 12:00] SimonMurphyDI commented on #613
Just to flag this is an issue for all secondary colour heroes
![image](https://user-images.githubusercontent.com/22001094/70321718-f7e11e80-181f-11ea-8c52-b113ddd068bc.png)

[2019-12-06 15:38] benjamincoleman commented on #367
@BenDarby I've updated the spotlight sketches with a mobile version: https://marvelapp.com/d36178e/screen/64490724

[2019-12-06 15:39] benjamincoleman commented on #366
@BenDarby I've updated the spotlight location comparison sketch with a mobile version: https://marvelapp.com/d36178e/screen/64488651

[2019-12-06 16:53] benjamincoleman commented on #613
@alice-mcandrew-development-initatives @SimonMurphyDI can you post a URL we can see this at please?

@BenDarby can you have a look at this to see wha't going on?

B

[2019-12-09 10:18] benjamincoleman commented on #610
@BenDarby we'll want to pull across the design changes we've just completed on the GNR chapter navigation to here.

[2019-12-09 11:08] alice-mcandrew-development-initatives commented on #613
@benjamincoleman  @BenDarby
I provided this above for orange: https://159.65.56.142/publications/multi-year-humanitarian-funding-planning-jordan-and-lebanon/acknowledgements/
And this is for green (but there is a pattern there now): https://159.65.56.142/publications/donors-triple-nexus-lessons-united-kingdom/acknowledgements/

[2019-12-09 11:20] urlsangel commented on #610
@akmiller01 @edwinmp

Some notes on implementation changes compared to what's been done on GNR:

#### "View full report" link
It looks like you already have this in your `nav.html` template, so that should be fine.

- https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/templates/publications/chapter-nav/nav.html#L22
- https://github.com/devinit/gnr-website/blob/master/templates/r

[2019-12-09 13:43] akmiller01 commented on #610
Done! https://github.com/devinit/DIwebsite-redesign/pull/638

[2019-12-09 14:11] BenDarby commented on #613
@benjamincoleman @alice-mcandrew-development-initatives I've updated the css so the right colour appears on the green variation when there is no image. A pull from the `pattern_library` feature branch would be required to see update.

[2019-12-09 14:58] BenDarby commented on #610
@urlsangel @benjamincoleman @akmiller01 I've added the updated chapter navigation from GNR to DI, it can be viewed on surge

[2019-12-09 16:28] akmiller01 commented on #610
@urlsangel will this require an update to our pattern library JS as well? I've added the conditional for whether a chapter has sections or not, and this seems to not be operational. That's removed the "Read whole {{label}}" button in the grey section, and the section on the left is still toggling the subnav rather than navigating to the page:

![image](https://user-images.githubusercontent.com/283

[2019-12-09 16:40] urlsangel commented on #610
@akmiller01

Yes, the changes above go in tandem with the JS update in the PL - I assumed this was being ported over by Ben.

@BenDarby - have you ported over the updated `chapterNav.js` from GNR to DI?

[2019-12-09 16:41] akmiller01 commented on #610
Spotted it here. https://github.com/devinit/DIwebsite-redesign/tree/feature/pattern_library I'll need to merge that in as well. Cheers @urlsangel

[2019-12-09 17:31] akmiller01 commented on #610
Just merged the new JS into develop @urlsangel I'm afraid it's still not working for me. Toggling back and forth between gnr-website and this repo and I'm having trouble spotting what I've done wrong: http://178.128.102.213/publications/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/ Still cannot click through to Exec summary.

[2019-12-09 18:37] akmiller01 commented on #634
https://github.com/devinit/DIwebsite-redesign/pull/640

[2019-12-09 18:56] akmiller01 commented on #635
https://github.com/devinit/DIwebsite-redesign/pull/640

[2019-12-09 19:13] akmiller01 commented on #636
https://github.com/devinit/DIwebsite-redesign/pull/640

[2019-12-09 19:15] akmiller01 commented on #627
Mostly working, but new JS seems to not be functional. More info: https://github.com/devinit/DIwebsite-redesign/issues/610#issuecomment-563346397

[2019-12-09 19:18] akmiller01 commented on #601
I think this could mostly be mitigated by adding related pages via the CMS, right @Duncan-Knox ?

![image](https://user-images.githubusercontent.com/2836840/70465321-b30eef00-1a8e-11ea-95b2-471b030bca26.png)

[2019-12-09 20:42] akmiller01 commented on #610
@urlsangel and @BenDarby  just confirmed that this isn't working via the pattern library. You can change the `href` of the "Executive Summary" anchor to something other than `#` and try clicking on it. It's still trying to open the side-nav, even though it has no sections:

![image](https://user-images.githubusercontent.com/2836840/70471052-6e895080-1a9a-11ea-856a-f02596822446.png)

[2019-12-10 10:00] Duncan-Knox commented on #601
Yes looks so @akmiller01.

[2019-12-10 10:24] urlsangel commented on #610
Hi @akmiller01

The JS hadn't been ported across from GNR.

I've updated the `pattern_library` branch with working nav markup and JS - the nav is now working as expected in the PL, and should be good for you to implement into production. It should just be a matter of bringing the JS across.

Apologies for the confusion!

[2019-12-10 13:08] #601 closed

[2019-12-10 13:38] akmiller01 commented on #610
Cheers @urlsangel tested and working now!

[2019-12-12 11:24] SimonMurphyDI opened #642 "Related content - not appearing on publications page"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.
The publications pages have the option to add 'Related content'; however when t

[2019-12-12 11:36] SimonMurphyDI opened #643 "vacancy page doesn't pull through 'closing date' of job"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.

When you click on 'https://devinit.org/work-for-us/vacancies/', the recent rol

[2019-12-12 15:27] #635 closed

[2019-12-12 15:28] #636 closed

[2019-12-12 15:28] #621 closed

[2019-12-12 15:28] #508 closed

[2019-12-12 15:28] #14 closed

[2019-12-12 15:28] #579 closed

[2019-12-12 15:29] #519 closed

[2019-12-12 15:30] #17 closed

[2019-12-12 15:30] #435 closed

[2019-12-12 15:30] #610 closed

[2019-12-12 15:30] #605 closed

[2019-12-18 14:56] jamesharle commented on #604
Hi @akmiller01 and @edwinmp! Just reopening this one as @SimonMurphyDI has flagged that the behaviour still isn't as expected - see screengrab below, with the pattern template on the left and the live page on the right. As you can see, a white box has been added in the live version that was not present in the template, and the gap between the author credit and the text is greater than expected.

!

[2019-12-18 15:08] SimonMurphyDI opened #647 "multi-author blogs only pull through one authors face on the listings page"
**Is your feature request related to a problem? Please describe.**
When two (or more) individuals have written a blog, only one photo pulls through on the blog listing page

**Describe the solution you'd like**
Can all authors' photos pull through?

**Requested Delivery Date:**

Could we have this working in Jan next year please - there are some blogs coming up with external stakeholders an it wou

[2019-12-18 16:57] #36 closed

[2019-12-19 06:39] edwinmp commented on #616
I'm closing this issue as this is expected behaviour for the current context.

[2019-12-19 06:39] #616 closed

[2019-12-19 06:41] edwinmp commented on #627
Closing as the [comment](https://github.com/devinit/DIwebsite-redesign/issues/610#issuecomment-564035699) in #610 indicates that it's fixed.

[2019-12-19 06:41] #627 closed

[2019-12-19 06:42] #562 closed

[2019-12-20 14:25] AnnaHope opened #648 "DI website analytics event tracking"
@edwinmp @akmiller01 further to slack conversations, here is the google doc to use for the event tracking in analytics on the site

https://docs.google.com/document/d/1K7LPjbyPgxYiNLsq1E0X3DhqRMy8nWfxOYDYjVnuM1c/edit

this is fairly urgent as we are currently losing important data on a range of elements that can tell us how well our site and key publications are performing.

Thank you!

[2020-01-02 14:57] akmiller01 commented on #648
Partially done here with everything I can do via just templates: https://github.com/devinit/DIwebsite-redesign/pull/649 Will need pattern library additions to support the custom GA events.

[2020-01-06 12:27] k8hughes commented on #400
@benjamincoleman I don't know if this issue is on your radar.  Above is a question fro Anna.  It would be good to know if we should keep this open or close it.

[2020-01-06 12:28] k8hughes commented on #401
@benjamincoleman  @BenDarby ^^ Can this be added to the pattern library?

[2020-01-09 10:07] benjamincoleman commented on #400
@AnnaHope @k8hughes

As @edwinmp pointed out, the code is set to zoom to be able to view all markers drawn on the map. This uses a built in function `fitBounds` which we cannot change.

However, we can adjust the window I think to help by forcing a minimum height of around 350px to improve things a little perhaps.

This really breaks down at mobile level, in which case I think we should only load

[2020-01-09 16:00] BenDarby commented on #401
@akmiller01 @k8hughes I've added this to the pattern library which can be seen here http://development-initiatives.surge.sh/page-templates/21-data-section Is this what you had in mind?

[2020-01-09 16:22] akmiller01 commented on #401
Sure, that works @BenDarby . We just need to code it into the relevant places. I was going to suggest replacing `profile-fallback.png` with it, but I guess in some cases we'll want the mannequin and in some cases we'll want the quote.

[2020-01-09 16:45] akmiller01 commented on #401
Incorporated here: https://github.com/devinit/DIwebsite-redesign/pull/656

[2020-01-15 08:41] edwinmp opened #658 "Create Spotlight Page"
Subsets include Spotlight on Uganda, Spotlight on Kenya

- Add Indicator StreamField to Spotlight Page (https://github.com/devinit/datahub-cms/blob/master/spotlight-uganda/concept.csv)

[2020-01-15 08:42] edwinmp opened #659 "Create script to migrate spotlight indicator data from CMS to SpotlightPages"

[2020-01-16 12:01] benjamincoleman commented on #367
Changes to do:

* [ ] We want to re-introduce the tabs to the map, as you see in the current spotlights (http://data.devinit.org/spotlight-on-uganda) so that the list of indicators is broken up into a more easy to navigate way.

* [ ] Change `Overview for {{ location }}` to `Key facts for {{ location }}`

* [ ] Change `Indicator comparison` to `Compare indicators`

* [ ] Seperate the `Revenue and

[2020-01-16 12:02] benjamincoleman commented on #366
Changes:

* [  ]  Remove `indicator` from the title

* [  ] `add another section` should be `add another location` at the bottom

[2020-01-21 09:40] benjamincoleman commented on #400
Note to self in case we want to make it conditional:

[code]

[2020-01-31 10:25] benjamincoleman commented on #367
@BenDarby I've updated the sketches:

You can also view them on Marvel here: https://marvelapp.com/d36178e/screen/65846309

Here's some walkthrough videos you should watch so you're aware of how they work:

Spotlights and how they work - https://www.dropbox.com/s/ok60ac1cwipy3zj/di-spotlights.mp4?dl=0

Spotlights on mobile - https://www.dropbox.com/s/7vrvk0mot641a47/di-spotlights-mobile.mp4?dl=0

[2020-01-31 10:38] benjamincoleman commented on #366
Sketch here: https://marvelapp.com/d36178e/screen/65882704

Videos will show you how this works:

Location comparison - https://www.dropbox.com/s/hhg710u7818kqcs/di-spotlights-location-comparison.mp4

Location comparison on mobile - https://www.dropbox.com/s/edeuheg3o7v27n1/di-spotlights-location-comparison-mobile.mp4

---

Checklist of changes:

- [ ] Add location button now shows the bar from th

[2020-01-31 14:16] AnnaHope commented on #604
@edwinmp was this fix made? The publications authors still aren't displaying correctly and I see no movement seems to have happened since 21 days ago? @k8hughes FYI

[2020-01-31 14:22] AnnaHope opened #663 "No publications pages are displaying initial section of content correctly"
All the content on our publications starts very far down the page, and a) isn't as the template shows but b) could impact user experience as you can't see that there is an HTML version of the publication below the header.

Can this pleased be sorted as a priority? It really doesn't look great. Thanks!

How it is now on short publications:
![image](https://user-images.githubusercontent.com/16958942

[2020-01-31 15:09] akmiller01 commented on #663
Fix here. Will require some testing on dev before we push it live: https://github.com/devinit/DIwebsite-redesign/pull/664

[2020-01-31 16:04] akmiller01 commented on #663
Some tests by @davidebukali @AnnaHope I wasn't able to get the Short Publication 100% like the template, because they've buried the author block deep into the content and it would take a pretty major refactor of `templates/publications/blocks` to make sure it all works out. So the Short publication author is a bit wider than in the pattern library, but if it works as a hotfix we can de-priorize th

[2020-02-02 11:52] edwinmp commented on #604
@AnnaHope I thought this had been fixed, but it appears some pages, specifically those with chapters still have the problem. This is a pattern library disparity.

@BenDarby chapter publication pages with multi-authors are still displaying in the old style. There's css tied to the `chapter-block_content` class that's responsible for this.

[2020-02-02 14:54] akmiller01 commented on #604
The main issue that Anna is referring to is the fact that there's too much space between the author block and the content @edwinmp . In our templates we have the author block off in its own `section--large` and that adds way too much padding. My PR nests the author block in the same section as the first bit of content, eliminating the gap.

I think the styling issue you mention exists, but it is s

[2020-02-03 13:47] BenDarby commented on #367
@benjamincoleman I have added the menu prototype you did to the pattern library and just updated the colors a little, so they are in line with the DI site, I also positioned the elements so they're matching the sketch.
I updated the headings across the template and included the extra form fields where needed, the sketch didn't mention select2 so I commented it out for now and used a standard selec

[2020-02-03 13:47] BenDarby commented on #366
@benjamincoleman I've updated the titles and added the additional titles and form fields

[2020-02-04 09:04] benjamincoleman commented on #367
@BenDarby Ok, I have some feedback:

The top level location navigation should be distinct / seperate from the map - it controls the whole page - this is why I gave it a seperate background in the sketch.

<img width="1263" alt="Screenshot 2020-02-03 at 14 57 32" src="https://user-images.githubusercontent.com/64877/73729349-c8ba3100-472c-11ea-9a98-5edc32e149ab.png">

The buttons should be below the

[2020-02-04 10:08] BenDarby commented on #367
@benjamincoleman I've pushed some updates to surge. I duplicated the map element in the sidebar to show/hide it with CSS for mobile, the colors we're using DI, it was their orange color but I changed it to the red as it's their primary color. The country list is now using shades of the dark grey and the red is for the active class, but when you first open the menu the active class is being applied

[2020-02-04 10:13] benjamincoleman commented on #367
@BenDarby Let's not duplicate the map - that's a really complex element. Best to duplicate either the dropdowns in the sidebar, or the content that comes below it.

[2020-02-04 11:18] benjamincoleman commented on #367
@BenDarby ok, looking at the accordion on mobile, can we have an icon to indicate that it is in fact an accordion?

Also, can we move from 3 cols in desktop, to 2 cols then 1 col. When we snap to 1 col at 849px wide it could really be 2 and we'd avoid the images / interactives being massive. Imagine if each col had an interactive - it would be really long.

<img width="808" alt="Screenshot 2020-02

[2020-02-04 11:21] benjamincoleman commented on #367
Another issue:

Show more button should be horizontally centred  - needs a negative left margin to pull it back onto the centre.

<img width="808" alt="Screenshot 2020-02-04 at 11 19 44" src="https://user-images.githubusercontent.com/64877/73740642-73881a80-4740-11ea-9ca9-bba837f94c93.png">

On this piece as well, we could use a class on the interactive to limit its height. Then I can add some JS

[2020-02-04 11:29] benjamincoleman commented on #367
Can you also update the selects to use the right content?

We should have in the first one the 'topics':

- Poverty and vulnerability
- Population
- Education
- Health
- Water and sanitation
- District public resources
- Agriculture
- Climate Change

You should be able to use the model `indicators` to do this by reading out the `group_name` for them.

Then for the 'Indicator' dropdown you can have

[2020-02-04 13:35] BenDarby commented on #367
@benjamincoleman I've made the above amends. Tabs got to 2 then 3 columns, added an arrow icon when it's an accordion and fixed the button centering. I also updated the selects to use the correct content.

[2020-02-05 10:43] benjamincoleman commented on #366
@BenDarby can we get the right content into the topic and indicator dropdowns on this template please?

![Screenshot 2020-02-05 at 10 41 57](https://user-images.githubusercontent.com/64877/73834786-3d13d380-4804-11ea-8497-98d48b8c4603.png)

Also the compare button has gone rogue!

![Screenshot 2020-02-05 at 10 42 57](https://user-images.githubusercontent.com/64877/73834828-5026a380-4804-11ea-8b80-

[2020-02-05 10:54] BenDarby commented on #366
@benjamincoleman fixed button placement and updated content in select fields

[2020-02-06 16:06] urlsangel commented on #366
@BenDarby @benjamincoleman

The buttons location buttons overlap with the compare button on iPad landscape orientation:

![Screenshot 2020-02-06 at 16 02 33](https://user-images.githubusercontent.com/560463/73955007-92321100-48fa-11ea-8f38-1a357d9fda81.png)

[2020-02-06 16:11] urlsangel commented on #367
@BenDarby @benjamincoleman

The search functionality could do with optimising/refactoring. The DOM tree that it's searching through is a lot bigger than the GNR CNP one, and it's making my fairly decent MacBook Air hang quite significantly.

[2020-02-07 09:34] urlsangel commented on #367
@BenDarby @benjamincoleman

Edge / Win 10: the topic/indicator sidebar displays with a scrollbar:

![Screenshot 2020-02-07 at 09 31 27](https://user-images.githubusercontent.com/560463/74018014-0f0dcb00-498d-11ea-9bc0-da2f667ca73f.png)

[2020-02-07 09:54] urlsangel commented on #367
@BenDarby @benjamincoleman

Edge / Win 10: locations display with a scrollbar:

![Screenshot 2020-02-07 at 09 53 47](https://user-images.githubusercontent.com/560463/74019603-d6232580-498f-11ea-8b67-7f8cdeb81c8e.png)

[2020-02-07 09:58] urlsangel commented on #366
@BenDarby @benjamincoleman

IE11 / Win 10: Update button misaligned at medium width:

![Screenshot 2020-02-07 at 09 56 32](https://user-images.githubusercontent.com/560463/74019881-4df15000-4990-11ea-9374-bf8da2a4eb37.png)

[2020-02-07 10:03] urlsangel commented on #367
@BenDarby @benjamincoleman

IE11 / Win 10: show more button cut off at narrow width:

![Screenshot 2020-02-07 at 10 02 46](https://user-images.githubusercontent.com/560463/74020244-120aba80-4991-11ea-90b1-310fb5a3b65f.png)

[2020-02-07 10:10] urlsangel commented on #367
@BenDarby @benjamincoleman

Firefox / Win 10: nested menu displays with a scrollbar:

![Screenshot 2020-02-07 at 10 10 07](https://user-images.githubusercontent.com/560463/74020736-1aafc080-4992-11ea-86e4-74b028e532f3.png)

[2020-02-07 10:25] BenDarby commented on #367
@urlsangel I can hide the scrollbar when the menu opens but as soon as you scroll it appears, we have an `overflow-y:` scroll; set on this element to control the height as the menu us really long.

[2020-02-07 10:30] urlsangel commented on #367
@BenDarby I flagged this as it looked different from Mac browsers - if it's unavoidable then I guess that's just Windows :-)

[2020-02-07 10:33] benjamincoleman commented on #367
@BenDarby how about `overflow: auto` - would that have it appear only when needed?

[2020-02-07 10:46] BenDarby commented on #367
Nope but I've set to appear only when needed now with `-ms-overflow-style: -ms-autohiding-scrollbar;`

[2020-02-07 11:03] BenDarby commented on #366
Bugs above have been addressed

[2020-02-07 11:04] BenDarby commented on #367
Bugs above have been addressed :)

[2020-02-13 11:20] benjamincoleman opened #668 "Add Mouseflow code to the website"
We want to add Mouseflow tracking to the website.

[code]

[2020-02-14 10:34] akmiller01 commented on #668
Cheers @benjamincoleman I was just reading about precisely where to place mouseflow, and I came across this guide for use with GTM. Would this be an easier implementation? https://support.mouseflow.com/support/solutions/articles/44001806517-installing-using-google-tag-manager

[2020-02-14 11:33] benjamincoleman commented on #668
@akmiller01 Ah, if we have GTM there then that's great - I've set IATI up using that method. Is GTM already working with the DI website?

[2020-02-14 12:44] akmiller01 commented on #668
Yes, GTM is set up and deployed live.

[2020-02-14 12:57] benjamincoleman commented on #668
Ok great - leave this to me and  I'll get Mouseflow working today :)

[2020-02-14 15:41] benjamincoleman commented on #668
@akmiller01 can you give me access to the DI GTM account please  - ben@bteam.co

Thanks

[2020-02-15 11:06] akmiller01 commented on #668
@edwinmp set it up. Do you have the credentials to share with Ben? Maybe over Slack?

[2020-02-16 07:31] edwinmp commented on #668
@benjamincoleman I've sent u an invitation to our GTM account.

[2020-02-17 14:32] edwinmp opened #669 "Searching on Publications does not sort the results by most recent date"
## I'm submitting a ...
<pre><code>
[x] Bug report
</code></pre>

**To Reproduce**
https://devinit.org/publications/?topic=&country=&q=somalia

**Expected Behaviour**
Results with the most recent dates should appear first

Requested Delivery Date: ASAP

[2020-02-18 09:48] #658 closed

[2020-02-18 09:48] #659 closed

[2020-02-18 17:38] alice-mcandrew-development-initatives opened #671 "Free text for 'First interview' on 'Vacancy pages'"
At the moment, you have to select a specific date from a calendar for the 'Dates' on 'Vacancy pages':
![image](https://user-images.githubusercontent.com/55877063/74761497-08783100-5274-11ea-967a-ddd41ab3bf59.png)

Can we replace this with free text?

For example, we would like to have 'w/c 30 March' for the 'First interview' on this job advert: https://devinit.org/work-for-us/vacancies/analystseni

[2020-02-26 16:25] benjamincoleman commented on #367
@BenDarby can you update the tabs so that:

1. Some of them dont have the currency select box

2. The currency select box is not 100% width

<img width="1304" alt="Screenshot 2020-02-26 at 16 17 47" src="https://user-images.githubusercontent.com/64877/75365077-97a8c880-58b4-11ea-9486-206f8083b2a1.png">

[2020-02-26 17:57] BenDarby commented on #367
@benjamincoleman I've updated the tabs, the current `select` only appears where the money is referenced also I have kept the select 100% on small screens but not on medium and above. PL has been updated on surge as well

[2020-02-27 09:41] benjamincoleman commented on #367
@BenDarby good man, that's perfect

[2020-03-04 12:44] benjamincoleman opened #678 "Key facts section - what to do when we don't have content"
**Question**

[2020-03-04 12:53] benjamincoleman commented on #678
I think we probably need to show the tab system anyway, but with a message about where data is available in each tab. Something like this:

![Screenshot 2020-03-04 at 12 51 05](https://user-images.githubusercontent.com/64877/75881389-d8ee2a80-5e16-11ea-8dd8-3f628d0e1cf9.png)

The message here reads:

`Unfortunately, we do not have data for this location`.

We might adapt that to say `we do not hav

[2020-03-04 12:55] benjamincoleman opened #679 "Compare indicators section - what do we do when we don't have sub-county data available?"
**Question**

**Comments:**

**Another Question**

[2020-03-04 13:12] benjamincoleman commented on #679
So we currently have gaps in our data, that may well be filled in the future.

I also think consistency is important when we've got a sophisticated interface like this.

So, I'd say we keep the layout the same, so the user is familiar with what can be displayed there.

Where we do not have data, have a message to explain this, something like this:

![Indicator comparison v3 no data v1](https://use

[2020-03-04 13:13] benjamincoleman opened #680 "Compare indicators module - Graph is really really long"
**Question**

[2020-03-04 13:25] benjamincoleman commented on #680
This needs some thought...

We have the design here: http://development-initiatives.surge.sh/page-templates/22-spotlight

In the design, we wanted to have a `Show more / Show less` button to expand / contract that right-hand chart.

In the spotlight though, we think this is not going to work, as the user will hit `Show more` and that will expose a long chart. The problem is that if they do not wan

[2020-03-04 13:35] benjamincoleman commented on #680
Ok, I have an idea for this which will allow us to use full height charts, but give the user the ability to collapse the chart back to where it was.

Given we're up against the clock, I think the restricted height is fine, although I would increase it depending on the screen width using media queries.

Something like:

[code]

[2020-03-04 13:41] edwinmp commented on #679
1. Some districts may be missing data, so aggregating it doesn't necessarily reflect the truth at a country level. What we can do is to acquire country level data as a whole despite having gaps in the district/county data. Will pose this question to one of the analysts.
3. The disparities between data across countries makes this tricky ... e.g. Kenya doesn't appear to care about regions ...

[2020-03-04 14:01] k8hughes commented on #678
I still don't think this solves the problem that:
1. As a user I don't even know the section exisits till I have a location selected.
There needs to be a default display that actually informs the user that they need to select a location then they have the chance to see key facts.
2.  What year do the facts come from?  I assue we have this data annually, so what year is being shown?

I've added @ak

[2020-03-04 14:06] akmiller01 commented on #678
I imagine it will generally be easier to display key facts at the national level, either by aggregation or by national data source...

But there's no hard-and-fast rule for where we have data and where we don't. It will be safe to assume we'll have data gaps of varying sizes at every level, and design around that.

I would generally agree that we shouldn't design anything around the assumption tha

[2020-03-04 17:08] edwinmp commented on #678
@k8hughes I'd forgotten about this, but couldn't we show country level facts from the data that feeds the country profiles?
http://data.devinit.org/country/uganda

[2020-03-04 17:12] edwinmp commented on #678
@k8hughes @benjamincoleman  Actually, I really think showing country profile data solves this problem (at least for the national level)... knock me on the head for forgetting about it.

[2020-03-04 17:20] k8hughes commented on #678
We need to solve the problem at the data level also though - ie where did we get that data on the country profile from and what year does it show?
Can you check with Chris what data we have currently in the spotlights dataset?
We'd need to make sure we keep this updated if we are going to show it.  None of this is a blocking issue but it is important to consider

[2020-03-05 09:14] benjamincoleman commented on #680
@k8hughes @edwinmp Ok, I've worked up a prototype which will allow the button to always be in view - this means the user can always collapse the large chart area once it's been expanded.

You can see it here: https://spotlight-prototype.surge.sh/

It might take a few refreshes to work properly, but you should be able to do this:

https://cloudup.com/cU5DU6EnP0r

[2020-03-05 09:35] edwinmp commented on #678
The years vary per indicator, but the last update on spotlight data was last year, but that was to load 2018 data (for the indicators we had data for).

[2020-03-05 14:05] benjamincoleman commented on #678
Just catching up on the discussion above...

and

The tabs should show facts for any level. (Tell me if that's not possible).

The tabs should always be shown at all levels. As a general rule, I believe we need to keep the interface the same, regardless of the availability of data - something I originally mentioned in #679

If we can aggregate to show data at the national level that would be great

[2020-03-05 14:18] edwinmp commented on #680
@benjamincoleman good idea ... though I'm wondering which is more disruptive to UX ... in both options, the one constant is that the user will have to scroll. I think the option above has quite the huge side-effect in that once the user has scrolled far enough and then collapses it, all the content below shall move to fill the vacated space. The user will have to scroll back up.

[2020-03-05 15:45] benjamincoleman commented on #680
@edwinmp we could scroll to the top on close easily enough.

[2020-03-06 11:40] benjamincoleman opened #681 "Compare Locations video and questions"
Message from Slack from David:

These are somethings I found when building the Location Comparison Page - http://development-initiatives.surge.sh/page-templates/23-spotlight-location-comparison#; Please see the video for context.

Video: https://cloudup.com/c_-GACOaOh9

1. When 'Add Location' button is clicked, its replaced by the 'menu and select' dropdown widgets. In case a user does not want to

[2020-03-06 11:45] benjamincoleman commented on #681
Ok answering each in turn:

I see, what happens if you click outside the menu? I think we probably do need a way to cancel. I'll think about this one and come up with something, it's also linked to Q3 as well.

This is a bug we can solve in design.

I think they work better side by side, but I'll come up with a better design for this which shows the interaction better.

[2020-03-09 10:16] k8hughes commented on #678
Hi @benjamincoleman varient to cope with missing data sounds like a good idea.
@wakibi to update about national elevl data after speaking to Moses.

[2020-03-09 10:18] k8hughes commented on #679
@edwinmp do we still have outstanding design questions, or does this issue have the answers that we needed?

[2020-03-09 10:18] k8hughes commented on #680
Are we happy with the resolution of this issue?

[2020-03-09 11:01] benjamincoleman commented on #679
I think it might be best we have some sort of notification content to flag this - not doing so means we are not presenting 100% reliable data. Better to highlight the issues than not I think.

Should we show them then? If there is no user need for looking at regional level data then why have them?

[2020-03-09 11:02] benjamincoleman commented on #678
@k8hughes ok I'll get sketches completed and brief @BenDarby to get designs available

[2020-03-09 11:03] benjamincoleman commented on #680
@k8hughes I'll see about updating my prototype JS so it has the 'scroll to top' behaviour.

[2020-03-09 14:13] benjamincoleman commented on #366
@BenDarby some design edits for you

the "add a location" interaction needs some changes, essentially to preserve the split on two lines as seen in the sketch. The design has this all in one row which causes issues:

<img width="1213" alt="Screenshot 2020-03-09 at 14 02 28" src="https://user-images.githubusercontent.com/64877/76220104-d0c72e00-620e-11ea-99df-7670a58d1942.png">

On the Sketch I've

[2020-03-09 16:42] wakibi commented on #678
Hi @k8hughes from my conversation with Moses, we shall always have data gaps. So we need to go with a generic solution that will work both when we have the data and when we do not. Remember some of this data is periodical - a case in point is the data we get from the census data which can only be updated after 10 years for Uganda.

[2020-03-09 16:57] benjamincoleman opened #682 "Current item class for Location Selection"
http://development-initiatives.surge.sh/page-templates/22-spotlight

@BenDarby can you check we have a class for the list items to show the currently selected item please, and provide some guidance on how / where it should go.

Also, can you make the Country sentence case rather than Uppercare please?

[2020-03-10 06:04] edwinmp commented on #679
We have they were they're relevant. At the moment, we're showing regions for Uganda but not for Kenya. The goal has been to build this to handle these kinds of disparities between countries.

I'm fine with messages in sections that have no data. This should motivate us to fill in these blanks.

[2020-03-10 10:12] BenDarby commented on #682
@benjamincoleman I've changed the country to be sentence case, the location selection has an active class already in place working. They need to add an `active` class to `countries-menu-list__item` for the selected item. Here is a video of it working if it's helpful https://drive.google.com/file/d/1cUAZW3KndvHW5WfBEVVc4wxCDyg1cbwn/view

[2020-03-10 12:52] BenDarby commented on #366
@benjamincoleman I have updated this template on surge http://development-initiatives.surge.sh/page-templates/23-spotlight-location-comparison

The style of locations has changed to be less dominant, removing the background colour on the icon and changing the colour to grey has helped. I also added a lot more to fix any issues with wrapping.

The add location functionality has been added with a li

[2020-03-10 15:29] benjamincoleman commented on #366
@BenDarby can we avoid the jump in height when we swap between the "add location" button and the country selection modules please?

[2020-03-12 09:31] benjamincoleman commented on #682
@k8hughes @edwinmp @davidebukali here's some guidance around highlighting the country select menu's current location, so we're showing what location we're currently showing.

[2020-03-12 15:20] benjamincoleman commented on #679
@BenDarby can you produce a variant template for the Country Spotlights to use when we have no data please.

You can find sketches for each of the modules with data here:

https://marvelapp.com/d36178e/screen/67187241

[2020-03-13 10:22] BenDarby commented on #679
@benjamincoleman I added a no data variation template http://development-initiatives.surge.sh/page-templates/22a-spotlight-nodata

I've used our alert module for this and added to the sections from the sketch.

[2020-03-13 10:23] BenDarby commented on #366
@benjamincoleman I added some padding to the add location button so the height matches the country lists, this as solved the height jumping issue

[2020-03-13 12:37] benjamincoleman commented on #679
@edwinmp you can see the designs set up for the "no data" notifications here: http://development-initiatives.surge.sh/page-templates/22a-spotlight-nodata

[2020-03-13 12:53] benjamincoleman opened #685 "Sharing design"
We need a sharing modal designed @BenDarby.

This is based on the original sharing functionality you can see in the spotlights: http://data.devinit.org/spotlight-on-uganda

![Screenshot 2020-03-13 at 12 54 58](https://user-images.githubusercontent.com/64877/76622715-ed72a700-6529-11ea-8c1d-45b91e8e4139.png)

I've produced a sketch here: https://marvelapp.com/d36178e/screen/65882709

![Screenshot 2

[2020-03-13 14:20] BenDarby commented on #685
@benjamincoleman I've updated the template to include the share modal. We had modal element already from the dataset templates so I created a variation for this.

[2020-03-13 15:11] benjamincoleman commented on #681
@davidebukali we've updated the design of the top of the location comparison template to solve some of the problems we'd discussed on this thread:

You can see the design here: http://development-initiatives.surge.sh/page-templates/23-spotlight-location-comparison

I've recorded a video to walk you through them: https://www.dropbox.com/s/w1thl96djo43n5o/spolight-location-comparison-location-select

[2020-03-13 15:13] benjamincoleman commented on #678
@wakibi @k8hughes we've covered this in this issue: https://github.com/devinit/DIwebsite-redesign/issues/679#issuecomment-598700062

[2020-03-13 15:28] benjamincoleman commented on #680
I've updated the prototype to have a scroll to top feature - this fires when you expand and contract the element, although it could just be implemented on the closing action.

[2020-03-13 15:31] benjamincoleman commented on #685
@mariamiah you can find the modal design here: http://development-initiatives.surge.sh/page-templates/23-spotlight-location-comparison

If you click on the "share visualisation" button at the bottom of the page.

[2020-03-16 16:18] AnnaHope opened #686 "Move events to second in the hierarchy of the sub-menu on the 'what we do' page"
At the moment events is at the bottom of the hierachy, we want it to become second.

![image](https://user-images.githubusercontent.com/16958942/76778364-9e36ab80-67a1-11ea-8bd2-c7cbe1416cc2.png)

Thanks!

Anna

[2020-03-24 14:31] benjamincoleman opened #688 "Navigating around spotlights"
From Kate's slack comment: https://devinitorg.slack.com/archives/CCJDWJ669/p1585042716001100

[code]

[2020-03-24 14:32] benjamincoleman opened #689 "Initial view of location comparison"
From Kate's Slack comment: https://devinitorg.slack.com/archives/CCJDWJ669/p1585042716001100

[code]

[2020-03-24 14:33] benjamincoleman opened #690 "Location comparison incomplete data"
From Kate's Slack comment: https://devinitorg.slack.com/archives/CCJDWJ669/p1585044489003400

[code]

![Screenshot 2020-03-24 at 10 04 29](https://user-images.githubusercontent.com/64877/77437376-7fa56580-6ddc-11ea-9362-0ebd248530b4.png)

[2020-03-24 15:49] benjamincoleman commented on #688
So one idea is to move the [ Compare this location to others ] button to be in the map element. This would make it a little more obvious by moving away from the sidebar content.

Additionally, we'd want to move between the two. Given the Spotlights are now comprised of two pages - the spotlight, and the location comparison page, something simple in the hero might be best. Perhaps something like th

[2020-03-24 16:01] benjamincoleman commented on #690
So looking at this I examined locations KOLE, OMORO, BUSIA, BUTEBO. Two have data and two do not. I’m not sure what data we have though…

For Omoro and Butebo, which we don't appear to have data for, we have the following possible scenarios:

**A. Partial data, as in for some indicators we have data, but others we do not?**

If this is the case then I think we need to indicate that no data is avai

[2020-03-25 10:30] benjamincoleman opened #692 "Update Data Page to showcase Spotlights"
We need to update the data page on the website to showcase the spotlights.

https://devinit.org/data/?nav=header

Current IA shows this, under the Data page.

![Screenshot 2020-03-25 at 10 30 18](https://user-images.githubusercontent.com/64877/77527525-301a7480-6e84-11ea-9a56-ecba4e12936b.png)

Had discussions around this here: https://basecamp.com/1931476/projects/15759410/messages/88843111#comme

[2020-03-25 10:41] benjamincoleman commented on #688
I've added a separate issue to update the Data page #692

[2020-03-25 11:29] benjamincoleman commented on #689
So there's two potential landing states:

1. You have one area pre-selected having hit the [compare this location to others] button on a spotlight. 2. Empty, when you navigate directly into this page either from the DI data page (still todo) or a google search result for example

---

In scenario 1 you would see this a view containing one location, and we could take the current indicator from the

[2020-03-25 11:32] benjamincoleman commented on #690
@k8hughes @edwinmp I've added some thoughts on how to deal with incomplete / no data for locations, and it will need your feedback as to which of those we're dealing with. We can use this issues for a discussion thread :)

[2020-03-25 11:33] benjamincoleman commented on #688
@k8hughes @edwinmp I've added this issue to cover the navigation from a Spotlight to a Location comparison page.

Also worth mentioning here that we'd ideally take the selected location and indicator across to the location page to use there. I've mentioned more about this in issue #689

[2020-03-25 16:40] k8hughes commented on #689
@edwinmp this makes sense to me do you agree?
 I imagine you can do this without templates right?

[2020-03-25 16:42] k8hughes commented on #690
I like the label that says " We don't have data for this topic in Nabru" that seems like a good suggestion.
Agree with B as well.
I think we'd need to have both, what do you think @edwinmp @wakibi ?

[2020-03-25 17:43] edwinmp commented on #689
Yup, will implement behaviour for both scenarios.

[2020-03-25 17:48] edwinmp commented on #690
A is fine... cannot implement B since we only know there's no data after none is returned on fetching.

[2020-03-25 17:54] edwinmp commented on #688
Do we have two captions then; one for when a specific location is selected i.e. `Compare this location to others`, and another when still showing the entire country e.g. `Compare locations in {{Country}}`?

[2020-03-26 14:19] benjamincoleman opened #693 "Compare locations - do we need a "compare" button?"
Looking at the compare locations, do we even need a "compare" button.

When we add a location, we can start the chart, even if we only have one location.

When we add more, we want to compare them so could reload the page with the added location.

When one is taken away, we should reload the page too. This all makes it feel like the "compare" button is not needed.

[2020-03-26 14:23] benjamincoleman opened #694 "Compare locations - area charts can be confusing"
When looking at a comparison between two areas, Kiambu and Nyeri, looking at Population > Number of Households (see image below) it could appear that Nyeri has over 600k, when in fact it's actually about 200k. I think this is because we're using area charts. A line chart would be clearer.

I think as a rule of thumb, if we have data over a number of years then we should use line charts. If we have

[2020-03-26 15:02] k8hughes commented on #694
@edwinmp this seems to make perfect sense.  Do you want me to make an issue for this in the spotlights repo?

[2020-03-26 15:04] k8hughes commented on #693
What would we have in its place if we didn't have compare?

Agree we should start the chart with only one location.

Still a bit of puzzling out on the nav front so a user can go backwards and forwards between these two pages.

[2020-03-26 15:58] benjamincoleman commented on #693
Nothing. As I understand it we're not looking at a no-js solution for these so there's no button needed. When a location is added, or removed, the charts should reload.

For the back forwards question I suggested a header navigation update here: https://github.com/devinit/DIwebsite-redesign/issues/688#issuecomment-603320869

[2020-03-26 17:02] edwinmp commented on #694
@benjamincoleman @k8hughes Yeah, Moses & Eastone opted for the line chart as well after testing with both ... I made the change yesterday ... will deploy asap :)

I found area charts to be easier to understand when comparing multiple years & for the purpose of seeing a general trend (rising or falling over the years). With line charts, you tend to see a criss-crossing of lines. I like the descript

[2020-03-26 17:04] k8hughes commented on #694
I think we can't include the area chart as the data isn't cummulative, but maybe the bar chart is ok?

[2020-03-26 17:11] edwinmp commented on #694
A stacked area chart is cumulative by default, which is what @benjamincoleman pointed out as confusing. It is excellent for viewing general trends while still being able to see the disparities between the individual parts.

[2020-03-26 17:14] edwinmp commented on #694
@akmiller01 I'd love your input on this

[2020-03-26 17:26] edwinmp commented on #693
While it made sense to remove the `Update` button on selecting an indicator, I think the compare button is still useful. As a user, I'd find it more than distracting if the chart keeps updating while I'm still selecting locations.
The current behaviour has the `Compare` button (and the chart) completely hidden until a user selects  at least two locations, but now that we've opted for full disclosu

[2020-03-26 17:27] akmiller01 commented on #694
What data vis we pick depends on what the key message we want to display. I don't think an area chart here is appropriate, because our key message isn't "Look at how the sum of two districts has changed over time." If we were visualizing every district simultaneously, then the sum of the population figures would be a meaningful "National population" and you could see how each district contributed

[2020-03-26 17:30] edwinmp commented on #694
@akmiller01

[2020-03-26 17:33] akmiller01 commented on #694
Do we have any data on how often people actually played with the toggles on those scatterplot visuals we used to have on the DataHub? Usually I would be okay with giving the users a choice, but I think that sometimes it can over-complicate things...

[2020-03-26 17:38] edwinmp commented on #694
A lot of the feedback we got from users was how little control they had on the type of visualisation they saw ... We're living proof of that ... we can't even agree which would be better between a line, bar & area because we're looking for different things out of this data.

Having a default (line chart) removes the complication I think. They don't have to change it if they don't want to.

[2020-03-26 17:43] edwinmp commented on #694
This worries me ... should it be about us? :)

[2020-03-26 17:45] akmiller01 commented on #694
In that case, it sounds like a good idea to give users choice.

Would it over-complicate things to vary the default depending on the data-types and/or data quality? If you have a point in 2004, and a point in 2010, I would say defaulting to a line chart that draws a straight line from 2004 to 2010 would be disingenuous.

Also, about the "about us" question, visuals definitely need some sort of def

[2020-03-26 17:54] edwinmp commented on #694
Interesting point ... programatically, not complicated ... better yet, we could configure this default in the CMS for each indicator. That should give us plenty of choice in the messaging.

[2020-03-27 09:16] k8hughes commented on #694
This is a good conversation to catch up with, it sounds like you have a good implementation plan and then for setting the default charts we'd want to run through it with Eastone, Moses and Alex so we can be clear what is the most informative choice in every case.

[2020-03-31 12:59] benjamincoleman commented on #693
That's an interesting idea - I'll try and update the sketch this afternoon to see what it would look like.

[2020-04-02 08:18] k8hughes commented on #688
I'm definately in favour of moving the Location comparision up above the map element so it is clearer to the user - I'm also assuming this would be on the page for the comparision so you could click back to the main spotlight page.

It would be good to action this one before launch. @edwinmp shall I write up a ticket for the Spotlights repo?

[2020-04-02 08:19] k8hughes commented on #694
Do we still need to have this issue open or have we resolved it?

[2020-04-02 08:33] benjamincoleman commented on #688
Just to clarify - I mean over the map, as in it appears on top of the map. I'll ask @BenDarby to update the spotlight design so this is in place.

[2020-04-02 08:39] benjamincoleman commented on #688
@BenDarby can you move the "compare" button to be absolutely positioned above the map please?

![Screenshot 2020-04-02 at 09 37 02](https://user-images.githubusercontent.com/64877/78227806-c1fa3100-74c5-11ea-951b-3646ecefdc25.png)

[2020-04-02 10:06] alice-mcandrew-development-initatives commented on #471
Hello @edwinmp and @akmiller01, we have the same issue for data downloads (i.e. there is no option to search when looking for a snippet to add a data download on publication pages):
![No-search-function_Data-download-snippet](https://user-images.githubusercontent.com/55877063/78236441-e65c0a80-74d1-11ea-8f66-8b7e6231f140.JPG)

[2020-04-02 10:09] BenDarby commented on #688
@benjamincoleman @k8hughes I've updated the pattern library and moved the location comparison button to within the map element. I went with a the DI grey as the button color so it stands out enough against the white and red tones of the interactive map. You can see the updates on surge http://development-initiatives.surge.sh/page-templates/22-spotlight

[2020-04-02 12:23] k8hughes commented on #688
@edwinmp shall I create an issue for this in the spotlights repo?

[2020-04-02 12:52] edwinmp commented on #688
Sure @k8hughes  ... for any resolutions that don't have issues there yet :)

[2020-04-02 13:09] benjamincoleman commented on #693
@edwinmp I've updated the sketch with an idea around the locations selection elements being visible all the time. Let me know what you think.

https://www.dropbox.com/s/pnqzxmnjt6a3zyf/add-location-element.mp4?dl=0

[2020-04-02 13:54] edwinmp commented on #693
Could we do without the `Add Location` button, or will that make the widget a bit vague? I'm thinking instead of having Uganda or Kenya as the menu title, it reads `Select a location`, to match the `Search for a location` ... instead of `View` buttons, they read `Add` ... the act of selecting automatically adds it to the list.

![image](https://user-images.githubusercontent.com/5672438/78257443-81

[2020-04-03 08:53] k8hughes commented on #694
@edwinmp I think we can close this, can you check and confirm?

[2020-04-03 08:57] edwinmp commented on #694
Created a feature request for this, so yeah, I'll close it.

[2020-04-03 08:57] #694 closed

[2020-04-03 09:02] k8hughes commented on #692
@edwinmp we will need to do this but I think it makes sense to keep this issue in this repo - what do you think?

[2020-04-03 09:04] edwinmp commented on #692
Oh yeah, this stays here ...

[2020-04-03 09:06] #690 closed

[2020-04-03 09:09] k8hughes commented on #693
I have just watched the dropbox video and this makes sense, I don't think you need the compare button if it refreshes on 'add location'

[2020-04-03 09:11] k8hughes commented on #685
I think we have a corresponding issue for this now so closing.

[2020-04-03 09:11] #685 closed

[2020-04-03 09:14] edwinmp commented on #693
@k8hughes @benjamincoleman  having to click `Add Location` every time is what I want to get rid of. It's no different from how it is now. The `Compare` button has to stay cos that's just a single click ... `Add Location` is a click per location.

[2020-04-03 09:16] #681 closed

[2020-04-03 09:17] #679 closed

[2020-04-03 09:22] #678 closed

[2020-04-06 08:52] benjamincoleman commented on #693
I see what you mean, we could adjust this to have a label: "Add location" and then keep it there all the time: https://marvelapp.com/d36178e/screen/67899660

And to agree the flow, I've recorded a video - https://www.dropbox.com/s/lghbo0oihn8us4g/2020-04-06%20spotlight%20location%20comparison.mp4?dl=0

Let me know what you think

[2020-04-06 09:10] k8hughes commented on #693
@edwinmp that makes sense to me, are you happy with it?

[2020-04-06 09:35] edwinmp commented on #693
Yes, that works @k8hughes @benjamincoleman

[2020-04-06 09:46] benjamincoleman commented on #693
@BenDarby can you update the comparison template to match the sketch and video from my [comment above](https://github.com/devinit/DIwebsite-redesign/issues/693#issuecomment-609662554) please?

[2020-04-06 11:27] BenDarby commented on #693
@benjamincoleman I updated the location comparison template so the country list and search are present when you first land on the page instead of hidden behind the add location button. http://development-initiatives.surge.sh/page-templates/23-spotlight-location-comparison

[2020-04-06 14:34] benjamincoleman commented on #693
@edwinmp the design has been updated for you

[2020-04-20 14:22] alice-mcandrew-development-initatives opened #705 "Change to show 'Resources' (rather than just 'Publications')"
**Instructions provided in PDF as well as below: [Brief for website development - 200420.pdf](https://github.com/devinit/DIwebsite-redesign/files/4503884/Brief.for.website.development.-.200420.pdf)**
**Please let me know if anything is unclear.**

**Overview**

Changes requested to be made to the following parent pages: homepage (https://devinit.org/) and ‘Publications’ pages (https://devinit.org/

[2020-04-20 14:36] edwinmp commented on #705
That's a misleading title ... there's so much going on with this issue.

[2020-04-20 14:39] k8hughes commented on #705
@alice-mcandrew-development-initatives an issues needs to be one discreate piece of work instead of all the changes on one item.  Issues are then assigned to developers to work on and lead to how the code it split into branches etc.

Can you email the PDF document to the team for our discussion?  Then we can break it down into issues and estimate how long it would take to do.

[2020-04-20 14:42] alice-mcandrew-development-initatives commented on #705
@k8hughes Sure. Sorry I had thought it was helpful for you to have all information here but appreciate that's not the case if that's your work process.

[2020-04-20 15:02] alice-mcandrew-development-initatives opened #706 "Option to add 'Related Links' to Short Publication pages"
I **think** this is a bug - but do correct me if there's a reason for it.

Related links do not appear on Short Publication pages.

For example: https://devinit.org/publications/coronavirus-and-aid-data-what-latest-dac-data-tells-us/

On the page:

![image](https://user-images.githubusercontent.com/55877063/79766491-f5d7b200-831f-11ea-8e27-0b603f215327.png)

In the CMS:

![image](https://user-imag

[2020-04-20 15:03] k8hughes commented on #705
Hi Alice, I am going to close this issue as we will need to break the work into specifc issues per feature request or per change, so we can't use this to work from.  Thank you for the breif - it will be discussed with the team once the spotlights are completed.

[2020-04-20 15:03] #705 closed

[2020-04-21 11:12] #648 closed

[2020-04-22 15:36] alice-mcandrew-development-initatives opened #708 "Ensure drop-down option for countries only appear if dataset is tagged"
There are currently options in the drop-down menu for datasets that yield no results when searched.

For example:
https://devinit.org/data/datasets/?report=&source=&topic=&country=lebanon

![image](https://user-images.githubusercontent.com/55877063/80002190-3d447680-84b7-11ea-8a09-d7abcff3ca7f.png)

This seems to be because the drop-down is linking to the full list of countries in snippets unfilte

[2020-04-22 15:49] k8hughes opened #709 "Changing the publications section to a resources section"
**Is your feature request related to a problem? Please describe.**
We want to start offering different content now because of the COVID lockdown.  We will now want to have videos and podcasts available not just publications.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Changes to the ‘Publications’ page (now re-named ‘Resources’)
On the ‘Public

[2020-04-22 15:52] k8hughes opened #710 "Changes to the homepage"
**Is your feature request related to a problem? Please describe.**
Linked to the changes in #709

**Describe the solution you'd like**
On the homepage (https://devinit.org/), please change the word ‘Publications’ in the main menu at the top of the page to ‘Resources’
The order can stay the same.

(This might not need its own issue, please just close if this change would be automatic with #709)

**

[2020-04-22 15:57] k8hughes opened #711 "Changes to existing child pages for ‘Publications’ parent page (now re-named ‘Resources’)"
**Is your feature request related to a problem? Please describe.**
Linked to the changes requested in #709

**Describe the solution you'd like**
For the ‘Legacy Publication’, ‘Publication Page’ and ‘Short Publication’ templates, please change the word ‘Publication type’ to ‘Resource type’ to allow this snippet to applied or changed as necessary:
![Screenshot 2020-04-22 at 16 55 18](https://user-im

[2020-04-22 16:00] k8hughes opened #712 "Creating a new child page (‘Audio and Visual Media Page’) for the ‘Publications’ parent page (now re-named ‘Resources’)"
**Is your feature request related to a problem? Please describe.**
Linked to the changes requested in #709

**Describe the solution you'd like**
We want to be able to use a general page to deliver this, but to rename it within this section so it is easier for CMS users to know the right thing to select.

Please created a new template for the child pages of the ‘Publications’ parent page (which is

[2020-04-22 16:03] k8hughes opened #713 "Scoping for further development of new ‘Audio and Visual Media Page’ template"
**Is your feature request related to a problem? Please describe.**
Linked to the changes requested in #709

**Describe the solution you'd like**
We need the ability to host audio content directly on our website.  Use this website as an example:  https://www.brookings.edu/events/webinar-protecting-elections-during-the-coronavirus-pandemic/

Like Brookings, we will need a display for audio that allo

[2020-04-23 12:25] #634 closed

[2020-04-23 12:27] #643 closed

[2020-04-23 13:01] SimonMurphyDI commented on #642
Hi there @edwinmp  - I still can't see this on page for short publications? Would love to have it deployed :)
Cheers
Simon

[2020-04-24 08:14] alice-mcandrew-development-initatives opened #717 "Embedded video content no longer displaying on 'How we work' page"
**The page**
https://devinit.org/how-we-work/?nav=header

**The issue**
This embedded video is not displaying as it should in the duo block (despite no changes being made in the CMS and it appearing previously without any issues): https://www.youtube.com/watch?v=PbwIUQwL_Jc&feature=youtu.be
I'm not sure why this has now happened

**What it looks like on the page**
![image (1)](https://user-images.

[2020-04-26 07:26] #706 closed

[2020-04-27 08:18] alice-mcandrew-development-initatives commented on #706
Brilliant, thank you!

[2020-04-27 15:31] edwinmp opened #724 "The maps are no longer showing"
## I'm submitting a ...
<pre><code>
[ ] Bug report
[X] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The map under the 'Where we work title' is no longer showing. I'm assuming this is the same for other areas with maps (haven't checked)
https://devinit.org/what-we-do/?nav=header
![image](https://user-images.githubusercontent.com

[2020-04-27 15:40] edwinmp opened #725 "On banners, the big "download" buttons appear entirely white and illegible on hover"
## I'm submitting a ...
<pre><code>
[ ] Bug report
[x] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**To Reproduce**
1. Go to 'https://devinit.org/what-we-do/?nav=header'
2. Scroll down to the `Our impact` banner (refer to screenshot below)
3. Hover over the download button

Happens on surge as well: https://development-initiatives.surge.sh/page-temp

[2020-04-27 16:27] benjamincoleman commented on #725
@BenDarby there's an issue on this template where we're using the button class to give style to the download box: https://development-initiatives.surge.sh/page-templates/04-our-story

Can you have a look and push a fix please as this is affecting the live site

[2020-04-27 16:36] benjamincoleman commented on #724
@edwinmp I've updated the pattern library branch with a fix for this

[2020-04-28 09:26] edwinmp commented on #724
@SimonMurphyDI this should be fixed now.

[2020-04-28 10:55] BenDarby commented on #725
@benjamincoleman pushed a fix so the background colour doesn't change on hover, you can see it here too http://development-initiatives.surge.sh/page-templates/04-our-story

[2020-04-28 11:22] edwinmp commented on #642
Hi @SimonMurphyDI this should be fixed.

[2020-04-28 11:24] edwinmp commented on #717
@alice-mcandrew-development-initatives this should be fixed now.

[2020-04-28 13:23] alice-mcandrew-development-initatives commented on #717
Looks good! Thanks for fixing it!

[2020-04-28 13:23] #717 closed

[2020-04-28 16:34] edwinmp commented on #669
@akmiller01 this doesn't happen locally, but it does on the deployed versions ... could be some elastic search issue ... any ideas?

[2020-04-28 17:04] akmiller01 commented on #669
Definitely possible. The behavior does change very slightly when elasticsearch is active. Here's the relevant section: https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/publications/models.py#L213-L221

But it's only meant to sort by elasticsearch `_score` when there is a search query given (the `q` parameter). Maybe worth changing this line: https://github.com/devinit/DIwebsit

[2020-04-30 07:25] edwinmp commented on #710
@davidebukali I think this is pretty much just renaming the title and slug ... you'll need to setup a redirect from `/publications` to `/resources` ... all this should be done after merging the other Resources changes.

[2020-04-30 08:11] alice-mcandrew-development-initatives opened #733 "Fix spacing on author information box for blog articles"
If the author has a long title (more than two lines) we encounter problems in how the author information box displays:
https://devinit.org/blog/transforming-aid-gpi-could-help-achieve-social-justice/
![image](https://user-images.githubusercontent.com/55877063/80686517-b8fa8080-8ac0-11ea-8e3b-e540dd177dc2.png)

The above was a shortened version of the full title, which looks even worse, so we could

[2020-04-30 08:45] edwinmp commented on #733
@alice-mcandrew-development-initatives we encountered this earlier on, and thought it'd been handed ...but I guess there's always going to be a longer title :)

Our options include:
1. We truncate the text if longer than a specific number of characters, appending ellipses at the end e.g. `Honorary Professor of Global Hea...`
2. We could reduce the font size if text is longer than a specific number

[2020-04-30 08:51] #693 closed

[2020-04-30 08:52] #692 closed

[2020-04-30 08:53] #689 closed

[2020-04-30 08:53] #688 closed

[2020-04-30 09:03] edwinmp commented on #686
@AnnaHope you can rearrange any of these on the CMS using the `sort` option. You click it and then drag and drop to rearrange, then click it again to confirm. Don't mind that the pages appear to return to their old order - the sorting remains.

<img width="505" alt="Screenshot 2020-04-30 at 11 55 37" src="https://user-images.githubusercontent.com/5672438/80692426-37afe780-8ada-11ea-855d-b76fcfa9c4

[2020-04-30 09:34] alice-mcandrew-development-initatives commented on #733
Thanks for looking into this @edwinmp. Do you know what the max. characters is to display OK? (That could be useful to know). I don't think truncating would work for job titles (as some people are a bit precious about these!) and I'd be concerned about legibility if we reduce font size. Hopefully Ben has some suggestions.
@SimonMurphyDI FYI - and any ideas welcome!

[2020-04-30 09:38] benjamincoleman commented on #733
@alice-mcandrew-development-initatives @edwinmp We could adjust the dimensions of the box, and allow its height to adjust depending on the content. A fairly quick fix I think.

[2020-04-30 09:47] edwinmp commented on #680
Since the design for this is done, I'm closing it here in favour of its copy on the spotlights.

[2020-04-30 09:47] #680 closed

[2020-04-30 09:49] #668 closed

[2020-04-30 09:50] #663 closed

[2020-04-30 09:54] davidebukali commented on #669
@edwinmp sure thing

[2020-04-30 09:56] edwinmp commented on #647
Hi @SimonMurphyDI ... this was changed for multi-author blogs. We're not showing a list of names
![image](https://user-images.githubusercontent.com/5672438/80697635-ead00f00-8ae1-11ea-9f7d-4a9f4edcd2e5.png)
https://devinit.org/blog/people-want-building-resilience-stability-conflict-crises/

[2020-04-30 10:16] alice-mcandrew-development-initatives commented on #733
Sounds perfect ^

[2020-04-30 11:38] #602 closed

[2020-05-03 11:48] SimonMurphyDI opened #737 "'Add horizontal line' in WYSIWYG editor doesn't function"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[ x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A clear and concise description of what the issue is.
When using the WYSIWYG module in blogs or publications there's the option to ad

[2020-05-06 13:50] k8hughes commented on #709
@davidebukali I went into the CMS to create a page - the new child page existing to be selected by a user.

The resource type drop down menu does not ahve the changes in that are listed above.  We need to be able to choose from:
* Audio and Visual
o Podcast
o Presentation
o Webinar
• Publication
o Background paper
o Briefing
o Discussion paper
 o Factsheet
o Report

Screen shot attached that shows

[2020-05-06 13:54] k8hughes commented on #711
I think this has been done correctly and just needs a member of the comms team to confirm it is working as they expected it to work.

[2020-05-06 14:38] davidebukali commented on #709
@k8hughes Sorry should filled those in before hand; they are now updated to include audio and visual types

[2020-05-06 14:43] k8hughes commented on #709
http://178.128.102.213/admin/pages/add/publications/audiovisualmedia/352/preview/

That is my test page.

But if I search podcast is doesn't show up:  http://178.128.102.213/resources/?types=podcast&topic=&country=&q=

Do you know what that is?

[2020-05-06 14:46] k8hughes commented on #709
I also noticed this in the drop down menu:
![Screenshot 2020-05-06 at 15 45 16](https://user-images.githubusercontent.com/36768381/81191201-aac0ce80-8fb0-11ea-848e-607f86e8196b.png)

I don't think we should ahve the heading "none" or the option "full text".

[2020-05-07 00:23] davidebukali commented on #709
@k8hughes both these issues are now sorted.

[2020-05-12 13:01] edwinmp commented on #401
![image](https://user-images.githubusercontent.com/5672438/81694248-c709b300-9469-11ea-81c1-28b6dfebd97b.png)

[2020-05-12 13:01] #401 closed

[2020-05-12 13:24] edwinmp commented on #712
@davidebukali the implementation for the two fields below is not flexible i.e. a user cannot reposition that content in different parts of the page as they desire. Please move the two fields below to the pre-existing stream fields i.e. TypesetBodyMixin & SectionBodyMixin ... There's already a video stream field in the TypesetBodyMixin ... the full width video should go in the SectionBodyMixin with

[2020-05-12 13:25] edwinmp commented on #712
But if the Audio & Visual Media Page will only have audio & video, then I suggest u create a separate StreamBlock for that and remove all the other mixins.

[2020-05-14 14:36] benjamincoleman opened #750 "Add fix for Mouseflow CSS"
We use http://mouseflow.com/ to analyse users on the DI website. There is an issue that their recordings capture the CSS URL at the point of recording, however, the CSS URL is updated when changes are made to the website using a generated part of the filename:

`<link href="/assets/css/screen.min.22502c4e0090.css" rel="stylesheet">`

We've applied a fix for this to the GNR and IATI websites and so

[2020-05-15 09:01] benjamincoleman opened #751 "T21 - Data section template update"
The current design here: http://development-initiatives.surge.sh/page-templates/21-data-section needs to be updated. This will replace this page on the website: https://devinit.org/data/

I've created a sketch for this here: https://marvelapp.com/3j51290/screen/67766242

Changes are:

1. The content of the sub menu has changed
2. There's a tools module - check the note about the button and the tit