[2019-06-12 09:38] k8hughes opened #1 "T20 Contact"
https://marvelapp.com/3j51290/screen/57853952

Included a contact form, email address, locations, and specifics on registered addresses.

I've left some post-it notes on the sketches for specific questions.
Sketching,To do

[2019-06-12 09:59] k8hughes opened #2 "T18 Vacancies Listing"
~~http://development-initiatives.surge.sh/page-templates/15-job-listing~~

http://development-initiatives.surge.sh/page-templates/15-vacancy-listing
Models,Review,Sketching,Templates,Visual design,move-to-github

[2019-06-12 09:59] k8hughes opened #3 "T11 Blog Listing"
Design: http://development-initiatives.surge.sh/page-templates/11-blog-listing

Functional specification:

The blog page has the standard hero, and then under there has a number of tags for the blog posts. When a user hits one, the list is filtered to show only blog posts which have that tag. This would also change the title 'Latest blog posts' to read 'Latest blog posts tagged {tagname}'

Each bl

[2019-06-12 09:59] k8hughes opened #4 "T9: Services"
Sketch: https://marvelapp.com/3j51290/screen/57566897

Design: http://development-initiatives.surge.sh/page-templates/09-consultancy-services

![image](https://gitlab.com/the-b-team/development-initiatives-website/uploads/8b9beff3f149bd6ac57839cb8d7dc2c0/image.png)

Functional Specification:

**Hero**

Standard with:

- Image
- Image credit (capable of having a link in it)
- Title
- Subtitle

**Co

[2019-06-12 09:59] k8hughes opened #5 "T3 Who we are"
Sketch: https://marvelapp.com/3j51290/screen/57215550

Design: http://development-initiatives.surge.sh/page-templates/03-who-we-are

Functional Specification:

**Hero**
This page has a standard hero with:
- `title`
- `sub-title`
- `image`
- `image-credit` with link

**Out vision / mission**

Rich text content for each, and then the mission has a button after it where we'd like to content manage th

[2019-06-12 09:59] k8hughes opened #6 "T8.1: Project"
Sketch: https://marvelapp.com/3j51290/screen/57215554

Design: http://development-initiatives.surge.sh/page-templates/08-1-project

Functional specification:

This template shows a single project. The user would arrive here from #7 template.

We have the standard hero here, with page title and hero content, plus the image with credit if required.

There's the sidebar menu on the right, which has h

[2019-06-12 09:59] k8hughes opened #7 "T8: Focus Areas"
Sketch: https://marvelapp.com/3j51290/screen/57337840

Design: http://development-initiatives.surge.sh/page-templates/08-focus-areas

Functional specification:

We have the standard hero here, with page title and hero content, plus the image with credit if required.

There's the sidebar menu on the right, which has had a recent update to the way the title is spelled out "More about:" being the thi

[2019-06-12 09:59] k8hughes opened #8 "T7: What we do"
Sketch: https://marvelapp.com/3j51290/screen/57215552

Design: http://development-initiatives.surge.sh/page-templates/07-what-we-do

Functional Specification:

**Hero**

Standard hero with `title` and `introduction`.

**Content**

Following the hero we have space for some rich text editor content

**Our focus areas**

Would be a list of items on this page alone.

The button then links through to t

[2019-06-12 09:59] k8hughes opened #9 "T4: Our Story"
Sketch: https://marvelapp.com/3j51290/screen/57215551

Design: http://development-initiatives.surge.sh/page-templates/04-our-story

Functional Specification:

**Hero:**

In this hero we have the variant which shows what it looks like with no image. However, it should be capable of taking an image. That means it would be the same as #5 for example and would have the following content:

- Image
- Im

[2019-06-12 09:59] k8hughes opened #10 "Develop a list of topics for card sort"
We need to come up with a new list of topics

Clara has a reduced list from the existing website
Review,UX thinking,move-to-github

[2019-06-12 09:59] k8hughes opened #11 "T19 Vacancy single"
Sketch: https://marvelapp.com/3j51290/screen/57215565

Design: http://development-initiatives.surge.sh/page-templates/19-vacancy-single

Functional Spec:

**The vacancies section is almost identical to the one we've recently released for GNR, so it's best to copy it from there**

The single view shows:

Hero - job title

Under the hero it goes through each of the different pieces of information ab

[2019-06-12 09:59] k8hughes opened #12 "T12 Blog single"
Sketch: https://marvelapp.com/3j51290/screen/57215560

Design: http://development-initiatives.surge.sh/page-templates/12-blog-single

Functional spec:

In the hero we have the post title, the post date, and a label 'blog'. Then we have the author on the right. For this we want to have two options:

1. Select a team member, show their details, and link to their page.

2. Add details for a guest aut

[2019-06-12 09:59] k8hughes opened #13 "What to do with partnerships"
Nick was talking to Caroline? at the end of last year and we want to see if there's input from her to build in
To do,move-to-github

[2019-06-12 09:59] k8hughes opened #14 "T2: Homepage"
Sketch: https://marvelapp.com/3j51290/screen/57215549

Design: http://development-initiatives.surge.sh/page-templates/02-homepage

With variants for different numbers of publications;

- http://development-initiatives.surge.sh/page-templates/02b-homepage-2-publications
- http://development-initiatives.surge.sh/page-templates/02c-homepage-1-publication

**Functional specification**

**Hero**

The h

[2019-06-12 09:59] k8hughes opened #15 "T13 Publications"
Sketch: https://marvelapp.com/3j51290/screen/57564426

Design:

Normal: http://development-initiatives.surge.sh/page-templates/13-publications

Filtered: http://development-initiatives.surge.sh/page-templates/13a-publications-filtered

Functional spec:

Code for country filter is something like this - so we are using option groups.

[code]

For the topics filter we have the following topics and yo

[2019-06-12 09:59] k8hughes opened #16 "T14 Publication long form - summary"
Will have multiple authors

Sketch: https://marvelapp.com/3j51290/screen/57790096

Design here: http://development-initiatives.surge.sh/page-templates/14-publication-summary

Functional Specification:

The publications section can be copied across from the GNR website and the templates are broadly very similar in the content and functionality they have.

**Hero:**

- `type of publication` e.g. FAC

[2019-06-12 09:59] k8hughes opened #17 "T14.1a Publication short form"
Sketch: https://marvelapp.com/3j51290/screen/57853947

Design: http://development-initiatives.surge.sh/page-templates/14-1a-publication-short-form

Functional Specification:

The publications section can be copied across from the GNR website and the templates are broadly very similar in the content and functionality they have.

This template is also very very similar to the one for a long form pub

[2019-06-12 09:59] k8hughes opened #18 "T12b Event single"
Sketch: https://marvelapp.com/3j51290/screen/57228255

Design: http://development-initiatives.surge.sh/page-templates/12b-event-single

For an event, in the hero we have the post title, and label 'event'. In this case there is no image, to show you what a fallback hero would look like. But, we should have an image here. You can use examples for #12 or #21 to help here.

Under the hero we have some

[2019-06-12 09:59] k8hughes opened #19 "T1: General Template"
Sketch: https://marvelapp.com/3j51290/screen/57215544

Design: http://development-initiatives.surge.sh/page-templates/01-general-page

Functional Specification:

This pages is used in several pages across the IA in:

1. Our Strategy - Who we are >
2. Consultancy work examples - What we do > Consultancy Services >
3. Data support services - What we do >
4. How we work, and sub pages of that page
5.

[2019-06-12 09:59] k8hughes opened #20 "T16 Work for us"
Sketch: https://marvelapp.com/3j51290/screen/57853949

Design: http://development-initiatives.surge.sh/page-templates/16-work-for-us

Functional Specification:

Has a variation on the standard here where we have:
- title
- subtitle
- button linking to current vacancies, which is a list at the bottom of this page so it links to the ID `vacancies` - http://development-initiatives.surge.sh/page-templ

[2019-06-12 09:59] k8hughes opened #21 "T12a News single"
Sketch: https://marvelapp.com/3j51290/screen/57215884

Design: http://development-initiatives.surge.sh/page-templates/12a-news-single

Functional spec:

Hero has the post title, post date and the label 'news'.

Then there's richtext content.

Then at the bottom we have related content - the approach to take with this is to allow admins to select up to 3 other blog posts, events, or publications to

[2019-06-12 09:59] k8hughes opened #22 "T1c General with Team story module"
https://marvelapp.com/3j51290/screen/57215548

This is the template for a single story. Sophia had an idea about using this. I’ll have to do a bit more work here.

Sketching,To do,move-to-github

[2019-06-12 09:59] k8hughes opened #23 "T1a General with Our Funders module"
https://marvelapp.com/3j51290/screen/57215546

Can I see this graphic, would be good for me to understand the categories etc. But, I’ll be trying to make this HTML rather than a graphic as that’s more accessible / usable.

![Who_funds_us](https://gitlab.com/the-b-team/development-initiatives-website/uploads/78ab8ee5171f013454c2306df30d1371/Who_funds_us.png)

- Poverty
- Resources
- Data use

We’ll

[2019-06-12 09:59] k8hughes opened #24 "Captions for all images"
So, where we have:

* Hero image
* Main content image

We'll need an image credit. I've included this in the sketches now, and it would be a link of text which can have a link.
To do,Visual design,move-to-github

[2019-06-12 09:59] k8hughes opened #25 "T6 Team member"
Sketch: https://marvelapp.com/3j51290/screen/57561812

Design: http://development-initiatives.surge.sh/page-templates/06-team-member

Functional Specification:
This shows details of a team member. A team member can be featured on the team page #26, and they can also be used as an author for a blog post, or a publication, or for a case study.

Model:
* Portrait image
* Firstname - [text input]
* La

[2019-06-12 09:59] k8hughes opened #26 "T5 Our Team"
Sketch: http://development-initiatives.surge.sh/page-templates/05-our-team

Design: https://marvelapp.com/3j51290/screen/57563598

Content of filter:

- Leadership Team
- Data Science & Information Architecture
- Research & Analysis
- Project Management
- HR, Facilities, IT & Finance
- Strategic Partnerships
- Communications
- Policy & Engagement
- Non-Executive Directors
- Board Members
- Consult

[2019-06-12 09:59] k8hughes opened #27 "Definitions"
https://devinitorg.slack.com/archives/CCJDWJ669/p1559826824025900

Anna [2:13 PM]
@Simon on the GNR website we have definitions. On the DI website, our definition of GHA gets tons of hits. And I reckon more definitions could be of benefit to people. Do you think we need to consider bringing in a place for these?

@Ben have we put a location for definitions anywhere already? Did we have the questio

[2019-06-12 09:59] k8hughes opened #28 "Update footer menu links"
Recruitment Policy and the GDPR policy to footer

[2019-06-12 09:59] k8hughes opened #29 "T11a News listing"
Sketch: https://marvelapp.com/3j51290/screen/57558637

Design: http://development-initiatives.surge.sh/page-templates/11a-news-listing

Functional Specification:

Under the hero, we have a button to go to the newsletter sign up page. This is a page hosted on Mailchimp, so would be an external URL. This also applies to the footer button for the newsletter too.

Below that the template lists the new

[2019-06-12 09:59] k8hughes opened #30 "T11b Events listing"
Sketch: https://marvelapp.com/3j51290/screen/57560127

Design: http://development-initiatives.surge.sh/page-templates/11b-events-listing

Functional Specification:

This template lists events.

They should be ordered by date ascending, so you see the closest events first, and the ones further in the future last.

There should be 9 events shown on each page before the pagination controls.

For each

[2019-06-12 09:59] k8hughes opened #31 "We have no social media links"
To do,move-to-github

[2019-06-12 09:59] k8hughes opened #32 "T1d Media Center"
Sketch: https://marvelapp.com/3j51290/screen/58622383

Design: http://development-initiatives.surge.sh/page-templates/01d-media-center

Functional specification:

We have the standard hero here, with page title and hero content, plus the image with credit if required.

There's the sidebar menu on the right, which has had a recent update to the way the title is spelled out "More about:" being the t

[2019-06-12 09:59] k8hughes opened #33 "T20 contact"
To do,move-to-github

[2019-06-12 09:59] k8hughes opened #34 "Replace images"
To do,move-to-github

[2019-06-12 09:59] k8hughes opened #35 "Add social icons to footer"
Add social media icons:
* Twitter
* Facebook
* YouTube
* Flickr - this seems to have a lot of report content, could be used elsewhere. Have emailed Anna to find out more.
To do,move-to-github

[2019-06-12 09:59] k8hughes opened #36 "T14.1 Publication long form - chapter"
Sketch: https://marvelapp.com/3j51290/screen/57853944

Design: http://development-initiatives.surge.sh/page-templates/14-1-publication-long-form

Functional Specification:

The publications section can be copied across from the GNR website and the templates are broadly very similar in the content and functionality they have.

This template is also very very similar to the one for a short form publ

[2019-06-12 09:59] k8hughes opened #37 "T20 Contact"
https://marvelapp.com/3j51290/screen/57853952

Included a contact form, email address, locations, and specifics on registered addresses.

I've left some post-it notes on the sketches for specific questions.

Design: http://development-initiatives.surge.sh/page-templates/20-contact

Functional specification:

This template has a simplified hero, which uses the fallback hero design where there is no

[2019-06-12 09:59] k8hughes opened #38 "Check top nav items"
Review,move-to-github

[2019-06-12 09:59] k8hughes opened #39 "T1b General with Accounts module"
Sketch: https://marvelapp.com/3j51290/screen/57215547

Design: http://development-initiatives.surge.sh/page-templates/01b-general-with-accounts-module

Functional Spec:

This page is a variation of #19

We have the standard hero here, with page title and hero content, plus the image with credit if required.

There's the sidebar menu on the right, which has had a recent update to the way the title

[2019-06-12 09:59] k8hughes opened #40 "Add in submenus"
Review,move-to-github

[2019-06-12 09:59] k8hughes opened #41 "T14.2 Publication long form - appendix"
Sketch: https://marvelapp.com/3j51290/screen/57853948

Design: http://development-initiatives.surge.sh/page-templates/14-2-publication-appendix

Functional spec:

This is quite a simple template, and again, should come across from GNR fairly easily.

The key difference is the small tab for the `type of publication` that appears above the title in the hero.

Following the hero we have a simple cont

[2019-06-12 10:04] #33 closed, assigned to nobody

[2019-06-12 10:24] #10 closed, assigned to nobody

[2019-06-12 10:24] #40 closed, assigned to nobody

[2019-06-12 10:24] #38 closed, assigned to nobody

[2019-06-12 10:35] #31 closed, assigned to nobody

[2019-06-17 12:58] edwinmp opened #42 "Dynamic Navigation"
Allows the configuration of the navigation links via the Wagtail admin

[2019-06-17 15:58] urlsangel opened #43 "Pattern library testing"
## Issues

Issue | Template | Browser | Proposed solution | Issue ref | Complete
----- | --------- | --------- | ------------------ | -------- |--------
~JS error `Cannot read property 'addEventListener' of null`~ | Multiple -  [Blog](http://development-initiatives.surge.sh/page-templates/11-blog-listing), [News](http://development-initiatives.surge.sh/page-templates/11a-news-listing), [Events](ht

[2019-06-18 13:54] edwinmp opened #45 "T5.1 Dynamic footer content"

[2019-06-18 14:08] edwinmp opened #46 "T5. Our Team Page"
Template: http://development-initiatives.surge.sh/page-templates/05-our-team

This will be split across multiple issues (mentioned below). This issue shall only be closed after all dependent issues are closed.

- [x] #45
- [x] #47
- [x] #48
- [x] #49
- [x] #50
- [x] #51

[2019-06-18 14:26] edwinmp opened #47 "T5.2 Create Hero mixin (displays the banner with the large image on pages)"

[2019-06-18 14:29] edwinmp opened #48 "T5.3 Secondary Navigation"

[2019-06-18 14:34] edwinmp opened #49 "T5.4 Team List"

[2019-06-18 14:35] edwinmp opened #50 "T5.5 Filter Team List"

[2019-06-18 14:39] edwinmp opened #51 "T5.6 Cards with links to other pages"

[2019-06-19 10:40] benjamincoleman opened #53 "T18 Vacancies listing"
Sketch: https://marvelapp.com/3j51290/screen/57215564

Design: http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

Functional spec:

**The vacancies section is almost identical to the one we've recently released for GNR, so it's best to copy it from there**

Shows a list of vacancies - this is all the available vacancies by page order (the order they appear in Wagtail).

Fol

[2019-06-26 13:54] benjamincoleman opened #55 "Change title of Work for us to Work with us - http://development-initiatives.surge.sh/page-templates/16-work-with-us and update the template list spreadsheet"

[2019-06-26 13:54] #55 closed, assigned to BenDarby

[2019-06-26 14:18] benjamincoleman opened #56 "T12d Blog single guest author"
Sketch:

Design: http://development-initiatives.surge.sh/page-templates/12a-blog-single-guest

Functional spec:

This is the same as #12 but with a guest author so there's no link there.

[2019-06-26 15:23] #22 closed, assigned to benjamincoleman

[2019-06-27 20:24] #35 closed, assigned to BenDarby

[2019-06-27 20:24] #28 closed, assigned to BenDarby

[2019-07-01 20:31] benjamincoleman opened #60 "Spelling Subscribe"
Subscribe button is spelt wrong in the footer. Check the news page as well for the call to action to subscribe as I think it appears there too.

[2019-07-01 20:31] benjamincoleman opened #61 "There is some content from Alice in Wonderland - replace with Lorem Ipsum."

[2019-07-01 20:32] benjamincoleman opened #62 "Use the right logo for the main pages with a red background."

[2019-07-01 20:32] benjamincoleman opened #63 "T2a - Home with video"
Home page has a different version with a video for the hero, so what does this do?

[2019-07-01 21:39] benjamincoleman opened #64 "Thin red line at bottom of heros on retina"
There is a thin red line at the bottom of the hero on retina screens:

<img width="373" alt="Screen Shot 2019-07-01 at 22 38 54" src="https://user-images.githubusercontent.com/64877/60468322-29423680-9c51-11e9-8f08-9be78a74654c.png">

http://development-initiatives.surge.sh/page-templates/08-focus-areas

[2019-07-01 22:20] benjamincoleman opened #65 "Download section on mobile"
http://development-initiatives.surge.sh/page-templates/14-publication-summary

Hide the image on small screens - as we did on GNR.

Need to sort out the weird white box too.

<img width="481" alt="Screen Shot 2019-07-01 at 23 19 57" src="https://user-images.githubusercontent.com/64877/60470066-ea16e400-9c56-11e9-96d8-358171d07a00.png">

[2019-07-02 10:34] urlsangel opened #66 "Filter select on team page"
http://development-initiatives.surge.sh/page-templates/05-our-team

Chrome/Mac

#### Long filter select values overlapped by arrow icon

![Screenshot 2019-07-02 at 11 30 47](https://user-images.githubusercontent.com/560463/60506207-47de1700-9cbd-11e9-948d-ba2858a76385.png)

#### Default filter value not visible at small screen width

![Screenshot 2019-07-02 at 11 42 20](https://user-images.githubu

[2019-07-02 11:04] urlsangel opened #67 "Our team images"
http://development-initiatives.surge.sh/page-templates/05-our-team

Chrome/Firefox/Safari/Mac

#### Single column images not full width

![Screenshot 2019-07-02 at 12 01 43](https://user-images.githubusercontent.com/560463/60507979-529aab00-9cc1-11e9-9d98-c9c063944bfe.png)

[2019-07-02 11:12] urlsangel opened #68 "Our team grid display"
http://development-initiatives.surge.sh/page-templates/05-our-team

Edge/Win 10, IE11/Win7

#### Unequal module height breaks grid

![Screenshot 2019-07-02 at 12 10 52](https://user-images.githubusercontent.com/560463/60508504-9346f400-9cc2-11e9-8788-b3d719a80dad.png)

[2019-07-02 11:17] urlsangel opened #69 "Footer social icons"
http://development-initiatives.surge.sh/page-templates/05-our-team

IE11/Win 7

#### Social icons displaying incorrectly

![Screenshot 2019-07-02 at 12 16 30](https://user-images.githubusercontent.com/560463/60508780-516a7d80-9cc3-11e9-831d-b14a0c6449cb.png)

[2019-07-02 12:32] benjamincoleman opened #70 "Publications type label in hero"
can we have that in the hero?

[2019-07-02 13:09] urlsangel opened #71 "Vacancies checkboxes"
http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

Firefox/Win 7

#### Top checkboxes of non-first column not visible

![Screenshot 2019-07-02 at 13 58 36](https://user-images.githubusercontent.com/560463/60515191-048ea300-9cd3-11e9-94d2-24edbfe519e1.png)

[2019-07-02 13:13] urlsangel opened #72 "Blog / News / Events / Vacancies grid listing"
http://development-initiatives.surge.sh/page-templates/11-blog-listing
http://development-initiatives.surge.sh/page-templates/11a-news-listing
http://development-initiatives.surge.sh/page-templates/11b-events-listing
http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

IE11/Win 7

#### Grid listing broken

![Screenshot 2019-06-18 at 14 08 52](https://user-images.githubusercon

[2019-07-02 13:15] urlsangel opened #73 "Related content grid"
http://development-initiatives.surge.sh/page-templates/12-blog-single
http://development-initiatives.surge.sh/page-templates/12a-news-single
http://development-initiatives.surge.sh/page-templates/12b-event-single

IE11/Win 7

#### Related content grid broken

![Screenshot 2019-06-18 at 14 22 00](https://user-images.githubusercontent.com/560463/59686758-90cda000-91d4-11e9-8e03-dd37f3b67556.png)

[2019-07-02 13:16] urlsangel opened #74 "More about row not equal height"
http://development-initiatives.surge.sh/page-templates/19-vacancy-single

Edge/Win 10 / IE11/Win 7

#### More about row not equal height

![Screenshot 2019-06-18 at 14 33 19](https://user-images.githubusercontent.com/560463/59688696-2584cd80-91d6-11e9-83ea-68384edd47e7.png)

[2019-07-02 14:11] benjamincoleman opened #75 "Can we have a guest author design in the blog listing template please? http://development-initiatives.surge.sh/page-templates/11-blog-listing"

[2019-07-02 14:19] #75 closed, assigned to BenDarby

[2019-07-02 16:06] urlsangel opened #76 "Horizontal scroll"
Firefox/Mac, Safari/Mac, Emulated devices, iPhone X

#### Getting lots of horizontal scroll on this template in the above browsers.
http://development-initiatives.surge.sh/page-templates/06-team-member

[2019-07-02 16:24] urlsangel opened #77 "Team profile grid display"
http://development-initiatives.surge.sh/page-templates/06-team-member#

IE11/Win 7

#### Grid display broken (equal and unequal height)

![Screenshot 2019-07-02 at 17 23 14](https://user-images.githubusercontent.com/560463/60529330-48db6c80-9cee-11e9-8a5b-0a6eecc1a506.png)

[2019-07-02 19:20] benjamincoleman opened #78 "Inconsistent labels on vacancies"
On listing, it's different to the single:

http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

http://development-initiatives.surge.sh/page-templates/19-vacancy-single

<img width="205" alt="Screen Shot 2019-07-02 at 20 19 45" src="https://user-images.githubusercontent.com/64877/60540387-ee9ad580-9d06-11e9-82ec-453ac39c2d1e.png">

<img width="242" alt="Screen Shot 2019-07-02

[2019-07-02 19:28] benjamincoleman commented on #78
Fixed

[2019-07-02 19:28] #78 closed

[2019-07-03 08:37] urlsangel commented on #11
@k8hughes @benjamincoleman

The GNR `vacancies` app is here:

https://github.com/devinit/gnr-website/tree/master/vacancies

It has a couple of dependencies on other apps, but should be straightforward - give me a shout if you need any help.

[2019-07-03 09:18] #1 closed

[2019-07-03 09:19] #2 closed

[2019-07-03 09:46] BenDarby commented on #77
fallback math was incorrect, this is fixed now

[2019-07-03 09:51] BenDarby commented on #76
Fingers crossed this should be all okay now :)

[2019-07-03 10:02] BenDarby commented on #74
This is working in Edge now, IE11 doesn't support equal height with css grid. I don't think that's a problem though.

[2019-07-03 10:55] BenDarby commented on #69
@urlsangel could this be a vm issue? It displays fine on IE11 on the windows laptop I have here.

[2019-07-03 10:59] urlsangel commented on #69
@BenDarby

Could be, but I've no way of knowing :-)

 @benjamincoleman - do you have a VM or real IE to verify with?

[2019-07-03 11:03] benjamincoleman commented on #69
I could do later, but maybe you can try an online trial of browserstack or something? That'll be faster as I wont be home till later

[2019-07-03 11:19] BenDarby commented on #71
I'm at a loss on this one, it only happens on Firefox and when the page is initially loaded, if you resize the window even by 1px then the checkbox appears. I can't find anything online but I'll keep searching.

[2019-07-04 08:29] benjamincoleman opened #79 "Add Linkedin to footer"
Alongside the other logos - probably after Twitter.

[2019-07-05 09:05] benjamincoleman opened #80 "T16 Team stories should have link"
Each of the departments listed should be a link

[2019-07-05 09:05] benjamincoleman opened #81 "Add to T7"
Our Expertise

Can we make the titles of the accordions the following:

- data analysis
- data science
- engagement and partnerships
- communications
- research
- project management

[2019-07-05 09:13] BenDarby commented on #43
Navigation menu has its focus ring back now

[2019-07-05 12:01] Napho opened #83 "T6 Team Profile"

[2019-07-09 09:10] #42 closed

[2019-07-09 09:11] #51 closed

[2019-07-09 09:11] #47 closed

[2019-07-09 09:11] #49 closed

[2019-07-09 09:41] #50 closed

[2019-07-09 10:12] #48 closed

[2019-07-11 09:07] benjamincoleman commented on #32
Remove spaces in phone numbers

[2019-07-11 09:08] benjamincoleman opened #90 "Date format to be uniform"
Date style to be 16 Month Year (cut the th, or ly, or rd); I note this is different in the blog listing. We should have the one date style only.

[2019-07-11 09:09] benjamincoleman opened #91 "Create new template for 'countries we work in'."

[2019-07-11 09:11] benjamincoleman commented on #14
Change subheading ‘our work’ to ‘what we do’ so that it tallies with what that section’s content relates to for consistency

[2019-07-11 10:48] benjamincoleman opened #92 "This needs to have a section on ‘places we work in’ right? So it navigates to that page. This should come under our focus areas. So we need to showcase a preview of the ‘places we work’ content there to navigate."

[2019-07-11 10:50] #92 closed

[2019-07-11 11:04] benjamincoleman commented on #71
@BenDarby

The float:left is the problem here - comment that out and it shows.

Absolutely positioning the labels fixes this. Need to make the checkbox group position:relative.

[2019-07-11 11:47] benjamincoleman opened #93 "T8a - Where we work"
Developed from T8 late in the process.

Design: http://development-initiatives.surge.sh/page-templates/08a-where-we-work

Functional specification:

This template shows a single place.

We have the standard hero here, with page title and hero content, plus the image with credit if required.

There's the sidebar menu on the right, which has had a recent update to the way the title is spelled out "M

[2019-07-11 11:48] benjamincoleman opened #94 "T8.1a - Place"
Created late on in the design process.

Design - http://development-initiatives.surge.sh/page-templates/08-1a-place

Functional specification:

This template shows a single place.

We have the standard hero here, with page title and hero content, plus the image with credit if required.

There's the sidebar menu on the right, which has had a recent update to the way the title is spelled out "More a

[2019-07-11 11:50] #91 closed

[2019-07-11 11:51] #81 closed

[2019-07-11 11:54] benjamincoleman commented on #80
@BenDarby can't see this as being done.

These should be links:

![Screen Shot 2019-07-11 at 12 53 38](https://user-images.githubusercontent.com/64877/61048844-efa0c680-a3da-11e9-9868-bbd2266aaffc.png)

[2019-07-11 11:54] #79 closed

[2019-07-11 11:54] #34 closed

[2019-07-11 11:55] #66 closed

[2019-07-11 11:55] #67 closed

[2019-07-11 11:55] #74 closed

[2019-07-11 11:56] #68 closed

[2019-07-11 11:56] #72 closed

[2019-07-11 11:56] #77 closed

[2019-07-11 11:57] #76 closed

[2019-07-11 11:57] #64 closed

[2019-07-11 11:57] #70 closed

[2019-07-11 11:57] #65 closed

[2019-07-11 11:57] #61 closed

[2019-07-11 11:57] #60 closed

[2019-07-11 11:57] #62 closed

[2019-07-11 12:49] BenDarby commented on #80
@benjamincoleman the titles are links

[2019-07-13 19:58] benjamincoleman commented on #9
Slider complete, needs testing.

[2019-07-15 04:58] edwinmp commented on #46
@k8hughes is there anything else that needs fixing on this, besides the team list arrangement (shouldn't all be appearing below each other)

[2019-07-15 08:23] k8hughes commented on #46
That is the only thing I have spotted so far.  I want to try the page with the correct images from the comms team as well before I confirm.  James has now shared the right images so I hope to do this later today.

[2019-07-15 09:20] edwinmp commented on #46
@Napho could you look into why all the profiles are showing in a single row.

[2019-07-15 11:31] edwinmp commented on #11
@k8hughes @akmiller01  do we seem ourselves ever needing to add more options on a vacancy post besides the usual ones (duration, salary scale, start date, application close date, location, interview start date).
I'm wondering if I need to build an option for adding dynamic key-value options as required.

[2019-07-15 12:01] benjamincoleman commented on #11
@edwinmp this should already be in the build if you took it from the GNR website.

[2019-07-17 13:38] BenDarby commented on #71
@benjamincoleman did you add this to the PL or does it need adding still?

[2019-07-17 14:27] benjamincoleman commented on #71
I just wrote the notes after playing in the inspector - it'll need implementing and re-testing.

B

[2019-07-17 14:32] #46 closed

[2019-07-18 10:03] edwinmp commented on #29
@Napho I'm not seeing much difference between this one and blog listing, so I'm banding them together.

[2019-07-18 11:35] BenDarby commented on #9
Tested in Chome, Firefox, Safari, Edge, IE11, iPad and Google Pixel 3 and it all looked good

[2019-07-18 13:12] k8hughes opened #100 "Changing the focal point on an image"
I tested the ability to change the image position in the hero for the our team page.  I wanted the position of this image to look the same way it does in the pattern library.  I tried a few different times to move the image focal point using the tool in the CMS but I don't think that any changes were coming through.

[2019-07-18 13:40] k8hughes commented on #83
I tested this by creating profiles for Alex and for myself.  As soon as I added an image for my profile it appear for Alex as well.

![Screenshot 2019-07-18 at 14 32 40](https://user-images.githubusercontent.com/36768381/61462069-f21a9780-a969-11e9-8580-ba911ea9211d.png)

Particularly with this part of the website we don't want iages looping a some members of staff don't wan to have pictures.

[2019-07-18 20:09] akmiller01 commented on #83
https://github.com/devinit/DIwebsite-redesign/pull/102 Should fix profile image bleed.

[2019-07-19 12:52] akmiller01 commented on #100
This is being deployed right now @k8hughes . Do you want to give it a test and then close this issue if all is good? I've added closer cropping to the focalpoint.

Also, the image may not look the same as it does in the Pattern Library if you're missing hero-text. The height of that div is set by the amount of text, so quite a bit of the hero image is missing if you don't also have lorum ipsum in

[2019-07-19 12:53] akmiller01 commented on #83
Just merged #102 @k8hughes so it should be deployed within a few minutes. I've tested it locally, so hopefully no more need to test in staging since it involves erasing images directly from the server!

[2019-07-19 13:12] k8hughes commented on #100
LGTM - I've moved the focal point a few different ways and now it works perfectly.

[2019-07-19 13:14] akmiller01 commented on #100
Brilliant. Now in future, if ever we want to make images more responsive to focal-point adjustments the way is `-c100`

[2019-07-19 13:14] #100 closed

[2019-07-19 13:17] k8hughes commented on #83
This now is working, my picture doesn't carry over to your name, but  think we need to change the default position of where the text appear in the case where there is no image so that it aligns at the bottom.
![Screenshot 2019-07-19 at 14 16 00](https://user-images.githubusercontent.com/36768381/61537778-dda0d280-aa2f-11e9-8462-115babbd8fb7.png)

[2019-07-23 09:50] edwinmp commented on #83
@akmiller01 @k8hughes is there anything still pending on this?

[2019-07-23 09:51] k8hughes commented on #83
I think we are waiting for fffunction to align the text at the bottom in the case where there is no image, so they were going to make a channge in the pattern library.

[2019-07-23 10:02] edwinmp commented on #83
Yup, that'd be great... let me check on their branch and see if they've pushed the change.

[2019-07-23 10:54] benjamincoleman commented on #83
@edwinmp we're going to create a fallback image for people with no image, rather than changing the markup / CSS for when that happens. @BenDarby can you do this ASAP please - I think this is the last thing blocking completion of the template

[2019-07-24 09:14] benjamincoleman opened #105 "Adjust hero padding at mid screen size"
We need to get fine grained about the height of the hero at middling screen sizes. We started this in the meeting.

[2019-07-24 09:18] benjamincoleman commented on #14
Changes from latest design review:

- Remove the three focus areas

- Who we are and What we do pieces should be side by side

- Adjust buttons to 'find out more about who we are'

- Featured work - think we made this up to 6, and we should show content of the following types there:

    - News
    - Publication
    - Blog
    - Event
    - Project

[2019-07-24 09:23] benjamincoleman commented on #19
Subnav - `more in` ← implies we’re in this page, but we need to be implicit about all. So change to ‘More about:'.

[2019-07-24 09:23] benjamincoleman commented on #5
Where our offices are based ← Our offices
Other pages in this secton ← More about

[2019-07-24 09:24] benjamincoleman commented on #9
Timeline - change to have the month and year in the buttons.
Impact section - Download, or Button “View the impact report”.

[2019-07-24 09:25] benjamincoleman commented on #8
There are 6 focus areas:

Items in brackets are the projects I think

1.    **Measuring progress of the poorest people** (P20 and inclusion, GNR)
2.    **Revolutionizing Data to Leave No-one Behind** (country level work to improve data systems, focus on disaggregated data esp disability data, UNICEF work on data mapping, CRVS, World Data Forum, Partnership with UBOS & GPSDD – Data Charter, Data fo

[2019-07-24 09:26] benjamincoleman commented on #93
Map - remove but use a screenshot as the hero image.

Places we have worked  ← Places we work

[2019-07-24 09:27] benjamincoleman commented on #4
Remove focus areas and replace with offering.

What are the services you offer? ← Content - https://devinitorg.slack.com/archives/DDG7H1QMR/p1563889992000700

* Data science
* Data analysis

Will be the same as the taxonomy in examples of our work

[2019-07-24 10:38] benjamincoleman commented on #4
New sketch for this template: https://marvelapp.com/3j51290/screen/57566897

[2019-07-24 10:54] BenDarby commented on #9
That's what I was thinking about too, it looks good to me

[2019-07-24 13:15] k8hughes commented on #83
@BenDarby do you know when you'll be able to look at this for us?

[2019-07-24 14:21] BenDarby commented on #83
@k8hughes fallback image added and can be seen on these two templates:
http://development-initiatives.surge.sh/page-templates/12a-blog-single-guest
http://development-initiatives.surge.sh/page-templates/05-our-team

[2019-07-24 14:42] k8hughes commented on #12
http://178.128.102.213/blog/blog-title-test/

The bug here is that the authors image is not pulling though from the person's profile page, it is repeating the photo from the hero of the blog.

![Screenshot 2019-07-24 at 15 41 35](https://user-images.githubusercontent.com/36768381/61803146-9482c100-ae29-11e9-9ba9-04bc4b852095.png)

[2019-07-24 14:56] k8hughes commented on #53
LGTM.

[2019-07-24 14:57] k8hughes commented on #11
http://178.128.102.213/current-vacancies/data-scientist/

LGTM.

[2019-07-24 15:00] k8hughes commented on #3
http://178.128.102.213/blog/

LGTM.

[2019-07-24 15:04] k8hughes commented on #56
http://178.128.102.213/blog/and-another-blog/

I have filled in having a guest author but their details so not display on this page.  Can someone see if it is user error or a bug?

[2019-07-24 16:00] benjamincoleman commented on #9
@BenDarby Cool - can you add the download button in the impact report module: http://development-initiatives.surge.sh/page-templates/04-our-story

[2019-07-24 16:01] benjamincoleman commented on #93
Can we focus the screenshot on the equator please?
Size for hero images = 1600px by 780px. Here's a PSD to help: https://www.dropbox.com/sh/hiy731zp3iyzt8a/AAC-Apn19-A1xEsTrYi80TnOa?dl=0

[2019-07-24 16:05] benjamincoleman commented on #4
@BenDarby Looks good but can you use a non-DI person image here please? Emily from the team page is the one.

[2019-07-24 16:14] akmiller01 commented on #83
@BenDarby would it be possible to get a gender neutral placeholder? Just implementing it now and I realized it may be a little confusing for users:

![image](https://user-images.githubusercontent.com/2836840/61810096-8b372b80-ae0c-11e9-8fb6-66e3daa4db05.png)

[2019-07-24 16:14] BenDarby commented on #93
Yeah sure, I don't have Photoshop so I'll do it in sketch

[2019-07-24 16:51] BenDarby commented on #9
@benjamincoleman there's a download button already, unless you just want a standard button instead?

[2019-07-25 05:42] edwinmp commented on #12
Ahh, I see ... the user `Alex` has no image, so it defaults to the last image that was set. I'll add the placeholder here as well.

[2019-07-25 05:45] edwinmp commented on #12
Ahh, @akmiller01 already fixed it in his latest pull request.

[2019-07-25 06:00] edwinmp commented on #56
@k8hughes this required that the external author's image be added before it shows the whole thing. I've changed that to requiring only the author's name. Image will be a placeholder if none is provided.

[2019-07-25 06:34] edwinmp commented on #3
@akmiller01 for the excerpt (as per the description up there), we're not doing the first 40 words for it... problem?

[2019-07-25 10:41] edwinmp commented on #21
Hi @benjamincoleman ... you still have this in your design project, but had authorised and moved the news listing to the `Content Management` project. Should I move this one in too (if done)?

[2019-07-25 11:49] akmiller01 commented on #3
I'd rather not truncate, if we can avoid it. It looks really weird to have partial sentences. Plus, if the hero_excerpt is more than 40 words I think we'll have problems on the blog article page as well.

[2019-07-25 12:59] edwinmp commented on #3
I'm truncating for the news article... have no problem with it really. In fact, serves its purpose of motivating users to go to the main article if they want to read more. Also, I'm not getting it from the `hero`

[2019-07-25 13:34] akmiller01 commented on #56
Question for @benjamincoleman on blogs. I noticed there are topics to filter the blogs on the T11 index page, but then the topics don't appear anywhere on the T12 article pages. Are the topics meant to appear anywhere on the single article pages? And do we have a limit to the number of topics per page?

[2019-07-25 15:56] benjamincoleman commented on #9
@BenDarby Sorry, yes - a standard button, then it's an option of downloads, or the button.

[2019-07-25 15:57] benjamincoleman commented on #93
I suggest purchasing Adobe Elements - it’s about £70 and gives you all photoshop stuff you’d need.

B
On 24 Jul 2019, 17:14 +0100, Ben Darby <notifications@github.com>, wrote:

[2019-07-25 16:13] Napho commented on #93
![hero-image-equator](https://user-images.githubusercontent.com/1554385/61890523-856e4280-aeff-11e9-8e6c-1c92738cb292.png)

Would that help?

[2019-07-25 16:20] Napho commented on #93
![hero-image-equator2](https://user-images.githubusercontent.com/1554385/61890926-78058800-af00-11e9-9440-2f5de07dc035.png)

Or with just the equator adjustment to center and no scaling

[2019-07-26 06:53] benjamincoleman commented on #56
@akmiller01 the topics are used as a filter only, so they don't appear on the single page.

I've also clarified the issue around the small labels here - #107

[2019-07-26 06:54] benjamincoleman commented on #56
@edwinmp This is the same placeholder we use when there is no Team Member image.

As @akmiller01 mentioned, we're going to provide a gender neutral one, so it will be the same fallback image used here.

[2019-07-26 06:59] benjamincoleman commented on #3
@akmiller01 @edwinmp excerpt should be able to be edited by the admins as I mentioned in the functional spec.

If you're truncating as a fallback that's ok.

[2019-07-26 07:00] benjamincoleman commented on #21
@edwinmp I've been keeping cards in both projects, but we can make them only appear in one if that makes more sense project management wise.

[2019-07-26 07:05] benjamincoleman commented on #83
@akmiller01 we'll get this for you, it should also be used for the Blog Guest author #12 if no image is available.

[2019-07-26 08:36] edwinmp commented on #21
I don't mind them appearing in both. It's just that this one was still only in your project, so I assumed you still have some work to do on it.

[2019-07-26 09:22] benjamincoleman opened #108 "Replace "places we work" with "where we work" across all templates"

[2019-07-26 10:59] benjamincoleman commented on #21
@edwinmp sorry about the late addition to this template - we need something added as a control or taxonomy to allow news posts to appear on the #32 page:

[2019-07-26 11:04] benjamincoleman opened #109 "T20a - contact form error / success"
Design:

Based on #37

Shows success message, and message sent, or an error.

Could use the content from vacancies - http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

Content for success message:

[code]

[2019-07-26 11:17] BenDarby commented on #83
@akmiller01 @benjamincoleman this has been updated now

[2019-07-26 11:53] benjamincoleman commented on #14
@BenDarby

The event features is missing a tab to say what it is.

[2019-07-26 12:03] benjamincoleman commented on #4
@BenDarby

Specialisms would not be linked anywhere.

Related content -  should have the title "news", no intro, and the elements should just be news items, rather than a mix. Sorry, my sketch wasn't right here, I've updated it: https://marvelapp.com/3j51290/screen/57566897

[2019-07-26 12:04] benjamincoleman opened #110 "Colour variants for publications"
Do a colour variant for each publication colour.

[2019-07-26 12:30] benjamincoleman commented on #20
@BenDarby we need the logos on the right to not have the whitespace in the image. As a rule assume clients have no image editing capabilities on things like this.

[2019-07-26 13:54] BenDarby commented on #8
@benjamincoleman updated this and left in the lorem descriptions for each focus area, I can remove this though if it's not needed

[2019-07-29 08:37] benjamincoleman commented on #4
@BenDarby

We have this in the titles etc, but can you do it for the template too?

I think this is valid - the icon is a document icon, where in fact it will link to a page.

[2019-07-29 09:03] benjamincoleman commented on #17
@BenDarby I think we need to re-design this. As things stand when this opens we can't see the page, and so when we hit the menu item we wont know anything has moved, unless the whole thing disappears afterwards. I don't think that's particularly elegant or usable.

So, I'd suggest we show a sidebar nav instead. Something like this:

![image](https://user-images.githubusercontent.com/64877/62035614

[2019-07-29 12:12] #83 closed

[2019-07-29 13:05] k8hughes commented on #12
LGTM - the place holder image for Alex is working now.

[2019-07-31 16:25] edwinmp commented on #11
@k8hughes could you add some files for downloading as well; see if that LGTY :)

[2019-07-31 16:27] #53 closed

[2019-08-01 08:27] k8hughes commented on #56
LGTM

[2019-08-01 08:36] edwinmp commented on #93
@benjamincoleman the surge link for this is broken...

[2019-08-01 08:53] k8hughes commented on #29
http://178.128.102.213/news/

I am assuming the empty white box is because the pages that will fill the box haven't been built yet.  I think this is working as intended.

[2019-08-01 08:58] k8hughes commented on #21
There is some sort of error:  http://178.128.102.213/news/using-oda-blending-good-use-scarce-concessional-resources/

[2019-08-01 09:20] edwinmp commented on #21
Should be fixed in PR #115 ... @k8hughes  will let you know when merged.

[2019-08-01 09:23] edwinmp commented on #29
@k8hughes yes, that'll hold the "what we do" links.

[2019-08-01 10:45] edwinmp commented on #21
@k8hughes the fix has been deployed.

[2019-08-01 10:49] k8hughes commented on #21
Excellent now I can see the page and it all looks good.

[2019-08-01 11:20] #21 closed

[2019-08-01 12:08] benjamincoleman commented on #93
@edwinmp fixed - one of the last reviews updated the name from 'places we work' to 'where we work'. Sorry :)

[2019-08-01 12:34] benjamincoleman commented on #8
@BenDarby looking at the section below:

![Screen Shot 2019-08-01 at 13 32 40](https://user-images.githubusercontent.com/64877/62293593-dd0d3080-b460-11e9-91de-30d94ff8c0ab.png)

Please remove the paragraph so we just have the image and title.

As these are not interactive we think it would be good to change the design to make sure they are visually different to the other cards you see in blog for

[2019-08-01 12:36] benjamincoleman commented on #4
@BenDarby

Looking at this piece:

![Screen Shot 2019-08-01 at 13 34 54](https://user-images.githubusercontent.com/64877/62293760-31181500-b461-11e9-8df4-6928745cc729.png)

We wantt o eep the content, so for each we have image, title, text, but they are not clickable, so we'd like the design to be different to the clickable cards on blog listing for example.

Very similar (but with paragraphs) to

[2019-08-01 12:40] benjamincoleman commented on #15
@BenDarby Can we do a variation of this when filtered to have a title underneath the filter to say:

"Showing page 2 of 24 results"

[2019-08-01 12:46] benjamincoleman commented on #36
@BenDarby the footnotes look a bit odd spaced out like this:

![Screen Shot 2019-08-01 at 13 45 58](https://user-images.githubusercontent.com/64877/62294404-bea83480-b462-11e9-9dae-e52f052daacb.png)

Can we make the footnote number, and content line up?

[2019-08-01 12:48] benjamincoleman commented on #17
@urlsangel On this one, we have "jump to section" button at the bottom right. When you open it you should be able to click on an item in the list which causes:

1. The menu to close
2. The page to smoothly scroll to that section heading

[2019-08-01 12:54] #12 closed

[2019-08-01 13:04] k8hughes commented on #6
@davidebukali is working on this

[2019-08-01 13:09] k8hughes commented on #6
@benjamincoleman for all the issues that are marked with the device testing label and assigned to Russel when is this likely to happen?

[2019-08-01 13:19] akmiller01 opened #116 "Content scraping for comms"
- [x] Preliminary scrape to allow Comms to prioritize what gets migrated.
- [x] Full content scrape into JSON for migration
- [x] Creation of migration scripts as Django management commands

[2019-08-01 13:19] akmiller01 commented on #116
Content on the old website to scrape and migrate

- Blogs
- News
- Publications
- Staff profiles

[2019-08-01 13:24] urlsangel commented on #6
@k8hughes @benjamincoleman

I'm on these testing issues now.

[2019-08-01 13:52] urlsangel opened #117 "Pull out box link button stacking at small screen width"
http://development-initiatives.surge.sh/page-templates/01-general-page

Chrome/Mac

#### Button links in pull out block stack on top of each other at narrow screen width

![Screenshot 2019-08-01 at 14 48 40](https://user-images.githubusercontent.com/560463/62298955-f10a5f80-b46b-11e9-94b8-18ba236a3a9f.png)

[2019-08-01 14:30] urlsangel opened #118 "Lots of white space on featured module at medium screen width"
http://development-initiatives.surge.sh/page-templates/02c-homepage-1-publication

Chrome/Mac, screen width 970px

#### Lots of white space on featured module at medium screen width

![Screenshot 2019-08-01 at 15 28 00](https://user-images.githubusercontent.com/560463/62301829-34b39800-b471-11e9-89fa-d25db0b444d1.png)

[2019-08-01 14:35] urlsangel opened #119 "Breadcrumb wraps awkwardly if longer page title present"
http://development-initiatives.surge.sh/page-templates/08-1a-place
http://development-initiatives.surge.sh/page-templates/08-1-project

Chrome/Mac

#### Breadcrumb wraps awkwardly if longer page title present

![Screenshot 2019-08-01 at 15 34 06](https://user-images.githubusercontent.com/560463/62302266-f23e8b00-b471-11e9-91f4-34e07d0c0886.png)

[2019-08-01 15:17] urlsangel commented on #17
@benjamincoleman

Re this comment: https://github.com/devinit/DIwebsite-redesign/issues/17#issuecomment-517272475

This isn't currently hooked up in the PL, all the links in the nav are "#" rather than unique ids.

On first impression, I find the nav having the same grey background as the page is disorientating.

[2019-08-01 15:47] urlsangel opened #120 "People grid items not equal height"
http://development-initiatives.surge.sh/page-templates/01d-media-center

Chrome/Mac

#### People grid items not equal height when differing content length

![Screenshot 2019-08-01 at 16 45 37](https://user-images.githubusercontent.com/560463/62307708-fcfe1d80-b47b-11e9-804a-ed49dd18ca7c.png)

[2019-08-01 16:03] urlsangel opened #121 "Button stacking on narrow screens"
http://development-initiatives.surge.sh/page-templates/03-who-we-are

Chrome/Mac, screen width 400px

#### Find out more button stacking against download module on narrow screens

![Screenshot 2019-08-01 at 17 01 10](https://user-images.githubusercontent.com/560463/62308840-28820780-b47e-11e9-9571-22563940621f.png)

[2019-08-02 05:21] #11 closed

[2019-08-02 08:33] benjamincoleman opened #123 "E1 Error page"
Design: http://development-initiatives.surge.sh/page-templates/e1-error

[2019-08-02 08:41] k8hughes opened #124 "URL redirects"
I know that this is assumed to be part of the work flow, but Anna has specifically flagged that she would like to see this logged in a git issues.

URLs need to be mapped and redirected to the new site so that we mitigate drops in SEO.

[2019-08-02 09:16] benjamincoleman commented on #124
@k8hughes do you want me to pick this up? I would usually produce a redirects spreadsheet using a template we have.

[2019-08-02 09:16] k8hughes commented on #124
That would be excellent!  Thanks Ben.

[2019-08-02 09:23] benjamincoleman commented on #124
👍

[2019-08-02 09:43] benjamincoleman commented on #124
Spreadsheet set up from current sitemap - http://devinit.org/sitemap.xml

Will need some completion after the build when we can confirm actual URLs

https://docs.google.com/spreadsheets/d/18qI1Ui0oeFV8GIW4ZIxPE3u13Hx7PmMnNV-Iez-OzNY/

[2019-08-02 09:53] benjamincoleman commented on #4
<img width="552" alt="Screen Shot 2019-08-02 at 10 52 58" src="https://user-images.githubusercontent.com/64877/62361842-b65c0200-b513-11e9-92e5-5c41c9f6fb36.png">

[2019-08-02 13:10] urlsangel opened #125 "Featured work grid"
http://development-initiatives.surge.sh/page-templates/02-homepage

IE11/Win 7

#### Featured work grid listing broken

![Screenshot 2019-08-02 at 14 07 17](https://user-images.githubusercontent.com/560463/62372346-29bf3d00-b52f-11e9-8d38-4d037202b75a.png)

http://development-initiatives.surge.sh/page-templates/02c-homepage-1-publication

IE11/Win 7

#### Single column grid has broken background c

[2019-08-02 13:20] urlsangel commented on #73
@BenDarby

http://development-initiatives.surge.sh/page-templates/08-1a-place

IE11/Win 7

#### This grid is broken on the above template

![Screenshot 2019-08-02 at 14 18 50](https://user-images.githubusercontent.com/560463/62372939-a0106f00-b530-11e9-82dc-474439e20f5a.png)

[2019-08-02 13:31] urlsangel opened #126 "Multiple grid issues"
http://development-initiatives.surge.sh/page-templates/16-work-for-us

IE11/Win 7

#### Multiple grid and background issues

![Screenshot 2019-08-02 at 14 28 36](https://user-images.githubusercontent.com/560463/62373604-0ba70c00-b532-11e9-8f72-b193f3119688.png)

![Screenshot 2019-08-02 at 14 28 42](https://user-images.githubusercontent.com/560463/62373608-0ea1fc80-b532-11e9-9dfc-ad283104cfa7.png)

[2019-08-02 13:42] urlsangel opened #127 "Where we work grid"
http://development-initiatives.surge.sh/page-templates/08a-where-we-work

IE11/Win 7

#### No background on where we work grid

![Screenshot 2019-08-02 at 14 40 49](https://user-images.githubusercontent.com/560463/62374326-ace29200-b533-11e9-93c5-93c44ff85635.png)

[2019-08-02 13:47] urlsangel opened #128 "Share module misaligned"
http://development-initiatives.surge.sh/page-templates/14-1a-publication-short-form

IE11/Win 7

#### Share module misaligned

![Screenshot 2019-08-02 at 14 45 50](https://user-images.githubusercontent.com/560463/62374691-65a8d100-b534-11e9-8eab-9ef7646ec876.png)

[2019-08-02 13:55] urlsangel opened #129 "Download report module"
http://development-initiatives.surge.sh/page-templates/14-publication-summary

IE11/Win 7

#### Download report module displaying image and with no padding

![Screenshot 2019-08-02 at 14 54 03](https://user-images.githubusercontent.com/560463/62375133-7d348980-b535-11e9-90e2-5efc02124470.png)

[2019-08-02 14:01] urlsangel opened #130 "Spokespeople grid broken"
http://development-initiatives.surge.sh/page-templates/01d-media-center

IE11/Win 7

#### Spokespeople grid broken

![Screenshot 2019-08-02 at 15 00 30](https://user-images.githubusercontent.com/560463/62375516-5e82c280-b536-11e9-8357-68457f168795.png)

IE11/Win 7

#### Press releases grid broken

![Screenshot 2019-08-02 at 15 02 14](https://user-images.githubusercontent.com/560463/62375653-aa356c

[2019-08-02 14:09] urlsangel opened #131 "Our story carousel"
http://development-initiatives.surge.sh/page-templates/04-our-story

IE11/Win 7

#### Our story carousel doesn't work

![Screenshot 2019-08-02 at 15 08 38](https://user-images.githubusercontent.com/560463/62375980-81fa3d00-b537-11e9-93c4-d7314ccae4dc.png)

[2019-08-02 14:14] urlsangel opened #132 "Focus areas grid"
http://development-initiatives.surge.sh/page-templates/08-focus-areas

IE11/Win 7

#### Focus areas grid has no background colour

![Screenshot 2019-08-02 at 15 13 36](https://user-images.githubusercontent.com/560463/62376285-38f6b880-b538-11e9-854c-2b303a08d541.png)

[2019-08-05 08:35] BenDarby commented on #8
I'll source an svg version of this icon instead of png

[2019-08-05 14:58] BenDarby commented on #129
Maybe this a virtual machine issue, looks good on my windows laptop.

[2019-08-05 15:02] BenDarby commented on #128
I can't see this either, maybe another virtual machine thing?

[2019-08-05 15:22] urlsangel commented on #129
@benjamincoleman

Do you have an IE11 VM you can test this and the other issues with?

[2019-08-06 10:07] BenDarby commented on #125
Can't replicate, looks okay on my windows laptop

[2019-08-06 10:07] BenDarby commented on #131
Can't replicate, looks okay on my windows laptop

[2019-08-06 10:16] benjamincoleman commented on #4
@BenDarby missing the overflowing image - overflow is hidden on .project

![Screen Shot 2019-08-06 at 11 16 26](https://user-images.githubusercontent.com/64877/62532153-b1f95700-b83b-11e9-8b75-9c4e71de6273.png)

[2019-08-06 10:21] benjamincoleman opened #135 "Pagination update"
So, based on @akmiller01's request, we want to improve the pagination to show the last page too. Something like this would work well:

- Previous
- 1
- 2
- 3
- 4
- 5
- ...
- 41
- Next

---

We've implemented this:

<img width="546" alt="Screen Shot 2019-08-07 at 10 50 37" src="https://user-images.githubusercontent.com/64877/62613592-abcdae00-b901-11e9-86ef-526f58f89aae.png">

It will apply to all

[2019-08-06 13:03] benjamincoleman commented on #8
@BenDarby sorry, can we have a different icon rather than a crosshair?

![share](https://user-images.githubusercontent.com/64877/62542038-ecbab980-b852-11e9-9f4e-9b350a33d0c1.png)

[2019-08-06 16:07] benjamincoleman commented on #128
I am seeing the same thing on the VM. I'll see if I can boot Briony's old PC to check there.

[2019-08-06 18:09] akmiller01 opened #137 "NewsIndexPage template is rendering in an unexpected manner"
Staging URL: http://178.128.102.213/news/

Screenshot:

![image](https://user-images.githubusercontent.com/2836840/62564892-b6ca0500-b853-11e9-92e3-2cb7d3d19e38.png)

[2019-08-06 18:10] akmiller01 opened #138 "Title is being truncated in hero"
Staging URL: http://178.128.102.213/news/economic-growth-wont-enough-help-ugandas-poorest/

Screenshot:

![image](https://user-images.githubusercontent.com/2836840/62564990-e24cef80-b853-11e9-8c21-bff90846b08d.png)

[2019-08-06 18:13] akmiller01 opened #139 "Make sure datetimes are being rendered as dates. No "midnight""
Staging URL: http://178.128.102.213/blog/

Screenshot:

![image](https://user-images.githubusercontent.com/2836840/62565186-4a9bd100-b854-11e9-8192-05e8891da225.png)

[2019-08-06 18:15] akmiller01 commented on #138
Also happening here: http://178.128.102.213/blog/

![image](https://user-images.githubusercontent.com/2836840/62565386-ab2b0e00-b854-11e9-8aa2-661ce15070c0.png)

[2019-08-06 18:17] akmiller01 opened #140 "Rendering for cards needs to change in the event of no picture"
Staging URL: http://178.128.102.213/blog/

Screenshot:
![image](https://user-images.githubusercontent.com/2836840/62565508-f0e7d680-b854-11e9-995b-6cbf4bdd35d0.png)

[2019-08-06 18:29] akmiller01 commented on #138
Edwin found this error is stemming from the WP data where the title is truncated in the list view. Fixing now with a rescrape...

[2019-08-06 18:53] akmiller01 commented on #138
https://github.com/devinit/DIwebsite-redesign/pull/142

[2019-08-06 19:08] #137 closed

[2019-08-06 19:28] akmiller01 commented on #138
Fixed.

[2019-08-06 19:28] #138 closed

[2019-08-07 08:16] edwinmp commented on #94
**NB:** We shall use a standard page to create this, so there won't be a specific "Place" page ... i.e once I'm done with "Where we work", the individual place pages shall be created based on the Standard Page template.

[2019-08-07 09:46] benjamincoleman commented on #8
@BenDarby sorry dude, another change to this - rather than the icon can we have some random little squares from the brand?

[2019-08-07 09:48] urlsangel commented on #128
@BenDarby

Are you definitely testing with IE11, and not Edge?

[2019-08-07 10:51] benjamincoleman opened #145 "T21 Data Section"
**Sketch:** https://marvelapp.com/3j51290/screen/59725627

**Design:** http://development-initiatives.surge.sh/page-templates/21-data-section

**Functional specification:**

The hero has the usual layout, but also a "Datasets" button that will take you to the Datasets listing page.

Then we have the sidebar menu, linking to other pages in this section.

Also some Rich Text Editor content.

Then we

[2019-08-07 10:51] benjamincoleman opened #146 "T21.1 Dataset listing"
**Sketch:** https://marvelapp.com/3j51290/screen/59725629

**Design:** http://development-initiatives.surge.sh/page-templates/21-1-dataset-listing

**Functional specification:**

This page uses the fallback hero pattern, so there's no image, and the class `` is used to control the height.

Then we have the sidebar menu, linking to other pages in this section.

Also some Rich Text Editor content.

[2019-08-07 10:51] benjamincoleman opened #147 "T21.2 Dataset single"
**Sketch:** https://marvelapp.com/3j51290/screen/59725631

There are three screens showing the contents of the tabs, so you can click on them in the Marvel link above and see them.

**Design:** http://development-initiatives.surge.sh/page-templates/21-2-dataset-single

**Functional specification:**

**Hero:**

- Small tab with the Publication and the Figure in.
- Dataset title
- Optional descripti

[2019-08-07 11:14] benjamincoleman commented on #120
Wontfix

[2019-08-07 11:55] benjamincoleman opened #149 "Author block bug"
![image-1](https://user-images.githubusercontent.com/64877/62620880-59e15400-b912-11e9-9ddf-bc596f4b4d7f.png)

The stretchy idea is not a bad one - could have a min-width / max-width and then make sure we have wrapping in place. Maybe abs position on the image and then a padding-left to control the text position?

[2019-08-07 11:58] Napho opened #150 "Container Orchestration"
Add kubernetes and setup test, staging and production instances

[2019-08-07 13:26] akmiller01 opened #152 "Turn Department into an orderable, allowing multiple Departments per staff member"

[2019-08-07 14:12] akmiller01 commented on #152
https://github.com/devinit/DIwebsite-redesign/pull/153

[2019-08-08 12:34] akmiller01 commented on #152
Fixed, but messed up profile images so waiting on https://github.com/devinit/DIwebsite-redesign/pull/154/ to close

[2019-08-08 13:04] akmiller01 commented on #152
Done.

[2019-08-08 13:04] #152 closed

[2019-08-08 15:04] benjamincoleman commented on #147
Have a content model which has been included in the IA and the Sketch.

I've also developed a template to gather real content for the design to use: https://docs.google.com/document/d/1N7Pwn8j6cNjrBoubS-0OCBamV4BOYgxPccetoeMOu7o/

[2019-08-09 08:56] k8hughes commented on #30
http://178.128.102.213/events/
If an event doesn't have an image then you get a big white space.  Is that working as intended?

[2019-08-09 08:57] k8hughes commented on #18
http://178.128.102.213/events/here-another-test-event/

The size of the block quote font seems to have come out very very small.  Is this a user error or a bug?

[2019-08-09 09:17] k8hughes commented on #18
User error apparently, so this LGTM

[2019-08-09 09:18] k8hughes commented on #30
Lets add a default image so there isn't so much white space...

[2019-08-09 10:31] benjamincoleman commented on #30
Hi folks, you can see the default image here - http://development-initiatives.surge.sh/page-templates/01d-media-center

It's the red squares.

[2019-08-09 10:33] benjamincoleman commented on #18
The quote contents of `<blockquote>` should be in `<p>` tags as below.

[code]

[2019-08-09 10:41] edwinmp commented on #30
Ah, nice... thanks @benjamincoleman ... we'd missed that.

[2019-08-09 12:18] edwinmp commented on #93
Hi @benjamincoleman ... the description above describes the "Related content" section in a way that conflicts with what's on surge ... could you please clarify

[2019-08-09 12:50] akmiller01 commented on #116
Done. Still need to code pubs but that will come later.

[2019-08-09 12:50] #116 closed

[2019-08-09 13:52] benjamincoleman commented on #93
@edwinmp looks like we removed it in the end - I've updated the spec. Thanks :)

[2019-08-09 14:55] akmiller01 commented on #135
https://github.com/devinit/DIwebsite-redesign/pull/158

[2019-08-09 17:10] akmiller01 commented on #140
https://github.com/devinit/DIwebsite-redesign/pull/159

[2019-08-09 17:10] #140 closed

[2019-08-09 17:11] akmiller01 commented on #139
https://github.com/devinit/DIwebsite-redesign/pull/160

[2019-08-09 17:11] #135 closed

[2019-08-12 10:50] edwinmp commented on #30
@k8hughes this should be fixed now.

[2019-08-12 10:55] k8hughes commented on #30
Yes it LGTM :)

[2019-08-12 10:57] k8hughes commented on #25
This is working:  http://178.128.102.213/blog/new-world-bank-data-tell-us-progress-poverty/

You can see on this page Zach as the author

[2019-08-12 12:52] edwinmp commented on #5
Hi @benjamincoleman is this done on your end. We'd love to have it cos a lot of pages are flowing from it.

[2019-08-12 13:23] #25 closed

[2019-08-13 10:53] urlsangel commented on #36
@BenDarby @benjamincoleman

Missed this before, but doesn't this template and the other 'flexible content' type templates have the old case study issue from GNR, where the nested infographic is not full width?

I think the style for the infographic in the case study blocks should match the full width ones as in GNR to mitigate this.

[2019-08-13 10:57] urlsangel opened #163 "Bold text not bold"
http://development-initiatives.surge.sh/page-templates/14-1-publication-long-form

Chrome/Mac

#### Rich text content with `<strong>` doesn't display in bold font.

![Screenshot 2019-08-13 at 11 56 14](https://user-images.githubusercontent.com/560463/62936372-89380b00-bdc1-11e9-86d4-e091c73a1082.png)

[2019-08-13 11:11] #56 closed

[2019-08-13 11:11] #18 closed

[2019-08-13 11:12] #30 closed

[2019-08-13 11:18] benjamincoleman commented on #36
@urlsangel quite right - @BenDarby can you amend this please?

[2019-08-13 12:04] BenDarby commented on #36
I can look but this could look strange as this design has a solid background colour for case studies. The graphs can have a white background colour but it might look like the design is broken. I'll implement and see what you think

[2019-08-13 12:45] urlsangel opened #165 "Service title close to image"
http://development-initiatives.surge.sh/page-templates/09-consultancy-services

Safari/iPhone X

#### Service title close to image

![IMG_27A671DAB61A-1](https://user-images.githubusercontent.com/560463/62942627-97d9ee80-bdd0-11e9-8e77-d36b0e062240.jpeg)

[2019-08-13 12:50] urlsangel opened #166 "Horizontal scroll on chapter nav on narrow screen"
http://development-initiatives.surge.sh/page-templates/14-1-publication-long-form

Safari/iPhone X

#### Horizontal scroll on chapter nav on narrow screen

![IMG_F3BE3441E7E2-1](https://user-images.githubusercontent.com/560463/62942892-2f3f4180-bdd1-11e9-8c21-23ff1889d339.jpeg)

[2019-08-13 12:54] urlsangel opened #167 "Consultancy title wraps last line badly"
http://development-initiatives.surge.sh/page-templates/09-consultancy-services

Safari/iPad

#### Consultancy title wraps last line badly

![Image-1](https://user-images.githubusercontent.com/560463/62943216-dcb25500-bdd1-11e9-994f-563e8e656596.jpeg)

[2019-08-13 13:47] urlsangel opened #168 "Incorrectly sized gap between skill modules"
http://development-initiatives.surge.sh/page-templates/09-consultancy-services

Chrome/Mac

#### Incorrectly sized gap between skill modules

![Screenshot 2019-08-13 at 14 46 28](https://user-images.githubusercontent.com/560463/62946814-526def00-bdd9-11e9-8bd5-164e96af7253.png)

[2019-08-13 13:57] urlsangel opened #169 "No icons on focus areas"
http://development-initiatives.surge.sh/page-templates/e1-error

IE11/Win 7

#### No icons on focus areas

![Screenshot 2019-08-13 at 14 56 33](https://user-images.githubusercontent.com/560463/62947568-a7f6cb80-bdda-11e9-94f3-7f2823f964d8.png)

[2019-08-13 14:00] urlsangel opened #170 "No background on specialism module"
http://development-initiatives.surge.sh/page-templates/09-consultancy-services

IE11/Win 7

#### No background on specialism module

![Screenshot 2019-08-13 at 14 58 58](https://user-images.githubusercontent.com/560463/62947772-03c15480-bddb-11e9-81f1-26915c2a1b4a.png)

[2019-08-13 14:01] urlsangel opened #171 "Work example grid broken"
http://development-initiatives.surge.sh/page-templates/09-consultancy-services

IE11/Win 7

#### Work example grid broken

![Screenshot 2019-08-13 at 15 00 31](https://user-images.githubusercontent.com/560463/62947867-2d7a7b80-bddb-11e9-8e3c-b8c66601cb21.png)

[2019-08-13 14:04] urlsangel opened #172 "Filter misaligned on publications"
http://development-initiatives.surge.sh/page-templates/13-publications

IE11/Win 7

#### Filter misaligned on publications

![Screenshot 2019-08-13 at 15 02 53](https://user-images.githubusercontent.com/560463/62948052-9b26a780-bddb-11e9-9d44-c136ea1f1037.png)

[2019-08-13 14:13] BenDarby commented on #36
@benjamincoleman @urlsangel updated but I'm not sure it works as well with this design.

[2019-08-13 16:05] k8hughes commented on #93
I have made a where we work page:  http://178.128.102.213/where-we-work/

I could work out how to get the buttons on the side as per pattern library reference, I actually got really confused because when I made a place page there was an option for a button with text, but this then apears in the hero of the place page:  http://178.128.102.213/where-we-work/our-work-uganda/

As a user it was not cle

[2019-08-13 16:11] k8hughes commented on #94
And I have made a places page:  http://178.128.102.213/where-we-work/our-work-uganda/
I think there is some elements that are not the right way round
I expected the button to appear on the where we work page, next to a suggested place:  http://development-initiatives.surge.sh/page-templates/08a-where-we-work
instead it appears in the hero on the place page
this could be down to user error, but bet

[2019-08-14 13:58] benjamincoleman commented on #146
@BenDarby can you make some updates for me?

For each dataset in the listing, replace "updated" with "released".

In the filters, can you sort the first two filters for Report and Data Source alphabetically

The titles of the datasets are looooooong I'm afraid. For example:

I'll get some more examples into a model for you.

[2019-08-15 09:11] Napho commented on #94
Its a usability issue, the hero section used is generic for any standard page. Some standard pages have page links (like the one you created) while others don't. If you don't need a page link leave the **hero_link** & **hero_link_caption** fields empty from the admin section. It will be omitted

[2019-08-15 10:56] k8hughes commented on #93
We are missing the links through to the child pages.
The image below shows the pattern library version of the page next to staging.  For staging I have made the Uganda child page but there was no way to link it back to the East Africa section...
![Screenshot 2019-08-15 at 11 54 51](https://user-images.githubusercontent.com/36768381/63090543-8b31d380-bf53-11e9-9900-1eb674ec3fcd.png)

[2019-08-15 10:57] k8hughes commented on #94
Ok, this means the problem is with the parent page, I have mae a note on that issue.

[2019-08-16 10:03] edwinmp commented on #93
![image](https://user-images.githubusercontent.com/5672438/63160196-e207dd80-c025-11e9-918e-f68222c2964e.png)

@k8hughes those last two options (side section title & links) in the stream field are how you populate the links...

[2019-08-16 10:06] edwinmp commented on #93
![image](https://user-images.githubusercontent.com/5672438/63160481-8ab63d00-c026-11e9-8afc-d102274d0541.png)

![image](https://user-images.githubusercontent.com/5672438/63160460-7e31e480-c026-11e9-9a66-a86db468ce8e.png)

[2019-08-16 10:13] edwinmp commented on #94
There's no problem ... you just have to use the correct stream fields. In this case, you have to use section stream fields. Also, creating a places page doesn't automatically add it to the "where we work" page... that's not how FF planned it to be. In the "where we work" page, you have to manually select the pages you want to link.

![image](https://user-images.githubusercontent.com/5672438/631608

[2019-08-16 11:19] benjamincoleman commented on #146
@BenDarby can you add the text "released: " infront of the date on the listing items please?

[2019-08-19 09:05] benjamincoleman commented on #147
@BenDarby looks lovely mate, really good.

I have some edits:

Alert alignment is somewhat off:

<img width="116" alt="Screen Shot 2019-08-19 at 10 03 41" src="https://user-images.githubusercontent.com/64877/63252914-ac9f0200-c268-11e9-963f-51e75539cda2.png">

Add a short para after main content "Data in US$ billions. Data is for the most recent available year across all categories."

Tab 1 - For

[2019-08-19 13:08] BenDarby commented on #149
@benjamincoleman fix pushed

[2019-08-19 16:03] #139 closed

[2019-08-19 16:07] akmiller01 commented on #124
Hi @benjamincoleman just saw your comments on this issue.

I've actually coded dynamic redirects for all migrated blogs, news, and publications. You can see an example here: https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/common/management/commands/importwp.py#L87-L91

It will be good to get a sense of what needs to be redirected outside of blogs, news, and publications. But

[2019-08-20 13:29] benjamincoleman opened #179 "Publications chapter nav out of alignment"
http://development-initiatives.surge.sh/page-templates/14-1-publication-long-form

The left side and right side are misaligned

[2019-08-20 15:21] benjamincoleman commented on #145
Design is here: http://development-initiatives.surge.sh/page-templates/21-data-section

Changes:

- [ ] Remove "Our Skills section" - https://cloudup.com/cgOUu3WM2pm

[2019-08-20 15:48] benjamincoleman commented on #146
Design: http://development-initiatives.surge.sh/page-templates/21-1-dataset-listing

Changes:

- [ ] Sort "Topic" filter alphabetically
- [ ] Change "Countries" label and name to "Geography"
- [ ] Add "All countries in {{Continent}}" as the first item in each `<optiongroup>`

I've updated the model to:

1. make sure the little tab reads "ITEP 2018 - FIGURE 3.1" as it does on the single page
2. red

[2019-08-20 15:53] benjamincoleman commented on #147
Design: http://development-initiatives.surge.sh/page-templates/21-2-dataset-single

Changes:

- [ ] Release date: 1.1.2018 could be more prominent
- [ ] Tab - Description - 'Topics' should be an unordered list
- [ ] Tab - Sources - Datasets here are not DI datasets. Look at the sketch - https://marvelapp.com/3j51290/screen/60266696 It's clearly different content, and should look visually different

[2019-08-21 13:06] akmiller01 commented on #4
Direction from Anna, she wants the skills section here to be independent:

Hi guys, working on the website content and I've realised that having the 'our skills' section on the 'what we do' page also pulling through to the 'consultancy services' page doesn't work, because while our skills are the same, the way we describe them is very different for potential clients
I know it isn't in what Ben gav

[2019-08-21 19:35] benjamincoleman commented on #147
@BenDarby On the dataset single I forgot to mention to remove the picture from the hero.

So, I did this and it seemed very deep. The `--minor` modifier class was set to only do something when up to the `menu` breakpoint.

So, I added another modifier class `--short`:

[code]

I'm not sure if you want to factor this into other places, but in general, if we don't have an image it might be an idea t

[2019-08-22 12:14] benjamincoleman commented on #145
@BenDarby changes following review:

- [ ] add "view datasets" button to the hero

[2019-08-22 12:16] benjamincoleman commented on #146
@BenDarby changes from design review:

- [ ] use same no image style of hero as on the Single. There's notes on what I've done to that one here: https://github.com/devinit/DIwebsite-redesign/issues/147#issuecomment-523616862

[2019-08-23 11:00] BenDarby commented on #179
@benjamincoleman need more info if that's okay

[2019-08-23 13:49] BenDarby commented on #147
@benjamincoleman cool, the --minor modifier just needed adding with different padding at a larger breakpoint, so I renamed --short to --minor after $e-vp and all good :) I've set in the includes and model that when there is no image applied to the hero use the --minor modifier

[2019-08-26 20:44] benjamincoleman commented on #179
I can't see the problem now.

[2019-08-27 09:07] benjamincoleman commented on #179
![Screen Shot 2019-08-27 at 10 07 19](https://user-images.githubusercontent.com/64877/63757714-7e49a400-c8b2-11e9-9e9b-9a9deb4a6652.png)

[2019-08-27 10:01] k8hughes commented on #93
Ah ok, this is now clear. LGTM

[2019-08-27 10:05] benjamincoleman commented on #15
@akmiller01 I've just updated the functional spec with more information on the Topics filter for this template. Moving onto the others now

[2019-08-27 10:06] k8hughes commented on #32
http://178.128.102.213/media-center/

LGTM

[2019-08-27 10:07] k8hughes commented on #150
@Napho what sort of review does this need?
It's in the functional review collumn but I don't think it is something for me to look at.  Maybe it belongs in done?

[2019-08-27 10:16] benjamincoleman commented on #147
-  [ ] Change the wording in the dataset alert message to "There is more recent data available relating to this dataset".

- [ ] Also make the icon something time based. What has happened is that we don't want it to feel like a warning that the data might be bad / wrong.

[2019-08-27 10:17] k8hughes commented on #4
I am blocked from buiulding this page till the parent page (07) has been built.

[2019-08-27 10:19] k8hughes commented on #37
http://178.128.102.213/contact-us/

LGTM

[2019-08-27 12:28] k8hughes commented on #5
http://178.128.102.213/who-we-are/

The map doesn't seem to be generating properly for me,  can you see t @edwinmp ?

[2019-08-27 12:33] benjamincoleman commented on #5
@k8hughes it might be because the Google Maps API is not set to work with the server IP you have set. It should work with the domain though, so would be worth getting that set up along with SSL etc.

[2019-08-27 12:50] k8hughes commented on #9
http://178.128.102.213/who-we-are/our-story/

Quick question from me about how the timeline builds.  I think it is the last thing a user enters that appears at the start of the timeline, am I correct?

As a user, if after 1 year I want to add a new event to the end of the timeline, how do I do this?  Can I reorder within the CMS?  Or do we need to change the logic here?

[2019-08-27 12:55] k8hughes opened #185 "Parent child relationships"
Parent child relationships need to be adjusted to reflect the IA.

EG "who we are" needs to have T4, T5, T8, T1 and T1b

[2019-08-27 12:57] k8hughes commented on #185
[DI website IA v2.9.pdf](https://github.com/devinit/DIwebsite-redesign/files/3546148/DI.website.IA.v2.9.pdf)

[2019-08-27 13:02] k8hughes commented on #19
http://178.128.102.213/how-we-work/#

It is currently repeating the title from the Hero in the first para of copy.  I can't see this in the design.  Is it intended?

[2019-08-27 13:28] akmiller01 opened #186 "SSL"
Add Let's Encrypt certificates to NGINX

[2019-08-27 14:01] k8hughes commented on #8
http://178.128.102.213/what-we-do/

I tried to add the location map, as per design, but it isn't showing. @edwinmp is this user error or a bug?

[2019-08-27 14:08] benjamincoleman commented on #9
@k8hughes I would recommend a datetime here - then you can order by changing the day in the month.

We agreed in design that if there are two events in a month (unlikely) it's ok to just show them adjacently in the same month.

Datetime would allow that, and any ordering required.

[2019-08-27 14:09] benjamincoleman commented on #5
@k8hughes @edwinmp I've updated the spec to include some specific guidance around formatting HTML for the map.

[2019-08-27 14:51] benjamincoleman commented on #32
@akmiller01 I've just updated #19 with details of the content streamfield in play there. I don't think it's 100% needed, but it might be an idea to have that same streamfield available here for consistency

[2019-08-27 15:02] benjamincoleman commented on #123
@k8hughes @akmiller01 @edwinmp This template should be used for error pages on the website. For example 404 pages.

[2019-08-27 15:04] benjamincoleman commented on #124
@akmiller01 Good to hear you've set up the redirects - let me know when the content has been sorted out by the comms team and I'll complete the redirection list for you

[2019-08-27 15:14] k8hughes commented on #9
@akmiller01 if they can be reordered then that is good, can we add a sentance of instruction to the CMS to tell a user which end of the timeline they should enter first so it is clear for them what to do to get it to appear in date order on live?  It would be quite fiddly to add everything and have to reorder it all afterwards.

[2019-08-27 15:17] k8hughes commented on #5
OK, moving back to To Do till the map chages have been done

[2019-08-28 07:05] edwinmp commented on #8
@k8hughes it's not an error ... you need to have Office Locations added in the `Snippets` first, with coordinates. Without coordinates, the map won't show.

![image](https://user-images.githubusercontent.com/5672438/63832959-8cfb8e00-c97a-11e9-8268-6c5c646c9acb.png)

But yes, there is a bug ... even with coordinates, it's showing the map but not showing the locations. Let me move this and fix.

[2019-08-28 07:50] edwinmp commented on #5
@k8hughes @benjamincoleman  I don't think there's anything wrong here. The locations just didn't have coordinates configured. I've added some coordinates, so it should be rendering properly now.

[2019-08-28 07:55] urlsangel commented on #8
Hi @edwinmp

Not sure if it's useful, but there's a package for Wagtail that lets you use a Google Map as a location picker in the CMS edit screen - it'll then populate and format a lat/lng field for you (which is much easier for CMS editors):

https://pypi.org/project/wagtailgmaps/

[2019-08-28 10:15] BenDarby commented on #179
@benjamincoleman the content is positioned using percentage, so when you resize the browser the menu on the right moves into position, I was seeing this when resizing screen on through my TV but after releasing my mouse from resizing it would then move into place. My only thought was that the the menu didn't move into place when you resized browser for some reason. Maybe it was a one off incident?

[2019-08-28 11:19] benjamincoleman commented on #179
I'll try and reproduce and record it - it's definitely happened twice though.

[2019-08-28 11:28] benjamincoleman commented on #179
The content on the left is fixed to to the top. The content on the right is centred. Should be the same no? https://files.slack.com/files-pri/TGD7UN2C8-FMSSGJKCM/download/kapture_2019-08-28_at_12.27.03.mp4

[2019-08-28 13:06] k8hughes commented on #9
OK LGTM than :)

[2019-08-28 15:34] k8hughes commented on #6
http://178.128.102.213/what-we-do/focus-areas/investments-end-poverty-itep/

LGTM

[2019-08-28 16:26] k8hughes commented on #7
http://178.128.102.213/what-we-do/focus-areas/

LGTM

[2019-08-28 16:27] k8hughes commented on #5
Excellent, thank you Edwin.  LGTM than.

[2019-08-30 09:00] edwinmp commented on #80
Hi @benjamincoleman, I've encountered this in issue #20 and I'm wondering how these logos would be added. I'd wanted to be able to do this dynamically, just automatically pull in all the child pages of `work for us` and show them here... the problem is the logos. Which leaves only the option of manually selecting a logo (probably a drop-down list of existing ones), and then attaching a page. Any i

[2019-08-30 10:48] benjamincoleman opened #191 "Ask questions before data download"
Want to ask people:

- Who they are
- Where they work / what they do
- What they will do with this dataset

Set a cookie to not ask again. But they may have different uses for different downloads. So could set cookie expiry for 2 weeks?

Want to set up proper Analytics here

http://development-initiatives.surge.sh/page-templates/21-2-dataset-single

---

Sketch: https://marvelapp.com/3j51290/scree

[2019-09-02 11:10] #5 closed

[2019-09-02 11:15] #9 closed

[2019-09-02 14:51] edwinmp commented on #19
@k8hughes you used a `Standard Page` instead of a `General Page` ... honestly though, the only difference between those two is that one has breadcrumbs and the other doesn't.

[2019-09-02 14:57] #26 closed

[2019-09-02 15:02] #93 closed

[2019-09-03 09:49] urlsangel opened #192 "Navigation items overflow at medium screen width"
http://development-initiatives.surge.sh/page-templates/21-data-section

Chrome/Mac
Safari/iPad Pro portrait

#### Navigation items overflow at medium screen width

![Screenshot 2019-09-03 at 10 47 36](https://user-images.githubusercontent.com/560463/64163066-6f299f80-ce38-11e9-805d-b05997962a53.png)

[2019-09-03 21:30] Napho opened #194 "Hubspot Contact Us Integration"

[2019-09-05 08:51] urlsangel opened #197 "Not obvious that metadata has expandable content on narrow screens"
http://development-initiatives.surge.sh/page-templates/21-2-dataset-single

Chrome/Mac

#### Not obvious that metadata has expandable content on narrow screens

The default view of the metadata containers is closed on page load - on a narrow touch screen with no hover interaction, there is no indication that these headings contain expandable content.

Suggest either add an action indicator such as

[2019-09-05 08:57] urlsangel opened #198 "Title overlaps icon on dataset listing item"
http://development-initiatives.surge.sh/page-templates/21-1-dataset-listing

Chrome/Mac

#### Title overlaps icon on dataset listing item

![Screenshot 2019-09-05 at 09 56 19](https://user-images.githubusercontent.com/560463/64327414-8b0d7c80-cfc3-11e9-84e4-8e471002d968.png)

[2019-09-05 09:26] urlsangel opened #199 "Content shifts out of view when expanding metadata section"
http://development-initiatives.surge.sh/page-templates/21-2-dataset-single

Safari/iPhone X

#### Content shifts out of view when expanding metadata section

As the accordion-style interface closes other opened sections when expanding a new section, the heading and content jump up the page and out of view.

Would suggest leaving expanded sections open to mitigate this, or use JS to make sure that

[2019-09-10 12:58] benjamincoleman opened #201 "Publications colour variations"
Need to add background colour variations for `.hero__title span` when there is no `hero--image` class as it still uses the dark red colour, rather than dark green / blue etc.

[2019-09-13 16:43] akmiller01 commented on #201
Slight riff on this. It appears we're missing ico variants for some of the colours as well. So far `poppy` and `bluebell` work. But `sunflower` and potentially others don't. Template shows them all as bluebell, regardless of page colour.

I've worked a method into the template to substitute in the body colour: `file='ico-link-'|add:page.colour` would it be possible to add all colour variants to th

[2019-09-16 16:47] benjamincoleman commented on #201
Hi @Ben the default for 14-1-Publication-Long-Form is blue, and there are actually several sub-elements on the page that remain blue even when `body--bluebell` is absent, or when I change the body class to `body--poppy`.

E.g. with `body--poppy` the text doesn't alternate correctly. You get some unreadable buttons:

![image](https://user-images.githubusercontent.com/64877/64976716-e84ddb80-d8a9-11

[2019-09-17 14:47] k8hughes opened #202 "Hosting the content for download in box."
some of the data section has excel and CSV files, it would be easiest to link this to a box account so that box can serve the content.  Priority level: High

[2019-09-17 14:49] k8hughes opened #203 "Incorporate Publication pages into lots of Related Page sections"
Incorporate Publication pages into lots of Related Page sections, Author pages, Home page.  There is already to do flag in the code where this is needed. Eg Team member pages. Priority level: high

[2019-09-17 14:49] k8hughes opened #204 "Fix/ensure working all of the “More about” sections."
They are not linking to things correctly yet (is this correct?).  Priority level: high.  Blocked till we have more correct content.

[2019-09-17 14:50] k8hughes opened #205 "Plug in for checking if links are broken"
Simon has requested this feature, email with further info was circulated.

[2019-09-17 14:52] k8hughes opened #206 "Simon’s request for something that will tell him when to check a page is up to date."
There doesn't seem to be a plug in for this, so first step to starting the task is to have a conversation with Simon to fully understand the feature needs.  There is an email with some more detail that has been circulated but probably not enough detail.

[2019-09-17 14:53] k8hughes opened #207 "DDW side of data for download implementation"
Naphlin to share a document with some detail on this tomorrow, then we can break out the subsequent issues from this.

[2019-09-17 14:54] k8hughes opened #208 "How to get metadata from ddw into website (maybe api)"
Further thinking required.

[2019-09-17 18:55] akmiller01 commented on #203
Hmmm... @edwinmp might have hit a hard wall on this with regards to filtering on the `other_authors` or `authors` StreamFields in Blogs and Publications. Basically seems like filtering based on a StreamField is not supported and considered "hacky." https://github.com/wagtail/wagtail/issues/3735#issuecomment-396704626

[2019-09-17 19:06] akmiller01 commented on #203
Might have actually found a way: https://github.com/devinit/DIwebsite-redesign/commit/ebb67baa177869ab7069a7aba676e46a4f29b728

[2019-09-17 19:19] akmiller01 commented on #203
Okay, so StreamField content just needs to be filtered like text, instead of a JSON field. Which is a shame, but doable: https://github.com/devinit/DIwebsite-redesign/commit/7403e4bfb5a99b1c7eac8471d4867a9b1a5e3f66

![image](https://user-images.githubusercontent.com/2836840/65072235-7aafb700-d95e-11e9-9465-eb4c29fffd11.png)

[2019-09-24 09:07] benjamincoleman commented on #191
[code]

[2019-09-24 12:19] Napho opened #218 "Normalize DDW, Analyst UI, Duncan (new Src Excel Sheet) into analyst UI source table"

[2019-09-24 12:19] Napho opened #219 "Add statistical metadata tables and logic to update"

[2019-09-24 12:19] Napho opened #220 "Build additional APIs on Analyst UI"

[2019-09-24 12:19] Napho opened #221 "Add additional UI sections to Analyst UI (Stat corrections and link uploads)"

[2019-09-24 12:20] Napho opened #222 "Build logic in website to map dynamically new datasets"

[2019-09-24 12:20] Napho opened #223 "Build cache layer at Website for some Analyst UI data"

[2019-09-24 15:43] k8hughes commented on #17
http://178.128.102.213/publications/purple-short-pub/

@akmiller01 can you let me knwo when the change is made so I can add multiple countries?

[2019-09-24 15:46] k8hughes commented on #17
Oh one other thing I've noticed @akmiller01 the authors are not appearing on the page, though I have added them in the CMS...

[2019-09-24 15:57] k8hughes commented on #16
http://178.128.102.213/publications/new-long-publication/summary-report/

@akmiller01 authors are not pulling through, otherwise it seems to work.

[2019-09-24 16:03] k8hughes commented on #16
Hmmmm, I have now gone and added two chapters to this report and I expeted them to show up on the sumary like this design, but they do not.
http://development-initiatives.surge.sh/page-templates/14-publication-summary

[2019-09-24 16:10] k8hughes commented on #41
http://178.128.102.213/publications/new-long-publication/appendix/

I think this is correct.

[2019-09-24 16:14] k8hughes commented on #36
http://178.128.102.213/publications/new-long-publication/chapter-one/

This looks ok with the content I have added.

[2019-09-24 16:29] akmiller01 commented on #17
Yep. Okay fixed the author bug. It was using the same template as Chapters and I didn't anticipate a chapter page having a separate author.

[2019-09-24 16:30] akmiller01 commented on #16
Chapters and authors appear on the PublicationPage: http://178.128.102.213/publications/new-long-publication/

[2019-09-24 16:33] akmiller01 commented on #16
Template 14-Publication-Summary maps to `PublicationPage` despite its name. The template for `PublicationSummaryPage` is the same as long form.

[2019-09-24 18:32] akmiller01 commented on #17
Merged in @k8hughes https://github.com/devinit/DIwebsite-redesign/pull/224

[2019-09-25 08:43] k8hughes commented on #4
http://178.128.102.213/what-we-do/consultancy-services/
I currently get a value error and the page I have built doesn't show

![Screenshot 2019-09-25 at 09 42 51](https://user-images.githubusercontent.com/36768381/65584498-e5717b80-df78-11e9-93b9-f26f12c5acb1.png)

[2019-09-25 09:01] k8hughes commented on #20
http://178.128.102.213/work-us/

There seem to be a few visual bugs on this page.
`Benefits of working at DI` section:
* The grey boxes bleed into one large box, instead of being distinct.
* The data validation forces you to have a logo, but int he designs the logos are not displayed for every benifit, this needs to be optional.

![Screenshot 2019-09-25 at 09 59 41](https://user-images.githubuserc

[2019-09-25 09:19] benjamincoleman commented on #20
@k8hughes the benefits are unrelated to the logos - the logos should be an independent stack on the right hand side.

[2019-09-25 09:43] k8hughes commented on #8
In the CMS it should be possible to write the button text on the map, but there is no input field for this.

![Screenshot 2019-09-25 at 10 43 24](https://user-images.githubusercontent.com/36768381/65589663-5321a580-df81-11e9-87c7-25405507b310.png)

[2019-09-25 10:12] k8hughes commented on #39
I wanted to be able to add this page as it is described in the IA sitting as a child of "who we are" but the only child page allowed under  "who we are" is an "our story" page  which automatically incerpts a timeline.

@Napho what is hte name of the template in wagtail that I should be selecting?  Please can you allow it to be a child of "who we are"

[2019-09-25 10:19] k8hughes commented on #19
I wanted to add this page as a child of `who we are` but I am not allow.  I think there are some issues still with parent/child relationship.

[2019-09-25 10:24] k8hughes commented on #17
http://178.128.102.213/publications/test-short-publication-page/

When testing the tables I couldn't work out how to add more rows.  I assume the CS user will need to be able to add collumns and rows so the table i the right size.

[2019-09-25 11:05] edwinmp commented on #19
@k8hughes what page did you want to build under `who we are` that required a general page?

[2019-09-25 11:10] k8hughes commented on #19
![Screenshot 2019-09-25 at 12 09 56](https://user-images.githubusercontent.com/36768381/65595803-6cc8ea00-df8d-11e9-9a34-2c659f50bce1.png)

Under who we are we will need to have team pages, strategy and finances

[2019-09-25 11:18] k8hughes commented on #16
http://178.128.102.213/publications/new-long-publication/

The summary page is looking good but the author names now apear in too many places.  We only need them once at the top of the page, not at the header section of each chapter.

[2019-09-25 11:52] akmiller01 commented on #17
Right click:
![image](https://user-images.githubusercontent.com/2836840/65598429-5f9a0400-df69-11e9-8c85-b848535c1f91.png)

[2019-09-25 11:57] akmiller01 commented on #16
https://github.com/devinit/DIwebsite-redesign/pull/228/files Quick template fix here.

[2019-09-25 12:07] k8hughes commented on #17
Ah good stuff.  I didn't know that.

[2019-09-25 15:45] k8hughes opened #229 "Allow a general page to be a child of any page"
Anna has asked that there is a bit more flexibility that what has been mapped out in the IA.

Please make it possible to have a general page as a child of any page to allow for future extra pages that might be needed over time.

[2019-09-26 10:24] edwinmp commented on #8
Hi @k8hughes ... that's not a bug. It's weird though & can be confusing ... this wasn't the case when I initially built this, but it seems there was an update to Wagtail. Anyway, the fields below `button`, i.e Caption, Url, and Page, all belong to the button field and are where the info is added.

[2019-09-26 10:54] edwinmp commented on #8
![image](https://user-images.githubusercontent.com/5672438/65683102-1d55ed00-e065-11e9-9d33-0c7d3bc5b2dd.png)
Better?

[2019-09-26 11:34] edwinmp commented on #39
@k8hughes this should be supported under the existing General Page ... so I guess adding it as a child of all should solve this.

[2019-09-26 13:11] edwinmp commented on #20
@k8hughes fixed the benefits issues, and others I discovered here. Please retest.

[2019-09-26 13:30] edwinmp commented on #4
@k8hughes this should now be fixed

[2019-09-27 11:58] edwinmp opened #235 "Display publication author title in singular tense when only one author"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the bug**
Can we automatically change Authors to Author if just one person is listed?

**To Reproduce**
Steps to reproduce the behaviour:
![Bug on

[2019-09-27 12:00] edwinmp opened #236 "Remove trailing comma from authors list on publications"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Can we remove the comma at the end after the name of the last person listed under Author(s)

**Screenshots/GIF**
![Bug on Pubs pages](

[2019-09-30 11:36] edwinmp opened #237 "Add download button to the hero for LegacyPublicationPage"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the issue**
The `Publication downloads` shown in the screenshot below is missing for legacy publications

**Screenshots/GIF**
![image](https://use

[2019-10-02 09:35] BenDarby commented on #199
@benjamincoleman the showing and hiding of content for this is controlled by the JS library, I tried to look at the JS to figure out how to get to work as Russell has suggested but it's out of my expertise.

[2019-10-02 10:04] benjamincoleman commented on #191
@BenDarby You asked

It's the two links to dataset downloads:

- Filename - XLS 1.8mb
- Filename - CSV 1.8mb

[2019-10-02 10:28] BenDarby commented on #191
@benjamincoleman it might be better to do js then I can finish off the styling as I think the JS is responsible for some of the styles showing eg, positioning.
As when I force show the modal with css it doesn't display the same as their example.

[2019-10-02 10:29] benjamincoleman commented on #191
Ok cool

[2019-10-03 13:52] AnnaHope opened #243 "Change dimensions of section marker"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The coloured block that acts as a marker on the left hand side for every new section is much longer and thinner than the design.
![ima

[2019-10-03 13:56] AnnaHope opened #244 "Increase font size for section headers to be in line with template design"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The font size of section headers appears a few sizes larger in the template design to the previews of publications on the new site. T

[2019-10-03 14:04] AnnaHope opened #245 "Add option for a subtitle on all figures"
**Is your feature request related to a problem? Please describe.**
With the GHA report there are both messaging and descriptive titles, yet the CMS and design only allow for one title.

**Describe the solution you'd like**
We would like a subtitle field to be made available when adding figures. This should display as the same font size but no bold.

**Describe alternatives you've considered**
Putt

[2019-10-03 14:11] AnnaHope opened #246 "Make 'case study' label within publications editable, but compulsory"
**Is your feature request related to a problem? Please describe.**
We have boxes to highlight content, but currently they are called case studies and this can't be amended. In the GHA report we use boxes to highlight issues etc, not just to host case studies.

**Describe the solution you'd like**
By having the 'case study' label editable in the CMS, we can call it whatever we need it to be so it w

[2019-10-03 14:32] akmiller01 commented on #243
@AnnaHope those red bars actually grow and shrink with the width of your browser window. This is a CSS design choice from @benjamincoleman

[2019-10-03 14:38] akmiller01 commented on #244
The section heading implementation matches the pattern library, but the paragraph below had a few extra classes that were causing the larger font. Fixed here: https://github.com/devinit/DIwebsite-redesign/pull/238/commits/fa9b7073b0cd5bc7679f62bb10a30a83857cf317

[2019-10-03 14:38] AnnaHope commented on #243
@akmiller01 ah ok, I guess these are the design elements that you don't spot so easily when reviewing templates! Leave as it then I think, even though I prefer it being a bit less intrusive, it isn't a biggy.

[2019-10-03 14:38] #243 closed

[2019-10-03 14:40] AnnaHope commented on #244
Brill, thank you. So NFA? Or is the way we are inputting into the CMS a problem?

[2019-10-03 14:41] akmiller01 commented on #245
Is this on `CaptionedImage` or `Infographic` models @AnnaHope ?

[2019-10-03 14:43] akmiller01 commented on #246
Done: https://github.com/devinit/DIwebsite-redesign/pull/238/commits/5e3efe96d16fa99b6020bb9b1781efbfd7a2484a

[2019-10-03 14:47] akmiller01 commented on #244
This should match the template once deployed. We can figure out after that point whether we need more changes.

[2019-10-03 14:53] AnnaHope commented on #245
Is it easy enough to have for both? I think we are starting to move DI in the direction of having more messaging that helps readers understand the meaning behind what they are seeing, but always having the more objective description to ensure people get that core info too.

[2019-10-03 15:06] akmiller01 commented on #245
Done, but will require some testing: https://github.com/devinit/DIwebsite-redesign/pull/238/commits/e8c86d6f012b4c2add967752f4e6bcc8c4535730

[2019-10-03 15:15] AnnaHope commented on #246
amazing!

[2019-10-04 08:58] benjamincoleman commented on #191
@BenDarby so this is looking good, but we could do with some better CSS on the responsive side of things.

- the google forms element has a defined width and height in HTML, which we should remove.
- on smaller screens it should probably take the whole window, and have `overflow-y:scroll` on it to make sure people can see the whole form

[2019-10-04 09:18] #199 closed

[2019-10-04 13:06] benjamincoleman commented on #191
https://basecamp.com/1931476/projects/15759410/messages/87280708

[2019-10-08 08:52] BenDarby commented on #191
@benjamincoleman I can remove the width and height for the form embed, but if this an element that will be content managed wouldn't they need to remember to do the same?

[2019-10-08 13:55] AnnaHope opened #248 "No child pages in the correct templates under 'who we are' except our story"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[x ] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
We can't add any child pages because the templates needed for them are not listed.

**To Reproduce**
Replace the content below with t

[2019-10-08 13:59] AnnaHope opened #249 "Our team is in the wrong place in the hierarchy"
Our team is a child page of 'who we are'. it is currently in the CMS as a parent page and displaying in the main banner on the homepage when you view it as live. It needs to become a child page of Who We Are.

[2019-10-08 14:19] AnnaHope opened #250 "Images in banner blocks are not displaying correctly"
The image that goes with banner blocks should be quite square and fill most of the left side of the block, however they are being compressed and made more horizontal. This does not improve even when I shrink my browser window down to try and force the image to expand more so I think is a problem in the back-end.

How it is:

![image](https://user-images.githubusercontent.com/16958942/66403672-e249

[2019-10-08 14:27] AnnaHope opened #251 "do not appear to be able to add the location map or office addresses in 'who we are'"
The design for the who we are parent page has a section under 'our values' called 'our offices' and contains what appears to be an interactive map, and then blocks underneath where our addresses should be input. There doesn't appear to be any way to add this via the CMS and the page just ends at 'our values'. Sorry if we are just not seeing it in there, but it appears to be missing.

what should b

[2019-10-08 14:33] akmiller01 commented on #251
Office locations are added here: http://159.65.56.142/admin/snippets/vacancies/officelocation/

[2019-10-08 14:59] edwinmp commented on #248
The current state of the staging contains both a fix for this and a regression i.e under `Who We Are`, a user can create a `General Page` but can no longer create a `Our Story Page`.

[2019-10-08 15:04] edwinmp commented on #249
@Napho pulling in the dev changes to the new server should fix this. Let me know when its done so I can confirm.

[2019-10-08 15:55] AnnaHope commented on #251
@akmiller01 thank you that's really helpful - how do i tell the CMS to make that snippet appear on the who we are page? i can't see the option to 'add snippet' there?

[2019-10-08 16:00] akmiller01 commented on #251
The connection between the two pages is automatic. I'm not sure if there's a good way to express that in the page itself, but every office location snippet added will automatically appear on the map. It's unfortunately one of the quirks of Wagtail when you want an element to appear on multiple pages. They will automatically populate the Contact Us and What We do pages as well.

[2019-10-09 14:49] alice-mcandrew-development-initatives opened #253 "Document download link for page body on 'Work for the us' page"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
On the 'Work for the us' page, there doesn't seem to be the option to add a document download link to the page body section

**To Repr

[2019-10-09 15:09] alice-mcandrew-development-initatives opened #254 "Forced to add three logos along listed benefits on 'Work for us' page"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
It's compulsory to add a logo alongside each listed 'Benefits' on the 'Work for us' page (but there are only two logos to add). I can'

[2019-10-09 15:16] alice-mcandrew-development-initatives opened #255 "No option to select type of page for 'Work for us' child pages"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
When you add a new child page to 'Work for us' you automatically get a 'Vacancy Index Page'

**To Reproduce**
Replace the content belo

[2019-10-09 15:22] alice-mcandrew-development-initatives opened #256 "Work for us / Vacancies page"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
For the 'Work for us' page there doesn't seem to be the option anywhere at the bottom to add recruitment packs to download

**To Repro

[2019-10-09 15:28] akmiller01 commented on #256
Once VacancyPages are added as children of a VacancyIndexPage, they should autopopulate the section at the bottom https://github.com/devinit/DIwebsite-redesign/blob/develop/di_website/workforus/models.py#L113

But again, this is blocked by the deployment of the new child page deployment.

[2019-10-09 15:34] akmiller01 commented on #254
Okay, it's a required field in the code. I've made it non-required here: https://github.com/devinit/DIwebsite-redesign/pull/257

[2019-10-09 15:42] akmiller01 commented on #253
I think this is caused because it's expecting `document-link` here instead of `document` pushed here https://github.com/devinit/DIwebsite-redesign/pull/257/commits/bb158a9828ca641a781f94cd7f728c9dc8f1320c

[2019-10-09 15:45] alice-mcandrew-development-initatives opened #258 "Two columns at bottom of 'Consultancy services' page"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
A) I'm not sure it's possible to add the text at the bottom of the 'Consultancy services' page in two columns, as per template design.

[2019-10-09 16:31] alice-mcandrew-development-initatives opened #259 "Press releases in media library"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
It's unclear how to add press releases to the Media centre

**To Reproduce**
Replace the content below with the steps to reproduce the

[2019-10-10 08:56] edwinmp commented on #206
I added a Notification section to each page (the ones that were built at the time). You can write a message, specify the emails to send it to as well as the date/time. A cronjob on the server checks every hour and sends the emails that have reached their deadline.

I guess the only missing feature I can think of is recurrence, but so far, this should do. I ran it by Simon.

![image](https://user-i

[2019-10-10 08:58] #94 closed

[2019-10-10 08:59] #29 closed, assigned to edwinmp

[2019-10-10 08:59] #6 closed

[2019-10-10 08:59] #7 closed

[2019-10-10 10:25] k8hughes commented on #206
I've just set a notification, I'll check this off when I recieve the email.

[2019-10-10 10:26] k8hughes commented on #205
I don't think I can test this in the CMS - or should I add a broken link somewhere and see if soeone gets an alert?

[2019-10-10 10:27] k8hughes commented on #14
http://178.128.102.213/

I am not seeing what I wuld expect to see on the homepage.  I thought this wouldnt be made in the CMS, it would be hardcoded.  Is this not the case?

[2019-10-10 10:31] edwinmp commented on #251
Hi @AnnaHope ... did you manage to get the locations showing?

[2019-10-10 11:16] edwinmp commented on #259
@alice-mcandrew-development-initatives press releases are new stories. To mark a news story as a press release, you have to edit a specific news story and mark it as a press release

http://159.65.56.142/admin/pages/302/edit/
![image](https://user-images.githubusercontent.com/5672438/66564347-74c98200-eb68-11e9-9212-e57f53ce91a6.png)

[2019-10-10 11:27] k8hughes commented on #206
http://178.128.102.213/admin/pages/1310/edit/
att 11am I set an email to come at 12, but no email came. @edwinmp

[2019-10-10 11:42] edwinmp commented on #250
@akmiller01 did PR #252 fix this issue, or it was about something else?

[2019-10-10 12:48] akmiller01 commented on #250
Yes it did. Are we waiting for a comms review before closing issues?

[2019-10-10 13:05] k8hughes commented on #206
I got the emails in the end. LGTM.

[2019-10-10 13:19] k8hughes commented on #8
I still can't work out how to get the text button that I have tried to create to match the pattern library version of the design.  Here is a screen shot of staging vs pattern library.
![Screenshot 2019-10-10 at 14 17 02](https://user-images.githubusercontent.com/36768381/66572417-d25dce80-eb68-11e9-9838-efbee2e55225.png)

I have tried a couple of places adding button captions but none of these are

[2019-10-10 13:25] k8hughes commented on #20
LGTM

[2019-10-10 13:32] k8hughes commented on #14
I have tried to add a few publications but none of them display.  I tried a legacy and I tried a new one, neither of them are showing on the homepage after I add them.

Also, as a user my most likely workflow is:
1.  Add a new publication to wagtail
2. Go to homepage and select the new publication to show on the homepage
Currently the list of publication orders oldest first, and there are 11 pages

[2019-10-10 13:58] edwinmp commented on #235
@akmiller01 any chance this is already fixed, or it's an FF thing?

[2019-10-10 13:59] akmiller01 commented on #235
FF thing @edwinmp . The CSS turns the author UL into comma separated box.

[2019-10-10 15:18] edwinmp commented on #250
Yes @akmiller01 ... @Napho is working in a separate CI process to auto-update the comms staging for issues we've signed off on `develop`.

[2019-10-11 08:44] edwinmp commented on #8
![image](https://user-images.githubusercontent.com/5672438/66637719-3beae500-ec1c-11e9-8838-4f1dead4b524.png)

It seems the majority of button occurrences are confusing now ... will need to fix that. In the meantime, just specify a caption and a URL or Page.

[2019-10-11 08:49] k8hughes commented on #8
I already have that text in that box but it doesn't result in a button, do you get a button from doing that?

[2019-10-11 08:55] k8hughes commented on #8
Ooo maybe I have worked it out, is the issue that a URL needs to be specified?
What is weird here as a user is that elsewhere in the CMS when adding an internal link you do it by selecting it within the CMS rather than free text.
It might also be worth having something that tells the user they need to add a URL...
@edwinmp

[2019-10-11 09:04] edwinmp commented on #8
It has support for both ... You have to specify either a URL or a Page ... You can see both options in the screenshot. But yeah, this whole bit has become confusing since the UI changed. Will fix it. I remember you raised a similar issue elsewhere.

[2019-10-11 09:12] k8hughes commented on #205
![Screenshot 2019-10-11 at 10 12 02](https://user-images.githubusercontent.com/36768381/66639846-9d588700-ec0f-11e9-8aff-b34c539da6d3.png)
I get a 502 error when trying to use the link checker.
@davidebukali

[2019-10-11 09:19] k8hughes commented on #39
http://178.128.102.213/who-we-are/our-funding2/

LGTM

[2019-10-11 09:21] k8hughes commented on #4
LGTM.

[2019-10-11 09:29] k8hughes commented on #253
http://178.128.102.213/work-us/data-scientist/

LGTM

[2019-10-11 09:29] k8hughes commented on #255
LGTM

[2019-10-11 12:46] edwinmp opened #262 "Create customisable charts as a stream field"
**Is your feature request related to a problem? Please describe.**
The interactive factsheets planned as a replacement for the DDH will require an easy, customisable way of creating common charts & maps.

**Describe the solution you'd like**
Look into creating stream field widgets that enable the configuration and creation of dynamic, interactive charts & maps.

**Describe alternatives you've cons

[2019-10-11 15:17] alice-mcandrew-development-initatives commented on #259
Great :) that makes sense, thanks for confirming. Once we've marked these I will check they have pulled through and populated the page.

[2019-10-14 08:10] edwinmp commented on #259
Hi @alice-mcandrew-development-initatives did you finally get this working?

[2019-10-14 08:50] k8hughes commented on #248
Was this fixed under issue #255 already?
@edwinmp

[2019-10-14 08:59] alice-mcandrew-development-initatives commented on #259
Yes, this appears to be working fine! Thanks v much

[2019-10-14 10:37] edwinmp commented on #14
Hi @k8hughes ... Your configured items are showing on the Home Page. What's broken is the featured publication that's supposed to be showing up on the Hero.

![image](https://user-images.githubusercontent.com/5672438/66744578-7dca9400-ee85-11e9-8bfc-ebbc285c3cba.png)

[2019-10-14 10:41] #259 closed

[2019-10-14 10:45] edwinmp commented on #248
Nope ... the full fix for this is in PR #260

[2019-10-14 13:07] alice-mcandrew-development-initatives opened #263 "Image size and placement on 'Our story' timeline"
## I'm submitting a ...
Questions or bug

**Describe the Issue**
The size and placement of the images on the timeline on the 'Our story' page seems inconsistent.
Is there something we can do about this?

**To Reproduce**
Go to http://159.65.56.142/who-we-are/our-story/

**Expected Behaviour**
Go to http://development-initiatives.surge.sh/page-templates/04-our-story

**Screenshots/GIF**
![Odd image

[2019-10-14 13:22] k8hughes commented on #203
@akmiller01  can you comment on the status of this issue?

[2019-10-14 13:24] edwinmp commented on #235
@benjamincoleman

[2019-10-14 15:41] edwinmp commented on #8
@k8hughes I settled on the view below... there's a noticeable indentation that groups the fields. Also added some info to describe their purpose.

[2019-10-14 15:44] edwinmp commented on #258
@alice-mcandrew-development-initatives I added the `Richtext Columns` section to handle this.

![image](https://user-images.githubusercontent.com/5672438/66764521-9d2be600-eeb2-11e9-8d4f-2baa9b65ae79.png)

![image](https://user-images.githubusercontent.com/5672438/66764541-acab2f00-eeb2-11e9-87b2-a368aaa41ca1.png)

[2019-10-14 15:55] edwinmp commented on #249
@AnnaHope this has been deployed to staging. Please test.

[2019-10-14 16:00] edwinmp commented on #250
@AnnaHope a fix for this has been deployed. Please test.

[2019-10-15 09:10] alice-mcandrew-development-initatives opened #264 "Our finances page type"
## I'm submitting a ...
Question or bug

**Describe the Issue**
The AI says the 'Our finances' page is template T1b (General with Accounts module).
I have creating a 'General Page' as an option - do I just use this? There doesn't seem to be anything else appropriate. Please can you advise.

**To Reproduce**
Replace the content below with the steps to reproduce the behaviour.
1. Go to http://159.65

[2019-10-15 09:26] alice-mcandrew-development-initatives opened #265 "Hero image caption on homepage"
## I'm submitting a ...
Bug or question

**Describe the Issue**
There's nowhere to add a hero image caption/URL for the 'Homepage'

**To Reproduce**
1. Go to http://159.65.56.142/admin/pages/3/edit/

**Expected Behaviour**
On the 'Our story' page you can:
![E g  our story hero image caption](https://user-images.githubusercontent.com/55877063/66818929-fe48cd80-ef35-11e9-845e-b4ca5bfb03fc.JPG)

**Sc

[2019-10-15 09:54] edwinmp commented on #265
@alice-mcandrew-development-initatives this was supported to be pulled from the featured publication itself, but that's broken at the moment.

[2019-10-15 10:02] edwinmp commented on #264
@alice-mcandrew-development-initatives Yes, the `General Page` is meant to handle such generic pages.

[2019-10-15 10:04] riahasler-DI opened #266 "Issue with hero image on who we are page"
## I'm submitting a ...
question

**Describe the Issue**
I am trying to pull through an image for the hero on the "who we are page" - I believe Anna designed the image to fit the hero dimensions, however when added to the hero the image does not pull through properly

**To Reproduce**
1. Go to http://159.65.56.142/admin/pages/603/edit/
2. on the preview setting the hero image is not aligned

**Exp

[2019-10-15 10:05] edwinmp commented on #263
@alice-mcandrew-development-initatives for consistency, the only thing you can do is choose images of specific dimensions and stick with it.  Won't be good to have to stretch images to fix expected dimensions.

[2019-10-15 10:31] edwinmp commented on #266
@riahasler-DI I've checked, and the two images (the one you added on the site, and the one above) are of different dimensions. The one above renders better cos it's bigger. It too is not of the ideal dimensions, but at least the majority of the image is not cropped out.

![image](https://user-images.githubusercontent.com/5672438/66823969-fe55c700-ef4f-11e9-96de-6b4b91a8627d.png)

[2019-10-15 10:32] riahasler-DI commented on #266
Thank you Edwin :)

[2019-10-15 12:00] k8hughes commented on #8
This is perfect 👍

[2019-10-15 13:06] alice-mcandrew-development-initatives commented on #258
Perfect. I've added the content and it looks good! Thank you.

[2019-10-15 13:16] #258 closed

[2019-10-15 13:34] alice-mcandrew-development-initatives commented on #265
Ok, I think I misunderstood. I don't think we've set a featured publication yet so can see if this works when we get to that!

[2019-10-15 13:34] alice-mcandrew-development-initatives commented on #264
Ok, thanks for confirming!

[2019-10-15 13:35] alice-mcandrew-development-initatives commented on #263
Makes sense. Thanks for confirming.

[2019-10-15 13:40] alice-mcandrew-development-initatives commented on #250
This still doesn't look right.
http://159.65.56.142/who-we-are/

![Capture](https://user-images.githubusercontent.com/55877063/66836730-c6ec1800-ef59-11e9-83ce-9434626f76eb.JPG)

[2019-10-15 13:43] alice-mcandrew-development-initatives commented on #250
Also, the template makes it look like there should be an image credit/URL box for this:
http://development-initiatives.surge.sh/page-templates/03-who-we-are

![Capture2](https://user-images.githubusercontent.com/55877063/66836881-0b77b380-ef5a-11e9-9bc6-ea07b0c0ab55.JPG)

Do you want this flagged as a separate issue?

[2019-10-15 13:48] alice-mcandrew-development-initatives commented on #249
This is still where it was before (i.e. where it should _not_ be):
![Capture3](https://user-images.githubusercontent.com/55877063/66837156-70cba480-ef5a-11e9-9d67-1032951176c1.JPG)

I've added a child page here, which is where it should be:
![Capture4](https://user-images.githubusercontent.com/55877063/66837286-a96b7e00-ef5a-11e9-8062-cd1380eaae39.JPG)
^ Please delete this draft and start from scr

[2019-10-15 13:52] edwinmp commented on #250
@alice-mcandrew-development-initatives ah, nope ... lets just keep this issue open until it's fixed.

[2019-10-15 13:54] edwinmp commented on #249
@alice-mcandrew-development-initatives that's not necessarily a bug. It'd be a bug if it's possible to create another `Our Team` page in the same place. For this, you can simply move it to right place in the hierarchy, but I think we've fixed it so that you can't create anymore `Our Team` pages under the `Home Page`.

[2019-10-15 13:56] alice-mcandrew-development-initatives commented on #249
How do we move it? It should be under Who we are

[2019-10-15 14:00] edwinmp commented on #249
More -> Move

![image](https://user-images.githubusercontent.com/5672438/66838391-3f100900-ef6d-11e9-93c4-234ac0306ffc.png)

[2019-10-15 14:03] alice-mcandrew-development-initatives commented on #249
Amazing! Problem solved.
(Do you want me to close when happy an issue has been resolved, such as in this instance?)

[2019-10-15 14:12] edwinmp commented on #249
Yup ... close away :)

[2019-10-15 14:26] akmiller01 commented on #203
Publications were incorporated into the author pages, but not elsewhere. Just added them everywhere they could be needed here: https://github.com/devinit/DIwebsite-redesign/pull/268

[2019-10-15 14:30] alice-mcandrew-development-initatives commented on #20
The benefits section looks good. I'll leave this open for now though as we haven't uploaded all the content yet for this page (i.e. the child pages have not been made).

[2019-10-15 14:32] akmiller01 commented on #250
@alice-mcandrew-development-initatives could you try deleting the image and re-adding it? My fix should have worked, but it's still using the fill version of the image instead of the width one:

![image](https://user-images.githubusercontent.com/2836840/66841079-238a0b80-ef37-11e9-9419-41951e073eb7.png)

[2019-10-15 14:37] alice-mcandrew-development-initatives commented on #250
@akmiller01 Do you mean delete from the images library? I tried to replace on page and it made no difference.

[2019-10-15 14:37] akmiller01 commented on #250
Not sure why the src would be right, but the srcset would be behind. Any idea @edwinmp ?

[2019-10-15 14:37] #249 closed

[2019-10-15 14:40] akmiller01 commented on #250
No, just replacing it on the page should be enough. I think we may also need to edit the `global.banner_srcs` which seems to be causing this issue.

[2019-10-15 14:43] akmiller01 commented on #250
Fix here. Going to test locally right now https://github.com/devinit/DIwebsite-redesign/pull/269

[2019-10-15 14:48] alice-mcandrew-development-initatives commented on #39
@k8hughes I will test this when we have the content to upload for this page: http://159.65.56.142/who-we-are/our-finances/

[2019-10-15 14:48] akmiller01 commented on #250
![image](https://user-images.githubusercontent.com/2836840/66842448-487f7e00-ef39-11e9-9f0c-9a1e70441970.png)

Here's how it appears with an edited srcset.

[2019-10-15 14:48] akmiller01 commented on #250
Only issue is that the image can be longer than the banner.

[2019-10-15 14:51] alice-mcandrew-development-initatives commented on #250
According to template it shouldn't overlap on the bottom:
![Capture2](https://user-images.githubusercontent.com/55877063/66842588-711c6d80-ef63-11e9-95c0-bb5323ca74fb.JPG)
This means that it mirrors the red box on the opposite corner.

Is that what you mean by the above comment?

[2019-10-15 14:53] akmiller01 commented on #250
We may want to go back to Fffunction on this point. We've reached a styling impasse.

Either the image needs to be a set height, at which point it can behave predictably with regards to where the image starts and stops. Or it can have a variable height, at which point we can start it or stop it at a predictable space, but we cannot control the other end.

[2019-10-15 14:55] edwinmp commented on #250
I don't see how we're going to overcome this with css ... We could agree to only use images of a certain dimension here, but then the text also affects the size of the banner and could get the image out of alignment.

[2019-10-15 15:01] alice-mcandrew-development-initatives commented on #19
@k8hughes I think this seems fine but I will confirm once we've got more content in place

[2019-10-15 15:19] alice-mcandrew-development-initatives commented on #4
@k8hughes this seems fine (but I'll confirm when all content is uploaded)

[2019-10-15 15:20] alice-mcandrew-development-initatives commented on #254
All good now! Thank you!

[2019-10-15 15:23] alice-mcandrew-development-initatives commented on #255
Perfect. There's an option for this now.

[2019-10-15 15:45] alice-mcandrew-development-initatives commented on #256
A) I don't think the Vacancy Index Page is working as it should be?

- This is what I see:
![Vacancy Index Page](https://user-images.githubusercontent.com/55877063/66846976-8a74e800-ef6a-11e9-93a7-c1a8eb4616df.JPG)
(not many options)

- But the template looks like this:
http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

B) Also, the page doesn't seem to pull through to the

[2019-10-15 15:46] alice-mcandrew-development-initatives commented on #256
It might help to rename or re-add this issue?

[2019-10-15 15:51] akmiller01 commented on #256
Renaming may help.

Also, most Index pages don't have much content unto themselves. Index pages automatically generate content from their children. In this case you need to create VacancyPages under the Vacancy Index Page.

[2019-10-15 15:56] alice-mcandrew-development-initatives commented on #253
I'm now able to add a document link in the page body. Thank you :)

[2019-10-15 16:06] alice-mcandrew-development-initatives commented on #256
@akmiller01 I have created the vacancies page but the title doesn't appear on the work for us page

[2019-10-15 16:16] akmiller01 commented on #256
Not sure if I follow. Isn't it appearing here?
![image](https://user-images.githubusercontent.com/2836840/66849816-98644200-ef45-11e9-84b9-3c53d268a0a4.png)

[2019-10-15 16:21] alice-mcandrew-development-initatives commented on #256
This bit is missing:
![Vacancies](https://user-images.githubusercontent.com/55877063/66850171-2bb26d00-ef70-11e9-8ed5-b701e4ef32fd.JPG)

I think it should say 'Current vacancies' though

[2019-10-15 16:24] akmiller01 commented on #256
Ah okay. You get to title that section through the CMS on the Work For Us page:

![image](https://user-images.githubusercontent.com/2836840/66850397-bda58000-ef46-11e9-929b-2768de64c19e.png)

[2019-10-15 16:27] alice-mcandrew-development-initatives commented on #256
@akmiller01 Ah, sorry! I missed this! So, once I've added the team stories this should look perfect.

[2019-10-16 09:40] k8hughes commented on #16
This is now correct.

[2019-10-16 09:42] k8hughes commented on #14
Now the publication is displaying in the hero as intended.

[2019-10-16 11:16] k8hughes commented on #236
@edwinmp is this a duplicate of #235 ?

[2019-10-16 11:18] k8hughes commented on #203
Does this mean we can move this issue to done? @akmiller01

[2019-10-16 11:18] k8hughes commented on #202
@Napho have you been working on this one already?

[2019-10-16 11:20] k8hughes commented on #250
@benjamincoleman what do you advise?

[2019-10-16 11:34] benjamincoleman commented on #235
@BenDarby can we remove the comma from after every author please?

[code]

[2019-10-16 11:42] benjamincoleman commented on #250
The image size is causing the problem - its dimensions should be 512px by 512px.

In this case there's no need for using SRCSET, as the image size doesn't vary all that much across screen sizes.

[2019-10-16 11:50] alice-mcandrew-development-initatives commented on #250
Sorry, I'm am not sure whether I am 100% following this (or whether I need to be exactly).
Is the implication that we can only upload images with dimensions 512px by 512px for banner blocks? This would mean we'd have to crop images before adding them to the image library? If so, was this planned/discussed with Anna?

[2019-10-16 11:54] k8hughes commented on #250
@benjamincoleman I don't think that we have restricted images size anywhere else on the site.  Is there a work around here?

[2019-10-16 11:57] benjamincoleman commented on #250
@alice-mcandrew-development-initatives @k8hughes

The image should be cropped by Wagtail. You should be able to put an image which has dimensions that are larger than 512px in both width and height, select a focus area, and then the CMS will crop it for you.

[2019-10-16 12:02] k8hughes commented on #250
@akmiller01 @edwinmp  does this mean the issue is in the code on our en then and the cropping is not happening?

[2019-10-16 12:31] akmiller01 commented on #203
Yep! Done and merged.

[2019-10-16 12:33] akmiller01 commented on #250
@k8hughes we can crop the image however. At which point CMS users will need to set a focal point to avoid cropping faces (like the image that spawned this issue). But if there isn't much text content in the banner, the image will still overflow the banner as shown above.

[2019-10-16 12:34] BenDarby commented on #235
@benjamincoleman updated markup and css to be like this now
[code]

[2019-10-16 12:45] alice-mcandrew-development-initatives opened #272 "Consultancy services 'Find our how we can help you' banner"
## I'm submitting a ...
Bug

**Describe the Issue**
1) Image shape and crop (being addressed elsewhere)
2) No option to add bold in banner block (possibly being addressed elsewhere?)
3) No option to add email address as link

**To Reproduce**
![Sheena banner live](https://user-images.githubusercontent.com/55877063/66920357-03337d00-f01b-11e9-98c6-559c39af45a5.JPG)
![Sheena banner](https://user-ima

[2019-10-16 12:54] akmiller01 commented on #235
https://github.com/devinit/DIwebsite-redesign/pull/273

[2019-10-16 13:15] alice-mcandrew-development-initatives opened #274 "Test job / Apply for this..."
## I'm submitting a ...
Bug or question
relating to http://159.65.56.142/work-for-us/vacancies/test-job/

**Describe the Issue**
Sometimes the download pulls through the fie name and sometimes it pulls through the title

**To Reproduce**
Two documents uploaded - one pdf and one docx - with different file name but same title...
![Doc list](https://user-images.githubusercontent.com/55877063/66922474

[2019-10-16 13:22] alice-mcandrew-development-initatives opened #275 "Sign up for vacancy alerts design"
## I'm submitting a ...
Bug

**Describe the Issue**
Red line next to  'Sign-up line' is missing on Vacancies page.
Also, the last tick box is missing.
The functionality isn't working yet - presumably this will come later?

**To Reproduce**
http://159.65.56.142/work-for-us/vacancies/

![Sign up live](https://user-images.githubusercontent.com/55877063/66923112-290f5080-f020-11e9-948c-58fa3baddec9.JP

[2019-10-16 13:24] edwinmp commented on #236
Nope ... same screenshot, different issue.

[2019-10-16 14:20] alice-mcandrew-development-initatives opened #276 "What we do"
## I'm submitting...
Bugs

**Describe the Issue**
1)  Missing red line next to Where we work (this was in the design)
![Missing red line for Where we work](https://user-images.githubusercontent.com/55877063/66927382-9b376380-f027-11e9-8a56-89e6c18d991e.JPG)

2) No option to add Consultancy services as white section
![No option to add Consultancy servives as white section](https://user-images.githu

[2019-10-16 15:07] edwinmp commented on #205
@davidebukali what's the status of this?

[2019-10-16 15:45] alice-mcandrew-development-initatives commented on #206
I tried this and didn't receive the email, not sure why if it worked for Kate...

[2019-10-16 16:14] alice-mcandrew-development-initatives commented on #206
Simon is happy with that ^

[2019-10-16 16:25] alice-mcandrew-development-initatives opened #277 "Link to pre-filtered content"
## I'm submitting a ...
Question

**Describe the Issue**
Apologies if this is naive questions... How do you link to pre-filtered content?
Anna wants to link to profiles pre-filtered by team. For example, to link to just the individual profiles for people in the Comms team (in a single link).
Do we need to wait until the new website is launched (then link the URL?) or is there another way to do thi

[2019-10-17 07:24] edwinmp commented on #206
@Napho has the script and cronjob for this been setup on `pre-production`?

[2019-10-17 08:39] alice-mcandrew-development-initatives opened #280 "block quote source line"
## I'm submitting a ...
Bug or design query

**Describe the Issue**
There's nowhere to add the source for block quotes.

**To Reproduce**
http://159.65.56.142/what-we-do/our-focus-areas/improving-understanding-humanitarian-assistance/

**Screenshots/GIF**
At the moment I've had to add the source in a paragraph block...
![Block quote cms](https://user-images.githubusercontent.com/55877063/66992878-

[2019-10-17 10:32] alice-mcandrew-development-initatives commented on #32
Can we make the Spokespeople images on this page a bit bigger? They seem a bit small at the moment. (They also don't look great because of variety in photo style, but I think increasing the size may help a bit).

How they are now:
![Spokespeople](https://user-images.githubusercontent.com/55877063/67001196-19037980-f0d1-11e9-9796-781d0482ccb4.JPG)

What the pattern library shows:
![Spokespeople pat

[2019-10-17 12:39] akmiller01 commented on #32
https://github.com/devinit/DIwebsite-redesign/pull/281

[2019-10-17 13:13] alice-mcandrew-development-initatives commented on #276
Also, I need to add some links in the 'Our impact' banner but am currently unable to. This will be applicable elsewhere also.

![Links in banner](https://user-images.githubusercontent.com/55877063/67011831-3859d100-f0e8-11e9-8a2c-83cb55db67c4.JPG)

[2019-10-17 13:51] alice-mcandrew-development-initatives commented on #32
Bizarrely, the page displays correctly at 75% but not 80% zoom.

Red line next to 'Press releases' at 75%:
![75%](https://user-images.githubusercontent.com/55877063/67014881-7e656380-f0ed-11e9-8bf7-561b60917e5e.JPG)

No red line at 80%:
![80%](https://user-images.githubusercontent.com/55877063/67014893-832a1780-f0ed-11e9-8884-dbb5d7ac22c8.JPG)

[2019-10-17 13:53] k8hughes commented on #32
@benjamincoleman I assume this is a pattern library thing?

[2019-10-18 13:46] benjamincoleman commented on #32
@k8hughes this is an interesting one - we only ever design, and test, for 100% zoom.

If we did look at zoom levels, then we'd normally only go to higher zoom levels, and would only look at whether things were fundamentally broken and unusable.

[2019-10-18 15:53] jamesharle opened #290 "Change to default image for pages without a manually assigned hero"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
We need to change the current image that is assigned automatically to pages that do not have an image manually assigned to them via th

[2019-10-21 09:28] alice-mcandrew-development-initatives opened #296 "Image credit name limited characters"
## I'm submitting a ...
Bug

**Describe the Issue**
Please can we remove the character limit on the 'Image credit name' for the hero on each page

[2019-10-21 10:40] alice-mcandrew-development-initatives opened #297 "Hyphenated words on same line of title"
Can we have hyphenated words on the same line of the title?
E.g. here 'pro-poor' should be together as a compound:
![Capture2](https://user-images.githubusercontent.com/55877063/67198589-34cf8e00-f3f7-11e9-94c6-a0e883b82790.JPG)

(This was flagged on Slack a while back but I can't see anything on Github)

[2019-10-21 11:21] alice-mcandrew-development-initatives commented on #237
@edwinmp I think this seems also to be applicable to new publication pages (as it looks like you can only link to pages as the call to action)

[2019-10-21 16:02] alice-mcandrew-development-initatives commented on #90
@benjamincoleman (You are probably already aware of this but) this is also the case for vacancies.

At the moment:
![Format of dates live](https://user-images.githubusercontent.com/55877063/67222054-7165ae80-f424-11e9-809a-4958521cacd1.JPG)

What it should look like:
![Format of dates pattern](https://user-images.githubusercontent.com/55877063/67222058-775b8f80-f424-11e9-9aed-edca1c0fe97a.JPG)

[2019-10-22 10:58] akmiller01 commented on #15
https://github.com/devinit/DIwebsite-redesign/pull/299

[2019-10-22 15:09] riahasler-DI opened #300 "Sign up link not available"
## I'm submitting a ...
Bug or design issue

**Describe the Issue**
On the News page, there should be a button allowing people to sign up to our newsletter via this link: https://us11.list-manage.com/subscribe?u=a829237ca0cf1470615c7f059&id=ce30e2af0f
On the page I cannot find the option to add this.

**To Reproduce**
Replace the content below with the steps to reproduce the behaviour.
1. Go to 'h

[2019-10-22 15:18] riahasler-DI opened #301 "Tags on blog page are not in alphabetical order"
## I'm submitting a ...
Design issue or Bug

**Describe the Issue**
The tags on the Blogs page are not in alphabetical order.

**To Reproduce**
This is the design template:
![image](https://user-images.githubusercontent.com/56585598/67301444-50b25d00-f4e7-11e9-9449-890395698dc9.png)
Here the tags are in alphabetical order

This is the live Blogs page: http://159.65.56.142/blog/?topic=aidoda
![imag

[2019-10-22 16:01] alice-mcandrew-development-initatives opened #302 "Office location snippet line breaks"
## I'm submitting a ...
Bug

**Describe the Issue**
There does not seem to be a way to add line breaks in cms for office location snippets

**To Reproduce**
http://159.65.56.142/who-we-are/
![Office location live](https://user-images.githubusercontent.com/55877063/67305600-7fcbcd00-f4ed-11e9-99b1-241eb9f3508b.JPG)

**Expected Behaviour**
![Office location cms](https://user-images.githubusercontent

[2019-10-22 16:21] alice-mcandrew-development-initatives opened #303 "More about"
## I'm submitting a ...
Question

**Describe the Issue**
How does the 'More about' on top right of each page work? Should this pull through automatically with relevant child pages? At the moment it doesn't seem to be doing this. What do we need to do?

**To Reproduce**
http://159.65.56.142/who-we-are/

**Expected Behaviour**
http://development-initiatives.surge.sh/page-templates/03-who-we-are

**S

[2019-10-22 16:26] alice-mcandrew-development-initatives opened #304 "Adding related pages"
## I'm submitting a ...
Bug or question

**Describe the Issue**
The ability to add related pages at the bottom of a page does not appear to be consistent. Is there a reason that this is not an option for all pages?

[2019-10-22 16:33] alice-mcandrew-development-initatives commented on #251
@akmiller01 and @edwinmp do the offices appear in the order they do on the page because the snippets were created in this order? (this would be useful to know going forward)

[2019-10-23 06:24] k8hughes commented on #250
@alice-mcandrew-development-initatives just wanted to check that you have seen this.  As a CMA user you need to crop the images in Wagtail.

[2019-10-23 06:24] akmiller01 commented on #251
Yes they appear in the order in which the snippets are added. Wagtail does not support reordering snippets at the moment, but you can always remove some and re-add them in the order you want them to appear.

[2019-10-23 06:28] akmiller01 commented on #276
Checking on this one, the red line is a CSS issue for @benjamincoleman . It appears on my screen, so it must be tied to resolution:

![image](https://user-images.githubusercontent.com/2836840/67364053-6ff8cb00-f577-11e9-971d-28ddf4bee5ee.png)

[2019-10-23 06:36] k8hughes commented on #266
@riahasler-DI can this issue be closed now?

[2019-10-23 06:42] akmiller01 commented on #303
`More about` sections are automatic, and either list children of a given page or siblings, depending on the page. In the above case, it will display all children of `Who we are` that are marked `show in menus` on the `Promote tab` of the respective pages.

We still need to sort out the main menu, so that all of the pages you mark "Show in menus" don't automatically appear in the top menu as well,

[2019-10-23 06:45] akmiller01 commented on #297
@benjamincoleman I think this is sorted out via CSS?

[2019-10-23 06:47] k8hughes commented on #37
@benjamincoleman for the point about repeat addresses, as this is how the design appear in the pattern library I think this is one for you?

[2019-10-23 06:48] akmiller01 commented on #302
@benjamincoleman would it be possible to allow linebreaks in class `location__copy`?

[2019-10-23 06:52] akmiller01 commented on #296
https://github.com/devinit/DIwebsite-redesign/pull/305

[2019-10-23 07:07] akmiller01 commented on #272
Fixed with https://github.com/devinit/DIwebsite-redesign/pull/306 by adding a `richtext` block in addition to just plain text.

@benjamincoleman can you take a look at the CSS so that hyperlinks inside of `banner__excerpt` match the font colour:

![image](https://user-images.githubusercontent.com/2836840/67366843-ec41dd00-f57c-11e9-890c-3c2965b69e6d.png)

[2019-10-23 07:12] akmiller01 commented on #276
A richtext field as added here will let you add links to a banner: https://github.com/devinit/DIwebsite-redesign/pull/306

[2019-10-23 07:19] #251 closed

[2019-10-23 07:37] akmiller01 commented on #276
And after a bit of work adding a completely new consultancy section, I've scrapped it all because I just realized that you need to add the consultancy section as a `duo` block @alice-mcandrew-development-initatives followed by a `testimonial` block. Once #306 is merged that should address all your issues.

[2019-10-23 07:49] edwinmp commented on #304
Hi @alice-mcandrew-development-initatives This feature exists in two formats. The `More about` format is for most pages and only shows the hero & the title of the page.
![image](https://user-images.githubusercontent.com/5672438/67369799-5446f200-f582-11e9-82e7-6349e7081f2a.png)

Alternatively, we have the `Related page` format, and this is for blogs, news, publications, events because these can be

[2019-10-23 07:53] k8hughes commented on #296
@akmiller01  I have tested this and there is still a charater limit for me, so it doesn't appear to have worked.

[2019-10-23 08:08] akmiller01 commented on #301
https://github.com/devinit/DIwebsite-redesign/pull/307

[2019-10-23 08:19] davidebukali commented on #300
Newsletter items can be added through the snippets menu in the admin section.

[2019-10-23 08:21] akmiller01 commented on #300
http://159.65.56.142/admin/snippets/home/newsletter/

[2019-10-23 08:21] #300 closed

[2019-10-23 08:28] akmiller01 commented on #290
Could you please provide us a placeholder image in roughly 713 px wide and 537 px tall @jamesharle ? This is the image that was provided to us in the pattern library as the placeholder http://159.65.56.142/assets/img/fallback-image.jpg

[2019-10-23 08:49] akmiller01 commented on #205
Link checker is incorporated, but relies on `celery` service to be built into deployment process.

[2019-10-23 08:52] jamesharle commented on #290
lol @ roughly 713 wide and 537 tall :D Please find below a corrected image approximately exactly that size.

Thanks for your help with this A :)

![fallback-image](https://user-images.githubusercontent.com/43270042/67375572-bb60a880-f57a-11e9-98a7-2bf89ed91991.jpg)

[2019-10-23 08:57] akmiller01 commented on #290
@benjamincoleman could you please incorporate the above placeholder image into the pattern library as `assets/img/fallback-image.jpg`? I'm worried if we add it at our end it may eventually be overwritten the next time we pull in pattern library changes.

[2019-10-23 08:58] benjamincoleman commented on #302
@BenDarby can you help with this? It's from this template: http://development-initiatives.surge.sh/page-templates/03-who-we-are

[2019-10-23 09:02] benjamincoleman commented on #37
So it's entirely deliberate that they are repeated - as there are essentially two organisations with two official "registered addresses". I'd keep it in as it's been reviewed and approved prior to this.

[2019-10-23 09:05] benjamincoleman commented on #297
@BenDarby can we do something clever here to prevent breaking lines at hyphenated words with CSS?

[2019-10-23 09:08] akmiller01 commented on #297
If not, the only other solution seems to be replacing hyphens with a `non-breaking hyphen` character. Although I don't know how hard that would be to type into the CMS: https://stackoverflow.com/a/7691604

[2019-10-23 09:23] benjamincoleman commented on #290
@BenDarby can you do this please?

[2019-10-23 09:28] akmiller01 opened #310 "Migrate over WP media assets"
So that they appear as if they are hosted in the previous WP locations.

[2019-10-23 09:29] akmiller01 opened #311 "Rescrape all content added since last WP scrape."

[2019-10-23 10:35] jamesharle commented on #304
Thanks @edwinmp - so from a CMS point of view, on Who we are (for example), we have a text field and link selections to change the More about section. In Our team, which has an identical More about section in the pattern library, there is no such option on the CMS.

[2019-10-23 10:42] jamesharle commented on #303
Thanks @akmiller01! Regarding the How we work page specifically, I have followed your instructions above for its sole child page (Partnerships and collaboration) and the More about section appears to be auto-populating with Homepage content still (see image).
![image](https://user-images.githubusercontent.com/43270042/67385037-2f567d00-f58a-11e9-91ef-ce0e74f644c4.png)

[2019-10-23 11:09] akmiller01 commented on #303
https://github.com/devinit/DIwebsite-redesign/pull/312/files

[2019-10-23 11:35] alice-mcandrew-development-initatives commented on #250
I added a focus area (as I presumed that is what you meant by 'crop') but it still looks odd:
![Pin banner](https://user-images.githubusercontent.com/55877063/67388876-6aa87a00-f591-11e9-8208-3906f813735b.JPG)

[2019-10-23 11:59] alice-mcandrew-development-initatives commented on #276
Thanks @akmiller01
The red line appears at 100% so that's fine, Ben confirmed elsewhere
I will check that I can resolve the other issues once the merge has happened

[2019-10-23 12:27] BenDarby commented on #302
@benjamincoleman @akmiller01 if you update the markup for `location__copy` to this then it will work
[code]
You can see it in the pattern library as well

[2019-10-23 13:02] BenDarby commented on #297
@akmiller01 @benjamincoleman I've researched if this was possible with css but I can't see way to achieve this, the hyphen is functioning as it should be in terms of css. Using non-breaking hyphens will solve the issue but I'm not sure how possible it is for devs.

[2019-10-23 13:07] BenDarby commented on #290
@akmiller01 @benjamincoleman  I can add a placeholder image for when there is no hero image assigned but there is already a system in place for this, when the user doesn't assign a hero image then you need to remove the `hero--image` modifier class on the hero element and it will display the red with a pattern which is created with css. We have a slightly darker red behind the text for accessibili

[2019-10-23 13:42] akmiller01 commented on #290
Thanks Ben,

I think this issue is just about the index page placeholders. If you
replace the file in the pattern library with the one above it should pull
through.

On Wed, Oct 23, 2019, 4:07 PM Ben Darby <notifications@github.com> wrote:

[2019-10-23 15:38] alice-mcandrew-development-initatives commented on #37
@benjamincoleman Pk, thanks,, let's leave for now and check-in with Anna when's back.
@k8hughes Are the other issues something Alex or Edwin can take care of?

[2019-10-24 06:36] akmiller01 commented on #250
@BenDarby I think this may be a pattern library issue. The image width is capped at 400 px, and the height is just slightly longer than that. There doesn't seem to be any mechanism by which the height of the banner is elongated to match the height of the image.

[2019-10-24 06:37] akmiller01 commented on #302
Cheers @BenDarby I cannot really update the mark-up as this is CMS user entered content, but I'll swap out the plain text field for a Rich text field with the div tags stripped, and that way Alice can enter each line as a separate paragraph.

[2019-10-24 06:56] akmiller01 commented on #302
https://github.com/devinit/DIwebsite-redesign/pull/313

[2019-10-24 07:18] akmiller01 commented on #297
Hi Alice. Just researched a few solutions and the only one that works is to use the following character in place of a standard hyphen:

‑
--

It's code is U+2011 and the best way to use it is just to copy and paste it from one source to another. This tells the HTML not to use the hyphen as a breaking opportunity:

![image](https://user-images.githubusercontent.com/2836840/67462045-735b8780-f647-11

[2019-10-24 07:18] #297 closed

[2019-10-24 08:45] benjamincoleman commented on #290
@BenDarby so on the homepage pattern library template we have a placeholder image for a "featured work" item. It's that element that Alex is referring to (see screenshot).

http://development-initiatives.surge.sh/page-templates/02-homepage

<img width="1251" alt="Screen Shot 2019-10-24 at 09 44 53" src="https://user-images.githubusercontent.com/64877/67468754-f9290400-f642-11e9-8c23-a241448058ab.p

[2019-10-24 09:24] #244 closed

[2019-10-24 09:25] #246 closed

[2019-10-24 09:26] #248 closed

[2019-10-24 09:26] #253 closed

[2019-10-24 09:27] #254 closed, assigned to nobody

[2019-10-24 09:27] #255 closed

[2019-10-24 09:27] #256 closed

[2019-10-24 09:31] akmiller01 commented on #274
Hi @alice-mcandrew-development-initatives when the website recognizes a file format, it displays it and appends a filesize (e.g. PDF). When it doesn't recognize the fileformat, it will default just to the file title. Would it be worthwhile to have it display file extensions regardless of recognizing the type or not?

[2019-10-24 10:11] alice-mcandrew-development-initatives commented on #277
@akmiller01 Would this require us to put the file extension in the name of the file? In which case it could double up where it is recognised?

[2019-10-24 10:12] alice-mcandrew-development-initatives commented on #274
@akmiller01 Would this require us to put the file extension in the name of the file? In which case it could double up where it is recognised?

[2019-10-24 10:13] riahasler-DI opened #316 "Project page links not working on Our Focus Areas page"
## I'm submitting a ...
Question or Bug:
On the Our Focus Areas Page when I click on the key projects section I am not sent to the related project page.

**To Reproduce**
Replace the content below with the steps to reproduce the behaviour.
1. Go to 'http://159.65.56.142/what-we-do/our-focus-areas/'
2. Click on 'any of the key projects'

**Expected Behaviour**
 I would expect to be sent to the proj

[2019-10-24 11:02] akmiller01 commented on #274
Improvements here: https://github.com/devinit/DIwebsite-redesign/pull/317

[2019-10-24 11:11] jamesharle commented on #304
Thanks @akmiller01 - seeing no change on the CMS currently (sorry if you mean 'fixed' in a different sense...)

[2019-10-24 11:13] akmiller01 commented on #304
Yep. Fixed in code now, fixed on development server when merged, fixed on your staging site when we deploy it shortly.

[2019-10-24 11:49] akmiller01 commented on #304
Just deployed: http://159.65.56.142/admin/pages/6/edit/

[2019-10-24 12:08] #203 closed

[2019-10-24 12:12] k8hughes commented on #245
I have tested this in an abstract way but I think it will need actual use by the comms team for us to know if this is correct.

[2019-10-24 13:07] alice-mcandrew-development-initatives commented on #277
Thanks, I'll make a note to check this when we do the switch

[2019-10-24 13:09] #277 closed

[2019-10-25 08:23] BenDarby commented on #280
@benjamincoleman @akmiller01 I've amended the styles a little so you just add a `cite` like so:
[code]

[2019-10-25 09:29] k8hughes commented on #250
@benjamincoleman is this a problem with the pattern library?

[2019-10-25 09:30] k8hughes commented on #280
@edwinmp @davidebukali what do we need to do our side to pull through this change?

[2019-10-25 10:21] benjamincoleman commented on #250
@BenDarby can you have a look at this please? Not quite sure what's causing the difference between live - http://159.65.56.142/who-we-are/ and the pattern library template - http://development-initiatives.surge.sh/page-templates/03-who-we-are

[2019-10-25 10:24] edwinmp commented on #280
@k8hughes we'll pull it from the `pattern_library` branch then update the `blockquote` block.

[2019-10-25 11:08] BenDarby commented on #250
@benjamincoleman @akmiller01 The markup on the live site is slightly wrong. There is an extra `<div class="media-wrapper">` around the `img` element. This doesn't need to be used, the `<div class="banner__media">` handles the style for the `img` so the full markup from the pattern library is:
[code]

[2019-10-25 11:10] BenDarby commented on #290
@akmiller01 Ah sorry, I misunderstood. I've updated the fallback image in the pattern library to the one provided above.

[2019-10-25 11:18] #274 closed

[2019-10-25 11:23] edwinmp commented on #250
@BenDarby after reviewing the existing usages for banners, I've noticed that the `media-wrapper` div is mostly added for embedded videos, but not for images. Is that how it should be? Would hate to remove it and then have embeds break.

[2019-10-25 11:41] alice-mcandrew-development-initatives commented on #303
@akmiller01 You may already be checking for this (as I'm not sure if it's another example or separate issue), but I can see that the 'More about' for the Our team page is pulling through 'Our team'' when it should be 'Who we are'.

What it looks like:
![Team live](https://user-images.githubusercontent.com/55877063/67568641-a758aa80-f724-11e9-831b-6c2ac968a8db.JPG)

What it should look like:
![Team

[2019-10-25 11:45] alice-mcandrew-development-initatives commented on #304
@jamesharle this seems to be working now

[2019-10-25 12:02] edwinmp commented on #303
Hi @alice-mcandrew-development-initatives ... I'd raised this (raising related issues) on Slack before. We'd prefer it if you didn't raise new issues for recurring or related issues. If the existing issue is closed, reopen it.

As for the issue above, yes that's a bug. Will let you know when a fix is deployed.

[2019-10-25 12:52] alice-mcandrew-development-initatives commented on #265
Should we be able to click-through to the publication featured in the hero?

[2019-10-25 13:38] alice-mcandrew-development-initatives commented on #39
@k8hughes I didn't add the content for this page originally but I've played around with it (since the fix) and can't get the end section to work as intended. Please can you advise on what we need to do to make this work.

What it looks like now:
![Our finances live](https://user-images.githubusercontent.com/55877063/67575643-e7278e00-f734-11e9-886f-37950dc0a4d0.JPG)

What it should look like:
![Ou

[2019-10-25 13:42] k8hughes commented on #39
@edwinmp @davidebukali how do we make the PDF and Dox links go on different lines as per the designs?

[2019-10-25 13:45] edwinmp commented on #39
@k8hughes that's not the difference I'm seeing.

@alice-mcandrew-development-initatives should we remove the file names? Also, I see there's a weird issue with the backgrounds ... will look into it. Could be an FF issue.

[2019-10-25 13:51] alice-mcandrew-development-initatives commented on #45
I created a snippet for the footer. Please can we change the colour of the hyperlink? I can't see an option for this at the moment.

At the moment it's red, which isn't legible:
![Footer hyperlink](https://user-images.githubusercontent.com/55877063/67576628-cfe9a000-f736-11e9-9886-8b3ba76a882c.JPG)

[2019-10-25 13:58] #19 closed

[2019-10-25 14:03] jamesharle commented on #303
@edwinmp to flag, the issue Alice raises above also applies to every team member profile.

[2019-10-25 14:07] jamesharle commented on #304
@akmiller01 this issue also applies to every team member profile.

[2019-10-25 14:09] alice-mcandrew-development-initatives commented on #39
@k8hughes
I don't think the Dox files were added - I'll do this now

@edwinmp
1) Yes please, just the file title, type and size as per pattern
2)  Thank you!

[2019-10-25 14:17] alice-mcandrew-development-initatives commented on #14
@k8hughes Is there a way to change the order of the homepage menu? (It doesn't match the AI at the moment) I tried to untick/retick 'add to menus' in correct order to no avail. Also, something odd is going on in the upper left with the logo.

What it looks like:
![Homepage](https://user-images.githubusercontent.com/55877063/67578428-55228400-f73a-11e9-80d9-4a2ded3d994f.JPG)

[2019-10-25 14:21] alice-mcandrew-development-initatives commented on #39
@k8hughes
Apparently a docx version of these does not exist, so no need to worry about that

[2019-10-25 14:28] alice-mcandrew-development-initatives commented on #235
Looks great @akmiller01

[2019-10-25 14:28] #235 closed

[2019-10-25 14:32] jamesharle opened #327 "Random publications pulling through to team member pages"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
Some staff profile pages are pulling seemingly random publications. An example is Alice's profile, which suggests she's the author of

[2019-10-25 14:41] alice-mcandrew-development-initatives commented on #245
http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/chapter-1-people-crisis-and-assistance/
![Infographic](https://user-images.githubusercontent.com/55877063/67579746-fc081f80-f73c-11e9-944c-f0c51e6f59ca.JPG)

@akmiller01
Almost there
The descriptive text needs to be (left) aligned with the infographic heading
Also, are we able to increase the size and change the weight of

[2019-10-25 15:16] alice-mcandrew-development-initatives commented on #276
1) I added a duo block, but we don't have a video for the consultancy services section at the moment. Can we have the option to add an image instead? We also don't have a testimonial yet, but this doesn't impact the design (and I've tested it works if we did have one int he future and that looks fine). Also, as far as I can tell, there still doesn't seem to be the option to make this section white

[2019-10-25 15:29] benjamincoleman commented on #276
@alice-mcandrew-development-initatives I think we'll need variants in the pattern library for (1).

For (2) we need to update the CSS to accept links.

@BenDarby can you help ⏫

[2019-10-25 15:31] #302 closed

[2019-10-25 15:48] #296 closed

[2019-10-25 15:52] alice-mcandrew-development-initatives commented on #304
@jamesharle if this isn't resolved, I think we need to move it across to 'to do'...?

[2019-10-25 15:56] #301 closed

[2019-10-25 15:57] #236 closed

[2019-10-25 15:59] alice-mcandrew-development-initatives commented on #266
@riahasler-DI @AnnaHope

[2019-10-27 10:04] akmiller01 commented on #45
@BenDarby could you please change the colour of hyperlinks in the footer?

[2019-10-28 07:13] k8hughes commented on #327
@akmiller01  as this is a publications issue I think that you'll be the man to fix it.

[2019-10-28 10:55] jamesharle opened #328 "Imageless pages not pulling placeholder"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The placeholder image is not being pulled to the 'Related content' section, where the content being linked to does not have a manually

[2019-10-28 11:18] BenDarby commented on #276
@benjamincoleman @alice-mcandrew-development-initatives I've updated the styles so links display correctly here. With regards to the first point, you can have an image instead of a video. You just need to replace the `<div class="media-wrapper">` containing the video with a normal `img` tag.
Also you can give sections a white background by adding the modifier class `section--alt` to the section, e

[2019-10-28 11:52] akmiller01 commented on #327
Yep. Alice's ID was 9, Zach's was 93, so in some cases Zach's pubs were being assigned to Alice. Code here https://github.com/devinit/DIwebsite-redesign/pull/329

[2019-10-28 11:53] akmiller01 commented on #304
Resolved in code here: https://github.com/devinit/DIwebsite-redesign/pull/329

[2019-10-28 11:54] alice-mcandrew-development-initatives commented on #276
@akmiller01 @edwinmp I think I need your help before I can do anything in the cms? ^

[2019-10-28 11:54] akmiller01 commented on #303
Fixed for team member pages in code here https://github.com/devinit/DIwebsite-redesign/pull/329

[2019-10-28 12:06] akmiller01 commented on #245
@BenDarby I think we may need help with styling this new text.

[2019-10-28 12:43] alice-mcandrew-development-initatives opened #330 "Share chart link icon missing"
## I'm submitting a ...
Bug
**Describe the Issue**
The link logo to the left of 'Share chart' on publication pages appears to be missing
**To Reproduce**
![Share chart](https://user-images.githubusercontent.com/55877063/67679152-5c3ad380-f980-11e9-8faf-50c9a5db5419.JPG)

[2019-10-28 13:12] alice-mcandrew-development-initatives commented on #36
@k8hughes

The labels in the download section at the bottom are not appearing as intended:
1) The font weight is heavier than the pattern library
2) We should have 'Publications downloads' and 'Data downloads' (and these are not editable)

This is what is looks like:
![Downloads](https://user-images.githubusercontent.com/55877063/67680909-2a2b7080-f984-11e9-912d-48edd492f027.JPG)

It should look l

[2019-10-28 13:26] k8hughes commented on #36
@edwinmp I think this might ahve been something you worked on?

[2019-10-28 13:33] akmiller01 commented on #276
Yep! Issues addressed here: https://github.com/devinit/DIwebsite-redesign/pull/331

[2019-10-28 13:40] akmiller01 commented on #36
Fixed here for the moment. Actual content of data downloads will need to change once we plugin the DDW: https://github.com/devinit/DIwebsite-redesign/pull/332

[2019-10-28 15:36] AnnaHope opened #333 "Sub-saharan Africa is showing twice in the country drop-down in publications"
@edwinmp I'm trying to add countries so we can assign them to individual publications to appear in the dropdown menu in the publications page. I added Kenya, Uganda and Somalia all to sub-saharan africa but the dropdown is showing Kenya as separate to the others with the region name duplicated. We need them all to be in the same list under a single SSA region.

![image](https://user-images.githubu

[2019-10-29 06:36] k8hughes commented on #280
Has this been deployed to preproduction?  I check the linked about but it is still looking the same.  I think with the issues the comms team are reporting it makes sense to deploy straight to their environment as the environment I have been testing on previously doesn't have enough correct content in to get at the nuances that they have been reporting.

@edwinmp

[2019-10-30 09:28] k8hughes commented on #280
![Screenshot 2019-10-30 at 12 27 12](https://user-images.githubusercontent.com/36768381/67845598-cda98c00-fb10-11e9-8715-2ae1c78f8d5c.png)

@BenDarby is this font size correct?

[2019-10-30 09:31] k8hughes commented on #316
This is now working.

[2019-10-30 09:31] #316 closed

[2019-10-30 09:34] k8hughes commented on #250
This is working now.

[2019-10-30 12:29] AnnaHope opened #337 "Homepage navigation bar not displaying in the correct order"
The top nav bar on the homepage is not displaying in the right order, and contact us + media centre shouldn't be there at all. Can't see how to amend this using the cms if it is editable?

![image](https://user-images.githubusercontent.com/16958942/67858267-bd91ac80-fb10-11e9-98f4-96b6f31938ef.png)

It should look exactly as the design template looks

![image](https://user-images.githubusercontent

[2019-10-30 12:36] k8hughes commented on #333
@akmiller01 as this is a bug in publications I think it would be one for you?
I've checked the CMS content and it seems to be correct so I'm not sure what the cause is.

[2019-10-30 12:48] akmiller01 commented on #333
Ah, so when you asked me to alphabetize the tags I alphabetized all of them. Including the countries. How would you like the countries sorted? Alphabetical within regions?

[2019-10-30 13:12] k8hughes commented on #327
http://159.65.56.142/who-we-are/our-team/alice-mcandrew/

Now Alice has no publications which I believe is correct.

[2019-10-30 13:12] #327 closed

[2019-10-30 14:18] edwinmp commented on #337
I've arranged them as you want them, though the downside of doing this with wagtail is that when you edit a page, it snaps to the top and will require you to drag it back in place.

[2019-10-30 14:28] edwinmp commented on #337
Actually, I was wrong on the effect of editing on the order. The sorting remains even after editing. :)

[2019-10-30 14:30] alice-mcandrew-development-initatives opened #341 "Tables"
http://159.65.56.142/admin/pages/709/edit/

1) I can't see an option to add a new row to tables in the cms manually. It only seems to work when you copy and paste the content from excel. I'm not sure if this is a bug or not:
![Table cms](https://user-images.githubusercontent.com/55877063/67866781-5f20fa00-fb21-11e9-8022-1edbe79159f2.JPG)

2) Can we have the content in each column start at the top

[2019-10-30 14:59] alice-mcandrew-development-initatives commented on #16
@k8hughes
I used green to test this template with the GHA Report 2019: http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/

1) There still appears to be red sections
2) 'The summary' is not editable but should be 'the executive summary' or at least 'the summary'

![GHA page](https://user-images.githubusercontent.com/55877063/67869793-d5276000-fb25-11e9-925b-8e111efe968c.JP

[2019-10-30 21:55] benjamincoleman opened #342 "Hyperlinks on dark backgrounds"
http://159.65.56.142/what-we-do/

Hyper links are dark red still, which is too hard to read.

<img width="1220" alt="Screen Shot 2019-10-30 at 21 54 31" src="https://user-images.githubusercontent.com/64877/67901972-04f35980-fb60-11e9-9f82-1a43efa9d469.png">

[2019-10-31 06:28] akmiller01 commented on #90
https://github.com/devinit/DIwebsite-redesign/pull/343

[2019-10-31 06:29] akmiller01 commented on #205
This is in progress. @Napho how long will it take to get celery incorporated into deployment properly?

[2019-10-31 06:30] akmiller01 commented on #341
@alice-mcandrew-development-initatives easiest way to add rows/columns is to right click on the table.

[2019-10-31 06:30] akmiller01 commented on #341
On table formatting I think we need help from @benjamincoleman

[2019-10-31 06:35] akmiller01 commented on #16
https://github.com/devinit/DIwebsite-redesign/pull/344

[2019-10-31 06:35] akmiller01 commented on #16
As for red sections when `body--leaf` is selected @benjamincoleman

[2019-10-31 06:37] akmiller01 commented on #16
@alice-mcandrew-development-initatives in the above PR I've changed the label from `The summary` to `the executive summary`

[2019-10-31 06:39] k8hughes commented on #16
@benjamincoleman I think the bug that Alice has logged is either not a bug and a deliberate design choice or a mistake in the pattern library as it is not on our side.  Can either you or @BenDarby advise please?

[2019-10-31 06:41] akmiller01 commented on #45
@benjamincoleman could you please look at the CSS for hyperlink colour?

[2019-10-31 06:49] akmiller01 commented on #330
The link is there, it's just painted in a non-existent colour. Fixed it to match the page colour here: https://github.com/devinit/DIwebsite-redesign/pull/345/files

[2019-10-31 06:53] #150 closed

[2019-10-31 07:06] k8hughes commented on #146
In the design the banner strip for ```Data Support Service``` is a link to an internal page rather than just a banner block.

![Screenshot 2019-10-31 at 10 05 46](https://user-images.githubusercontent.com/36768381/67926069-196a3d00-fbc6-11e9-942b-8d22073f3b62.png)

Current implementation in the CMS assumes this is just a banner.

[2019-10-31 07:15] k8hughes commented on #145
http://178.128.102.213/data/domestic-resources-vs-international-finance-flows-developing-countries/

It currently doesn't pull through the report names that we have in the publications section.  Should it be doing that? @davidebukali @Napho @edwinmp

[2019-10-31 07:16] edwinmp commented on #304
@alice-mcandrew-development-initatives this change has been deployed.

[2019-10-31 07:18] edwinmp commented on #303
@jamesharle this fix has been deployed.

[2019-10-31 07:21] akmiller01 commented on #333
I've recoded this as first alphabetically by region, and then alphabetically by country @AnnaHope https://github.com/devinit/DIwebsite-redesign/pull/346

[2019-10-31 07:21] k8hughes commented on #147
http://178.128.102.213/data/domestic-resources-vs-international-finance-flows-developing-countries/domestic-resources-vs-international-finance-flows-developing-countries/

Let's wait for the test with actual data from Box to mark this as done

[2019-10-31 07:22] akmiller01 commented on #275
@AnnaHope @k8hughes did we ever make a decision on whether this is going to be handled through the CRM or Mail Chimp?

[2019-10-31 07:26] akmiller01 commented on #275
@AnnaHope if we're going with Mail Chimp, could you please:

1. Start a new mailing list for vacancy announcements.
2. Add a column to it for a sign-up to flag which departments they're interested in
3. Create a new web form in Mail Chimp with all of the tickboxes required above.

[2019-10-31 08:58] benjamincoleman opened #349 "Basic visualisation system"
We want to set up a basic suite of D3 JS charts with interactivity - internally we're calling these visualisations, as in visualisations of data.

The key word here is interactivity, as just drawing charts with D3 doesn't offer any benefits.

The suite of charts has been developed from examples from Anna. The worksheet for this was made in Sketchapp and is available on Marvel:

1. The general suit

[2019-10-31 09:30] benjamincoleman opened #350 "Chart example 1 - Stacked area chart with selectable indicators"
So we've reworked this diagram to be a Stacked Area Chart, a little like this example (note that this doesn't have the exact right elements)

![Group 2](https://user-images.githubusercontent.com/64877/67935632-33098580-fbc2-11e9-9a75-4ae874e350df.png)

You can also see a `live` version of this using the [actual data in the data sheet here](https://docs.google.com/spreadsheets/d/1xqy8sW4IfvKnPuJVQH

[2019-10-31 09:30] benjamincoleman opened #351 "Chart example 2 - Line chart with animation"
This chart should be a simple line chart.

Both lines should animate left to right to reveal the lines.

Anna's comment on this:

![Group](https://user-images.githubusercontent.com/64877/67935257-5e3fa500-fbc1-11e9-8137-8cac70dbb78f.png)

Data is here:

https://docs.google.com/spreadsheets/d/1s8XNtEwWcMbSkHWffEUfUNDb1S-pVK3gW3Qx1AFl1Gg/edit#gid=822192478

[2019-10-31 10:18] #304 closed

[2019-10-31 10:21] #303 closed

[2019-10-31 10:28] alice-mcandrew-development-initatives commented on #36
@akmiller01 Not sure what you mean by 'Actual content of data downloads will need to change once we plugin the DDW' but the page looks good!

[2019-10-31 10:46] alice-mcandrew-development-initatives commented on #276
Also, hyperlinks are not displaying correctly still

[2019-10-31 10:47] alice-mcandrew-development-initatives commented on #276
![our impact links](https://user-images.githubusercontent.com/55877063/67940567-d6ab6380-fbcb-11e9-8a4f-afa3953c7a77.JPG)

[2019-10-31 10:56] akmiller01 commented on #36
@alice-mcandrew-development-initatives Edwin has left the data downloads as they are, but while we're incorporating the `Data section` pages in, we're adding the ability to tag a publication to a live dataset as well.

[2019-10-31 10:57] alice-mcandrew-development-initatives commented on #24
@k8hughes Were there ever any plans for a caption line (beyond photo credit) for images? E.g. here (http://159.65.56.142/what-we-do/our-focus-areas/improving-understanding-humanitarian-assistance/) there is no option to add a caption line, so you have to use paragraph block, which looks clunky. Would it be difficult to add something similar to what we have for infographics (where you can add a cap

[2019-10-31 10:58] alice-mcandrew-development-initatives commented on #280
@k8hughes this font size does not look legible to me - can we check it meets accessibility standards?

[2019-10-31 11:07] alice-mcandrew-development-initatives commented on #265
@edwinmp OK, I'll look out for when this is ready to review

[2019-10-31 11:12] alice-mcandrew-development-initatives commented on #16
@akmiller01 Thanks. Let me know when the 'the executive summary' should be appearing.
Also, thanks @k8hughes

[2019-10-31 11:14] benjamincoleman commented on #280
@BenDarby can we bump up the `<cite>` font-size to 16px please?

[2019-10-31 11:16] benjamincoleman commented on #276
@akmiller01 looks like Ben D's code hasn't been pulled through / deployed for the hyperlink style

[2019-10-31 11:23] AnnaHope commented on #275
@akmiller01 ideally in the future it would be the CRM - the system isn't ready yet. Is it easy enough to switch over later though?

[2019-10-31 11:24] benjamincoleman commented on #341
@BenDarby can we make the content of the table cells vertically align to the top please
?

[2019-10-31 11:25] AnnaHope commented on #275
@jamesharle one on the list for you! Please do let @akmiller01 know when done so he can perform the necessaries :)

Anna

[2019-10-31 11:32] alice-mcandrew-development-initatives commented on #36
@akmiller01 Understood, thanks
@AnnaHope  FYI

[2019-10-31 11:44] benjamincoleman commented on #16
@BenDarby there are some red elements remaining when a publication summary is switched to another colour.

You can see a live example here: https://github.com/devinit/DIwebsite-redesign/issues/16#issuecomment-547949063

And this applies to this template: http://development-initiatives.surge.sh/page-templates/14-publication-summary

It looks a little odd, was it a deliberate design choice, or shoul

[2019-10-31 11:49] k8hughes commented on #24
@benjamincoleman this is a question for you not me I think!!!

[2019-10-31 11:51] #4 closed

[2019-10-31 12:00] #290 closed

[2019-10-31 12:03] k8hughes commented on #276
@edwinmp can you pull through the pattern library code?

[2019-10-31 12:25] BenDarby commented on #24
@k8hughes @alice-mcandrew-development-initatives we have a styles in place for captions on images, you can see examples in the publication single template on the pattern library: http://development-initiatives.surge.sh/page-templates/14-1-publication-long-form

[2019-10-31 12:33] BenDarby commented on #16
@benjamincoleman Yeah these should be coloured to match as well, I missed these. Updated and pushed to PL

[2019-10-31 12:34] BenDarby commented on #45
@benjamincoleman @akmiller01 I pushed an update for this :)

[2019-10-31 12:35] BenDarby commented on #280
@benjamincoleman @alice-mcandrew-development-initatives  I've increased the font size for `cite` to 16px

[2019-10-31 12:35] BenDarby commented on #341
@benjamincoleman @akmiller01 table cells now align to the top of the cell.

[2019-10-31 12:36] benjamincoleman commented on #24
@k8hughes @alice-mcandrew-development-initatives in this case the streamfield would need updating to change the markup to use the HTML `<figure>` element that supports `<figcaption`.

Current HTML is:

[code]

The FigCaption HTML is:

[code]

[2019-10-31 12:37] k8hughes commented on #24
Ok so this is one for the developers...

[2019-10-31 12:39] k8hughes commented on #45
This is for @edwinmp to pull through

[2019-10-31 12:40] k8hughes commented on #16
@edwinmp can you pull this through?

[2019-10-31 12:42] k8hughes commented on #272
@benjamincoleman can you check this one as well please? Alex left you a question.

[2019-10-31 12:45] benjamincoleman commented on #272
This should already be fixed as we have the following CSS in place:

[code]

![Screen Shot 2019-10-31 at 12 44 44](https://user-images.githubusercontent.com/64877/67947747-3dd11400-fbdc-11e9-95e7-889fd5071485.png)

[2019-10-31 12:54] #204 closed

[2019-10-31 13:23] akmiller01 commented on #272
Cool. I see the CSS there but we need to pull it through to Staging

[2019-10-31 13:53] akmiller01 commented on #275
Yes we could eventually switch the back-end of where the form points.

[2019-10-31 14:03] akmiller01 commented on #276
Added the ability for image duos to have headers here: https://github.com/devinit/DIwebsite-redesign/pull/352

[2019-10-31 14:15] akmiller01 commented on #24
Image captions added here: https://github.com/devinit/DIwebsite-redesign/pull/353

[2019-10-31 14:35] jamesharle commented on #275
Thanks both - @akmiller01 please find form set up to mirror pattern library here: http://eepurl.com/gIg_Hv

[2019-11-01 07:11] k8hughes commented on #272
@edwinmp can you pull the changes through from the pattern library please?

[2019-11-01 14:25] urlsangel commented on #351
@benjamincoleman

This is now up on surge:

http://development-initiatives.surge.sh/page-templates/22-visualisations

[2019-11-01 14:28] riahasler-DI commented on #337
Hi @edwinmp I'm reopening this issue as Anna has flagged that the nav bar has 'how we work' and 'what we do' the wrong way round.

Here's the template:
![image](https://user-images.githubusercontent.com/56585598/68031522-bce54b80-fcb3-11e9-8398-9d30ece1dd69.png)

Here's what appears on the live page:
![image](https://user-images.githubusercontent.com/56585598/68031567-d9818380-fcb3-11e9-9c2b-f0daf

[2019-11-04 11:40] benjamincoleman opened #356 "Data formatting"
So we have different data formats possible, from the ones provided, and the one we use.

The principle we have is that columns are fixed, and describe the thing, and then the rows underneath are the values.

Question is, will this be the format we receive the data in or will there need to be some work to get it into this format?

https://docs.google.com/spreadsheets/d/1s8XNtEwWcMbSkHWffEUfUNDb1S-p

[2019-11-04 12:06] AnnaHope commented on #356
@benjamincoleman so the plan was to have a standardised format for data used in visualisations in publications, and it would be a .csv machine readable file i.e. not what you have linked to.

[2019-11-04 12:52] benjamincoleman opened #357 "Chart example 3 - Bar Chart with Animated trend line"
From AID SPENDING BY DAC DONORS IN 2018

Figure 1: ODA fell in 2018 on both the new grant equivalent measure and the previous net ODA measure

The data and chart example: https://docs.google.com/spreadsheets/d/1luzmySUyNBQ8EWl7v1LNrU-5SuvGaohUWnUfaf_NTCQ/edit#gid=1023838865

But would like to animate a trend line over the top as seen below:

![Group 4](https://user-images.githubusercontent.com/648

[2019-11-04 12:57] benjamincoleman opened #358 "Chart example 4 - Bar with change from last year"
Need to work this one out

From AID SPENDING BY DAC IN 2018

Figure 2: Five donors gave at least 0.7% of GNI as ODA in 2018, unchanged since 2017

[2019-11-04 12:59] benjamincoleman opened #359 "Chart example 5 - Stacked bar chart with show/hide"
From Aid spending by DAC donors in 2018

Figure 3: ODA to LDCs remains below its 2011 peak

Want to convert this to a stacked bar chart showing the top 10 contributors and then the rest grouped.

https://docs.google.com/spreadsheets/d/1luzmySUyNBQ8EWl7v1LNrU-5SuvGaohUWnUfaf_NTCQ/edit#gid=1821851624

I've asked for the disaggregated data on this, and I've started a table and chart to show that data

[2019-11-04 14:14] AnnaHope opened #360 "Map on what we do page showing incorrect locations"
At the mo, the map on the 'what we do page' is showing our offices but should ideally be completely separate for us to manually enter. Just to flag that some places we have done work don't appear anywhere on the website such as consultancy for someone else, so wouldn't be just where a publication is tagged as being in a particular country. http://159.65.56.142/what-we-do/

@edwinmp

[2019-11-04 14:16] AnnaHope opened #361 "We need google analytics set up for the site"
Hi guys,

We need google analytics set up before the site goes live to ensure we can keep an eye on website use when we make the switch and thereafter.

Thanks!

Anna

[2019-11-05 13:09] edwinmp commented on #146
@k8hughes guess this should be on issue #145 ... instead of coding an entirely new widget for a clickable banner, I think simply adding a button for navigating to the Data Support page will do here.

![image](https://user-images.githubusercontent.com/5672438/68210452-9b070400-ffe6-11e9-89c9-0ef59e9178db.png)

[2019-11-05 16:12] #276 closed

[2019-11-05 16:27] #272 closed

[2019-11-05 16:43] #237 closed

[2019-11-05 16:47] alice-mcandrew-development-initatives commented on #16
This looks great, thank you all!

[2019-11-05 16:49] #330 closed

[2019-11-06 10:08] benjamincoleman opened #366 "T23 Spotlight Location Comparison"
Design: http://development-initiatives.surge.sh/page-templates/23-spotlight-location-comparison

---

This page is to satisfy the user need where a user will want to compare two or more geographical areas in one indicator:

For example. I would like to view Poverty Headcount for Bungoma and Kisumu.

This may be extended to more than one indicator, and more than two locations if possible.

It is a

[2019-11-06 10:08] benjamincoleman opened #367 "T22 Spotlight on Country"
Design: http://development-initiatives.surge.sh/page-templates/22-spotlight

---

**Development Notes:**

Some notes on some of the less obvious things we have going on here:

1. the CSS for this template comes from `spotlights.min.css`, rather than the master `screen.min.css` used for the DI website.

2. we're using the JavaScript file from `app.bundle.js` but we could take the functions we use o

[2019-11-06 10:09] #337 closed

[2019-11-06 10:12] benjamincoleman commented on #366
Initial sketch here: https://marvelapp.com/d36178e/screen/63238266

[2019-11-07 09:31] edwinmp commented on #245
@alice-mcandrew-development-initatives did you get confirmation on the change to font-size and font-weight for the descriptive text?

[2019-11-07 10:28] k8hughes commented on #146
Yes, just having the button is enough.

[2019-11-07 10:28] #146 closed

[2019-11-07 10:29] k8hughes commented on #208
The plan is to use Box instead of the DDW.

[2019-11-07 10:29] #208 closed

[2019-11-07 14:14] riahasler-DI commented on #24
@benjamincoleman or @edwinmp we're still having some issues with the figure captions - the captions are sitting on the image rather than starting below, which is what I expected. On this page: http://159.65.56.142/what-we-do/our-focus-areas/strengthening-knowledge-humanitarian-assistance/ the image caption takes up too much space and doesn't look right.

Sorry for tagging both of you - I'm not too

[2019-11-07 14:39] benjamincoleman commented on #24
Hi @riahasler-DI.

The design is as intended there, although it looks like it needs some spacing out between the image/caption and the blockquote underneath.

@BenDarby can we add some spacing to the top of the blockquote to prevent this please?

[2019-11-07 15:47] k8hughes commented on #275
@jamesharle I'm copying the question @akmiller01 asked you on slack in case you didn't see it:
```when you created the Mail Chimp form, did it give you a bit of code to embed?```

[2019-11-07 16:44] akmiller01 commented on #275
Here's the embed code @davidebukali You'll need to shim it into our form on the template, I don't think you'll need the embedded CSS or JS, but you may:
[code]

[2019-11-07 16:49] akmiller01 commented on #275
Okay, and on the div class `content__gdprLegal`, you can change the content to match the pattern library: http://development-initiatives.surge.sh/page-templates/18-vacancy-listing

[2019-11-07 17:51] #328 closed

[2019-11-11 08:33] #262 closed

[2019-11-11 10:13] #266 closed

[2019-11-11 10:18] #90 closed

[2019-11-11 10:25] davidebukali commented on #275
Thanks @akmiller01 for sharing the embed code; the form is now updated to match mailchimp's HTML; I maintained pattern's css and included js from mailchimp; the PR is ready for review here [362](https://github.com/devinit/DIwebsite-redesign/pull/362)

[2019-11-11 10:52] #333 closed

[2019-11-11 10:53] #280 closed

[2019-11-11 11:12] alice-mcandrew-development-initatives commented on #245
@edwinmp, sorry for the delay on getting back on this! I've talked to Anna.

Can we have the messaging title (e.g. 'Figure 1.1: Countries...') not in bold?
And please can you check the run-on for the descriptive title (e.g. 'Proportion of...'), as it looks slightly odd at the moment. Apart from that, we'll leave the descriptive title as it is.

![Capture](https://user-images.githubusercontent.com/

[2019-11-11 11:17] riahasler-DI commented on #24
Hi @BenDarby were you able to add some spacing to blockquote?

[2019-11-11 11:18] k8hughes commented on #245
@BenDarby if the request is about having something not in bold then I think it is for you ^^^

[2019-11-11 11:19] #45 closed

[2019-11-11 11:27] #265 closed

[2019-11-11 11:35] alice-mcandrew-development-initatives commented on #36
@edwinmp and @akmiller01 , thank you for changing the footnotes!

Are you able to change the in-body reference to be superscript and without square brackets. This is what it looks like at the moment:
![Capture](https://user-images.githubusercontent.com/55877063/68583687-bb671080-0475-11ea-8c4e-3d6f799e89b8.JPG)

Also, at the bottom, to my eyes, the length of the line above the '1' looks different

[2019-11-11 12:28] alice-mcandrew-development-initatives commented on #36
With regards to the above, Anna and Simon would like to change the heading 'Footnotes' to 'Notes' throughout

[2019-11-11 12:58] alice-mcandrew-development-initatives commented on #245
@k8hughes It's not bold in the pattern library

[2019-11-11 14:28] edwinmp commented on #36
Hi @alice-mcandrew-development-initatives renamed Footnotes to Notes in #376

As for the superscripts, @BenDarby could you look into repositioning those?

As for the other request (top bar on numbers), yes, those are determined by the numbers ...

[2019-11-11 16:29] alice-mcandrew-development-initatives commented on #245
Also, the links to the different sections don't seem to be working in the menu bar at the bottom.
E.g. if you click 1.3 you get the top of the page (1.1),

[2019-11-12 08:02] edwinmp commented on #39
Hi @alice-mcandrew-development-initatives a fix for this has been deployed

[2019-11-12 08:04] edwinmp commented on #361
@AnnaHope I created a new analytics account and added `devinitanalytics@gmail.com` as a super user.

[2019-11-12 08:04] edwinmp commented on #360
@AnnaHope a fix for this has been deployed.

[2019-11-12 10:29] alice-mcandrew-development-initatives commented on #39
@edwinmp, when I look at the page, the background still appears differently to the pattern library for the last section.

What it looks like now: http://159.65.56.142/who-we-are/our-finances/

What it should look like:
![Capture](https://user-images.githubusercontent.com/55877063/68663723-17459e00-0537-11ea-9543-0c18b9b833d3.JPG)

[2019-11-12 10:34] edwinmp commented on #39
@alice-mcandrew-development-initatives use the `alt` checkbox to set the background to white or grey...

![image](https://user-images.githubusercontent.com/5672438/68664204-06a22180-0551-11ea-931f-c1041adbc7d6.png)

[2019-11-12 10:36] alice-mcandrew-development-initatives commented on #39
@edwinmp Ah, sorry!

[2019-11-12 11:44] BenDarby commented on #36
@edwinmp the superscript has been updated

[2019-11-12 11:44] BenDarby commented on #24
@riahasler-DI I've added some more spacing to blockquote

[2019-11-12 12:35] alice-mcandrew-development-initatives commented on #36
@edwinmp do you need to pull this change through?

[2019-11-12 13:28] edwinmp commented on #36
@alice-mcandrew-development-initatives it's already in the pipeline ... will let you know when deployed.

[2019-11-12 15:41] AnnaHope opened #378 "Text not editable on 'our story' page that needs to be"
Hi guys,

just spotted a subheading that says 'DI has achieved much over the last 20 years' that isn't editable in the cms. Obviously this is an issue because it is actually over 25 years and that will change every year so needs to be something we can update.

http://159.65.56.142/who-we-are/our-story/

![image](https://user-images.githubusercontent.com/16958942/68686031-e713f480-0562-11ea-8130-6f

[2019-11-12 15:51] jamesharle opened #379 "Our story page has hardcoded text"
## I'm submitting a ...
Check one of the following options with "x" and add the appropriate label to the issue as well
<pre><code>
[X] Bug report
[ ] Regression (behaviour that used to work and stopped working in a new release)
</code></pre>

**Describe the Issue**
The header reading 'DI has achieved much over the past 20 years.' on the Our story page is hardcoded and we can't edit it.

**To Repro

[2019-11-12 16:00] #379 closed

[2019-11-12 16:12] AnnaHope opened #380 "Footer quick links not showing in the order specified in the cms"
Hey @akmiller01 !

Just went to add these in, and the CMS seems to suggest they should go in the order to appear as it allows you to reorder via arrows, yet they aren't appearing the way they have been made in the cms. So the hierarchy is currently wrong. It appears as this:

![image](https://user-images.githubusercontent.com/16958942/68688648-10cf1a80-0567-11ea-855a-e21677507ccb.png)

But I want

[2019-11-12 16:22] akmiller01 commented on #380
Quick fix here: https://github.com/devinit/DIwebsite-redesign/pull/381 Just needed to sort them by `sort_order`

[2019-11-12 16:28] riahasler-DI commented on #361
Hi @edwinmp, what is the name of the new account? Will take a look at google analytics and close this issue then. Thanks!

[2019-11-12 16:42] akmiller01 commented on #378
Coded up @AnnaHope but this is a pretty extensive change to the structure of the Carousel. This will probably erase the Carousel content you've added so far, so if you have some way of writing it down outside of the CMS please do:

https://github.com/devinit/DIwebsite-redesign/pull/382

[2019-11-13 10:50] edwinmp commented on #245
@alice-mcandrew-development-initatives just to clarify, you'd like the descriptive title to not wrap too early?

[2019-11-13 10:56] alice-mcandrew-development-initatives commented on #245
@edwinmp, yes exactly, thank you

[2019-11-13 11:22] edwinmp commented on #36
@alice-mcandrew-development-initatives I'm soon to deploy the pattern-library update for the superscript, and I have to say, it looks strange without the square brackets.

![image](https://user-images.githubusercontent.com/5672438/68759263-6b787d00-0620-11ea-8d81-1b27fb029ade.png)

It's more natural with square brackets since this is the convention for this kind of citation:

![image](https://user

[2019-11-13 11:27] alice-mcandrew-development-initatives commented on #36
@edwinmp Yes, I see what you mean... Square brackets looked clunky before but look OK when in superscript. Do follow convention as you suggest. Thank you.

[2019-11-13 11:51] edwinmp commented on #361
You should have received an invitation on the `devinitanalytics@gmail.com`. The account is `DI Website` ...

[2019-11-14 09:03] #8 closed

[2019-11-14 09:04] #20 closed

[2019-11-14 09:04] #229 closed

[2019-11-14 09:06] #194 closed

[2019-11-14 09:06] #185 closed

[2019-11-14 09:06] #123 closed

[2019-11-14 09:06] #41 closed

[2019-11-14 09:06] #15 closed

[2019-11-14 09:06] #37 closed

[2019-11-14 09:06] #32 closed

[2019-11-14 09:08] edwinmp commented on #13
@k8hughes still valid or we close?

[2019-11-14 11:37] Duncan-Knox opened #390 "Topic dropdown on datasets"
naming typo under drop downs: ie ‘development fiance’ on topic.

Unsure what these are linked to as results are not returned when filter is applied.

[2019-11-14 11:39] Duncan-Knox opened #391 "Geography drop down on datasets"
Unsure what this is linked to and no results are being returned. Can edit one of the Google doc columns to align naming, if necessary.

[2019-11-14 12:13] alice-mcandrew-development-initatives commented on #39
How difficult would it be to add a hyperlink to the 'Section sub heading' here:
![image](https://user-images.githubusercontent.com/55877063/68856278-0718f480-06d8-11ea-9840-e9afdc2cbb32.png)
We may need to change content if it's a problem.

[2019-11-14 13:23] Duncan-Knox opened #392 "Data section: source info missing in certain cases"
Source info missing ie: http://178.128.102.213/data/datasets/proportions-of-cash-and-vouchers-in-humanitarian-cash-and-voucher-assistance-20152018/#legal

Source should be "Data provided bilaterally by implementing agencies". this won't have a hyperlink but would be useful to show in a sources section. Is there anyway we can bring this in, such as adding a row in the source data tab in the Google

[2019-11-14 14:25] #13 closed

[2019-11-15 09:39] k8hughes commented on #378
@akmiller01 this is in code review but there are no awaiting PR's, has this been completed.

[2019-11-15 09:39] k8hughes commented on #39
@edwinmp what are your thoughts?

[2019-11-15 10:14] alice-mcandrew-development-initatives commented on #341
@k8hughes from my perspective, this looks like it's done: http://159.65.56.142/publication/global-humanitarian-assistance-report-2019/methodology-and-definitions/

[2019-11-15 10:17] #392 closed

[2019-11-15 10:24] k8hughes commented on #341
👍  I'll close it then.

[2019-11-15 10:24] #341 closed

[2019-11-15 10:39] Duncan-Knox commented on #391
Have tidied content in columns 'Geography information' to state country name, global or region name.

[2019-11-15 10:45] edwinmp commented on #39
@alice-mcandrew-development-initatives I'll make it RichText

[2019-11-15 11:04] k8hughes commented on #147
http://159.65.56.142/data/datasets/proportions-of-cash-and-vouchers-in-humanitarian-cash-and-voucher-assistance-20152018/#description

All the text in the meta data tab is incorrectly formatted, it is coming out very small. @edwinmp

[2019-11-15 11:10] k8hughes commented on #145
http://159.65.56.142/data/
@alice-mcandrew-development-initatives this now needs correct content to be added.

[2019-11-15 11:17] AnnaHope commented on #360
@edwinmp the map has disappeared entirely? we can't figure it out from the cms...could you help? FYI @alice-mcandrew-development-initatives

[2019-11-15 11:24] edwinmp commented on #360
Hi @AnnaHope ... please add locations for the map to appear.

![image](https://user-images.githubusercontent.com/5672438/68940167-84fdfe00-07b3-11ea-81d6-b0ba27a028b4.png)

[2019-11-15 11:31] akmiller01 commented on #378
The numbers in the text are PRs. You can see the tagged one above #382 which got merged. This should be in deploy to staging.

[2019-11-15 11:57] jamesharle commented on #275
This still isn't as expected, there's a stray radio checkbox that's crept in:
![image](https://user-images.githubusercontent.com/43270042/68941923-12832300-079f-11ea-936c-4a63b22f0eed.png)

[2019-11-15 11:59] k8hughes commented on #275
@davidebukali can you look at this one?

[2019-11-15 11:59] akmiller01 commented on #275
On the CMS, that checkbox is for you to type the GDPR copy. There's a field
on the vacancy index page you need to fill in.

On Fri, Nov 15, 2019, 6:57 AM jamesharle <notifications@github.com> wrote:

[2019-11-15 13:57] k8hughes commented on #124
@AnnaHope your team can add redirets here:  http://159.65.56.142/admin/redirects/ for any of the page relationships that were not captured by the scripts.

[2019-11-15 13:59] akmiller01 commented on #202
@k8hughes we ended up using the Box API as the connection between the website and the content, but in the end, the website required file types, file names, and file size metadata, all of which was most easily accessed by downloading the files from Box and hosting them on the website.

In the future, when this gets connected to the DDW, it may make sense to refactor it all to be links to Box or SQL